.navLiRole {
  color: var(--color-text-title);
  padding-left: 0;
  .icon {
    color: var(--color-text-tertiary);
  }
  .tag {
    padding: 3px 7px;
    color: var(--color-primary);
    background: rgba(33, 150, 243, 0.1);
    border-radius: 9px 9px 9px 9px;
    flex-shrink: 0;
  }
  .arrowIconShow {
    display: inline-block;
    i.icon {
      line-height: 1;
      color: var(--color-warning) !important;
    }
  }
}
.roleBody {
  overflow: hidden;
}
.manageUserDialogBody {
  overflow: hidden !important;
  height: 100%;
}
