/**
* component DateTimeRange
* prefix: .mui-datetimerange
*/
@import '../lib/styles/form-input.less';

.mui-datetimerange {
  display: inline-block;
  width: 172px;

  .mui-datetimerange-base {
    display: block;
    width: 100%;
  }
  .mui-forminput {
    width: 100%;
  }
}
