.mobileCheckboxDialog {
  .ant-radio-wrapper {
    margin-right: 2px !important;
  }
  .adm-list-item-content {
    min-height: 46px;
  }
  .adm-list-default .adm-list-body {
    border: none;
  }
  .adm-list-item-content-main {
    padding: 7px 0;
  }
}

.mobileCheckboxListItem:hover {
  color: initial;
}
