.wrapperDropdown {
  position: relative;
  outline: none;
  color: #666;
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
}

.wrapperDropdown .wrapperDropdownArrowDown {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(images/arrowDown.png);
  position: absolute;
  top: 12px;
}

.wrapperDropdown .dropdownText {
  display: inline-block;
  padding-right: 10px;
}

.wrapperDropdown .dropdown {
  position: absolute;
  top: 110%;
  left: -31px;
  right: 0;
  list-style: none;
  display: none;
  margin: 0px;
  padding: 5px 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .13), 0 2px 6px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, .13), 0 2px 6px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, .13), 0 2px 6px rgba(0, 0, 0, .1);
  color: #737373;
  min-width: 80px;
  background-color: White;
}

.wrapperDropdown .dropdown li {
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
  cursor: pointer;
  float: none;
  margin: 0px;
}

.wrapperDropdown .dropdown li:hover {
  color: White;
  background-color: #2d8eed;
}

.wrapperDropdown.active .dropdown {
  display: block;
}
