.identityDialogContainer {
  .mui-dialog-header {
    padding: 56px 24px 30px !important;
  }
  .mui-dialog-footer {
    padding-bottom: 50px !important;
    .Dialog-footer-btns {
      text-align: center;
      button {
        border-radius: 18px !important;
      }
    }
  }
  .icon-verified_user {
    font-size: 100px;
    color: #63b5f6;
  }
}
