.qrHoverPanel {
  width: 160px !important;
  height: 180px !important;
  padding: 0px !important;
  background-color: #fff !important;
  img { width: 136px; height: 136px; margin: 12px 12px 0; }
  p { font-size: 13px; margin: 0; text-align: center; }
  .Tooltip-arrow {
    border-width: 15px;
    top: -22px;
    border-bottom-color: #fff !important;
  }
}
