.aggregationTableWrap {
  .listHeader {
    padding: 12px 0;
    color: #757575;
    border-bottom: 1px solid #ddd;
    .manageListOrder {
      transform: scale(0.8);
      color: #bfbfbf;
      .icon-arrow-down {
        margin-top: -4px;
      }
    }
  }
  .listContent {
    border-bottom: 1px solid #eaeaea;
    height: 60px;
    .iconWrap {
      width: 36px;
      height: 36px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .w180 {
    width: 180px;
  }
  .w140 {
    width: 140px;
  }
  .columnWidth {
    width: 120px;
  }
}
