.taskComment {
  width: 100%;
  padding: 10px 10px 10px 21px;
  background: var(--color-background-primary);
  box-sizing: border-box;
  border-top: 1px solid var(--color-border-tertiary);
  .avatarBox {
    float: left;
    padding-right: 10px;
  }
  .commenterBox {
    border-color: var(--color-border-primary) !important;
    margin-left: 42px;
    margin-right: 42px;
    .commentBox:not(.autoHeight) {
      background-color: var(--color-background-secondary) !important;
      .txtComment {
        background-color: var(--color-background-secondary) !important;
        color: var(--color-text-tertiary);
      }
    }
    .uploadAttaachmentsContainer {
      overflow: auto;
      max-height: 310px;
    }
  }
  .userAvatar {
    width: 32px;
    vertical-align: bottom;
  }
  .taskTopicCount {
    display: block;
    padding-top: 8px;
    color: var(--color-text-tertiary);
  }
}
