.defaultRule {
  display: inline-block;
  width: 38px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  border-radius: 16px;
  background-color: #2196f3;
  margin-left: 14px;
}
.searchWrap {
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 36px;
  }
  .ant-select-single .ant-select-selector .ant-select-selection-item,
  .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 34px;
  }
}

.listHead {
  padding: 20px 0 10px;
  font-weight: 500;
  color: #999;
  border-bottom: 1px solid #eaeaea;
}
.listContent {
  .listItem {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eaeaea;
  }
}
.w150 {
  width: 150px;
}
.w80 {
  width: 80px;
}
