#containerWrapper {
  height: max-content;
}

#container {
  height: max-content;
  padding: 10px;
  background: var(--color-background-primary);
}

.ant-table-content {
  margin-bottom: 150px;
  .userWrap {
    pointer-events: none;
  }
}

.contentYAuto {
  overflow-y: inherit !important;
}
