.checkBlock {
  .block {
    height: 32px;
    line-height: 30px;
    padding: 0 26px;
    background-color: var(--color-background-primary);
    font-size: 13px;
    color: var(--color-text-title);
    border: 1px solid var(--color-border-secondary);
    margin-right: -1px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    &.active {
      color: var(--color-white);
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }
    &:hover:not(.active) {
      color: var(--color-primary);
    }
    &:first-child {
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
}
