@activeColor: #1677ff;
@refuseColor: #f44336;
@passColor: #4caf50;
@submitColor: #1e88e5;
@hastenColor: #ff9800;

.processRecordFooterHandle {
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: #fff;
  padding: 0 10px;
  z-index: 1;
  .optionArrowBtn {
    margin-left: 5px;
    padding: 8px 5px !important;
    border-radius: 5px;
    background-color: #f7f7f8;
  }
  .optionBtn {
    text-align: center;
    color: #9e9e9e;
    padding: 0 10px;
  }
  .headerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: 1px solid #ccc;
    margin: 0 3px;
    height: 36px;
    padding: 0 10px;
    min-width: 0;
    .MdLoader-path {
      stroke: #fff;
    }
    .icon {
      font-size: 22px;
      margin-right: 5px;
    }
    &.hasten,
    &.return,
    &.taskRevoke {
      color: #000;
      background-color: #fff;
      border: 1px solid @hastenColor;
      .icon {
        color: @hastenColor;
      }
    }
    &.overrule {
      color: #fff;
      background-color: @refuseColor;
      border: 1px solid @refuseColor;
    }
    &.revoke,
    &.pass {
      color: #fff;
      background-color: @passColor;
      border: 1px solid @passColor;
    }
    &.submit {
      color: #fff;
      background-color: @submitColor;
      border: 1px solid @submitColor;
    }
  }
  .moreOperation {
    width: 30px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: #1677ff;
    background-color: rgba(33, 150, 243, 0.08);
    border-radius: 11px;
    & > i {
      line-height: 34px;
    }
  }
}
