@activecolor: var(--color-primary);
@refuseColor: var(--color-error);
@passColor: var(--color-success);
@submitColor: var(--color-primary);
@hastenColor: var(--color-warning);

.processRecordFooterHandle {
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: var(--color-background-primary);
  padding: 0 10px;
  z-index: 1;
  .optionArrowBtn {
    margin-left: 5px;
    padding: 8px 5px !important;
    border-radius: 5px;
    background-color: #f7f7f8;
  }
  .optionBtn {
    text-align: center;
    color: var(--color-text-tertiary);
    padding: 0 10px;
  }
  .headerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    border: 1px solid var(--color-border-tertiary);
    margin: 0 3px;
    height: 36px;
    padding: 0 10px;
    min-width: 0;
    .MdLoader-path {
      stroke: #fff;
    }
    .icon {
      font-size: 22px;
      margin-right: 5px;
    }
    &.hasten,
    &.return,
    &.taskRevoke {
      color: var(--color-text-primary);
      background-color: var(--color-background-primary);
      border: 1px solid @hastenColor;
      .icon {
        color: @hastenColor;
      }
    }
    &.overrule {
      color: var(--color-white);
      background-color: @refuseColor;
      border: 1px solid @refuseColor;
    }
    &.revoke,
    &.pass {
      color: var(--color-white);
      background-color: @passColor;
      border: 1px solid @passColor;
    }
    &.submit {
      color: var(--color-white);
      background-color: @submitColor;
      border: 1px solid @submitColor;
    }
  }
  .moreOperation {
    width: 30px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    color: var(--color-primary);
    background-color: var(--color-primary-transparent);
    border-radius: 11px;
    & > i {
      line-height: 34px;
    }
  }
}

.processRecordInfoPage {
  .recordScroll {
    margin-bottom: 50px;
  }
  .processRecordFooterHandle {
    position: absolute;
    bottom: 0;
  }
}
