.adminStructureBox {
  .departmentContent {

    th,
    td {
      padding-right: 24px;
      box-sizing: border-box;
    }

    .nameTh {
      min-width: 200px;
      width: 18.47%;

      a:hover {
        text-decoration: none !important;
      }
    }

    .jobTh,
    .departmentTh {
      width: 13.02%;
    }

    .workSiteTh,
    .jobNumberTh {
      width: 10%;
      min-width: 80px;
    }
    .mobileTh {
      width: 12.07%;
    }

    .emailTh {
      width: 17.73%;
    }
  }

  .approvalUser {
    .nameTh {
      width: 28.28%;

      a:hover {
        text-decoration: none !important;
      }
    }

    .statusTh {
      width: 8.42%;
    }

    .jobTh,
    .departmentTh {
      display: none !important;
    }

    .mobileTh {
      width: 14.07%;
    }

    .emailTh {
      width: 19.73%;
    }

    .dateTh {
      width: 11.97%;
    }

    .actMenTh {
      width: 11.97%;
    }
  }
}
