.adminStructureBox {
  .chargeIcon {
    color: #f9ce1d;
  }
  .chargeIcon:hover {
    color: #f29d14;
  }
}

.dropDownOptBox {
  .opList {
    min-width: 126px;
    padding: 6px 0;

    border-radius: 3px;
    background: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.24);

    .opItem {
      padding: 0 24px;
      line-height: 36px;
      cursor: pointer;
      white-space: nowrap;
      &.leaveText {
        color: #f44439;
      }
      &:hover {
        background-color: #2196f3;
        color: #fff;
      }
    }
  }
}
