
.appBox {
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
  }

  .appsLibraryList {
    .adm-list-item-content-main {
      padding: 20px 0;
    }
    .iconWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 10px;
    }
    .am-list-extra {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
    .install {
      font-size: 13px;
      width: 58px;
      height: 30px;
      justify-content: center;
      border-radius: 24px;
      color: #2196F3;
      background-color: #F0F8FF;
    }
  }
}
