.roleAuthTable {
  height: 100%;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .roleListTitle {
    border-bottom: 1px solid #ddd;
  }
  .roleList {
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
  }
  .roleItem {
    border-bottom: 1px solid #EAEAEA;
  }
  .roleItem:not(.disabled) {
    cursor: pointer;
    &:hover {
      td {
        background: #f5f5f5;
      }
    }
    &:not(:hover) {
      .roleName {
        color: #333!important;
      }
    }
    .roleOperation span {
      cursor: pointer;
    }
  }
  .roleAuth {
    word-break: keep-all;
  }
}
