.mui-datetimerangepicker {
  display: block;
  border: solid 1px var(--color-border-secondary);
  color: var(--color-text-title);
  background-color: var(--color-background-primary);
  border-radius: 4px;
  box-shadow:
    0 4px 16px 1px rgba(0, 0, 0, 0.24),
    0 0 1px 0 rgba(0, 0, 0, 0.12);

  .mui-calender {
    padding: 0 13px 10px;
  }

  .mui-datetimerangepicker-row {
    display: flex;

    .mui-datetimerangepicker-col {
      flex: 1;
      min-width: 296px;
      &:nth-child(2) {
        border-left: solid 1px var(--color-border-secondary);
      }

      .mui-time {
        display: inline-block;
        vertical-align: middle;

        .mui-forminput {
          width: auto;
          max-width: 80px;
          padding: 4px 6px;
          min-height: 30px;
        }
      }
    }

    dl {
      margin: 0;
      margin-left: 12px;
      dt {
        font-size: 16px;
        line-height: 30px;
      }
      dd {
        margin-left: 24px;
        & > span {
          display: inline-block;
          margin-right: 6px;
          padding-left: 12px;
          font-size: 14px;
          line-height: 30px;
          vertical-align: middle;
        }
      }
    }

    &.partial {
      padding: 6px;
      background-color: var(--color-background-secondary);

      & > .mui-datetimerangepicker-col {
        flex: none;
        width: 50%;
        box-sizing: border-box;
        padding: 0 12px;
        &:nth-child(2) {
          border-left: none;
          padding-left: 19px;
        }

        .ming.Checkbox {
          padding: 5px 0;
        }
      }
    }

    &.toolbar {
      box-sizing: content-box;
      min-height: 36px;
      padding: 8px 18px;
      text-align: right;
      background-color: var(--color-background-secondary);

      & > .mui-datetimerangepicker-col {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-height: 36px;
        text-align: center;
        flex: none;
        width: 50%;
        box-sizing: border-box;
        &:nth-child(2) {
          border-left: none;
          padding-left: 18px;
          justify-content: space-between;
        }

        .timePickerGroup {
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--color-text-title);
        }

        .timePickerGroup > .label {
          width: 36px;
          font-size: 13px;
          line-height: 30px;
          text-align: center;
          vertical-align: middle;
          margin-right: 8px;
        }

        & > .Dropdown {
          margin: 0 auto;
        }

        .toolbarActions {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-left: auto;
        }

        .Menu {
          width: 80px;
          text-align: left;
        }

        .toolbarActions > button {
          font-size: 13px;
          line-height: 20px;
          padding: 5px 6px;
          min-width: 50px;
          max-width: 76px;
          vertical-align: middle;
          margin-left: 6px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          &.Button--ghost {
            padding: 4px 6px;
          }
        }
      }
    }
  }
}
