.myProcessWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: var(--color-background-secondary);
  display: flex;
  flex-direction: column;

  .filterContentWrapper {
    flex: 1;
    min-height: 0;
    display: flex;
    justify-content: center;
    &.filterContentExtend {
      .processFilterDrawerWrapper {
        opacity: 1 !important;
        margin-left: 0 !important;
      }
    }

    &.filterContentClose {
      .processFilterDrawerWrapper {
        opacity: 0 !important;
        margin-left: -280px !important;
      }
    }
  }

  .header {
    height: 50px;
    display: flex;
    align-items: center;

    .title {
      padding-left: 20px;
      .icon {
        color: #607d8b;
        font-size: 21px;
      }
      span {
        color: var(--color-text-primary);
        font-size: 17px;
        margin-left: 7px;
      }
    }
    .close {
      display: flex;
      justify-content: flex-end;
      padding-right: 20px;
      align-items: center;
    }
  }

  .statesTab {
    flex: 4;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .item {
      color: var(--color-text-secondary);
      font-size: 14px;
      padding: 0 28px;
      cursor: pointer;
      position: relative;
      line-height: 50px;
      display: flex;
      align-items: center;
      &:before {
        content: '';
        width: 100%;
        height: 3px;
        background-color: var(--color-primary);
        position: absolute;
        left: 0;
        bottom: 0;
        display: none;
      }
      &:hover {
        color: var(--color-text-title);
      }
      &.active {
        &.item {
          color: var(--color-text-title);
        }
        &:before {
          display: block;
        }
      }
    }
    .processCount {
      color: var(--color-text-secondary);
      margin-left: 4px;
    }
    .darkRed,
    .red {
      border-radius: 20px;
      min-width: 20px;
      height: 20px;
      line-height: 20px;
      width: auto;
      padding: 0 6px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .darkRed {
      font-weight: bold;
      color: var(--color-white);
      background-color: var(--color-error);
    }
    .red {
      color: var(--color-error);
      background-color: var(--color-error-bg);
    }
  }
  .cuttingLine {
    height: 20px;
    width: 1px;
    background-color: var(--color-text-disabled);
  }

  .withoutData {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icnoWrapper {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background-color: var(--color-border-secondary);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icon {
      color: var(--color-text-disabled);
      font-size: 90px;
    }
    span {
      color: var(--color-text-secondary);
      margin-top: 22px;
    }
  }

  .filterWrapper {
    font-size: 15px;
    height: 64px;
    display: flex;
    align-items: center;

    .allRead {
      color: var(--color-text-secondary);
      padding: 3px 15px 3px 9px;
      border-radius: 25px;
      &:hover {
        color: var(--color-primary);
        background-color: var(--color-primary) 33;
      }
    }
    .passApprove,
    .rejectApprove {
      color: var(--color-text-tertiary);
      padding: 3px 15px;
      border-radius: 24px;
      border: 1px solid var(--color-border-primary);
      background-color: var(--color-background-primary);
    }
    .passApprove {
      margin-right: 5px;
      &.all {
        color: var(--color-white);
        border-color: var(--color-success);
        background-color: var(--color-success);
      }
    }
    .rejectApprove {
      &.select {
        color: var(--color-error);
        border-color: var(--color-error);
        background-color: var(--color-error-bg);
      }
      &.all {
        color: var(--color-white);
        border-color: var(--color-error);
        background-color: var(--color-error);
      }
    }
    .ant-checkbox-input {
      position: absolute !important;
    }
  }

  .filterNav {
    font-size: 13px;
    border-radius: 4px;
    background-color: var(--color-background-tertiary);
    padding: 3px;
    margin-right: 20px;
    .item {
      color: var(--color-text-secondary);
      padding: 3px 23px;
      cursor: pointer;
      font-weight: bold;
    }
    .active {
      color: var(--color-primary);
      border-radius: 4px;
      background-color: var(--color-background-card);
    }
  }
  .processFilterTarget {
    padding: 5px 12px 5px 15px;
    margin-right: 10px;
    .icon-close {
      color: var(--color-primary);
      &:hover {
        color: var(--color-primary-focus) b3;
      }
    }
    &.active {
      color: var(--color-primary) !important;
      border-radius: 3px;
      background-color: var(--color-primary-transparent);
    }
  }

  .filterWrapper,
  .content {
    margin: 0 auto;
  }
  .filterWrapper,
  .content,
  .loadoingWrapper {
    width: 1000px;
    padding: 0 12px;
  }

  .spaceBetween {
    justify-content: space-between;
  }

  .content {
    flex: 1;
  }
}

.myProcessApproveOverlay {
  .ant-popover-inner-content {
    padding: 4px 8px;
  }
  .ant-popover-arrow {
    display: none;
  }
}
