.ChatPanel-addToolbar,
.DropdownPanel {
  font-size: 24px;
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--color-text-disabled);
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  color: var(--color-white);

  &.noTool {
    width: 5px;
    border-right: 0;
  }

  &.addToolbarHover {
    color: var(--color-text-tertiary);
    border-color: var(--color-border-primary) !important;
    background-color: var(--color-background-card) !important;
  }

  &-menu,
  &Menu {
    width: 180px;
    padding: 10px 0;
    border-radius: 4px;
    background-color: var(--color-background-card);
    box-shadow: var(--shadow-lg);

    .menuItem {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      line-height: 36px;
      height: 36px;
      font-size: 13px;
      color: var(--color-text-primary);
      padding: 0 13px;
      white-space: nowrap;
      &:hover {
        color: var(--color-text-primary);
        background-color: var(--color-background-hover);
      }
      &.disable {
        color: var(--color-text-disabled);
        i {
          color: var(--color-text-disabled);
        }
      }
      i {
        font-size: 16px;
        color: var(--color-text-secondary);
        margin-right: 10px;
      }
    }

    hr {
      border-top: 1px solid var(--color-border-tertiary);
      border-bottom: none;
    }
  }
}

.ChatPanel-Trigger,
.DropdownPanelTrigger {
  &.rc-trigger-popup {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 1050;
  }
  &.rc-trigger-popup-hidden {
    display: none;
  }
}
