.datepicker-modal {
  z-index: 1000 !important;
  transform: none !important;
  overflow: hidden;
  position: fixed !important;
  .datepicker {
    background-color: #fff !important;
    border-radius: 12px 12px 0 0;
    z-index: 1000;
    .datepicker-header {
      padding: 0 48px;
      height: 44px;
      line-height: 44px;
      color: #151515;
      font-size: 15px;
      font-weight: 600;
    }
    .datepicker-content {
      .datepicker-viewport {
        .datepicker-wheel {
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          .datepicker-scroll > li {
            font-size: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        &::after {
          background: linear-gradient(#fff, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, #fff);
        }
      }
    }
    .datepicker-navbar {
      padding: 0 18px !important;
      border-bottom: initial !important;
      .datepicker-navbar-btn {
        padding: initial;
        height: 44px;
        line-height: 44px;
        font-size: 15px;
        font-weight: 600;
        &:nth-child(1) {
          color: #2196F3;
        }
        &:nth-child(2) {
          color: #9e9e9e;
        }
      }
    }
  }

  .customHeaderBox {
    position: relative;
    .headerText {
      display: inline-block;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .btnClear {
      position: absolute;
      right: 27px;
      z-index: 999;
      color: #F44336;
      font-weight: 600;
    }
    .btnDisable {
      opacity: 0.5;
    }
  }
}
