/**
* component FileAttachment
* prefix: .mui-ileattachment
*/

.mui-fileattachment {
  display: inline-block;
  width: 172px;
  &.mui-fileattachment-top {
    margin-top: 6px;
  }
  &.disabled .UploadFiles-filePanel .UploadFiles-panelBtns {
    display: none!important;
  }
}
