.departmentTreeBox {
  overflow: hidden;
  height: 100%;
  .moreListIcon {
    display: inline-block;
    width: 24px;
  }
  .moreList {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    text-align: left;
    color: var(--color-primary);
    &:hover {
      color: var(--color-link-hover);
    }
  }
}

.departmentsTree.hap-tree {
  --hap-padding-xs: 5px;
  --hap-tree-title-height: 36px;
  --hap-tree-switcher-size: 20px;
  --hap-tree-directory-node-selected-color: var(--color-primary);
  --hap-tree-directory-node-selected-bg: var(--color-primary-transparent);
  .hap-tree-node-content-wrapper {
    display: flex;
    align-items: center;
    min-width: 0;
    .hap-tree-title {
      flex: 1;
      min-width: 0;
    }
    .departmentAction {
      opacity: 0;
    }
  }
  .hap-tree-node-selected {
    .treeNodeIcon {
      color: var(--color-primary) !important;
    }
    .departmentAction {
      opacity: 1;
    }
  }
}

.disabledDepartmentDialog {
  .departmentStatusWrap {
    display: inline-block;
    padding: 0px 10px;
    border-radius: 22px;
    background: var(--color-background-secondary);
  }
}
