.microsoftMainContent {
  .linkPageWrapper {
    height: 100%;
    padding: 0 200px;
    .microsoftLogo {
      width: 55px;
      height: 55px;
    }
  }

  .stepTitle {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
  }
  .stepDesc {
    font-size: 14px;
    color: #757575;
  }
}
