/**
* component DepartmentPicker
* prefix: .mui-departmentpicker
*/
@import '../lib/styles/form-input.less';

.mui-departmentpicker {
  display: inline-block;
  width: 172px;

  & > .mui-forminput {
    width: 100%;
  }
}
