.AppTask {
  .printMessage {
    color: var(--color-text-tertiary);
  }
  .printOperation li {
    position: relative;
    width: 50%;
    margin-top: 8px;
    padding: 3px 0;
    display: inline-block;
  }
  .printOperation .checkOperation,
  .printOperation .checkOperationDisabled {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    color: var(--color-text-title);
    cursor: pointer;
    .operationCheckbox {
      font-size: 12px;
      border-radius: 2px;
      color: var(--color-white);
      margin-right: 8px;
      border-width: 1px;
      border-style: solid;
      margin-top: 2px;
      display: inline-block;
      vertical-align: top;
    }
    &:not(.checked) {
      .operationCheckbox {
        border-color: var(--color-border-tertiary) !important;
        background: var(--color-background-primary) !important;
      }
    }
  }
  .printOperation .checkOperationDisabled {
    cursor: default;
    .operationCheckbox {
      background: var(--color-text-placeholder) !important;
      border-color: var(--color-border-tertiary) !important;
    }
  }
}
