.common-info-row {
  display: flex;
  // align-items: center;
  // margin-top: 30px;
  color: var(--color-text-title);
  font-size: 13px;
  &.pTop54 {
    padding-top: 54px;
  }
  .common-info-row-label {
    min-width: 140px;
    width: 140px;
    color: var(--color-text-secondary);
    display: flex;
    justify-content: flex-start;
  }
  .common-info-row-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    .color_b {
      color: var(--color-text-title);
    }
  }
  .clearLogo {
    color: var(--color-text-secondary);
    &:hover {
      color: var(--color-primary);
    }
  }
  .common-images {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    .homeImage {
      vertical-align: bottom;
      padding: 4px;
      border: 2px solid transparent;
    }
  }
  .domain-review {
    width: 100px;
    height: 56px;
    margin-top: 6px;
  }
  .set-describe {
    color: var(--color-text-secondary);
    .open-setting-rules-Txt {
      font-size: 13px;
      color: var(--color-primary);
      cursor: pointer;
    }
    .open-setting-rules-Txt:hover {
      color: var(--color-primary-light);
    }
  }
  .delete {
    color: var(--color-calendar);
  }
  .editBtn {
    margin-left: -32px;
  }
}

.split-line {
  width: 100%;
  margin: 40px 0;
  background: var(--color-border-secondary);
  height: 1px;
}

.logoBoxBorder {
  height: 48px;
  display: inline-block;
  position: relative;
  .logoIconBox {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    color: var(--color-white);
    text-align: center;
    line-height: 48px;
    z-index: 2;
  }
  img {
    height: 100%;
  }
  &:hover {
    .logoIconBox {
      display: block;
    }
  }
}

.avatar-uploader {
  width: 100px;
  height: 56px;
  text-align: center;
  line-height: 52px;
  border-radius: 2px;
  border: 1px dashed var(--color-border-secondary);
  box-sizing: border-box;
  cursor: pointer;
  .icon-upload_pictures {
    color: var(--color-text-tertiary);
  }
  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    border-color: var(--color-primary);
  }
}

//subdomain
.sub-domain {
  padding-bottom: 40px;
  .ming.Button--small {
    width: 74px;
  }

  .ming.Button {
    border-radius: 14px;
  }
}
.domain-describe {
  color: var(--color-text-tertiary);
  font-size: 14px;
  line-height: 24px;
}

//workplace
.warpEditName {
  .existResult {
    color: #f00;
    font-size: 14px;
  }
}

.warpMerge {
  .content {
    overflow: auto;
    max-height: 300px;
    padding-left: 30px;
  }
}

.editMemberDialog {
  .btnSearch {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 18px;
  }
  .content {
    min-height: 210px;
    max-height: 350px;
    overflow: auto;
  }
  .contentUser {
    display: flex;
    align-items: center;
    height: 50px;
    line-height: 50px;
    .headIcon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .contentName {
      flex: 2 0 0%;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 10px;
    }
    .contentJob {
      flex: 3 0 0%;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 10px;
    }
    .contentOperate {
      width: 20px;
      .deleteMember {
        display: none;
      }
    }
    &:hover {
      .deleteMember {
        display: inline-block;
      }
    }
  }
  .nullContent {
    text-align: center;
    padding-top: 76px;
    padding-bottom: 40px;
    .icon {
      background: var(--color-background-secondary);
      width: 106px;
      height: 106px;
      line-height: 106px;
      font-size: 50px;
      color: var(--color-text-tertiary);
      display: inline-block;
      border-radius: 50%;
    }
  }
}

.positionContent {
  height: 100%;
  background-color: var(--color-background-primary);
  display: flex;
  overflow: hidden;
}

.userManageWorkSite {
  /* itemSearch end */
  .ming.Button--small {
    width: 88px;
  }

  .ming.Button {
    border-radius: 15px;
  }

  .workSiteToolbox {
    display: flex;
    align-items: center;
    .iconText {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
    }
    .delete {
      color: var(--color-calendar);
    }
  }

  .searchContainer {
    box-sizing: border-box;
    background: var(--color-background-secondary);
    // border: 1px solid var(--color-white);
    border-radius: 15px;
    margin-left: 24px;

    .btnSearch {
      font-size: 20px;

      position: absolute;

      margin: 5px 14px;
    }

    .searchInput {
      line-height: 30px;

      width: 192px;
      height: 30px;
      padding-left: 38px;

      border: none;
      outline: none;
      background: transparent;
    }
  }

  .dataView {
    font-size: 13px;
    padding: 0 24px;
    margin-top: 30px;
    box-sizing: border-box;
    .ant-table {
      .ant-checkbox-input {
        display: none;
      }
      .ant-table-selection-column {
        text-align: left;
      }
      thead > tr > th {
        height: 48px;
        background: var(--color-background-primary);
        padding: 1px 24px 12px 1px;
        box-sizing: border-box;
        color: var(--color-text-secondary);
        font-weight: 600;
      }
      tbody > tr > td {
        height: 48px;
        padding: 1px 24px 1px 1px;
        box-sizing: border-box;
        color: var(--color-text-title);
        border-bottom: none;
      }
    }
    .ant-table-pagination.ant-pagination {
      position: fixed;
      bottom: 20px;
      left: 50%;
      .ant-pagination-prev,
      .ant-pagination-next {
        height: unset;
        line-height: unset;
        a {
          display: inline-block;
          padding: 3px 8px;
          border: 1px solid var(--color-border-tertiary);
          color: var(--color-text-secondary);
          font-size: 12px;
          border-radius: 3px;
        }
      }
      .ant-pagination-disabled a {
        color: var(--color-text-placeholder);
        border: 1px solid var(--color-white);
        font-size: 12px;
      }
      .ant-pagination-item {
        height: unset;
        line-height: unset;
        margin-right: 10px;
        min-width: 0;
        border: 1px solid var(--color-white);
        a {
          color: var(--color-text-secondary);
          display: inline-block;
          padding: 3px 8px;
          text-align: center;
          vertical-align: middle;
          border: 1px solid var(--color-white);
          font-size: 12px;
        }
        a:hover {
          border: 1px solid var(--color-border-tertiary);
          color: var(--color-text-secondary);
          border-radius: 3px;
        }
      }
      .ant-pagination-item-active {
        // border: none;
        border: 1px solid var(--color-white);
        color: var(--color-text-title);
        a {
          // border: none;
          border: 1px solid var(--color-white);
          text-decoration: underline;
          color: var(--color-text-title);
        }
      }
      .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
      .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
        color: var(--color-text-secondary);
      }
      .ant-pagination-options {
        display: none;
      }
    }
  }
  .itemCheck {
    display: inline-block;
    .checked .icon {
      display: none;
    }
  }
  /* 排序小图标 */
  .sortItem {
    position: relative;
    width: 10px;
    height: 15px;
    display: inline-block;
  }
}

.closeNet {
  height: 100%;
  padding: 30px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  #stepOne {
    .title {
      color: var(--color-text-title);
    }
    .subTitle {
      color: var(--color-text-secondary);
    }
    .passwordInput {
      width: 324px;
      height: 36px;
    }
  }

  .error {
    color: var(--color-error);
  }

  .Red_e828 {
    color: var(--color-error) !important;
  }
  .projectInfoCard {
    padding: 24px;
    border-radius: 5px;
    border: 1px solid var(--color-border-secondary);
  }
  .explain {
    line-height: 32px;
    margin-top: 58px;
    margin-bottom: 72px;
  }
}
