<div class="fileConfirmDialogContainer">
    <div class="filePreview">
        <div class="fileIcon">
            <span class="fileSize"></span>
        </div>
        <div class="thumbnailCon">
            <div class="thumbnail">
            </div>
        </div>
    </div>
    <div class="dList">
        <div class="dItem">
            <div class="itemLabel">
                {{=_l('名称')}}
            </div>
            <div class="itemContent">
                <input type="text" id="fileName" placeholder="{{=_l('名称')}}" />
            </div>
        </div>
    </div>
</div>
