.galleryScrollWrap {
  overflow: hidden;
  background-color: var(--color-background-secondary);
  .galleryViewContentWrap {
    padding: 8px;
    .groupByControlForGallery {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--color-background-secondary);
    }
    .galleryItem {
      width: 100%;
      display: inline-block;
      padding: 8px;
      box-sizing: border-box;
      overflow: hidden;
      vertical-align: top;
      & > div {
        box-shadow: var(--shadow-sm) !important;
        background: var(--color-background-primary) !important;
        width: 100%;
        border-radius: 3px;
        margin: 0 auto;
        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16) !important;
        }
      }
    }
    .addNewGallery {
      .addRow {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16) !important;
        background: var(--color-background-primary) !important;
        width: 100%;
        border-radius: 3px;
        margin: 0 auto;
        height: 48px;
        line-height: 48px;
        &:hover {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16) !important;
        }
      }
    }
  }
  .skeletonBox {
    padding: 10px 14px;
  }
}
