.testFunctionDialog,
.workflowDetail,
.workflowDialogBox,
.editAIActionDrawer {
  .flowDetailTagBox {
    display: inline-flex;
    min-width: 0;
  }
  .flowDetailMemberNodeName {
    border: 1px solid var(--color-border-primary);
    border-right-width: 0;
    background: var(--color-background-secondary);
    height: 28px;
    border-radius: 26px 0 0 26px;
    padding: 0 5px 0 7px;
    box-sizing: border-box;
    line-height: 28px;
    flex: 1;
    box-sizing: border-box;
    font-size: 12px;
    i {
      width: 14px;
    }
    &.error {
      border-color: var(--color-error);
      background: rgba(244, 67, 54, 0.06);
      color: var(--color-error);
    }
  }
  .flowDetailMemberArrow1 {
    width: 0;
    height: 0;
    margin-right: -7px;
    border-style: solid;
    border-width: 14px 7px;
    border-color: transparent transparent transparent var(--color-background-secondary);
    &.error {
      position: relative;
      margin-right: -3px;
      border-color: transparent transparent transparent var(--color-error);
      &::before {
        content: '';
        position: absolute;
        top: -14px;
        left: -8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 7px;
        border-color: transparent transparent transparent var(--color-background-secondary);
      }
    }
  }
  .flowDetailMemberArrow2 {
    width: 0;
    height: 0;
    margin-left: -7px;
    border-style: solid;
    border-width: 14px 7px;
    border-color: var(--color-task) var(--color-task) var(--color-task) transparent;
    &.error {
      border-color: var(--color-error) var(--color-error) var(--color-error) transparent;
    }
  }
  .flowDetailMemberFieldName {
    color: var(--color-white);
    background: var(--color-task);
    height: 28px;
    border-radius: 0 26px 26px 0;
    padding-right: 12px;
    box-sizing: border-box;
    line-height: 28px;
    max-width: 200px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    font-size: 12px;
    &.error {
      background: var(--color-error);
      color: var(--color-white);
    }
  }
}
