.flexCenterHeight {
  display: flex;
  height: 100%;
  align-items: center;
}
.globalSearchHeaderWrap {
  .flexCenterHeight();
  height: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 15;
  justify-content: space-between;
  background-color: var(--color-background-primary);
  .netManageLogo {
    .flexCenterHeight();
    .homepageIcon {
      margin-right: 18px;
      &:hover .item {
        background-color: var(--color-primary);
      }
      .item {
        transition: background-color 0.25s;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .headerLogo {
    .flexCenterHeight();
  }
  .netManageTitle {
    font-size: 17px;
    font-weight: 500;
  }
  .commonUserHandleWrap > div:first-child {
    display: none;
  }
  .searchCon {
    flex: 1;
    width: 100%;
    float: right;
    height: 24px;
    position: relative;
    .search {
      max-width: 960px;
      width: 100%;
      border-left: 1px solid var(--color-border-secondary);
      padding-left: 13px;
      position: absolute;
      left: calc(~'(100vw - 1186px) / 2 + 38px');
      display: flex;
      align-items: center;
      .searchIconCon {
        width: 27px;
        height: 27px;
        text-align: center;
        padding-top: 4px;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background: var(--color-background-secondary);
          .icon {
            color: var(--color-primary) !important;
          }
        }
      }
      .icon {
        cursor: pointer;
      }
    }
    .borderNone {
      border: none;
    }
    input {
      height: 24px;
      padding: 0 6px;
      &::placeholder,
      &::-webkit-input-placeholder {
        color: var(--color-text-tertiary);
      }
    }
    @media screen and (max-width: 1190px) {
      .search {
        left: 60px;
        width: calc(~'100% - 60px');
      }
    }
  }
}
