.addDiscuss {
  background-color: #fff;

  .discussHeader {
    height: 44px;
  }

  .contentInput {
    color: #333;
    border: none;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
    font-size: 15px;
    min-height: 80px !important;
    padding-top: 0 !important;
  }

  .handleBar {
    height: 50px;
    padding: 0 15px;
    background-color: #fff;

    .icon {
      color: #9e9e9e;
      font-size: 24px;
      margin-right: 20px;
    }

    .addRecord {
      height: 36px;
      display: flex;
      align-items: center;
      border-radius: 24px;
      font-size: 14px;
      padding: 0 15px;
      color: #fff;
      background-color: #108ee9;
    }
  }

  .filesWrapper {
    width: 100%;
    height: 80px;
    position: relative;
    overflow: hidden;
    margin: 6px 0;
    .filesScroll {
      height: 100%;
      background-color: #fff;
      display: flex;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      overflow-x: auto;
      overflow-y: hidden;
    
      .item {
        min-width: 100px;
        height: 100%;
        border-radius: 10px;
        margin-right: 10px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.4);
      }

      .attachmentFiles {
        padding: 0;
        flex-wrap: nowrap;
        overflow: initial;
        margin-left: 10px;
        .fileWrapper {
          height: 80px;
          overflow: initial;
          margin: 0 10px 0 0;
        }
        .fileEmpty {
          display: none;
        }
      }
    }  
  }
}