.workflowTemplateListSelect {
  padding: 5px 0 !important;
  border-radius: 4px !important;
  box-shadow:
    0 4px 20px rgba(0, 0, 0, 0.13),
    0 2px 6px rgba(0, 0, 0, 0.1) !important;
  .ant-select-item {
    transition: none !important;
    background: #fff !important;
    min-height: 36px;
    padding: 7px 10px;
    &:hover {
      background: #1677ff !important;
      color: #fff !important;
    }
    .ant-select-item-option-content {
      overflow: inherit !important;
      white-space: break-spaces !important;
      text-overflow: inherit !important;
      font-weight: normal !important;
    }
  }
}
