.CustomDefaultValueDialog {
  min-height: 360px;
  .customFormItemLabel {
    display: none;
  }
}

.SearchWorksheetDialog {
  max-height: inherit !important;
  height: inherit !important;
  .mui-dialog-body {
    overflow: initial !important;
  }
}

.selectOptionSortableList {
  position: relative;
  z-index: 1000;
  background-color: #fff;
}
