.chartDataSource {
  width: 250px;
  border-left: 1px solid var(--color-border-tertiary);
  padding: 24px 0;
  background-color: var(--color-background-card);
  transition: width 0.2s;

  &.small {
    width: 50px;
  }

  .horizontalPaddingWrapper {
    padding: 0 16px;
  }

  .sheetInfoWrapper,
  .timeWrapper {
    padding: 7px 12px;
    border-radius: 4px;
    background-color: var(--color-background-secondary);
    .removeViewId {
      color: var(--color-error);
    }
  }

  .searchControlWrapper {
    padding: 8px 5px;
    border-bottom: 1px solid var(--color-border-primary);
    input {
      color: var(--color-text-primary);
      border: none;
    }
    .icon-close:hover {
      color: var(--color-primary) !important;
    }
  }

  .dataSourceCollapse {
    .active {
      color: var(--color-primary) !important;
    }
    .ant-collapse-header {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      font-size: 13px;
      font-weight: bold;
      color: var(--color-text-title) !important;
      padding: 16px 16px 0 16px;
    }
    .ant-collapse-arrow {
      transition: transform 0.24s;
      position: static !important;
      line-height: initial !important;
      padding: 0 !important;
      transform: none !important;
      &::before {
        display: initial !important;
      }
      &.icon-arrow-active {
        transform: rotate(-180deg) !important;
      }
    }
    .axisControlItem {
      .icon-settings,
      .icon-trash {
        display: none;
      }
      &:hover {
        background-color: var(--color-background-hover);
        .icon-settings,
        .icon-trash {
          display: block;
        }
      }
      .ant-checkbox-input {
        position: absolute !important;
      }
    }
  }

  .addCalculateControl {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    .icon-add:hover {
      color: var(--color-primary) !important;
    }
  }

  .highlight {
    animation-name: shining;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    animation-fill-mode: forwards;
    .icon {
      color: var(--color-white) !important;
    }
  }
  @keyframes shining {
    from {
      background-color: var(--color-background-primary);
    }
    to {
      background-color: var(--color-primary);
    }
  }
}

.chartSheetModal {
  .selectWorksheetCommon {
    .icon-arrow-down-border {
      margin-right: 7px;
    }
    .aroundList {
      position: fixed;
      width: 512px !important;
      left: 50%;
      margin-left: -256px;
    }
  }
}

.chartTimeModal {
  border-radius: 4px;
  background-color: var(--color-background-primary);
  box-shadow:
    0 4px 20px rgba(0, 0, 0, 0.13),
    0 2px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  .scopeDataItem {
    padding: 6px 13px;
  }
  .scopeDataItem:hover {
    background-color: var(--color-background-hover);
  }
  .active {
    background-color: var(--color-primary) !important;
    .icon-done {
      color: var(--color-primary);
    }
  }
  .rangePickerInput {
    width: 186px;
  }
  .ant-picker-input input {
    text-align: center;
  }
  .ant-picker-range-separator {
    padding: 0 2px 0 0;
  }
  .chartInput .ant-input-suffix {
    display: none !important;
  }
}

.rangeDayOverlayMenu .active {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.statisticsSelectWorksheetDropdownMenu {
  &.Menu {
    border-radius: 0px !important;
  }
}
