.uploadedAttachmentList .picList {
  margin-bottom: 10px;
}
.uploadedAttachmentList .picList .picItem {
  overflow: hidden;
  cursor: pointer;
  float: left;
  border: 1px solid #ddd;
  background-color: White;
  margin-right: 7px;
  margin-bottom: 7px;
  width: 130px;
  height: 90px;
  text-align: center;
}
.uploadedAttachmentList .picList .picItem img {
  max-width: 130px;
  max-height: 90px;
  vertical-align: middle;
}
.uploadedAttachmentList .picList .picItem .nullImage {
  width: 0px;
  height: 100%;
  visibility: hidden;
}
.uploadedAttachmentList .docList .docItem {
  width: 230px;
  float: left;
  margin-bottom: 10px;
  background-color: #fafafa;
  border: 1px solid #eee;
}
.uploadedAttachmentList .docItem .docTitleLimitWidth {
  max-width: 150px;
  font-size: 12px;
  line-height: 22px;
  margin-left: 7px;
}
.uploadedAttachmentList .docList .itemSize {
  color: #d5d5d5;
  line-height: 16px;
  margin-left: 7px;
}
.uploadedAttachmentList .docList .logo {
  background-color: #ededed;
  width: 55px;
  text-align: center;
  height: 50px;
  position: relative;
}
.uploadedAttachmentList .docList .logo .fileIcon {
  height: 32px;
  width: 28px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 50%;
  margin-left: -14px;
}
.uploadedAttachmentList .docList .logo i {
  line-height: 50px;
  font-size: 28px;
  color: #999;
}
.uploadedAttachmentList .docItem .docMsgContent {
  width: 170px;
  padding-left: 5px;
  height: 50px;
  position: relative;
  overflow: hidden;
  line-height: 20px;
}
.uploadedAttachmentList .docItem .docOp {
  position: absolute;
  top: 0px;
  left: -175px;
  background: #aaa;
  width: 175px;
  height: 50px;
}
.uploadedAttachmentList .docItem .docOp span {
  color: white;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  margin-top: 12px;
}
.uploadedAttachmentList .docItem .docOp .opBtn {
  margin-left: 40px;
}

.uploadedAttachmentList .kcDocItem {
  width: 230px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid transparent;
}
.uploadedAttachmentList .kcDocItem .nodeIconContainer {
  background-color: #eee;
  margin-right: 5px;
  width: 55px;
  height: 50px;
  position: relative;
}
.uploadedAttachmentList .kcDocItem .nodeIcon {
  height: 32px;
  width: 28px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 50%;
  margin-left: -14px;
}
.uploadedAttachmentList .kcDocItem .nodeImg img {
  width: 100%;
  height: 100%;
}
.uploadedAttachmentList .kcDocItem .shareUrl {
  max-width: 140px;
}

.uploadedCommentAttachmentList .docList .docItem {
  width: 200px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}
.uploadedCommentAttachmentList .docItem .docTitleLimitWidth {
  max-width: 130px;
  font-size: 12px;
  margin-left: 6px;
  margin-left: 7px;
}
.uploadedCommentAttachmentList .docList .itemSize {
  color: #d5d5d5;
  line-height: 16px;
  margin-left: 7px;
}
.uploadedCommentAttachmentList .docItem .docMsgContent {
  width: 140px;
}
.uploadedCommentAttachmentList .docItem .docOp {
  width: 145px;
  left: -145px;
}
.uploadedCommentAttachmentList .docItem .docOp .opBtn {
  margin-left: 27px;
}
.uploadedCommentAttachmentList .docList .logo {
  background-color: white;
}
