/**
* component CheckBox
* prefix .mui-checkbox
*/
.mui-checkbox {
  display: inline-flex;
  font-size: 0;
  cursor: pointer;
  user-select: none;

  & > .mui-checkbox-icon {
    display: inline-block;
    width: 18px;
    height: 36px;
    position: relative;
    vertical-align: middle;
    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border: solid 1px #ccc;
      box-sizing: content-box;
      border-radius: 2px;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 9px;
    }
    & > .Icon {
      display: none;
      width: 18px;
      height: 18px;
      font-size: 14px;
      color: #fff;
      line-height: 18px;
      text-align: center;
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 9px;
    }
  }
  &:hover > .mui-checkbox-icon:before {
    border-color: #bbb;
  }

  &.mui-checkbox-checked {
    & > .mui-checkbox-icon {
      & > .Icon {
        display: block;
      }
    }
  }

  & > .colortag {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin: 14px -6px 0 12px;
  }

  & > .mui-checkbox-label {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    padding: 8px 12px;
    vertical-align: middle;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.mui-checkbox-disabled {
    cursor: not-allowed;
    & > .mui-checkbox-icon:before {
      border-color: #ccc;
      background-color: #f5f5f5;
    }
    &.mui-checkbox-checked {
      & > .mui-checkbox-icon:before {
        background-color: #ccc;
      }
    }
    & > .mui-checkbox-label {
      color: #9e9e9e;
    }
  }
}
