.workflowDetail,
.workflowDialogBox {
  .actionFields {
    width: 100%;
    top: 36px;
  }
  .actionControlMore {
    width: 36px;
    height: 36px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    box-sizing: border-box;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: #ddd;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:hover) {
      color: #757575 !important;
    }
  }
  .clearAllFields {
    padding: 6px 0;
  }
  .flowDetailUserList {
    li {
      height: 36px;
      line-height: 36px;
      i {
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
        margin-top: 9px;
        margin-right: 5px;
      }
      &:not(:hover) {
        i {
          color: #757575;
        }
      }
    }
  }
}
