.flowChartModal {
  .ant-modal-header {
    border-bottom: 1px solid var(--color-border-secondary) !important;
    padding: 15px 24px !important;
  }
  .ant-modal-body,
  .am-modal-body {
    background-color: var(--color-background-secondary);
    display: flex;
    padding: 0;
    .workflowItem {
      cursor: default !important;
      pointer-events: none;
      .workflowNodeDel {
        display: none;
      }
    }
    .workflowEditContent {
      margin-top: 48px;
      &:first-child {
        > :first-child {
          margin-top: 0;
        }
      }
    }
  }
  .am-modal-body {
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
  }
  .mobileClose {
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 1;
  }
  .workflowEditRelease {
    height: 100%;
  }
  .workflowBranch {
    overflow: hidden;

    &:not(.workflowBoxPending) {
      > .flexColumn.executed {
        .workflowExecLine {
          bottom: inherit;
        }
      }
      .executed {
        > .workflowBox:before {
          background-color: var(--color-primary);
        }
      }

      &.workflowInclusionBranch {
        > .flexColumn.executed {
          .workflowBox:before {
            background-color: var(--color-primary);
          }
        }
      }

      &:not(.workflowInclusionBranch) {
        .workflowBox:before {
          background-color: var(--color-text-placeholder) !important;
        }
      }
    }
  }
}
