.dropDownList {
  position: absolute;
  width: 200px;
  background-color: #fff;
  padding: 6px 0;
  z-index: 4;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-height: 300px;
  overflow-y: auto;
}

.dropDownList .listItem {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  cursor: pointer;
  text-align: left;
  max-width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropDownList .listItem:hover {
  color: #fff !important;
}

.dropDownList .listItem:not(:hover) {
  background-color: transparent !important;
}

.dropDownList .listItem .dropDownItemTip {
  color: rgba(0, 0, 0, 0.2);
}

.dropDownList .listItem .dropDownItemTip:hover {
  color: rgba(0, 0, 0, 0.3);
}

.dropDownList .listItem:hover .dropDownItemTip {
  color: rgba(255, 255, 255, 0.8);
}

.dropDownList .listItem:hover .dropDownItemTip:hover {
  color: rgba(255, 255, 255, 0.7);
}
