
.navigationConfig {
  .title, .content, .ant-tabs-nav {
    padding: 0 24px;
  }
  .firstGroup {
    border: 1px solid #EAEAEA;
    margin-bottom: 10px;
    .name {
      font-weight: 400;
    }
    .operateIcon {
      margin-right: 16px;
      &:hover {
        color: #2196f3 !important;
      }
    }
    .groupHeader {
      height: 47px;
      padding: 0 10px 0 5px;
      background-color: #FAFAFA;
      &.open {
        height: 48px;
        border-bottom: 1px solid #EAEAEA;
      }
      .operateIcon {
        opacity: 0;
      }
      &:hover, &.hover {
        .operateIcon {
          opacity: 1;
        }
        .withoutChildrenHint {
          display: none;
        }
      }
    }
    >.childrenGroup {
      padding: 10px;
    }
    .resetName {
      border: 1px solid #EAEAEA;
      padding: 1px 3px;
      border-radius: 2px;
    }
  }
  .groupWrap {
    height: 38px;
    .operateIcon {
      opacity: 0;
    }
    &:hover, &.hover {
      background: #F5F5F5;
      .operateIcon {
        opacity: 1;
      }
    }
  }
  .activeFirst {
    border-top: 1px solid #2196f3;
  }
  .active {
    border-bottom: 1px solid #2196f3;
  }
  .activeGroup {
    background-color: #2196f324 !important;
    border-bottom: none;
  }
  .mobileNavRadio {
    .ming.Radio {
      margin-right: 56px;
    }
  }
}

.customAppNavSelect {
  &.ant-select-multiple .ant-select-selection-item {
    background: #d8eeff;
    border-radius: 15px;
    border: 1px solid #bbd6ea;
    color: #2c6288;
    padding: 0 12px;
    margin-left: 4px;
    margin-right: 4px;
  }
  &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    padding: 3px 24px 3px 10px;
    border: 1px solid #e0e0e0;
    box-shadow: none !important;
  }
  &.ant-select-open .ant-select-selector {
    border-color: #2196f3 !important;
    box-shadow: none !important;
    background-color: #fff !important;
  }
  .ant-select-selection-item-content {
    margin-right: 0 !important;
  }
}
.mobileAppItemsWrap {
  padding: 4px 0 6px;
  box-sizing: border-box;
  max-height: calc(~'100vh - 350px');
  .searchWrap {
    height: 40px;
    margin: 0 6px;
    box-sizing: border-box;
    input {
      border: none;
    }
  }
  .line {
    height: 1px;
    border-bottom: 1px solid #e0e0e0;
    margin: 8px 15px;
  }
  .listWrap {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .item {
    height: 40px;
    padding: 0 15px;
    .icon-drag {
      visibility: hidden;
    }
    &:hover {
      background-color: #f8f8f8;
      .icon-drag {
        visibility: visible;
      }
    }
  }
}
