.feishuMainContent {
  p,
  h2,
  h3,
  a {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .howApply {
    display: inline-block;
    color: var(--color-primary);
    cursor: pointer;
    &:hover {
      text-decoration: underline !important;
    }
  }

  .showDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    justify-content: flex-end;
    &:hover {
      .icon-arrow-right-border {
        color: var(--color-primary) !important;
      }
    }
  }

  .closeDing {
    position: absolute;
    top: 16px;
    right: 24px;
  }

  .icon.icon-help {
    &:hover {
      color: var(--color-primary) !important;
    }
  }

  .infoList {
    padding-top: 10px;
    li {
      width: 100%;
      display: flex;
      .inputTitleBox {
        width: 110px;
        line-height: 36px;
      }
      .inputDiv {
        flex: 1;
        .isShowIcon {
          cursor: pointer;
          position: absolute;
          right: 12px;
          top: 9px;
          z-index: 1;
          &:hover {
            color: var(--color-primary) !important;
          }
        }
        .inputBox {
          width: 100%;
          line-height: 36px;
          height: 36px;
          background-color: var(--color-background-primary);
          border-radius: 3px;
          padding-left: 10px;
          border: 1px solid var(--color-border-primary);
          padding-right: 40px;
          box-sizing: border-box;
        }
      }
    }
  }

  .editInfo {
    width: 90px;
    height: 36px;
    border-radius: 2px;
    background: var(--color-background-disabled) !important;
    color: var(--color-primary) !important;
    &:hover {
      background: var(--color-border-secondary) !important;
    }
  }

  .saveInfo {
    width: 90px;
    height: 36px;
    border-radius: 2px;
    background: var(--color-primary) !important;
    &:hover {
      background: var(--color-link-hover) !important;
    }
    &.ming.Button--disabled {
      cursor: default !important;
      opacity: 0.5 !important;
      background: var(--color-primary) !important;
    }
  }

  .syncBox {
    display: flex;
    .syncTxt {
      flex: 1;
      line-height: 36px;
    }
    .syncBtn {
      width: 90px;
      height: 36px;
      border-radius: 2px;
      background: var(--color-primary) !important;
      &:hover {
        background: var(--color-link-hover) !important;
      }
    }

    .isNO {
      cursor: default;
      opacity: 0.5;

      &:hover {
        opacity: 0.5;
        background: var(--color-primary) !important;
      }
    }
  }
}

.workwxPopoverWrapper .ant-popover-inner-content {
  padding: 0;
}
