.tableEmptyBox {
  box-sizing: border-box;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .desc {
    color: var(--color-text-tertiary);
  }
  .emptyIcon {
    width: 100px;
    height: 100px;
    background-color: var(--color-background-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-placeholder);
  }
  .customIcon {
    width: 100px;
  }
}
