.serchDate.ant-select-dropdown {
  overflow: unset;
  .PositionContainer-wrapper {
    top: 60px !important;
  }
  .listContainer {
    .listItem {
      height: 36px;
      line-height: 36px;
      padding: 0 24px;
      color: var(--color-text-title);
    }
    .listItem:hover {
      color: var(--color-white);
      background-color: var(--color-primary);
    }
    .listItem:nth-child(6) {
      border-bottom: 1px solid var(--color-background-disabled);
    }
    .mui-datepicker-header {
      color: var(--color-text-title);
    }
  }
}
