.editLingualWrap {
  .header {
    height: 57px;
    padding: 0 20px;
    border-bottom: 1px solid #dddddd;
    justify-content: space-between;
    .backHome {
      margin-top: 1px;
      border-bottom: 1px solid transparent;
      &:hover {
        border-color: currentColor;
      }
    }
    .translateWrap {
      padding: 3px 5px;
      border-radius: 3px;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
  .content {
    min-height: 0;
  }
  .searchWrap {
    .searchWrap();
  }
  .ant-select-selector {
    border-radius: 4px !important;
    box-shadow: none !important;
  }
}

.searchWrap() {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
  margin-right: 15px;
  input {
    padding: 3px;
    border: none;
    min-width: 0;
  }
}

.contentWrap() {
  .nav {
    width: 180px;
    .navItem {
      height: 36px;
      border-radius: 4px;
      padding: 0 10px;
      margin-right: 12px;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
  .itemName {
    padding: 3px;
    .icon {
      color: #9e9e9e;
    }
  }
  .nodeItem {
    padding: 0 3px;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    .label {
      width: 120px;
    }
  }
  textarea.ant-input {
    height: 120px;
  }
  .ant-input {
    border-radius: 3px !important;
    box-shadow: none !important;
    &[disabled] {
      color: #151515;
    }
  }
  .highlight {
    border-radius: 3px;
    animation-name: shining;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes shining {
    from {
      background-color: #fff;
    }
    to {
      background-color: #dbeefd;
    }
  }
}

.contentWrap {
  .contentWrap();
}

.editLingualDialog {
  .contentWrap();
  .searchWrap {
    .searchWrap();
  }
}
