.verifyDelDialog {
  .mui-dialog-body {
    padding-bottom: 20px !important;
  }
  .mui-dialog-header {
    padding: 0 24px 24px 24px !important;
  }
  .title {
    font-size: 17px;
    color: var(--color-error);
    font-weight: bold;
  }
  .hint {
    margin: 16px 0 24px 0;
    font-size: 14px;
    color: var(--color-text-secondary);
  }
  .verifyCheckbox {
    color: var(--color-text-secondary);
    font-size: 14px;
    .Checkbox-box {
      margin-top: -2px !important;
    }
  }
  .btnBox {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
    button {
      width: 90px;
      line-height: 36px;
      padding: 0;
      text-align: center;
      background-color: var(--color-background-primary);
      border-radius: 4px;
      border: none;
      outline: none;
      cursor: pointer;
    }
    .btnCancel {
      background-color: transparent;
      &:hover {
        color: var(--color-primary);
      }
    }
    .btnOk {
      color: var(--color-white);
      background-color: var(--color-text-disabled);
    }
    .btnDel {
      background-color: var(--color-error);
      &:hover {
        background-color: var(--color-error-hover);
      }
    }
  }
  .inputVerify {
    p {
      color: var(--color-text-secondary);
      margin: 0 0 8px 0;
    }
    input {
      width: 100%;
    }
  }
}
