.createRagContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    font-size: 18px;
    color: var(--color-text-primary);
    span:first-child {
      font-weight: 700;
    }
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    .loadingText {
      margin-right: 15px;
      font-size: 14px;
      color: var(---color-text-tertiary);
    }
  }
}
.createRagLoading {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: var(--color-background-overlay-white);
}
.createKnowledgeModal {
  height: 80%;
}
