/**
* component DateTime
* prefix: .mui-datetime
*/
@import '../lib/styles/form-input.less';

.mui-datetime {
  display: inline-block;
  width: 172px;

  .mui-datetime-base {
    display: block;
    width: 100%;
  }
  .mui-forminput {
    width: 100%;
  }
}
