{
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "import",
      {
        "libraryName": "ming-ui/functions",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "import-ming-ui-functions"
    ],
    [
      "import",
      {
        "libraryName": "ming-ui/antd-components",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "import-ming-ui-antd-components"
    ],
    [
      "import",
      {
        "libraryName": "ming-ui",
        "libraryDirectory": "components",
        "camel2DashComponentName": false
      },
      "import-ming-ui"
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css"
      },
      "import-antd"
    ]
  ],
  "env": {
    "development": {
      "plugins": ["babel-plugin-dynamic-import-node"],
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "chrome": "58"
            }
          }
        ],
        "@babel/preset-react"
      ]
    },
    "production": {
      "plugins": ["@babel/plugin-syntax-dynamic-import"],
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "chrome": "58"
            }
          }
        ],
        "@babel/preset-react"
      ]
    }
  }
}
