# ignore macOS DS_Store files
.DS_Store
#ignore thumbnails created by windows
Thumbs.db

*.orig
*.BASE
*.LOCAL
*.REMOTE
*~HEAD
*.less.js
/build
node_modules
node_modules/*
**/node_modules/*
.happypack/
.cache-loader/

**/.vscode/**
*.vscode

# Use yarn
package-lock.json

.scannerwork
*.llog
