@import '../../others//index.less';

//密钥dialog
.keyBox {
  display: flex;
  flex-direction: column;
  .keyLabel {
    color: #212121;
    font-size: 13px;
    line-height: 29px;
  }
}
.subLabel {
  color: #757575;
  font-size: 13px;
  line-height: 29px;
  display: flex;
  align-items: center;
}
.updateTitle {
  color: #333333;
  font-weight: 600;
}

//导出dialog
.exportBox {
  color: #333333;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  .ant-checkbox-group{
    display: flex;
    flex-direction: column;
    .ant-checkbox-group-item {
      margin-top: 8px;
    }
    .ant-checkbox {
      input {
        display: none;
      }
    }
  }
  .exportLine {
    width: 100%;
    height: 1px;
    background-color: #EAEAEA;
    margin: 20px 0;
  }
  .exportData {
    width: 203px;
    height: 36px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    box-sizing: border-box;
    color: #757575;
    font-size: 12px;
    margin-top: 10px;
    letter-spacing: 1px;
    cursor: pointer;
  }
}

//通告
.announceBox {
  padding: 0 40px;
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
  .toolItem {
    width: 100%;
    padding: 23px 0;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    &:nth-child(3) {
      border-bottom: none;
    }
    .toolItemLabel {
      width: 155px;
      font-size: 13px;
      color: #333333;
    }
    .toolItemRight {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      #txtNotice {
        width: 50%;
      }
      .mesDescribe {
        display: flex;
        align-items: center;
        font-size: 13px;
        .color_g {
          color: #757575;
        }
      }
      .ming.Checkbox {
        margin-top: 10px;
        display: flex;
        align-items: center;
        color: #333333;
        font-size: 13px;
      }
    }
  }
  .saveBtn {
    padding-left: 155px;
    button {
      width: 90px;
      height: 36px;
      border-radius: 18px;
    }
  }
}