.warpDatePicker li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.warpDatePicker {
  text-align: center;
  width: 244px;
  background: #fff;
  border: 1px solid #cdcdcd;
  color: #333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: none;
  -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
}

.warpDatePickerPosition {
  position: absolute;
  left: 0;
  top: 0;
}

.warpDatePicker .warpYearAndMonth {
  border-bottom: 1px solid #cdcdcd;
  text-align: center;
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  position: relative;
}

.warpDatePicker .LeftSelect,
.warpDatePicker .RightSelect {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: absolute;
  top: 15px;
  cursor: pointer;
  font-size: 14px;
  color: #aaa;
}
.warpDatePicker .LeftSelect {
  left: 10px;
}
.warpDatePicker .RightSelect {
  right: 10px;
}

.warpDatePicker .LeftSelect i,
.warpDatePicker .RightSelect i {
  display: inline-block;
  vertical-align: top;
  margin-top: -1px;
}
.warpDatePicker .LeftSelect:hover,
.warpDatePicker .RightSelect:hover {
  color: #0091ea;
}

.warpDatePicker .warpWeek {
  width: 224px;
  margin: 0 auto;
  padding-top: 5px;
  color: #bcbcbc;
  font-family: 'Microsoft YaHei';
}
.warpDatePicker .warpDay {
  margin: 0 auto;
}
.warpDatePicker .warpWeek + .warpDay {
  height: 174px;
}
.warpDatePicker ul {
  clear: both;
  width: 224px;
  margin: 0 auto;
}
.warpDatePicker li.weekItem {
  float: left;
  width: 21px;
  height: 21px;
  line-height: 21px;
  margin: 2px 5px;
  overflow: hidden;
}
.warpDatePicker li.dayItem {
  float: left;
  width: 21px;
  height: 21px;
  line-height: 21px;
  margin: 4px 5px;
  cursor: pointer;
  border-radius: 50px;
  border-width: 1px;
  border-style: solid;
  position: relative;
  box-sizing: border-box;
}
.warpDatePicker li.dayItemNone {
  float: left;
  width: 21px;
  height: 21px;
  line-height: 21px;
  margin: 4px 5px;
  border-radius: 50px;
}
.warpDatePicker li.dayItem:not(.currSelect) {
  background-color: #fff !important;
}
.warpDatePicker li.dayItem:not(:hover):not(.currSelect):not(.toDay) {
  color: #333 !important;
}
.warpDatePicker li.dayItem:not(.toDay) {
  border-width: 0;
}
.warpDatePicker li.dayItem:hover:not(.currSelect) {
  background-color: #dadada !important;
}
.warpDatePicker li.currSelect {
  background-color: #1e88e5;
  color: #fff !important;
}

.warpDatePicker .overdue {
  color: #dadada;
}
.warpDatePicker li.overdue:hover {
  border: 0;
  width: 21px;
  height: 21px;
  line-height: 21px;
  cursor: default;
}

.warpDatePickerOperator {
  width: 205px;
  margin: 14px auto;
  margin-top: 9px;
  font-family: 'Microsoft YaHei';
  color: #999;
  font-size: 12px;
  text-align: left;
  clear: both;
  text-align: center;
  position: relative;
  height: 16px;
  line-height: 16px;
}
.warpDatePickerToday,
.warpDatePickerTomorrow,
.warpDatePickerClear {
  cursor: pointer;
}
.warpDatePickerOperator > span:hover {
  color: #333;
}
.warpDatePickerOperator > span:first-child {
  float: left;
}
.warpDatePickerOperator > span:last-child {
  float: right;
}
