html:not(.appHomeMobile) .hap-message {
  top: 54px;
}

.pcToast.hap-message-notice {
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
  padding: 10px 20px 10px 18px;
  word-break: break-word;
}
