.sheetWorkflowWrapper {
  .workflowCard {
    font-size: 13px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 1px 2px 0px #0000000f;
    transition: box-shadow 0.2s;
    background: #ffffff;
    position: relative;
    overflow: hidden;
    &:hover {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    }

    .branchNodeLine {
      width: auto;
      height: 1px;
      margin: 10px -20px 0;
      background-color: #f1f1f1;
    }
    .branchWrap {
      margin: 0 -20px;
      padding: 15px 20px;
      &.hover:hover {
        background-color: #fafafa;
      }
      &:last-child {
        margin-bottom: -20px;
        padding-bottom: 20px;
      }
    }
    .branchWrapLine {
      width: 100%;
      height: 1px;
      background-color: #ebeaea;
    }
    .itemWrapper {
      > div:last-child {
        margin-bottom: 0 !important;
      }
    }
    .myAvatar,
    .hideAvatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      justify-content: center;
    }
    .myAvatar {
      color: #fff;
      background-color: #1677ff;
    }
    .hideAvatar {
      color: #757575;
      background-color: #f5f5f5;
    }
    .approveState {
      position: absolute;
      right: -5px;
      bottom: -3px;
      padding: 1px;
      border-radius: 50%;
      &.pass {
        background-color: #4caf50;
      }
      &.overrule {
        background-color: #f44336;
      }
      .icon {
        color: #fff;
      }
    }
    .flowNodeName {
      padding: 4px 10px;
      border-radius: 4px;
      background-color: rgba(33, 150, 243, 0.13);
    }
    .label {
      width: 65px;
    }
    .flexWrap {
      flex-wrap: wrap;
    }
    .state {
      color: #fff;
      padding: 1px 11px;
      border-radius: 25px;
      background-color: #ebebeb;
    }
  }
  .withoutData {
    justify-content: center;
    .icon {
      color: #e0e0e0;
      font-size: 80px;
    }
  }
}

.sheetWorkflowDrawer {
  .ant-drawer-content-wrapper {
    box-shadow: none !important;
  }
  .ant-drawer-content {
    background-color: #f8f8f8;
  }
  .ant-drawer-body {
    height: 100%;
    padding: 0;
  }
  .justifyContentEnd {
    justify-content: flex-end;
  }
  .viewExecDialog {
    color: #1677ff;
    &:hover {
      color: #1e88e5;
    }
  }
  .workflowStep {
    padding: 0 28px 0 20px;
  }
  .workflowStep .stepContentWrap {
    background-color: #fff;
  }
  .workflowStepFooter {
    height: 80px;
    padding: 0 20px;
    border-top: 1px solid #eaeaea;
    background-color: #fff;
  }
  .icon-arrow-left-border:hover {
    color: #1677ff !important;
  }
}

.sheetWorkflowWrapper,
.sheetWorkflowDrawer {
  .branchNode {
    color: #fff;
    background-color: #0097ef;
    border-radius: 20px;
    width: max-content;
    padding: 2px 7px;
    font-size: 12px;
    font-weight: bold;
  }
}
