.marketModalContainer {
  .ant-modal-body {
    padding: 0;
  }
  .ant-modal-body {
    border-radius: 12px;
  }
  .ant-modal-close-x {
    width: 44px;
    line-height: 36px;
  }
  .ant-modal-content {
    background-color: transparent;
  }
  .ant-modal-confirm-content {
    margin-top: 0;
  }
  .ant-modal-confirm-btns {
    display: none;
  }
  .contentWrap {
    text-align: center;
    overflow: hidden;
    img {
      width: 100%;
      border-radius: 8px;
    }
  }
}

.marketNotificationContainer {
  padding: 0;
  .ant-notification-notice-icon-info,
  .ant-notification-notice-message {
    display: none;
  }
  .ant-notification-notice-close {
    top: 6px;
    right: 12px;
  }
  .contentWrap {
    text-align: center;
    overflow: hidden;
    img {
      width: 100%;
      border-radius: 8px;
    }
  }
}
