/**
* ui FormContainer
* prefix: .dossier-user-formcontainer
*/
.dossier-user-formcontainer {
  width: 800px;
  margin: 20px auto;
  padding: 16px 24px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 3px 12px 0 rgba(0, 0, 0, 0.05);

  & > .dossier-user-formgroup:first-child {
    & > .dossier-user-formgroup-name {
      margin-top: 0;
    }
  }
}
