.worksheetLogDrawer {
  .ant-drawer-body {
    padding: 0;
  }
  .sheetWrap {
    width: 240px;
    .searchWrap {
      height: 50px;
      padding: 10px 0px 0;
      margin: 0 16px;
      border-bottom: 1px solid var(--color-border-secondary);
    }
    input {
      height: 36px;
      border: none;
      padding: 0 1px;
    }
    .worksheetList {
      overflow-x: hidden;
      overflow-y: auto;
    }
    .sheetItem {
      height: 36px;
      line-height: 36px;
      padding: 0 16px;
      &:hover {
        background-color: var(--color-background-hover);
      }
      &.isActive {
        background-color: var(--color-primary-transparent);
        color: var(--color-primary);
        svg {
          fill: var(--color-primary);
        }
      }
    }
  }
  .logWrap {
    border-left: 1px solid var(--color-border-tertiary);
    .header {
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid var(--color-border-tertiary);
    }
    .logContent {
      background: var(--color-background-secondary);
      padding-right: 2px;
      padding-bottom: 16px;
      box-sizing: border-box;
    }
    .logBox {
      padding-left: 16px;
      box-sizing: border-box;
    }
    .logItem {
      padding-left: 20px;
      padding-right: 25px;
      box-sizing: border-box;
      position: relative;
      margin-top: 20px;
      color: var(--color-text-tertiary);
      .logTime {
        margin-top: 5px;
        display: inline-block;
        span {
          width: auto;
        }
      }
      .Icon {
        position: absolute;
        left: 0;
        top: 3px;
        vertical-align: middle;
        line-height: 16px;
      }
      span {
        font-size: 13px;
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        word-break: break-word;
        word-wrap: break-word;
      }
    }
  }
}
