.recBox .inputControl {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 12px;
  padding: 6px 10px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
}

.recBox .applyMsg {
  min-height: 100px;
  resize: none;
}

.recBox .inputControl:not(:focus) {
  border-color: #ccc !important;
}

.recBox .tip {
  font-size: 13px;
  color: #999;
  margin-bottom: 16px;
}
