.publishErrorDialog {
  .reasonList {
    margin-top: -2px;
  }
  .mui-dialog-body {
    padding-bottom: 13px!important;
  }
  li {
    padding: 4px 0;
  }
  .errorItem {
    .detail {
      color: #757575;
      margin-left: 8px;
      font-size: 14px;
    }
    .warn {
      .icon {
        color: #ffa340;
      }
    }
    .icon {
      color: #f44336;
    }
  }
}
