.appLicenseWrap {
  font-weight: initial;
  .licenseStatus {
    padding: 5px 10px;
    border-radius: 4px;
    background: var(--color-background-secondary);
    &.valid {
      color: var(--color-success);
      background: var(--color-success-bg);
    }
  }
  .renewal {
    color: var(--color-primary);
    text-align: center;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: var(--color-primary-transparent);
  }
}

.licensePopup {
  z-index: 999;
}
