.selectIconWrap {
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.24);
  z-index: 9;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.24);
  .ant-tabs-tab {
    font-size: 13px;
    margin: 0 0 0 12px;
    padding: 6px 0;
    &.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #464646 !important;
      font-weight: bold;
    }
  }
  .ant-tabs-nav {
    margin-bottom: 0;
    &::before {
      border: none;
    }
  }
  .ant-tabs-content-holder {
    margin-top: 6px;
  }
  .inputWrap {
    input {
      box-sizing: border-box;
      width: 100%;
      height: 36px;
      padding: 11px 8px;
      line-height: 14px;
      background: #F7F7F7;
      outline: none;
      border-radius: 4px;
      font-size: 14px;
      border: none;
    }
  }
  .ThemeColor:hover {
    color: #4163a2;
  }
  .pickColorTitle {
    margin-top: 20px;
    padding: 0 12px;
  }
  .navigationColor {
    .colorItem {
      width: 32px;
      height: 32px;
      border-radius: 4px;
      margin-right: 11px;
      border: 1px solid #E5E5E5;
    }
  }
  .colorsWrap {
    display: flex;
    padding: 12px 12px 16px 0;
    flex-wrap: wrap;
    width: 230px;
    &:nth-child(4) {
      padding: 12px 12px 28px 0;
    }
    li {
      position: relative;
      width: 24px;
      height: 24px;
      margin: 0 12px 12px 0;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      &:not(.isCurrentColor):hover {
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
      & > .icon {
        color: #fff;
      }
    }
  }
  .iconsScrollViewWrap {
    height: 258px;
  }
  .systemIcon,
  .customIcon {
    .title {
      padding-left: 16px;
      margin: 6px 0;
    }
    .iconType {
      margin-bottom: 0;
      margin-top: 22px;
      color: #bdbdbd;
      font-size: 12px;
    }
  }
  .systemIcon .title.withColorList {
    margin-top: 0;
  }
  .iconsWrap {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 3px;
    li {
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      &:not(.isCurrentIcon):hover {
        background-color: #f5f5f5 !important;
      }
      & > .icon {
        font-size: 24px;
        line-height: 36px;
      }
      svg {
        margin-top: 6px;
      }
    }
  }
  .clearBtn {
    position: absolute;
    right: 78px;
    top: 6px;
  }
  footer {
    margin-top: 16px;
    padding: 0 12px;
    display: flex;
    justify-content: flex-end;
    .cancel {
      margin-right: 12px;
      background-color: #fff;
      color: #9e9e9e;
      &:hover {
        background-color: #fff;
      }
    }
  }
  .iconTypeList {
    display: flex;
    position: relative;
    padding-top: 8px;
    .preButton {
      position: absolute;
      top: 8px;
      left: -24px;
      transform: rotate(180deg);
    }
    .nextButton, .preButton {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      text-align: center;
      &:hover {
        background: #F5F5F5;
      }
      i {
        vertical-align: text-top;
      }
    }
    .iconTypeCon {
      flex: 1;
      overflow: hidden;
      ul {
        transition: transform 0.3s;
      }
    }
    .iconTypeAnchor {
      .ant-anchor {
        display: flex;
        padding: 0;
      }
      .ant-anchor-ink {
        display: none;
      }
      .ant-anchor-link {
        font-size: 12px;
        line-height: 24px;
        padding: 0 10px;
        border-radius: 11px;
        a {
          color: #757575;
        }
        &:hover {
          background-color: #E3F3FF;
          a {
            color: #2196F3;
          }
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
    ul {
      height: 24px;
      width: max-content;
      li {
        display: inline-block;
        font-size: 12px;
        line-height: 24px;
        padding: 0 10px;
        border-radius: 11px;
        color: #666;
        cursor: pointer;
        &:hover {
          background: #F5F5F5;
        }
      }
      li.current {
        color: #2196F3 !important;
        background: #E3F3FF !important;
        font-weight: bold;
      }

    }
  }
  .noColorColumn {
    >div:first-child {
      display: none !important;
    }
    >div:nth-child(2) {
      width: '100%' !important;
      .ant-tabs-tab {
        margin-left: 0;
        margin-right: 12px;
      }
    }
  }
  .iconTabs {
    .navCon {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }
    .contentCon {
      min-height: 282px;
    }
    .navTab {
      height: 30px;
      line-height: 30px;
      margin-right: 15px;
      display: inline-block;
      &.active {
        font-weight: 600;
        border-bottom: 3px solid #2196F3;
      }
      &:hover {
        cursor: pointer;
        color: #40a9ff;
      }
    }
    .switchCon {
      .ming.Switch--on.hasText .dot {
        left: calc(100% - 20px);
      }
      .ming.Switch--off .txt {
        margin-right: 10px;
      }
      .ming.Switch--on .txt {
        margin-right: 20px;
      }
      .hasText {
        width: auto;
        .txt {
          width: auto;
        }
      }
    }
  }
}
