.ignoreErrorMessage {
  background: #f8932c;
  .customFormErrorArrow {
    border-color: transparent transparent transparent #f8932c;
  }
}

.mobileConfirmContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .errorItem {
    display: flex;
    align-items: center;
  }
}

.newRuleErrorMsgDialog {
  width: 98% !important;
  max-width: 510px;
  .mui-dialog-header {
    height: inherit;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    .mui-dialog-default-title {
      margin-bottom: 16px;
    }
    .mui-dialog-desc {
      padding-top: 0px !important;
      overflow-x: hidden;
    }
  }
  .errorItem {
    display: flex;
    align-items: center;
    margin-top: 6px;
  }
}
