.emptyCon {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .iconBox {
    width: 130px;
    height: 130px;
    display: inline-block;
    border-radius: 50%;
    //box-shadow: 0 0 8px rgba(0,0,0,.1);
    background: url('~src/pages/worksheet/assets/record.png') no-repeat;
    background-size: 130px 130px;
    background-color: #f5f5f5;
  }
}
