.captchaInput {
  height: 36px;
  width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 0 12px;
  outline: none;
  box-sizing: border-box;
}

.captchaImg {
  width: 320px;
  height: 130px;
  margin-top: 10px;
}
