.filePreviewHeader.previewHeader {
  z-index: 1;
  font-size: 14px;
  height: 54px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #000;
  transition: transform 0.4s;
  &.isMobile {
    height: 108px;
    flex-wrap: wrap;
    &.disabledWpsPreview {
      height: 54px !important;
    }
    .justifyContentCenter {
      flex: 100%;
      padding: 0 10px;
    }
  }
  > .flexRow {
    height: 54px;
  }
  .btns {
    justify-content: flex-end;
  }
  .editName {
    line-height: 54px;
    padding: 0 11px;
    &:hover {
      color: #fff;
      .editBtn {
        color: #fff;
      }
    }
    .content {
      margin: 0 5px;
      font-weight: bold;
      .fileName {
        display: inline-block;
        max-width: 200px;
      }
    }
    .editBtn {
      margin-left: 10px;
      line-height: 54px;
    }
    input {
      border: none;
      background-color: rgba(97, 97, 97, 0.7);
      font-size: 14px;
      color: #fff;
      height: 34px;
      padding: 0 5px;
      margin-top: 10px;
      border-radius: 2px;
      width: 420px;
    }
  }
  .ctrlDownlload {
    padding-right: 0 !important;
    margin-right: -5px;
    .tipCon {
      display: inline;
    }
  }
  .historyPanel {
    .newVersionFile {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      &:hover ~ span {
        color: rgb(255, 255, 255);
      }
    }
    .mingPopup {
      // padding: 5px;
      color: #151515;
      .MdLoader {
        margin: 10px auto;
      }
    }
  }
  .setWPSPreview {
    height: 36px;
    white-space: nowrap;
    padding: 0 17px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #424242;
    cursor: pointer;
    border-radius: 18px 18px 18px 18px;
    color: #fff;
    margin-top: 9px;
    position: relative;
    &.centerStyle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      bottom: 0;
      margin-left: 0 !important;
    }
    &:hover::after {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.05);
    }
    &.usingWPS {
      background: transparent;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.08);
      }
    }
    &.editFileBtn {
      background-color: #4caf50;
      padding: 0 16px;
      &:hover {
        background-color: #48a64d;
      }
    }
  }
  .versionListCon {
    padding: 8px 20px;
  }
  .versionList {
    overflow: hidden;
    color: #999;
    font-size: 12px;
    user-select: text;
    .versionItem {
      line-height: 40px;
      border-top: 1px dashed #ccc;
      margin-top: -1px;
      display: flex;
      &.active {
        color: #06c;
      }
      .name {
        display: inline-block;
        width: 80px;
      }
      .updater {
        display: inline-block;
        width: 50px;
      }
      .createTime {
        flex: 1;
      }
      .updateTime {
        display: inline-block;
        width: 120px;
      }
      .historyBtn {
        float: right;
        margin-left: 3px;
        margin-right: 3px;
        width: 14px;
        height: 40px;
        i {
          font-size: 14px;
          cursor: pointer;
          color: #7cafe2;
        }
      }
    }
  }
  .split {
    width: 1px;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px 10px;
  }
  .historyVersion,
  .more,
  .historyPanel,
  .saveTo,
  .delete,
  .close,
  .ctrlDownlload,
  .openNewPage,
  .shareNode,
  .refreshNode {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 54px;
    padding: 0 11px;
    i {
      font-size: 21px;
      vertical-align: middle;
      line-height: inherit;
    }
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
  .normal {
    line-height: normal;
  }
  .officeEdit {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 6px 15px;
    margin: auto 0;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
    span {
      font-size: 13px;
    }
  }
  .download,
  .uploadNewVersion {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto 5px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    i {
      font-size: 20px;
    }
    &.disable {
      color: rgb(255, 255, 255);
      background-color: rgba(244, 67, 54, 0.68);
    }
  }
  .download:hover {
    color: rgb(255, 255, 255);
  }
  .more {
    .deletePopup {
      padding: 10px;
      font-size: 13px;
      line-height: 1.3em;
      .btnGroup {
        text-align: right;
        margin: 0;
        button {
          vertical-align: middle;
        }
      }
    }
  }
  .historyPanel,
  .saveTo,
  .more {
    position: relative;
    font-size: 14px;
    i {
      vertical-align: middle;
    }
    .selectOptions {
      z-index: 1;
      width: 120px;
      margin-top: -10px;
    }
  }
  .more .selectOptions {
    width: auto;
  }
  .close {
    padding: 0 17px;
    &:hover {
      background-color: rgba(221, 44, 0, 0.4);
    }
  }
}
@media screen and (max-width: 500px) {
  &.previewHeader {
    .saveTo,
    .shareNode,
    .more,
    .historyPanel {
      display: none !important;
    }
    .fileName {
      max-width: 100px !important;
    }
  }
}
