{{ var module = 'SelectAllGroup'; }}
<div class="viewTo {{= module}}">
    <span class="{{= module}}-selectGroup updaterFor Hand">
    <span
      class="ThemeColor3 {{= module}}-selectedGroup"
    >
      {{= _l('选择分享范围')}}
    </span>
    </span>
    <div class="{{= module}}-groupListDiv single Hidden {{= module + '-groupListDiv-' + it.position }}" style="width: {{= it.menuWidth}}px;">
        <div class="groupListCon" style="max-height: {{= it.maxHeight}}px">
            <ul>
                <li class="projectItem" data-projectId ="{{= it.projectId}}">
                    {{? it.showCompanyName}}
                    <div class="projectTitleCon">
                        <label class="Hand  projectTitle open">
                            <span class="companyName">
                                {{! it.companyName}}
                            </span>
                        </label>
                    </div>
                    {{?}}
                    <ul class="groupList visible">
                        {{= LoadDiv()}}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
