.hierachyViewCard {
  width: 120px;
  height: 70px;
  border-radius: 6px;
  color: var(--color-text-tertiary);
  line-height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border: 1px solid var(--color-border-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  &.active,
  &:hover {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
}
