.hierachyViewCard {
  width: 120px;
  height: 70px;
  border-radius: 6px;
  color: #9e9e9e;
  line-height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  &.vertically {
    background-image: url('./img/vertically.png');
    &.active {
      background-image: url('./img/verticallyCur.png');
    }
  }
  &.mix {
    background-image: url('./img/mix.png');
    &.active {
      background-image: url('./img/mixCur.png');
    }
  }
  &.horizontal {
    background-image: url('./img/horizontal.png');
    &.active {
      background-image: url('./img/horizontalCur.png');
    }
  }
  &.tree {
    background-image: url('./img/tree.png');
    &.active {
      background-image: url('./img/treeCur.png');
    }
  }
  border: 1px solid #dddddd;
  &.active,
  &:hover {
    border: 1px solid #1677ff;
  }
}
