.formExtendWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .extensionWrap {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #ffffff;
    .sideNavBox {
      width: 300px;
      min-width: 300px;
      max-width: 300px;
      background: #f5f5f9;
      height: 100%;
      padding: 10px 0 0;
      .title {
        margin: 24px 14px 0;
        display: block;
      }
    }
  }

  .worksheetConfigHeader {
    position: relative;
  }

  .publicWorksheetConfigCon {
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .publicWorksheetEnablePanel {
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px;
    h1 {
      margin: 0;
      line-height: 1em;
      font-size: 17px;
      font-weight: bold;
    }
    .description {
      margin: 10px 0;
      line-height: 28px;
      font-size: 13px;
      color: #9e9e9e;
    }
    .status {
      vertical-align: text-top;
      margin-left: 8px;
      line-height: 24px;
    }
    .Button {
      font-weight: 500;
    }
  }

  .publicWorksheetConfigPanel {
    z-index: 2;
    width: 300px;
    box-shadow: 0px 4px 8px #00000029;
    background-color: #fff;

    .publishSwitch {
      margin-left: 12px;
      width: 35px;
      height: 18px;
      vertical-align: middle;

      .dot {
        width: 14px;
        height: 14px;
      }

      &.Switch--on {
        background-color: #4caf50;

        .dot {
          left: 18px;
        }
      }
    }

    .publicConfig {
      height: 100%;
      padding: 0 20px;

      .icon-refresh1 {
        &:hover {
          color: #1677ff !important;
        }
      }
    }
  }

  .publicWorksheetConfigForm {
    position: relative;
    overflow: auto;
    overflow-x: hidden;

    .customTitle {
      display: none;
    }

    .formContent {
      position: relative;
      overflow: hidden;
      width: 1100px;
      margin: 200px auto 50px;
      border-radius: 3px;
      padding: 0 2px;

      .formContentHeader {
        background: #fff;
        padding: 0 20px;
      }

      .icon-workflow_hide,
      .icon-visibility_off {
        display: none;
      }

      .addBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 32px 0 0 20px;
        width: 60px;
        height: 60px;
        border-radius: 4px;
        border: 2px dashed #e0e0e0;
        background: #fff;
        cursor: pointer;
        i {
          color: #bdbdbd;
          font-size: 40px;
        }
        &:hover {
          background: #f7f7f7;
        }
        &.isActive {
          background: #f7f7f7;
          border-color: #1677ff;
          i {
            color: #1677ff;
          }
        }
      }

      .sectionWrapper {
        padding: 6px;
        border: 1px solid transparent;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        &:hover {
          border-color: #72ccfd;
          .hideIcon {
            display: flex;
          }
        }
        .hideIcon {
          display: none;
          position: absolute;
          top: -15px;
          right: -14px;
          z-index: 10;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 28px;
          background: #ffffff;
          box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
          border-radius: 14px;
          cursor: pointer;
          i {
            color: #9e9e9e;
          }
          &:hover {
            i {
              color: #1677ff;
            }
          }
        }
      }

      .worksheetName {
        line-height: 1.2em;
        font-size: 36px;
        font-weight: 500 !important;
        margin: 20px 0 6px;

        input,
        textarea {
          font-weight: 500 !important;
        }
      }

      .worksheetDescription {
        margin: 10px 20px;

        .mdEditor {
          .mdEditorContent {
            max-height: 100%;

            img {
              max-width: 100%;
            }
          }
        }

        .customFormControlBox {
          line-height: 21px;
          box-sizing: border-box;
          font-size: 13px;
          border-radius: 4px;
          width: 100%;
          outline: none;
          -webkit-appearance: none;

          &.customFormEditor {
            padding: 0 12px;
            height: auto;
            background: #fff !important;
            border: 1px solid #1677ff !important;
          }
        }
      }
    }
  }

  .promptText {
    padding: 12px 10px;
    background: rgba(254, 249, 233, 1);
    color: #757575;
    line-height: 22px;
    font-weight: 700;
  }
}

.publicWorksheetForm.customWidgetForWorksheetWrap {
  position: relative;
  background: #fff;
  padding: 0 35px;

  #dragPreview {
    position: fixed !important;
  }

  .rowsWrap {
    box-shadow: none !important;
    border-radius: 0 0 3px 3px;
  }
  .tabItemWrap {
    box-shadow: none !important;
  }
  .tabHeaderContent {
    .switchStyleWrap {
      display: none;
    }
  }
}

.queryConfigControlsDropdown {
  .Dropdown--input {
    padding: 2px 10px !important;
    height: auto !important;
    min-height: 36px;
  }
}

#publicConfig_extendInput::placeholder {
  color: #bdbdbd;
}

.rotate {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.publicConfigSettingDrawer {
  .ant-drawer-header {
    background: #f8f8f8;
    border-bottom: 0;
    padding: 24px 24px 16px;
    .ant-drawer-header-title {
      flex-direction: row-reverse;
      .ant-drawer-close {
        padding: 0;
        margin-top: -24px;
        margin-right: -12px;
      }
    }
  }
  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    .headerTab {
      background: #f8f8f8;
      > div {
        padding: 0 24px !important;
      }
    }
    .settingContent {
      padding: 0 24px 22px;
      flex: 1;
      overflow: auto;

      .customFormControlBox {
        line-height: 21px;
        box-sizing: border-box;
        font-size: 13px;
        border-radius: 4px;
        width: 100%;
        outline: none;
        -webkit-appearance: none;
        min-height: 90px;
        max-height: 700px;
        border: 1px solid #ddd;
        padding: 0 12px;

        &.customFormEditor {
          height: auto;
          background: #fff !important;
          border: 1px solid #1677ff !important;
          min-height: 250px;
          max-height: 700px;
        }

        .mdEditorContent {
          img {
            max-width: 100%;
          }
        }
      }
      .codeContent {
        display: flex;
        align-items: center;
        margin: 10px 0px 0 44px;
        .Dropdown {
          width: 240px;
          &.deleteCode {
            .Dropdown--border {
              border-color: #f44336;
              background-color: #fff2f4;
            }
          }
        }
      }

      .commonMargin {
        margin: 16px 0px 0 44px;

        .monthDropdown {
          width: 320px;
          .Dropdown--input {
            height: 32px;
          }
        }
        .mRight4 {
          margin-right: 4px;
        }
        .limitInput {
          width: 80px;
          height: 32px;
          margin-left: 8px;
          margin-right: 8px;
        }
        .effectiveTimeDropdown {
          width: 180px;
          margin-left: 5px;
          .Dropdown--border {
            height: 32px;
          }
          .ming.Menu {
            min-width: 100%;
            width: unset;
          }
        }
      }
      .passwordInput {
        width: 380px;
        font-size: 13px;
        border-color: #ddd;
      }
      .ant-picker {
        width: 380px;
        height: 36px;
        border-radius: 4px !important;
        border-color: #ddd;
        box-shadow: none;
        &:hover,
        &.ant-picker-focused {
          border-color: #1677ff;
        }
      }
      .Width380 {
        width: 380px;
      }
      .ming.Radio {
        margin-right: 32px;
      }
      .btnPositionSwitch {
        display: flex;
        background: #f5f5f5;
        border-radius: 5px;
        padding: 4px;
        .positionItem {
          width: 45px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          cursor: pointer;
          &.isActive {
            background: #fff;
            color: #1677ff;
            font-weight: bold;
          }
        }
      }
    }
    .footer {
      min-height: 66px;
      justify-content: flex-end;
      padding: 10px 24px 20px;
      text-align: left;
    }
  }
}

.customFieldDropdown {
  width: 380px;
  .ming.Menu {
    width: 320px;
    padding: 12px 0;

    .customFieldSearch {
      &.ming.MenuItem {
        .Item-content {
          &:hover {
            color: #151515 !important;
            background: #fff !important;
          }
        }
        .itemText {
          border-bottom: 1px solid #ddd;
        }
      }
      .searchInput {
        width: 100%;
        background: #fff;
        border-radius: 0;
        padding: 0;
      }
    }
  }
}

.mappingSection {
  margin-top: 20px;
  .fieldText {
    width: 100%;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    background: #f4f4f4;
    padding: 0 12px;
    font-weight: 500;
    border-radius: 4px;
  }
}
