.radioBlockGroup {
  .item {
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin-right: 13px;
    font-size: 13px;
    padding: 0 10px;
    background-color: #f5f5f5;
    border-radius: 24px;
    cursor: pointer;
    &.ThemeBGColor3 {
      color: #fff;
    }
  }
}
