.AppNavStyleWrap {
  line-height: normal;

  .navImg {
    color: var(--color-text-disabled);
    margin-bottom: 10px;
    background-size: cover !important;
    transition: box-shadow 0.3s;
    border-radius: 6px;
    &.pcNaviStyle {
      width: 90px;
      height: 60px;
    }
    &.appNaviStyle {
      width: 63px;
      height: 70px;
    }
    &:hover,
    &.activeNav {
      color: var(--color-primary);
    }
  }
  .iconWrap {
    margin-right: 48px;
  }
  .activeIcon {
    color: var(--color-white);
    position: absolute;
    right: -8px;
    top: -6px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
    background-color: var(--color-primary);
  }
}
