.workHandoverDialog {
  .mui-dialog-body {
    padding: 0 !important;
    overflow: hidden !important;
  }
  .tabBox {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border-secondary);
    .tabItem {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 600;
      border-bottom: 2px solid transparent;
      margin-right: 4px;
      cursor: pointer;
      padding: 10px;
      &:first-child {
        margin-left: 20px;
      }
      &.active {
        color: var(--color-primary);
        border-bottom-color: var(--color-primary);
      }
    }
  }
  .description {
    background: var(--color-primary-transparent);
    border-radius: 3px;
    padding: 8px 16px;
    margin: 16px 20px 10px;
  }
  .apps {
    width: 260px;
    border-right: 1px solid var(--color-border-secondary);
    padding: 10px 20px;
    overflow: auto;
  }
  .handoverList {
    padding: 10px 20px;
    overflow: auto;
    .checkItem {
      &:hover {
        background: var(--color-background-primary) !important;
      }
    }
  }
  .checkItem {
    height: 36px;
    border-radius: 3px;
    padding-left: 12px;
    &:hover {
      background: var(--color-background-hover);
    }
    &.activeApp {
      background: var(--color-primary-transparent);
    }
    .appIconWrap {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      text-align: center;
    }
    &.checkAll {
      &:hover {
        background: var(--color-background-primary);
      }
    }
  }
  .role {
    height: 36px;
  }
  .footer {
    height: 60px;
    text-align: right;
    padding: 12px 24px;
    box-shadow: 0px -2px 6px 1px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 6px 6px;
    .removeAppMember {
      height: 36px;
      line-height: 36px;
      border-radius: 3px;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      padding: 0 32px;
      background-color: var(--color-background-primary);
      &:hover {
        color: var(--color-link-hover);
        border: 1px solid var(--color-link-hover);
        background-color: var(--color-background-primary);
      }
    }
  }
  .flex2 {
    flex: 2;
  }
}
