.workHandoverDialog {
  .tabBox {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border-secondary);
    .tabItem {
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 600;
      border-bottom: 2px solid transparent;
      margin-right: 4px;
      cursor: pointer;
      padding: 10px;
      &.active {
        color: var(--color-primary);
        border-bottom-color: var(--color-primary);
      }
    }
  }
  .workHandoverRefresh {
    display: inline-flex;
    &:hover {
      color: var(--color-primary) !important;
    }
  }
  .tabBox .workHandoverRefresh {
    justify-content: flex-end;
  }
  .description {
    background: var(--color-primary-transparent);
    border-radius: 3px;
    padding: 8px 16px;
    margin: 16px 0 10px;
  }
  .apps {
    width: 260px;
    border-right: 1px solid var(--color-border-secondary);
    padding: 10px 20px 10px 0px;
    overflow: auto;
  }
  .handoverList {
    padding: 10px 20px;
    overflow: auto;
    .checkItem {
      &:hover {
        background: var(--color-background-primary) !important;
      }
    }
  }
  .checkItem {
    height: 36px;
    border-radius: 3px;
    padding-left: 12px;
    &:hover {
      background: var(--color-background-hover);
    }
    &.activeApp {
      background: var(--color-primary-transparent);
    }
    .appIconWrap {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      text-align: center;
    }
    &.checkAll {
      &:hover {
        background: var(--color-background-primary);
      }
    }
  }
  .role {
    height: 36px;
  }
  .flex2 {
    flex: 2;
  }
}
