.mentionsAutocompleteList {
  border-radius: 5px;
  overflow: auto;
  max-width: 380px;
  max-height: 460px;
  box-shadow: var(--shadow-lg);
  padding: 4px 0;
  background-color: var(--color-background-card);

  .mentionItem {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 10px;
    margin: 0;
    width: auto;
    overflow: hidden;
    cursor: pointer;
    list-style: none;
    white-space: nowrap;
    position: relative;
    box-sizing: initial;
    height: 50px;
    background-color: var(--color-background-primary);
    .fullname b {
      background: #ff9;
      font-weight: 400;
    }
    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
    .addressBookSelect {
      color: var(--color-white);
      background-color: var(--color-success);
    }
    &.chatItem {
      height: 42px;
    }
    &.categoryItem {
      height: 32px;
    }
    &.active,
    &:hover {
      background-color: var(--color-background-hover);
    }
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--color-border-secondary);
  }
  .mentionNoData {
    margin: 70px 0;
    .icon-invite {
      font-size: 65px;
    }
  }
}
