/**
* ui Form
* prefix: .dossier-user-form
*/
.dossier-user-form {
  margin: 16px 0;
  padding: 0 16px;
  position: relative;

  & > .dossier-user-form-editbutton {
    position: absolute;
    top: 16px;
    right: 12px;
    display: none;
  }

  &:hover > .dossier-user-form-editbutton {
    display: inline-block;
  }

  .mui-formitem .mui-textinput:disabled {
    border-color: #ccc;
    background-color: #f5f5f5;
  }
}
