.addLinkFileDialog {
  .titleCon {
    .icon {
      color: var(--color-text-disabled);

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  .HeaderImgCon {
    text-align: center;

    img {
      width: 85px;
    }
  }
  .linkItem {
    display: flex;
    align-items: center;
    color: var(--color-text-tertiary);
    font-size: 14px;
    gap: 24px;
    .itemLabel {
      text-align: right;
      width: 70px;
    }
    .itemContent {
      flex: 1;
    }
  }
  .addLinkInput {
    color: var(--color-text-title);
  }
}
