.globalSearchDateFilter {
  padding: 4px;
  cursor: pointer;
  &:hover {
    background: var(--color-background-hover);
  }
}
.globalSearch-data-filter-select {
  padding: 4px 0;
  width: 180px;
  background: var(--color-background-primary);
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  .selectItem {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: var(--color-text-title);
    padding: 0 16px;
    &:hover {
      background: var(--color-background-hover);
    }
  }
  .selectItem.active {
    color: var(--color-primary);
    background: var(--color-primary-transparent);
  }
}
