.btnSettingSelectDialog.mui-dialog-container {
  z-index: 1060;
}

.customPageBtnSortModalWrap {
  z-index: 1052;
  .ant-modal-header {
    border: none;
  }
  .ant-modal-content {
    border-radius: 3px;
  }
  .ant-modal-body {
    padding: 0 0 24px 0;
  }
}
