#dialogContact .red{color:red}
/*mdDialog*/
#dialogContact .dialogCloseBtn:before {
  content: "X";
}
.linktitle{ height:60px; background-color:#F3F3F3; border: 3px solid #D4E0EE;color:#1e88e5; line-height:60px; font-size:20px; padding-left:20px; word-spacing:5px; letter-spacing:3px;}
.linkcontent{padding-bottom:20px; }
.linkcontent tr{color:#666666; font-size:12px;}
.linkcontent tr td{padding-bottom:10px;}
.linkcontent input.textInput{ width:230px; height:22px;border: 1px solid #ddd; padding-left:5px;border-radius: 2px;}
.linkcontent .txtMobile{
    box-sizing: border-box;
    height: 28px!important;
    width: 237px!important;
}
.linkcontent textarea{
    padding-left: 5px;
    border: 1px solid #ddd;
    width: 228px;
    border-radius: 2px;
    height: 60px;}
.linkcontent .linkButton {
    font-weight: normal;
    text-align: center;
    background-color: #1e88e5;
    cursor: pointer;
    color: White;
    border: 0px;
    width: 100px;
    height: 30px;
    font-size: 14px;
    margin-top: 10px;
}

.linkcontent .contactMe{
    float: left;
    margin-top: 3px;
    margin-right: 5px;
}


/*手机号插件*/
.linkcontent .intl-tel-input .country-list{
    z-index:25
}
