.buySuccess {
  margin: 10px auto;
  width: 800px;
  margin-top: 80px;
}
.okIcon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  line-height: 45px;
  display: inline-block;
  color: #fff;
  background: #39c028;
}
.goMDBtn {
  width: 250px;
  height: 38px;
  line-height: 38px;
}
.orderListTitle {
  width: 100px;
}
