html.AppUser {
  /* 企业名片 */
  .businessCard-wrapper {
    margin-top: 15px;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.15);
  }
  .businessCard-wrapper .cardsList {
    overflow: hidden;
  }
  .enterprise-businessCard {
    padding: 18px 20px 0;
    background-color: #fff;
  }
  .mainUserProfile h3,
  .mainUserProfile p,
  .mainUserProfile h5 {
    margin: 0;
    padding: 0;
  }
  .mainUserProfile ol,
  .mainUserProfile li,
  .mainUserProfile ul {
    list-style: none;
  }

  .moreListCard {
    width: 150px;
    z-index: 2;
    max-height: 200px;
    overflow-y: auto;
  }
  .mainUserProfile {
    width: 1000px;
    max-width: 1000px;
    height: auto;
    margin: 0px auto;
    font-size: 14px;
    color: #151515;
  }
  .mainUserProfile .main_Left {
    width: 740px;
  }
  .main_Right {
    float: right;
    width: 236px;
  }
  .main_Right .mrItem {
    margin-bottom: 14px;
    border-radius: 3px;
    border: 1px solid white;
  }
  .main_Right .mrItem .topLine {
    height: 2px;
    overflow: hidden;
  }
  .main_Right .mrItem .mrItemTitle {
    line-height: 15px;
  }
  .infoBox {
    width: 580px;
  }
  .userInfoBox .infoList .infoContact {
    width: 50%;
    box-sizing: border-box;
  }
  .prograssBar {
    width: 0;
    height: 6px;
    margin-bottom: 1px;
    display: block;
    max-width: 100%;
  }
  .tabCardTitle .tabCardTitleLi {
    width: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
    border-bottom: 2px solid white;
  }
  .cardsList li > span {
    display: block;
  }
  /* 任务信息 */
  .taskList ul > li {
    border-bottom: 1px dashed #efefef;
    width: 100%;
  }
  .mainUserProfile .textNowrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .taskList ul > li a.disable {
    text-decoration: line-through !important;
    color: #cac8bb !important;
  }

  /* 徽章信息 */

  .bagedBox .badgeCount {
    left: 21px;
    bottom: 8px;
    z-index: 1;
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
  .bagedBox li {
    width: 40px;
  }

  /* 日程 */

  .calandarTitle ul {
    z-index: 1;
  }
  .serverDayList li {
    width: 18px;
    margin: 0 5px;
    border-bottom: 2px solid #fff;
  }
  .serverDayList li div {
    border: 1px solid white;
    width: 14px;
    margin: 2px auto 0px auto;
  }
  .calandarDetals {
    border-top: 1px solid #efefef;
  }
  .calandarList li {
    border-bottom: 1px solid #efefef;
    height: 20px;
  }
  .calandarList li .calTime {
    border-right: 1px solid #efefef;
  }
  .calandarList li .calTitle {
    width: 150px;
  }

  /* 常用话题 */

  .labelDiv ul li {
    border-bottom: 1px dashed #efefef;
  }
  .infoContact .TxtMaxW {
    max-width: 200px;
  }
  .noticeContainer {
    padding: 150px 0px;
    text-align: center;
  }
  .noticeContainer .icon-error1 {
    color: rgb(255, 145, 0);
  }
}
