.workflowProcessVariables {
  .processConfigInput {
    padding: 5px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    &:focus {
      border-color: #1677ff;
    }
    &::-webkit-input-placeholder {
      color: #bdbdbd;
    }
    &:-moz-placeholder {
      color: #bdbdbd;
    }
    &::-moz-placeholder {
      color: #bdbdbd;
    }
    &:-ms-input-placeholder {
      color: #bdbdbd;
    }
  }
  .processConfigDel {
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      color: #f44336 !important;
    }
  }
  .processConfigAdd {
    border: 1px solid #ddd;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    padding: 0 20px;
    background: #f5f5f5;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      border-color: #1677ff;
    }
  }
}
