.workflowProcessVariables {
  max-width: 800px;
  .processConfigInput {
    padding: 5px 12px;
    border-radius: 4px;
    border: 1px solid var(--color-border-tertiary);
    height: 36px;
    line-height: 36px;
    font-size: 13px;
    &:focus {
      border-color: var(--color-primary);
    }
    &::-webkit-input-placeholder {
      color: var(--color-text-disabled);
    }
    &:-moz-placeholder {
      color: var(--color-text-disabled);
    }
    &::-moz-placeholder {
      color: var(--color-text-disabled);
    }
    &:-ms-input-placeholder {
      color: var(--color-text-disabled);
    }
  }
  .processConfigDel {
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      color: var(--color-error) !important;
    }
  }
  .processConfigAdd {
    border: 1px solid var(--color-border-primary);
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
    padding: 0 20px;
    background: var(--color-background-secondary);
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      border-color: var(--color-primary);
    }
  }
}
