.projectSelect {
  display: inline-block;
  position: relative;
  .tip {
    color: #9e9e9e;
    margin: 00 10px;
  }
  .selectedLabel {
    line-height: 34px;
    height: 34px;
    .text {
      display: inline-block;
    }
    .icon {
      margin-left: 10px;
    }
  }
}
