.GSelect-department {
  @import './arrow.less';
  padding-left: 10px;
  &-box {
    padding: 10px 0;
    flex: 1;
    overflow: hidden;
  }
  &__name {
    flex: 1;
    &--hightlight {
      color: var(--color-primary);
    }
  }
  &__count {
    color: var(--color-text-tertiary);
    &--hightlight {
      color: var(--color-primary);
    }
    width: 100px;
  }
  &-row {
    padding-left: 5px;
    &:hover {
      background-color: var(--color-background-hover);
    }
    &.focused {
      background-color: var(--color-background-secondary);
    }
  }
  .ming.Radio {
    margin-right: 0;
  }
}
