.mingPopupMask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
}
.mingPopup {
  position: absolute;
  margin-top: -5px;
  width: 364px;
  background-color: #fff;
  z-index: 1000;
  border: 1px solid #dadada !important;
  border-radius: 3px !important;
  background: #fff !important;
  box-shadow: 0 0 15px rgba(99, 99, 99, 0.5) !important;
  .arrow {
    content: '';
    display: block;
    position: absolute;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    top: -16px;
    left: 47px;
  }
}
