.adminStructureBox {
  box-sizing: border-box;
  height: 100%;
  padding: 16px;
  .adminStructureContent {
    background: #fff;
    border-radius: 4px;
    height: 100%;
    min-width: 750px;
    position: relative;
    .adminStructure {
      width: 280px;
      border-right: 1px solid #eaeaea;
      .headerInfo {
        height: 48px;
        line-height: 57px;
        padding: 0 18px 0 24px;
        box-sizing: border-box;
      }
      .structureNavigator {
        z-index: 3;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 11px 0px 19px 0;
        box-sizing: border-box;
        height: calc(~'100% - 48px');
        .searchContainer {
          box-sizing: border-box;
          background: #f5f5f5;
          border-radius: 15px;
          margin: 0 24px;

          .btnSearch {
            font-size: 20px;

            position: absolute;

            margin: 7px 14px;
          }

          .searchInput {
            line-height: 30px;

            width: 155px;
            height: 30px;
            padding-left: 38px;

            border: none;
            outline: none;
            background: transparent;
          }

          .searchResult {
            background: #fff;
            position: absolute;
            z-index: 1;
            top: 33px;
            width: 270px;
            min-height: 500px;
            max-height: 90%;
            border-radius: 3px;
            box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.15);
            overflow: auto;
            background: #fff;

            .userItem,
            .deptItem {
              padding: 5px 10px;
              cursor: pointer;

              &:hover {
                background: #e4e4e4;
              }
            }

            .deptItem {
              display: flex;
              flex-wrap: nowrap;

              > span {
                &:not(:first-child) {
                  position: relative;
                  padding-left: 10px;
                }

                &:not(:first-child):before {
                  content: ' - ';
                  position: absolute;
                  left: 2px;
                }

                flex: 0 1 auto;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .title {
              padding: 5px 10px;
              color: #757575;
              margin-top: 10px;
            }

            .deptItem {
              line-height: 28px;
            }

            .userItem {
              .noWrap {
                white-space: nowrap;
              }

              .avatar {
                float: left;
                border-radius: 50%;
                width: 32px;
                height: 32px;
              }

              .name,
              .job {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .job {
                // color: #bdbdbd;
              }
            }
          }
        }
        .searchContainer:hover {
          background-color: #ebebeb;
        }

        .labelContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        .nodeLabel {
          flex: 1 1 0%;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .typeLabBox {
          border-bottom: 1px solid #eaeaea;
          padding-top: 20px;
          margin: 0 24px;

          li {
            display: inline-block;
            padding-bottom: 10px;
            border-bottom: 2px solid #fff;
            cursor: pointer;

            &.current,
            &:hover {
              border-bottom: 2px solid #2196f3;
              color: #2196f3;
            }
          }
        }
      }
    }
    .structureContent {
      display: flex;
      flex-direction: column;
      width: calc(~'100% - 320px');
      padding-top: 14px;
      .departmentTitle {
        height: 44px;
        font-weight: 500;
        padding: 0px 24px 16px 24px;
        .departmentNameValue {
          display: inline-block;
          max-width: 500px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          vertical-align: middle;
        }
        .noDepartment {
          padding: 2px 8px 2px 8px;
          border-radius: 6px;
          .Checkbox-box {
            transform: scale(0.7);
            vertical-align: top;
            margin-top: 2px;
            margin-right: 4px;
          }
        }
        .noDepartment.bgColorHover:hover {
          background-color: #f5f5f5;
        }
        .actionBox {
          float: right;
          font-weight: normal;

          .selectedAccountAction {
            color: #2196f3;
          }
        }
        .color_9e {
          color: #9e9e9e;
        }
      }
      .actList {
        padding-left: 24px;
        padding-bottom: 10px;
        .actBtn {
          height: 28px;
          line-height: 26px;
          border: 1px solid #d8d8d8;
          border-radius: 3px;
          padding: 0 16px;
          margin-right: 8px;
          cursor: pointer;
          &.disabledBtn {
            border: 1px solid #eaeaea;
            color: #9e9e9e;
          }
        }
        .actBtn:first-child,
        .actBtn:hover {
          color: #fff;
          background: #2196f3;
          border: 1px solid #2196f3;
        }
        .disabledBtn:hover {
          border: 1px solid #eaeaea;
          color: #9e9e9e;
          background-color: #fff;
          cursor: not-allowed;
        }
      }
      .listInfo {
        flex: 1;
        padding: 0 24px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        .laodingContainer {
          width: 100%;
          height: calc(~'100% - 50px');
          overflow: hidden;
        }
        .tableContent {
          flex: 1;
          height: calc(~'100% - 50px');
          overflow: hidden;
          .theadContainer {
            width: 100%;
            overflow: auto;
            margin-right: 10px;
            .usersTable {
              width: 100%;
              min-width: 100%;
              border-collapse: separate;
              table-layout: fixed;
              thead {
                th {
                  position: sticky;
                  top: 0; /* 第一列最上 */
                  font-weight: normal;
                  padding: 10px 0 12px;
                  text-align: left;
                  background-color: #fff;
                  border-bottom: 1px solid #eaeaea;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  font-size: 13px;
                  color: #757575;
                  box-sizing: border-box;
                  &.checkBox {
                    width: 32px;
                    min-width: 32px;
                    position: sticky;
                    background: #fff;
                    left: 0;
                    z-index: 2;
                    padding-right: 0;
                  }
                  &.nameTh {
                    position: sticky;
                    width: 200px;
                    min-width: 200px;
                    background: #fff;
                    left: 32px;
                    z-index: 2;
                    line-height: 32px;
                  }
                  &.jobTh,
                  &.departmentTh,
                  &.dateTh,
                  &.actMenTh,
                  &.mobileTh {
                    width: 160px;
                    min-width: 160px;
                    max-width: 160px;
                  }
                  &.statusTh,
                  &.workSiteTh,
                  &.jobNumberTh,
                  &.joinDateTh {
                    width: 120px;
                    min-width: 120px;
                    max-width: 120px;
                  }
                  &.emailTh {
                    width: 180px;
                    min-width: 180px;
                    max-width: 180px;
                  }
                  &.actTh {
                    width: 80px;
                    min-width: 80px;
                    position: sticky;
                    right: 0px;
                    z-index: 2;
                    background-color: #fff;
                    padding: 0 30px;
                  }
                }
                .fixedLeft {
                  border-right: 1px solid #eaeaea;
                }
                .fixedRight {
                  border-left: 1px solid #eaeaea;
                }
                .checkBox {
                  border-bottom: none;
                  // opacity: 1;
                  .Checkbox-box {
                    border: 1px solid #ddd;
                    margin-right: 0;
                    margin-top: -2px;
                  }
                  .multi-dropdown {
                    display: inline-block;
                    width: 0px;
                    margin-left: 0 !important;

                    .dropdown-btn {
                      vertical-align: top;
                      padding-left: 1px;

                      i.icon {
                        color: #757575;
                      }
                    }
                    .multi-dropdown-menu {
                      top: 100%;
                      bottom: auto;
                    }
                  }
                }

                .checkBoxHalf.checkBox {
                  .Checkbox-box {
                    background-color: #1e88e5 !important;
                    &::before {
                      content: '';
                      height: 2px;
                      background: #fff;
                      position: absolute;
                      top: 7px;
                      width: 8px;
                      left: 4px;
                    }
                  }
                }
                .showCheckBox.checkBox {
                  .Checkbox-box {
                    border: 1px solid #1e88e5;
                  }
                }
                .visibiliityIcon {
                  color: #9e9e9e;
                  &:hover {
                    color: #2196f3;
                  }
                }
              }
            }
          }
          .theadContainer::-webkit-scrollbar {
            width: 0 !important;
            height: 0 !important;
          }
          .theadContainer {
            -ms-overflow-style: none;
          }
          .theadContainer {
            overflow: -moz-scrollbars-none;
          }
          .tbodyContainer {
            width: 100%;
            height: calc(~'100% - 52px');
            overflow-y: auto;
            overflow-x: auto;
            .usersTable {
              width: 100%;
              table-layout: fixed;
              border-collapse: separate;
              tbody {
                tr {
                  height: 48px;
                  td {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding-right: 24px;
                    box-sizing: border-box;
                    &.checkBox {
                      width: 32px;
                      min-width: 32px;
                      position: sticky;
                      background: #fff;
                      left: 0;
                      z-index: 1;
                      padding-right: 0;
                    }
                    &.nameTh {
                      position: sticky;
                      width: 200px;
                      min-width: 200px;
                      background: #fff;
                      left: 32px;
                      z-index: 1;
                      a:hover {
                        text-decoration: none !important;
                      }
                      .avatar {
                        border-radius: 50%;
                        height: 32px;
                        vertical-align: middle;
                        width: 32px;
                      }
                    }
                    &.jobTh,
                    &.departmentTh,
                    &.dateTh,
                    &.actMenTh,
                    &.mobileTh {
                      width: 160px;
                      min-width: 160px;
                      max-width: 160px;
                    }
                    &.statusTh,
                    &.workSiteTh,
                    &.jobNumberTh,
                    &.joinDateTh {
                      width: 120px;
                      min-width: 120px;
                      max-width: 120px;
                    }
                    &.emailTh {
                      width: 180px;
                      min-width: 180px;
                      max-width: 180px;
                    }
                    &.actTh {
                      width: 80px;
                      min-width: 80px;
                      position: sticky;
                      right: 0;
                      z-index: 1;
                      background-color: #fff;
                      padding: 0 30px;
                    }
                  }
                  .fixedLeft {
                    border-right: 1px solid #eaeaea;
                  }
                  .fixedRight {
                    border-left: 1px solid #eaeaea;
                  }
                  .checkBox {
                    // border-bottom: none;
                    .Checkbox-box {
                      border: 1px solid #ddd;
                      margin-right: 0;
                      margin-top: -2px;
                    }

                    .multi-dropdown {
                      display: inline-block;
                      width: 0px;
                      margin-left: 0 !important;

                      .dropdown-btn {
                        vertical-align: top;
                        padding-left: 1px;

                        i.icon {
                          color: #757575;
                        }
                      }

                      .multi-dropdown-menu {
                        top: 100%;
                        bottom: auto;
                      }
                    }
                  }
                  .showCheckBox.checkBox {
                    .Checkbox-box {
                      border: 1px solid #1e88e5;
                    }
                  }
                  &:hover {
                    .checkBox {
                      opacity: 1;
                      .Checkbox-box {
                        border: 1px solid #ddd;
                      }
                    }
                    .showCheckBox.checkBox {
                      .Checkbox-box {
                        border: 1px solid #1e88e5;
                      }
                    }
                    .nameTh {
                      .name {
                        a {
                          color: #1e88e5 !important;
                        }
                      }
                    }
                    .mobileTh {
                      .Remind {
                        color: #1e88e5 !important;
                        cursor: pointer;
                      }
                    }
                  }
                }
                tr:hover {
                  td {
                    background-color: #f7f7f7;
                  }
                }
              }
            }
          }
        }
        .listPhContent {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 150px auto;
          > div {
            margin-top: -10%;
          }
          .nullState {
            width: 100px;
            height: 100px;
            background: #f5f5f5;
            color: #c2c3c3;
            font-size: 44px;
            line-height: 100px;
            text-align: center;
            border-radius: 50%;
          }
          p {
            line-height: 1.618;
          }
        }
      }
      .jobList {
        margin: 0 16px 18px 0;
        overflow: hidden;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 24px 0 0 24px;
        border-radius: 2px;
        background-color: #ffffff;

        .departmentTitle {
          padding-bottom: 14px;
          padding-left: 0px;
          font-weight: 500;
          height: 38px;
          box-sizing: border-box;

          .actionBox {
            float: right;
            font-weight: normal;

            .selectedAccountAction {
              color: #2196f3;
            }
          }
        }

        .noData {
          flex: 1;
          height: 300px;
          width: 300px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -150px 0 0 -150px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .nullState {
            width: 100px;
            height: 100px;
            background: #efefef;
            color: #e0e0e0;
            font-size: 44px;
            line-height: 93px;
            text-align: center;
            border-radius: 50%;
            margin: 0 auto;
          }
        }
        .fixedTable {
          width: 100%;
          table-layout: fixed;
        }
        .headerJob {
          padding: 0 18px;
        }

        .jobCon {
          display: flex;
          flex-direction: column;
          flex: 1 1 auto;
          overflow-x: hidden;

          .usersTable thead {
            border-bottom: none;
          }

          .checkBox {
            width: 32px;
            padding-left: 8px;
          }

          thead {
            &:hover {
              .checkBox {
                opacity: 1;
              }
            }

            .showCheckBox.checkBox,
            .hasSelectCount.checkBox {
              opacity: 1;
            }

            .Checkbox-box {
              transform: scale(0.8);
              margin-right: 0px;
              margin-top: -2px;
            }

            .checkBox {
              .multi-dropdown {
                display: inline-block;
                width: 0px;
                margin-left: 0 !important;

                .dropdown-btn {
                  vertical-align: top;
                  padding-left: 1px;

                  i.icon {
                    color: #757575;
                  }
                }

                .multi-dropdown-menu {
                  top: 100%;
                  bottom: auto;
                }
              }
            }
          }

          .usersTable th {
            font-weight: normal;
            padding: 10px 0 12px;
            text-align: left;
            border-bottom: 1px solid #eaeaea;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 13px;
            color: #757575;

            &.nameTh {
              box-sizing: border-box;
              width: 200px;
            }

            &:first-child {
              padding: 10px 0 12px;
            }
          }

          .usersTable th:last-child {
            text-align: center;
            width: 100px;
          }

          .userItem {
            &:hover,
            &.isChecked {
              > td {
                // background: #f7f7f7;

                &.nameTh {
                  .name a {
                    color: #2196f3 !important;
                  }
                }
              }
            }

            > td {
              height: 48px;
              vertical-align: middle;
              white-space: nowrap;
              text-overflow: ellipsis;
              max-width: 200px;
              overflow: hidden;

              &:first-child {
                padding: 0 0;
              }

              &:nth-child(2) {
                padding: 0 24px 0 0;
              }
            }

            &:hover {
              .checkBox {
                opacity: 1;
              }
            }

            .showCheckBox.checkBox,
            .hasSelectCount.checkBox {
              opacity: 1;
            }

            .Checkbox-box {
              transform: scale(0.8);
              margin-right: 0px;

              // &:hover {
              //   border-color: #2196f3;
              // }
            }

            .checkBox {
              // opacity: 0;
            }

            .avatar {
              width: 32px;
              height: 32px;

              vertical-align: middle;

              border-radius: 50%;
            }

            .name,
            .job,
            .workSite,
            .email {
              display: block;
              overflow: hidden;

              max-width: 100%;

              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .job {
              color: #bdbdbd;
            }
          }
          .userItem:hover {
            background-color: #f7f7f7;
          }
          .usersTable td {
            &.nameTh {
              // padding-left: 15px;
              box-sizing: border-box;
              width: 200px;
            }
          }

          .opList {
            position: absolute;
            z-index: 1;
            top: 46px;
            right: 15px;
            min-width: 126px;
            padding: 5px 0;

            border: 1px solid #e0e0e0;
            border-radius: 3px;
            background: #fff;
            box-shadow: 0 2px 6px 0 #e6e6e6, 2px 0 6px 0 #e6e6e6;

            .opItem {
              padding: 5px 10px;

              cursor: pointer;
              white-space: nowrap;

              &:hover {
                background-color: #f3f3f3;
              }
            }
          }
          .jobListContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            .jobListBody {
              overflow-y: auto;
            }
          }
          .pagination {
            display: flex;
            justify-content: center;
            padding: 12px;
            .ant-pagination {
              .ant-pagination-prev,
              .ant-pagination-next {
                height: unset;
                line-height: unset;
                a {
                  display: inline-block;
                  padding: 3px 8px;
                  border: 1px solid #ccc;
                  color: #666;
                  font-size: 12px;
                }
              }
              .ant-pagination-disabled a {
                color: #ccc;
                border: 1px solid #fff;
                font-size: 12px;
              }
              .ant-pagination-item {
                height: unset;
                line-height: unset;
                margin-right: 10px;
                min-width: 0;
                border: 1px solid #fff;
                a {
                  color: #666;
                  display: inline-block;
                  padding: 3px 8px;
                  text-align: center;
                  vertical-align: middle;
                  border: 1px solid #fff;
                  font-size: 12px;
                }
                a:hover {
                  border: 1px solid #ccc;
                  color: #666;
                }
              }
              .ant-pagination-item-active {
                // border: none;
                border: 1px solid #fff;
                color: #333;
                a {
                  // border: none;
                  border: 1px solid #fff;
                  text-decoration: underline;
                  color: #333;
                }
              }
              .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
              .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
                color: #666;
              }
              .ant-pagination-options {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .exportContainer {
    background: #fff;
    border-radius: 4px;
    height: 100%;
    min-width: 750px;
    position: relative;
    overflow: hidden;
    .exportHeader {
      height: 56px;
      line-height: 56px;
      font-weight: 600;
      font-size: 17px;
      padding-left: 24px;
      border-bottom: 1px solid #eaeaea;
      .icon {
        margin-right: 18px;
        cursor: pointer;
      }
    }
    .exportContent {
      height: calc(~'100% - 56px');
      padding-top: 34px;
      overflow-y: auto;
      .tabs {
        width: 260px;
        margin: 0 auto 34px;
        background: #f5f5f5;
        border-radius: 9px;
        display: flex;
        text-align: center;
        padding: 3px;
        .tabItem {
          width: 130px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          font-size: 14px;
          font-weight: 600;
          border-radius: 7px;
        }
        .activeTab {
          background: #fff;
          color: #2196f3;
        }
        .tabItem:hover {
          color: #2196f3;
          cursor: pointer;
        }
      }
      .Font46 {
        font-size: 46px !important;
      }
      .importInfo,
      .exportInfo {
        width: 640px;
        margin: 0 auto;
        .templateInfo {
          height: 56px;
          line-height: 56px;
          background: #ffffff;
          border: 1px solid #e3e3e3;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
          border-radius: 3px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 34px;
          padding: 0 24px;
          font-size: 17px;
          .importTemplate {
            font-weight: 400;
          }
          .downLoad {
            font-size: 16px;
            color: #2196f3;
            cursor: pointer;
            cursor: pointer;
          }
          .exportBtn {
            display: inline-block;
            width: 81px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            border: 1px solid #2196f3;
            border-radius: 32px;
            background-color: #fff;
            margin-top: 10px;
            color: #2196f3;
            cursor: pointer;
          }
          .exportBtn:hover {
            color: #fff;
            background-color: #2196f3;
          }
        }
      }
      .color_b {
        color: #333333;
      }
      .color_gr {
        color: #1bb954;
      }
      .color_g {
        color: #9e9e9e;
      }
      .color_d {
        color: #d9d9d9;
      }
      .color_dd {
        color: #757575;
      }
      .color_r {
        color: #f51744;
      }
      .color_blue {
        color: #2196f3;
      }
      .uploadBtn {
        width: 200px;
        height: 36px;
        border-radius: 32px;
        margin-top: 30px;
      }
      .hidden {
        display: none !important;
      }
      .uploadStep {
        width: 640px;
        margin: 0 auto;
        .importUploadModule {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 56px;
          padding: 0 25px;
          border: 1px solid rgba(227, 227, 227, 1);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
          border-radius: 3px;
          box-sizing: border-box;
          .importUploadText {
            display: flex;
            align-items: center;
            line-height: 37px;
          }
          .downloadBtn {
            display: inline-block;
            width: 81px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            border: 1px solid #2196f3;
            border-radius: 32px;
            background-color: #fff;
          }
          .downloadBtn:hover {
            color: #fff;
            background-color: #2196f3;
          }
        }
      }
      .importExcelBox {
        height: 280px;
        border: 3px dashed rgba(234, 234, 234, 1);
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon-task_custom_excel_01 {
          font-size: 50px;
        }
        .uploadBtnStyle {
          width: 108px;
          height: 36px;
          border: 1px solid #eaeaea;
          border-radius: 32px;
          background-color: #ffffff;
          color: #212121;
          &:hover {
            color: #49adfc !important;
            border-color: #49adfc !important;
          }
        }
      }
      .importBtnBorder {
        width: 193px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        background: #219dff;
        border-radius: 32px;
        color: #fff;
        margin-top: 44px;
        &:hover {
          border-color: #49adfc !important;
        }
      }
      .uploadUserResult {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 400px;
      }
    }
    .serialTitle {
      font-size: 14px;
      font-weight: 600;
      color: #333333;
      margin-bottom: 17px;
    }
  }
}

.dialogInputPassword {
  width: 480px;
  .mui-dialog-body {
    padding: 20px 24px 32px;
  }
  .mui-dialog-footer {
    > div {
      width: 97px;
      height: 36px;
      display: inline-block;
      border-radius: 18px;
      background: #2196f3;
      text-align: center;
      line-height: 36px;
      color: #fff;
    }
  }
}

.showColumnsBox {
  width: 300px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
  padding: 24px 24px 12px;
  border-radius: 3px;
  .statistics {
    margin-bottom: 24px;
    font-size: 17px;
    font-weight: 600;
    line-height: 26px;
  }
  ul {
    li {
      margin-bottom: 16px;
      font-size: 13px;
      line-height: 20px;
      .ming.Checkbox.Checkbox--disabled.checked {
        .Checkbox-box {
          background-color: #81bceb;
          border-color: #81bceb;
        }
      }
    }
  }
  .checkBoxHalf {
    .Checkbox-box {
      background-color: #1e88e5 !important;
      border: none !important;
      &::before {
        content: '';
        height: 2px;
        background: #fff;
        position: absolute;
        top: 7px;
        width: 8px;
        left: 5px;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 12px;
  .ant-pagination {
    .ant-pagination-prev,
    .ant-pagination-next {
      height: unset;
      line-height: unset;
      a {
        display: inline-block;
        padding: 3px 8px;
        border: 1px solid #ccc;
        color: #666;
        font-size: 12px;
      }
    }
    .ant-pagination-disabled a {
      color: #ccc;
      border: 1px solid #fff;
      font-size: 12px;
    }
    .ant-pagination-item {
      height: unset;
      line-height: unset;
      margin-right: 10px;
      min-width: 0;
      border: 1px solid #fff;
      a {
        color: #666;
        display: inline-block;
        padding: 3px 8px;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #fff;
        font-size: 12px;
      }
      a:hover {
        border: 1px solid #ccc;
        color: #666;
      }
    }
    .ant-pagination-item-active {
      // border: none;
      border: 1px solid #fff;
      color: #333;
      a {
        // border: none;
        border: 1px solid #fff;
        text-decoration: underline;
        color: #333;
      }
    }
    .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
    .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
      color: #666;
    }
    .ant-pagination-options {
      display: none;
    }
  }
}
