.SheetMove {
  .mui-dialog-body {
    overflow: hidden;
  }
  .empty .value {
    color: var(--color-text-tertiary);
  }

  .target {
    padding: 3px 8px;
    margin: 0 5px;
    border-radius: 4px;
    background: var(--color-border-secondary);
  }
  .groupingWrap {
    border: 1px solid var(--color-border-tertiary);
    border-radius: 4px;
    padding: 10px;
    height: 400px;
    .searchWrap {
      padding: 0 5px;
      border-bottom: 1px solid var(--color-border-secondary);
      input {
        border: none;
      }
    }
    .groupingItem {
      height: 33px;
      padding: 0 10px 0 8px;
      &.active {
        color: var(--color-primary);
        background-color: var(--color-primary-transparent);
        .ellipsis {
          font-weight: 600;
        }
      }
    }
  }
}
