.filterItemSortableHelper {
  z-index: 9999;
  &.gridItem {
    float: left;
    width: 200px;
    height: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    .innerGridItem {
      width: 100%;
      height: 100%;
      background: #fff;
      border: 1px solid #efefef;
    }
    .active {
      border-color: #1677ff;
    }
  }
}
