<div class="selectUserBox Fixed" style="z-index: {{= it.zIndex }}">
    {{? it.tabType === 3}}
    <div class="tabBox flexRow">
        <div class="tabItem flex" tabindex="0">{{= it.routineTab}}</div>
        <div class="tabItem flex" tabindex="1">{{= it.externalTab}}</div>
    </div>
    {{?}}
    <div>
        <div class="contactSearchBox flexRow">
            <span class="Font20 mLeft5 icon icon-search Gray_9e"></span>
            <input type="text" class="searchInput" placeholder="{{=it.placeHolder}}" />
            {{? !it.isRangeData}}
            <span class="contact-icon ThemeColor3 tip-top" data-tip="{{=it.tip.contact}}">
                <span class="icon-personalDataCommunication"></span>
            </span>
            {{?}}
        </div>
        <div class="listWrapper">
            <div class="cooperationList">{{= it.loadingContent}}</div>
            <div class="searchResultList Hidden">{{= it.loadingContent}}</div>
        </div>
        {{? it.showQuickInvite }}
        <div class="inviteBox">
            <span class="ThemeColor3 inviteName overflow_ellipsis">{{= it.tip.invite}}</span>
            {{?it.hasQRcode}}
            <span class="icon-zendeskHelp-qrcode qrcode"></span>
            {{?}}
        </div>
        {{?}}
    </div>
</div>
