.invoiceStatusLandPage {
  width: 100%;
  height: 100%;
  background-color: var(--color-background-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  .cardWrap {
    width: 480px;
    background-color: var(--color-background-primary);
    border-radius: 3px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .invoiceStatusFooterBtns {
    padding: 40px 0 0;
  }
  @media (max-width: 600px) {
    background-color: var(--color-background-primary);
  }
}

.invoiceStatusFooterBtns {
  display: flex;
  align-items: center;
  gap: 8px;
  .cancelBtn {
    background: var(--color-background-primary) !important;
    border: 1px solid var(--color-border-secondary);
    color: var(--color-text-secondary);
    &:hover {
      color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }
}

.invoiceStatusDialog {
  .mui-dialog-header {
    padding: 24px 24px 22px !important;
  }
  .mui-dialog-desc {
    padding-top: 8px !important;
    color: var(--color-text-tertiary) !important;
  }
  .mui-dialog-body {
    padding: 0 24px 16px !important;
  }
  .mui-dialog-footer .invoiceStatusFooterBtns {
    gap: 0;
    justify-content: end;
  }
}

.mobileModal .invoiceStatusFooterBtns {
  padding: 24px 15px;
  .cancelBtn {
    border-color: var(--color-border-secondary) !important;
    color: var(--color-text-secondary) !important;
  }
  button {
    flex: 1;
  }
}
