.invoiceStatusLandPage {
  width: 100%;
  height: 100%;
  background-color: var(--color-background-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  .cardWrap {
    width: 480px;
    background-color: var(--color-background-primary);
    border-radius: 3px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .invoiceStatusFooterBtns {
    padding: 40px 0 0;
  }
  @media (max-width: 600px) {
    background-color: var(--color-background-primary);
  }
}

.invoiceStatusFooterBtns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.invoiceStatusDialog {
  .hap-modal-footer .invoiceStatusFooterBtns {
    gap: 0;
    justify-content: end;
  }
}

.mobileModal .invoiceStatusFooterBtns {
  padding: 24px 15px;
  button {
    flex: 1;
  }
}
