.addEditUserInfoWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-flow: column nowrap;
  width: 580px;
  .cover {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 580px;
    z-index: -1;
  }
}

.headerInfo {
  display: flex;
  padding: 9px 14px 0px 24px;
  line-height: 36px;
  padding-top: 5px;
  .close {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    margin-top: 10px;
    &:hover {
      background: var(--color-background-hover);
    }
  }
}

.formInfoWrap {
  padding: 10px 24px 0;
  overflow: auto;
  .formGroup {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    &.isAllJobs {
      padding: 12px;
      border-radius: 4px;
      background: var(--color-background-secondary);
    }
  }
  .formLabel {
    margin-bottom: 6px;
  }
  .formControl {
    width: 100%;
  }
  .status {
    width: 66px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    padding: 0 12px;
    color: var(--color-white);
    text-align: center;
    &.check {
      background-color: var(--color-primary);
    }
    &.refuse {
      background-color: #f00;
    }
  }
  .selectUser {
    color: var(--color-text-tertiary);
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
  }
  .userLabel {
    background-color: var(--color-border-secondary);
    border-radius: 20px;
    display: inline-block;
    line-height: 32px;
    padding: 0 7px;
    img {
      border-radius: 50%;
      height: 28px;
      margin-right: 5px;
      vertical-align: middle;
      width: 28px;
    }
  }
  .ant-radio-wrapper {
    margin-right: 66px;
  }
  .itemSpan {
    display: inline-flex;
    align-items: center;
    padding: 0 13px 0 0;
    line-height: 26px;
    border-radius: 18px;
    background: var(--color-background-secondary) 0% 0% no-repeat padding-box;
    // border: 1px solid var(--color-border-primary);
    &:hover {
      background: var(--color-background-hover);
    }
    .departmentIcon {
      width: 26px;
      height: 26px;
      min-width: 26px;
      display: inline-block;
      text-align: center;
      line-height: 26px;
      background: var(--color-primary);
      border-radius: 50%;
      color: var(--color-white);
    }
    &.disabled {
      background: var(--color-background-secondary);
    }
  }
}

.moreActionTrigger {
  ul {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--color-background-primary) 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #0000003d;
    border-radius: 3px;
    width: 180px;
    display: block;
    padding: 5px 0;
    z-index: 1;
    li {
      width: 100%;
      line-height: 30px;
      padding: 0 10px;
      box-sizing: border-box;
      &:hover {
        background: var(--color-background-secondary);
        cursor: pointer;
      }
    }
  }
}
