.mui-range-star {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #9e9e9e;
  cursor: pointer;
  &.checked {
    color: #fed156;
  }
  &.disabled {
    cursor: default;
  }
}
