.globalVarWrapper {
  height: 100%;
  background-color: var(--color-background-primary);
  display: flex;
  overflow: hidden;

  .globalVarLeft {
    width: 240px;
    border-right: 1px solid var(--color-border-secondary);
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    .leftTitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      padding-left: 24px;
      padding-right: 20px;

      .helpContent {
        display: flex;
        align-items: center;
        color: var(--color-text-secondary);
        cursor: pointer;

        &:hover {
          color: var(--color-primary);
        }
      }
    }
    .searchCon {
      width: auto;
      background: var(--color-background-primary);
      border-radius: 0;
      box-sizing: content-box;
      padding: 10px;
      border-top: 1px solid var(--color-border-secondary);
      margin: 12px 20px 0px 20px;
    }
    .listItem {
      height: 36px;
      line-height: 36px;
      padding-left: 30px;
      margin: 0 8px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon-business {
        color: var(--color-text-tertiary);
        font-size: 16px;
        margin-right: 8px;
      }
      .appIcon {
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 2px;
        margin-right: 8px;
        svg {
          margin: 2px;
        }
      }
      &:hover {
        background: rgba(0, 0, 0, 0.04);
      }
      &.isActive {
        background: rgba(33, 150, 243, 0.11);
        color: var(--color-primary) !important;
        font-weight: 600;
        .icon-business {
          color: var(--color-primary) !important;
        }
      }
    }
  }
  .globalVarRight {
    flex: 1;
    padding: 24px 32px;
    .rightHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .varSearch {
        width: 240px;
        border-radius: 3px;
        input {
          width: 100%;
        }
      }
      .addBtn {
        height: 30px;
        min-width: 104px;
        line-height: 30px;
        padding: 0 16px;
        background: var(--color-primary);
        border-radius: 44px;
        color: var(--color-white);
        text-align: center;
        cursor: pointer;
        .icon-add {
          font-size: 16px;
          margin-right: 4px;
        }
        span {
          font-weight: 600;
        }
        &:hover {
          color: var(--color-white);
          background: var(--color-link-hover);
        }

        &.needUpgrade {
          background: var(--color-border-secondary);
          color: var(--color-text-title);
          &:hover {
            background: var(--color-border-primary);
          }
        }
      }
    }
  }
}
