.invoiceDialog {
  .mui-dialog-header {
    padding-inline: 32px !important;
  }
  .mui-dialog-body {
    padding: 0 !important;
  }
  .InvoiceFormContainer {
    padding-inline: 24px;
  }
}

.invoicePopup {
  .adm-popup-body {
    overflow: auto !important;
    max-height: calc(100% - 30px);
  }
}

.landPageWrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  .cancelBtn {
    background: #fff !important;
    border: 1px solid #e0e0e0;
    color: #757575;
    margin-right: 8px;
    &:hover {
      color: #1677ff;
      border-color: #1677ff;
    }
  }
}
