.customErNode {
  background: var(--color-background-primary);
  border-radius: 4px;
  color: var(--color-text-title);
  height: 100%;
  padding: 6px 0;
  border: 1px solid var(--color-border-primary);
  &:hover {
    box-shadow: 0px 3px 12px 1px rgba(0, 0, 0, 0.12);
    .editIconBox {
      display: inline-block !important;
    }
  }
  &.searchCurrent {
    border: 2px solid var(--color-primary);
  }
  .splitLint {
    height: 1px;
    background: var(--color-border-primary);
    border: none;
    margin: 2px 12px 6px 12px;
  }
  .nodeTitle {
    padding: 0 12px;
    justify-content: space-between;
    height: 36px;
    > span:nth-child(1) {
      width: 100px;
    }
    .editIconBox {
      width: 36px;
      display: none;
      text-align: center;
      line-height: 36px;
      margin-right: -8px;
      .editIcon {
        display: inline-block;
      }
    }
  }
  .nodeControlItem {
    padding: 0 16px;
    .icon {
      vertical-align: text-bottom;
      margin-right: 6px;
    }
  }
  .icon {
    width: 14px;
    height: 14px;
    fill: var(--color-text-tertiary);
    color: var(--color-text-tertiary);
  }
  .count {
    padding: 0 16px;
  }
}
