.cancelUserExtendInfo {
  .ming.Button--primary {
    background: var(--color-error);
  }
  .ant-modal-body {
    font-size: 16px;
    color: var(--color-error);
    .modalText {
      margin-bottom: 0;
    }
  }
}
