
.applyCon {
  .toBeBtn {
    font-size: 13px;
    padding: 3px 13px;
    color: #fff;
    border: 1px solid #2196F3;
    border-radius: 24px;
    background-color: #2196F3;
  }
  .rejectBtn {
    color: #F5685E;
    border-color: #F5685E;
    background-color: #fff;
  }
  .applyInfo {
    white-space: pre-wrap;
    word-break: break-word;
  }
}
