
.memberListWrapper {
  background-color: #f5f5f9;
}

.memberListCon {
  .isLoadingCon {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .1);
  }

  .addUserButton {
    font-size: 16px;
    padding: 0 20px;
    border-radius: 24px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
  }

  .ListSection {
    .listCon {
      min-height: 50px !important;
      .ownerTag {
        background: #1e88e5;
        color: #fff;
        line-height: 18px;
        display: inline-block;
        padding: 0 6px;
        border-radius: 10px;
        font-size: 12px;
        margin-left: 15px;
      }
    }
  }

  .addUser {
    color: #2196F3;
  }
}
