.payConfigWrap .configContent {
  .filterView {
    padding-right: 5px !important;
    .icon-arrow-down-border {
      font-size: 13px !important;
      color: var(--color-text-tertiary) !important;
    }
  }
}

.merchantList {
  .hap-select-item-option-disabled {
    color: var(--color-text-disabled) !important;
  }
  .disabledTag {
    background: var(--color-background-secondary);
    color: var(--color-text-disabled);
  }
}

.merchantDropDown.hap-select-dropdown {
  .hap-select-item-option-selected:not(.hap-select-item-option-disabled),
  .hap-select-item-option-disabled.hap-select-item-option-selected {
    background-color: var(--color-background-primary) !important;
  }
  .hap-select-item-option-active:not(.hap-select-item-option-disabled) {
    background-color: var(--color-cyan-blue) !important;
  }
  .hap-select-item-option-state {
    margin-left: 10px;
  }
  .hap-select-item-option-disabled.hap-select-item-option-selected {
    .hap-select-item-option-state {
      display: none !important;
    }
  }
}
