.AppTaskTemplate #containerWrapper {
  height: 100%!important;
}

.customTemplate {
  position: relative;
  z-index: 10;
  height: 100%;
  .customTemplateHeadBox {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  .customTemplateHead {
    width: 100%;
    padding: 0 48px;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    position: relative;
    .goback {
      font-size: 20px;
      width: 20px;
      display: inline-block;
      i:not(:hover) {
        color: #333 !important;
      }
    }
    .customColor:not(:hover),
    .customColor:not(.ThemeColor3) {
      color: #9e9e9e !important;
    }
    .customTemplateHeadBtn {
      position: absolute;
      right: 48px;
      top: 1px;
      span {
        margin-left: 10px;
      }
      span.ThemeBorderColor3 {
        padding: 0 15px;
        border-radius: 3px;
        height: 29px;
        line-height: 29px;
        display: inline-block;
        border-style: solid;
        border-width: 1px;
      }
      span:first-child {
        margin-right: 20px;
      }
      span:last-child {
        color: #fff !important;
      }
      span:not(:last-child) {
        background: #fff !important;
      }
    }
  }
  .customTemplateBar {
    border: none;
    .customTemplateTabs {
      li {
        padding: 0 5px;
        display: inline-block;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        transition: border-color 0.3s ease-in-out;
        line-height: 50px;
        height: 47px;
        margin: 0 15px;
        &:not(.ThemeColor3) {
          color: #757575 !important;
        }
      }
    }
    .customTemplateName {
      border-style: solid;
      border-width: 1px;
      box-sizing: border-box;
      padding: 0 8px;
      width: 270px;
      height: 32px;
      line-height: 32px;
      border-radius: 3px;
      color: #333;
      margin-top: 9px;
      vertical-align: top;
      &:not(:hover):not(:focus) {
        border-color: #ccc !important;
      }
    }
    .customTemplateName::-webkit-input-placeholder {
      color: #9e9e9e;
    }
    .customTemplateName::-moz-placeholder {
      color: #9e9e9e;
    }
    .customTemplateName:-ms-input-placeholder {
      color: #9e9e9e;
    }
  }
  .customTemplateStage {
    position: fixed;
    top: 121px;
    left: 48px;
    right: 48px;
    bottom: 0;
    white-space: nowrap;
    overflow: auto;
    .customTemplateList {
      display: inline-block;
      width: 300px;
      border: 1px solid #ccc;
      padding: 0 8px 19px;
      box-sizing: border-box;
      background: #eef0f4;
      margin-right: 10px;
    }
    .templateStageHead {
      position: relative;
      height: 51px;
      line-height: 51px;
      width: 100%;
      padding: 0 4px 0 9px;
      box-sizing: border-box;
      .overflow_ellipsis {
        max-width: 240px;
      }
      > i {
        position: absolute;
        right: 4px;
        top: 18px;
        &:not(:hover) {
          color: #9ca2aa !important;
        }
      }
    }
    .customTemplateItem {
      li {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 3px;
        width: 100%;
        margin-bottom: 5px;
        padding: 14px 10px;
        box-sizing: border-box;
        position: relative;
      }
      .customTemplateItemLine1,
      .customTemplateItemLine2 {
        width: 156px;
        height: 10px;
        font-size: 0;
        background: #e2e5ea;
        display: block;
      }
      .customTemplateItemLine2 {
        width: 100px;
        margin-top: 12px;
      }
      .customTemplateItemAvatar {
        position: absolute;
        right: 14px;
        top: 17px;
        font-size: 26px;
        color: #ccc;
      }
    }
    .templateStageOperator {
      position: absolute;
      right: 0;
      top: 35px;
      background: #fff;
      z-index: 10;
      padding: 6px 0;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13);
      li {
        height: 32px;
        line-height: 32px;
        padding: 0 45px 0 18px;
        cursor: pointer;
        &:not(:hover) {
          background: #fff !important;
        }
        &:hover {
          color: #fff;
        }
      }
    }
    .templateStageEdit {
      height: 32px;
      line-height: 32px;
      width: 100%;
      border-width: 1px;
      border-style: solid;
      box-sizing: border-box;
      padding: 5px 8px;
      margin: 9px 0 10px;
    }
  }
  .customTemplateListAdd {
    @-webkit-keyframes taskStageAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes taskStageAnimation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @-webkit-keyframes txtAddNew {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }
    @keyframes txtAddNew {
      0% {
        width: 0;
      }
      100% {
        width: 100%;
      }
    }

    padding-bottom: 60px !important;
    -webkit-animation: taskStageAnimation 0.3s ease-in-out both;
    animation: taskStageAnimation 0.3s ease-in-out both;
    .templateStageEdit {
      -webkit-animation: txtAddNew 0.3s ease-in-out both;
      animation: txtAddNew 0.3s ease-in-out both;
    }
  }
  .customTemplateInline {
    display: inline-block;
    vertical-align: top;
  }
  .addNewStage {
    width: 300px;
    height: 52px;
    line-height: 52px;
    border-radius: 3px;
    background: rgba(77, 77, 77, 0.5);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    &:not(.Hidden) {
      display: inline-block;
    }
    i {
      width: 32px;
      height: 32px;
      line-height: 32px;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      margin: 10px 10px 0 10px;
      background: transparent;
      border-radius: 3px;
    }
    &:hover {
      background: rgba(77, 77, 77, 0.75);
      i {
        color: #9e9e9e;
        background: #fff;
      }
    }
  }
  .customTemplateListBlank {
    vertical-align: top;
    display: inline-block;
    width: 300px;
    border-radius: 3px;
    background: #e0e0e0;
    margin-right: 10px;
  }

  .customWidget {
    .customHead {
      display: none;
    }
    .customWidgetContainer {
      padding-top: 120px;
    }
  }
}

#stageDragPreview {
  position: fixed;
  cursor: grabbing;
  pointer-events: none;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  & > * {
    pointer-events: none;
  }
  .customTemplateList {
    margin-right: 0 !important;
  }
}
