.startConditionWrap {
  position: absolute;
  right: 0;
  width: 400px;
  z-index: 100;
  padding-bottom: 24px;
  .conditionWrapContent {
    box-shadow: var(--shadow-lg);
    background-color: var(--color-background-card);
    border-radius: 3px;
    overflow: hidden;
  }
  .conditionWrap {
    .conditionScrollWrap {
      max-height: 480px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .conditionDetail {
      padding: 0 16px;
      align-items: center;
      height: 36px;
      cursor: pointer;
      color: var(--color-text-title);
    }
    .conditionFieldBox {
      height: 0;
      display: none;
      overflow: hidden;
      background-color: var(--color-background-secondary);
      transition: all 20s ease-in-out;
      &.show {
        display: block;
        height: 100%;
      }
      .divider {
        background: var(--color-border-primary);
        height: 1px;
        margin-top: 3px;
      }
      li {
        align-items: center;
        height: 36px;
        padding: 0 16px 0 39px;
        cursor: pointer;
        &:not(:hover) {
          background-color: transparent !important;
        }
        .field {
          margin-right: 5px;
          color: var(--color-text-secondary);
        }
        &:not(.conditionFieldNull):hover {
          span {
            color: var(--color-white);
          }
        }
        &.agentField {
          margin: 3px 0;
        }
      }
    }
  }
}
