.upgradeServiceContent {
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
  margin: 16px;
  position: relative;
  background-color: var(--color-background-primary);
  border-radius: 3px;
  display: block;
  overflow-x: hidden;
  button:disabled {
    background: var(--color-text-tertiary) !important;
    cursor: not-allowed;
  }
  .nextBtn {
    width: 122px;
    height: 36px;
    border-radius: 18px;
  }

  .valueAddServerHeader {
    height: 56px;
    border-bottom: 1px solid var(--color-border-secondary);
    display: flex;
    align-items: center;
    padding-left: 24px;
  }

  .stepDiviceLine {
    margin: 0 55px;
    box-sizing: border-box;
    height: 1px;
    background-color: var(--color-border-secondary);
  }

  .allLine {
    margin: 0;
  }

  .btnBootstrap {
    padding: 3px 10px;
  }

  .stepTitle {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 17px;
    color: var(--color-text-title);
  }

  .color_bd {
    color: var(--color-text-disabled);
    .stepNum {
      background-color: var(--color-text-disabled);
    }
  }

  a.posMiddle {
    position: relative;
    top: 4px;
  }

  .stepContent ul.viewRow {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .stepNum {
    width: 20px;
    height: 20px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--color-primary);
    margin-right: 10px;
    color: var(--color-white);
  }

  .stepNumDefaultBorder {
    border: 1px solid var(--color-border-tertiary) !important;
    color: var(--color-text-placeholder);
  }

  .btnBack {
    padding: 5px 15px 5px 0px;
    color: var(--color-text-secondary);
    font-size: 14px;
  }

  .btnBack:hover {
    color: var(--color-text-secondary);
    border-color: var(--color-white);
  }

  .stepContent ul.viewRow > li {
    width: 240px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-text-disabled);
    border-radius: 3px;
    cursor: pointer;
    margin-right: 24px;
  }

  .warpOneStep,
  .warpTowStep {
    padding: 40px 55px;
  }

  .warpOneStep .stepContent .oneStepLeft {
    display: inline-block;

    width: 65px;
    text-align: left;
    margin-right: 5px;
    color: var(--color-text-secondary);
  }

  .warpOneStep .stepContent .color_b {
    color: var(--color-text-title);
  }

  .warpOneStep .stepContent .color_9e {
    color: var(--color-text-tertiary);
  }

  #btnOneStepSave,
  #btnOneStepCancel {
    display: none;
  }

  .stepContent .editRowLeftTitle {
    width: 46px;
    line-height: 27px;
  }
  .stepContent .editRowTitle {
    width: 90px;
    text-align: right;
    line-height: 27px;
  }
  .stepContent .editRowValue {
    width: 320px;
  }
  .stepContent .editRowTip {
    width: 50px;
    padding-left: 10px;
    height: 27px;
  }
  .stepContent .mdTxtBoxNew {
    width: 300px;
    line-height: normal;
  }
  .stepContent .infoShow {
    .infoShowRow {
      margin-top: 8px;
      display: flex;
      align-items: center;
      .infoShowLabel {
        width: 70px;
        text-align: left;
        color: var(--color-text-tertiary);
        font-size: 13px;
      }
      .infoShowResult {
        color: var(--color-text-tertiary);
        font-size: 13px;
      }
    }
  }

  #txtMdPassword {
    width: 160px;
  }
  .payStyleSelect li.rdo span {
    position: relative;
    top: 7px;
    left: 7px;
  }
  .payStyleSelect li {
    padding-right: 14px;
  }

  .warpTowStep .warpNeedHelp {
    margin-top: 25px;
    label {
      color: var(--color-text-tertiary);
      font-size: 13px;
      input {
        display: none;
      }
    }
  }

  .stepContent .viewRow .selectProduct {
    border-color: var(--color-primary);
  }
  .stepContent .selectProductCustom {
    border: 1px solid var(--color-border-tertiary);
    margin-right: 15px; /* padding: 0px 14px 0px 10px; */
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* float: left; */
  }
  .stepContent .txtCustomPrice {
    border: 0px;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
