.printPage {
  overflow: hidden;
  #chat {
    display: none;
  }
  .unnormalIcon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: url('~src/pages/worksheet/assets/worksheet.png') no-repeat;
    background-size: 150px 150px;
    background-color: #f2f2f2;
    margin: 0 auto;
  }
  .loadDivPrint {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    text-align: center;
  }
  .preWrap {
    white-space: pre-wrap;
  }
}
.printTem {
  height: 100%;
  .printTemCon {
    display: flex;
    width: 100%;
    height: calc(~'100% - 50px');
  }
  .pdfPng,
  .wordPng,
  .exportPng {
    display: inline-block;
    margin: 0 auto;
    width: 50px;
    height: 60px;
    background: url('./img/word.png') no-repeat center center;
    background-size: cover;
    margin-left: -2px;
  }
  .exportPng {
    background: url('./img/export.png') no-repeat center center;
    background-size: cover;
  }
  .pdfPng {
    background: url('./img/pdf.png') no-repeat center center;
    background-size: cover;
  }
  .toWordLoadCon {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .dec {
      & > div {
        display: inline-block;
      }
      font-size: 15px;
      font-weight: 400;
      color: #333333;
      line-height: 20px;
      margin: 0;
      margin-top: 12px;
    }
    .txt {
      font-size: 13px;
      font-weight: 400;
      color: #757575;
      line-height: 20px;
      margin-top: 12px;
    }
    .downWord {
      font-size: 13px;
      font-weight: 400;
      color: #2196f3;
      line-height: 17px;
      cursor: pointer;
      margin: 0;
      margin-top: 12px;
      &:hover {
        color: #2a65c4;
      }
    }
    .toPdf {
      background: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 4px;
      padding: 10px 50px;
      display: inline-block;
      margin: 30px auto 0;
      color: #333333;
      border: 1px solid #dddddd;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        color: #2196f3;
        border: 1px solid #2196f3;
      }
    }
  }
  .previewContainer {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    transition: bottom 0.4s;
    &.top0 {
      top: 0;
    }
    .previewHeader {
      background-color: #000;
      color: hsla(0, 0%, 100%, 0.8);
      font-size: 14px;
      height: 54px;
      transition: transform 0.4s;
      z-index: 1;
      justify-content: space-between;
      .fileName {
        line-height: 54px;
        padding: 0 16px;
        font-weight: 700;
        font-size: 14px;
      }
      .btns {
        height: 54px;
        align-items: center;
        .btn {
          font-size: 20px;
          line-height: 54px;
          padding: 0 11px;
        }
        .btn.close {
          padding: 0 17px;
        }
      }
      .setWPSPreview {
        height: 36px;
        white-space: nowrap;
        padding: 0 17px 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1a80d3;
        cursor: pointer;
        border-radius: 18px 18px 18px 18px;
        color: #fff;
        margin-top: 9px;
        .beta {
          width: 34px;
          background: #8be0a5;
          border-radius: 3px 3px 3px 3px;
          margin-left: 6px;
          color: #005d03;
          font-size: 12px;
          text-align: center;
        }
      }
    }
    iframe {
      border: 0;
    }
    .iframeDiv {
      display: none;
    }
    .iframeLoad {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      & > div {
        display: inline-block;
      }
      .dec {
        font-size: 15px;
        font-weight: 400;
        color: #333333;
        line-height: 20px;
        margin-top: 23px;
      }
    }
    .fileViewer {
      position: absolute;
      width: 100%;
      height: 100%;
      border: none;
    }
    .iframeViewer {
      background-color: #525659;
      color: #333;
    }
    .iframeDiv {
      .toolbarButton#download {
        display: none;
      }
    }
  }
}

@media print {
  body,
  html {
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    border: 0px !important;
    background: #fff;
  }
  .nano {
    position: relative;
    width: 100%;
    height: auto !important;
    overflow: initial;
    padding: 0;
    background: #fff;
  }
  .nano > .nano-content {
    position: initial;
    overflow: initial;
    overflow-x: initial;
    padding: 0;
    background: #fff;
    height: auto !important;
  }
  .nano-pane {
    display: none;
  }
  .printTem .printContent {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    height: auto !important;
    background: #fff;
  }
  .printTem .printInfo {
    margin-bottom: 5em;
  }
  #app,
  #wrapper,
  #containerWrapper,
  #container,
  .printTem,
  .printTemCon,
  .printTemCon > div {
    height: auto !important;
    width: 100%;
  }
  .printTemCon col {
    display: none;
  }
  .printTem .printContent tr.trFlex {
    width: 100% !important;
  }

  .printTem {
    .printTd,
    .printTd1 {
      flex-grow: 1;
    }
    .printTd2 {
      flex-grow: 2;
    }
    .printTd3 {
      flex-grow: 3;
    }
    .printTd4 {
      flex-grow: 4;
    }
    .printTd5 {
      flex-grow: 5;
    }
    .printTd6 {
      flex-grow: 6;
    }
    .printTd7 {
      flex-grow: 7;
    }
    .printTd8 {
      flex-grow: 8;
    }
    .printTd9 {
      flex-grow: 9;
    }
    .printTd10 {
      flex-grow: 10;
    }
    .printTd11 {
      flex-grow: 11;
    }
  }
}
