.uploadContainer {
  height: 340px;
  border: 1px dashed var(--color-border-secondary);
  .icon {
    color: var(--color-text-disabled);
    &.excelIcon {
      color: var(--color-success-border);
    }
  }
  &:hover {
    border: 1px dashed var(--color-primary);
    .icon {
      color: var(--color-primary);
      &.excelicon {
        color: var(--color-success-border);
      }
    }
  }
}
