.processFilterDrawerWrapper {
  width: 280px;
  height: 100%;
  padding: 16px 0;
  box-sizing: border-box;
  margin-right: 20px;
  opacity: 0;
  margin-left: -280px;
  transition:
    opacity 0.3s,
    margin-left 0.3s 0.1s;
  .hap-drawer-content-wrapper {
    box-shadow: none !important;
  }
  .hap-drawer-content {
    background-color: transparent;
  }
  .hap-drawer-wrapper-body {
    display: flex;
    align-items: flex-end;
  }
  .hap-drawer-body {
    padding-top: 60px;
    width: 280px;
    height: 100%;
  }
  .wrapper {
    height: 100%;
    background-color: var(--color-background-primary);
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
  }
  .header {
    height: 43px;
    padding: 0 16px;
    border-bottom: 1px solid var(--color-border-secondary);
    .reset {
      color: var(--color-primary) !important;
      margin: 0 20px;
      &:hover {
        color: var(--color-primary) !important;
      }
    }
    .icon-close:hover {
      color: var(--color-primary) !important;
    }
  }
  .filterContent {
    padding: 16px;
    overflow-y: auto;
  }
  .personPostBox {
    display: flex;
    align-items: center;
  }
  .spaceBtween {
    justify-content: space-between;
    img {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }
  .itemWrapper {
    font-size: 13px;
    padding: 5px 10px;
    border: 1px solid var(--color-border-primary);
    border-radius: 4px;
    background-color: var(--color-background-input);
    &.active {
      border-color: var(--color-primary) !important;
    }
  }
  .dateInput {
    input::placeholder {
      color: var(--color-text-disabled);
    }
  }
  .appItem {
    .iconArrow {
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
      &:hover {
        background: var(--color-background-hover);
      }
    }
    .appIcon {
      width: 22px;
      height: 22px;
      justify-content: center;
      border-radius: 4px;
      .svgIconRoot > div {
        display: flex;
      }
    }
    .processAppName {
      padding: 0 8px;
    }
    .content {
      flex: 1;
      min-width: 0;
      padding: 10px 8px;
      border-radius: 4px;
      &:hover {
        background-color: var(--color-background-hover);
      }
      &.active {
        background-color: var(--color-primary-transparent) !important;
      }
    }
  }
  .processesItem {
    padding: 9px 8px 9px 18px;
    margin-left: 24px;
    border-radius: 4px;
    &:hover {
      background-color: var(--color-background-hover);
    }
    &.active {
      background-color: var(--color-primary-transparent) !important;
    }
  }
}

.processFilterTarget:hover {
  color: var(--color-primary) !important;
}
