// @containerWidth: 360px;
@containerWidth: 720px;
@transitionTime: 0.25s;

.worksheetViewConfig {
  width: @containerWidth;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-background-primary);
  box-shadow: var(--shadow-xl);
  z-index: 12;
  .Dropdown {
    .Menu.List {
      margin-top: 3px;
    }
  }
  .ming.Dropdown,
  .dropdownTrigger {
    &.disabled {
      .Dropdown--input {
        background-color: var(--color-background-secondary);
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid var(--color-border-secondary);
  }

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .allCanSelectFields {
    border-radius: 4px;

    .Item-content {
      padding-left: 32px !important;
    }
  }

  .dropdownSelectFields {
    font-weight: 500;
    border-radius: 4px;

    .Item-content {
      padding-left: 32px !important;
    }
  }

  .dataSettingTitle {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .commonConfigItem {
    .checkBlock {
      .block {
        width: 25%;
        text-align: center;
      }
    }

    ul.cardUl {
      > li {
        display: inline-block;
        width: ~'calc(50% - 6px)';
        height: 106px;
        border-radius: 3px;
        position: relative;
        vertical-align: top;

        &::before,
        &::after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-image: url('./components/mobileSet/img/line2.png');
          background-repeat: no-repeat;
          background-size: 100%;
          position: absolute;
          top: 0px;
        }

        &::after {
          display: none;
          background-image: url('./components/mobileSet/img/line2Active.png');
        }

        &:first-child {
          &::before {
            background-image: url('./components/mobileSet/img/line1.png');
          }

          &::after {
            background-image: url('./components/mobileSet/img/line1Active.png');
          }
        }

        &:last-child {
          height: 88px;

          &::before {
            background-image: url('./components/mobileSet/img/line3.png');
          }

          &::after {
            background-image: url('./components/mobileSet/img/line3Active.png');
          }
        }

        &.current {
          &::before {
            display: none;
          }

          &::after {
            display: block;
          }
        }
      }
    }

    .showControlsColumnCheckItem .switchIcon {
      height: 32px;
    }
    .flexShrink0 {
      flex-shrink: 0;
    }
  }

  .viewTitle {
    height: 56px;
    min-height: 56px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid var(--color-border-secondary);

    input {
      padding: 0;
      border: none;
      flex: 1;
      margin-right: 17px;
      padding: 3px 10px;
      border: 1px solid transparent;

      &:focus,
      &:hover {
        border-radius: 4px;
        border-color: var(--color-border-secondary);
      }

      &:focus {
        border-color: var(--color-primary);
      }
    }
  }
  .viewTitle {
    .icon-close {
      &:hover {
        color: var(--color-primary) !important;
      }
    }
  }

  .sortConditions {
    .icon-drag {
      color: var(--color-text-tertiary);
      &:hover {
        color: var(--color-primary);
      }
    }
    .operateBtn {
      cursor: pointer;
      font-size: 20px;
      color: var(--color-text-tertiary);
      margin: 0 4px;
      line-height: 36px;

      &:hover {
        color: var(--color-primary);
      }

      &.disabled {
        color: var(--color-border-primary) !important;
      }
    }
  }

  .viewSetBox {
    display: flex;
    height: 100%;
    overflow: hidden;
  }

  .viewBtns {
    height: auto;
    overflow: auto;
    width: 200px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--color-border-secondary);
    background: var(--color-background-tertiary);

    .viewBtnsLi {
      padding: 12px 24px 0;

      &:first-child {
        padding-top: 0;
      }

      &::after {
        content: ' ';
        width: 100%;
        display: block;
        border-bottom: 1px solid var(--color-border-secondary);
        padding-bottom: 12px;
      }

      &:last-child::after {
        display: none;
      }

      .descCon {
        margin: 0 -8px;
      }
    }

    .titileP {
      color: var(--color-text-tertiary);
      font-size: 13px;
      margin: 0px;
      font-weight: 600;
      line-height: 1;
      margin-top: 12px;
      margin-bottom: 10px;
    }

    .viewBtn {
      line-height: 48px;
      cursor: pointer;
      width: 100%;
      box-sizing: border-box;
      word-wrap: break-word;
      word-break: break-all;
      white-space: nowrap;
      overflow: hidden;
      // text-overflow: ellipsis;

      .icon {
        color: var(--color-text-secondary);
        vertical-align: middle;
      }

      .fontText {
        vertical-align: middle;
        width: 115px;
        .numText {
          float: right;
        }
      }

      &:hover {
        color: var(--color-primary);

        .icon {
          color: var(--color-primary);
        }
      }
    }

    .active {
      color: var(--color-primary);

      .icon {
        color: var(--color-primary);
      }
    }
  }

  .viewConfigWrap {
    padding: 24px 0 0;
    .groupSelectStartOrEnd .selectStartOrEndCon {
      .dropCon {
        flex: 1;
        flex-shrink: 0;
      }
    }

    .dataSetting {
      .Radio-box {
        width: 16px;
        height: 16px;

        .Radio-box-round {
          width: 10px;
          height: 10px;
        }
      }

      .Radio:not(.checked) {
        .Radio-box-round {
          width: 0 !important;
          height: 0 !important;
        }
      }
    }
  }

  .viewContent {
    &.contentCon {
      .viewContentCon {
        overflow-y: auto;
        max-height: 100%;
        min-height: 100%;
        height: 100%;
      }
    }
    .viewContentCon {
      padding: 0 40px 32px;
      &.H100 {
        height: 100%;
        padding: 0;
      }
      .sortColumnWrap .Dropdown--input {
        padding: 0 10px 0 12px;
        border-color: var(--color-border-primary);
      }

      .viewSetText {
        font-size: 12px;
        margin-bottom: 0px;
      }

      .dropAbstract {
        &.placeholder {
          .value {
            color: var(--color-text-disabled);
          }
        }

        .ming.Item .Item-content .Icon {
          left: 16px;
        }

        ul {
          .itemText {
            padding-left: 20px;
          }
        }
      }
    }

    .viewSetTitle {
      padding: 25px 0 0;
      font-size: 16px;
      color: var(--color-text-title);
      font-weight: bold;
    }

    .ming.Menu {
      width: 100%;
    }

    .more {
      color: var(--color-primary);
    }

    .workSheetFilter {
      box-sizing: border-box;
      padding: 24px 0;

      &.exist {
        border-radius: 0;
      }
    }
    .batchSetBtn {
      color: var(--color-primary);
      &:hover {
        color: var(--color-link-hover);
      }
    }
  }

  .hideColumns {
    .dropdownWrapper,
    .targetEle,
    .aroundList {
      width: 100%;
    }
  }

  .filterColumns {
    .Item-content .icon {
      color: var(--color-text-tertiary);
    }

    [type='hr'] {
      border-top: 1px solid var(--color-border-primary);
      margin-top: 5px;
      padding-top: 5px;
      margin-bottom: 5px;
    }

    .Item-content {
      padding: 0 30px !important;
    }
  }

  .role {
    border-radius: 4px;
    border: 1px solid var(--color-border-primary);
    margin-bottom: 10px;

    .header {
      padding: 8px;
      display: flex;
      align-items: center;

      .ellipsis {
        max-width: 230px;
      }
    }

    input {
      flex: 1;
      height: 25px;
      padding: 0 8px;
    }

    .body {
      padding: 5px 15px 15px;
    }

    .footer {
      cursor: pointer;
      padding: 10px 15px;
      color: var(--color-primary);
      border-top: 1px solid var(--color-border-primary);
    }
  }

  .splitLine {
    border: 1px solid var(--color-border-primary);
    border-top: none;
    margin: 3px 0;
  }

  .addRole {
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--color-background-secondary);

    .List {
      padding: 0;
      position: static;
      max-height: 300px;
      overflow-y: auto;
    }
  }

  .filtersDropdown {
    [type='1']:nth-child(1) {
      border-top: 1px solid var(--color-border-tertiary);

      .Item-content {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  &-enter {
    right: -@containerWidth;
  }

  &-enter&-enter-active {
    right: 0;
    transition: right @transitionTime;
  }

  &-leave {
    right: 0;
  }

  &-leave&-leave-active {
    right: -@containerWidth;
    transition: right @transitionTime;
  }

  .ant-switch-small {
    min-width: 24px;
    height: 12px;
    line-height: 12px;

    &:after {
      width: 10px;
      height: 10px;
      top: 0;
    }
  }
}

.sheetViewFilterColumnOption {
  width: 320px !important;
}

.hideControlsWrap {
  max-height: 360px;
  overflow: auto;
  box-shadow:
    0 4px 20px rgba(0, 0, 0, 0.13),
    0 2px 6px rgba(0, 0, 0, 0.1);
}

.sortConditionsViewControl {
  z-index: 1000;
  position: fixed !important;
  .icon-drag {
    color: var(--color-text-tertiary);
  }
  .operateBtn {
    cursor: pointer;
    font-size: 20px;
    color: var(--color-text-tertiary);
    margin: 0 4px;
    line-height: 36px;
    &:hover {
      color: var(--color-primary);
    }
    &.disabled {
      color: var(--color-border-primary) !important;
    }
  }
  .tipsIcon {
    left: -38px;
    line-height: 36px;
  }
}
.textCopyCon {
  padding: 17px 20px;
  background: var(--color-background-inverse);
  border-radius: 8px 8px 8px 8px;
  color: var(--color-white);
  .icon {
    color: var(--color-text-tertiary);
    &:hover {
      color: var(--color-white);
    }
  }
}
