body {
  background-color: #f5f5f9 !important;
}

.worksheetRowEdit {
  max-width: 1200px;
  background: #fff;
  border-radius: 3px;
  margin: 0 auto;

  .worksheetRowEditSave {
    height: 36px;
    line-height: 36px;
    padding: 0 36px;
    background: #2196f3;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    max-width: 400px;
  }

  .customHeader {
    .closeBtn {
      display: none;
    }
  }
}
