body {
  background-color: var(--color-background-secondary) !important;
}

.worksheetRowEdit {
  max-width: 1200px;
  background: var(--color-background-primary);
  border-radius: 3px;
  margin: 0 auto;

  .worksheetRowEditSave {
    height: 36px;
    line-height: 36px;
    padding: 0 36px;
    background: var(--color-primary);
    border-radius: 3px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    max-width: 400px;
  }

  .customHeader {
    .closeBtn {
      display: none;
    }
  }
}
