<div class="createNewSingle ThemeBGColor5">
    <span class="markTasks2"></span>
    <input type="text" class="txtSingleName" maxlength="100" placeholder="{{=_l('输入名称后按回车创建') }}" />
    <span class="stageBox"></span>
    <span class="Right calendarBox createSingleDate"></span>
    <span class="circle chargeImgWrapQuick" data-id="{{=md.global.Account.accountId }}" data-avatar="{{=md.global.Account.avatar }}">
        <img class="circle" src="{{=md.global.Account.avatar }}" />
    </span>
    <i class="icon-star-hollow taskStar"></i>
</div>
