.dialogSelectUser {
  margin-bottom: 10px;
  overflow: hidden;
}

/*title*/
.dialogSelectUser .lblTitle {
  font-size: 16px;
  color: black;
  margin: 18px 0 12px 0;
}

.dialogSelectUser .chooseTabs {
  height: 42px;
  line-height: 42px;
  background-color: #f0f0f0;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

.dialogSelectUser .chooseTab {
  padding: 0 20px;
  width: 50%;
  float: left;
  text-align: center;
  cursor: pointer;
  color: #777;
}

.dialogSelectUser .chooseTab .dropList {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  max-width: 160px;
  vertical-align: bottom;
}

.dialogSelectUser .fullChooseTab .dropList {
  max-width: 380px;
}

.dialogSelectUser .fullChooseTab {
  text-align: left;
  width: 100%;
  cursor: default;
}

.dialogSelectUser .activeChooseTab {
  color: white;
  position: relative;
}

.dialogSelectUser .activeChooseTab:after {
  width: 0;
  height: 0;
  content: '';
  border-width: 0px 8px 8px 8px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
}
.dialogSelectUser .activeTab:after {
  display: none;
}

.dialogSelectUser .contentItem {
  display: none;
  min-height: 462px;
}

.mobileSelectUser {
  display: flex;
  align-items: center;
}

.mobileSelectUser .dialogBox {
  width: auto !important;
  margin: 0 auto !important;
  flex: 1;
}

.mobileSelectUser .chooseTabs,
.mobileSelectUser .GSelect-filterBox,
.mobileSelectUser .GSelect-User__companyName,
.mobileSelectUser .GSelect-result {
  display: none !important;
}

.mobileSelectUser .GSlect-defaultUsersContent {
  padding-left: 0 !important;
}

.mobileSelectUser .dialogUserContainer .contentItem {
  min-height: auto !important;
  height: 100% !important;
}
