.sheetPagination {
  padding: 10px 0 0;
  text-align: center;
  .pageNum {
    display: inline-block;
    background: var(--color-background-primary);
    color: var(--color-text-secondary);
    padding: 4px 10px;
    border-radius: 3px;
    margin: 0 6px;
    text-align: center;
  }
}
