.mui-range-bar {
  flex: 1;
  height: 24px;
  padding: 9px 1px;
  box-sizing: border-box;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
  & > div {
    height: 6px;
    background-color: #e0e0e0;
  }
  &.checked > div {
    background-color: #4caf50;
  }
}
