@activeColor: #2196f3;
@refuseColor: #f44336;
@passColor: #4CAF50;
@submitColor: #1e88e5;

.sheetProcessRowRecord {
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  .header {
    padding: 12px 15px 10px !important;
    margin-bottom: 10px;
    .icon-workflow, .icon-more_horiz, .icon-chat {
      color: @activeColor;
    }
  }
  .justifyCenter {
    justify-content: center;
  }
  .sheetName {
    color: #757575;
    background-color: #F5F5F5;
    display: inline-block;
    border-radius: 20px;
    padding: 5px 10px;
    .icon {
      margin-right: 7px;
    }
  }
  .title {
    color: #000;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    .value {
      flex: 1;
      word-break: break-all;
    }
    .icon {
      color: @activeColor;
      font-size: 24px;
    }
  }
  .customFieldsContainer {
    padding: 25px 20px 20px;
  }
  .saveWrapper {
    padding: 0 20px 20px;
    background-color: #fff;
    .save {
      color: #fff;
      height: 36px;
      line-height: 36px;
      padding: 0 23px;
      font-size: 15px;
      border-radius: 25px;
      background-color: #108ee9;
    }
  }
  .footerHandle {
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    background-color: #fff;
    z-index: 1;

    .headerBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 24px;
      border: 1px solid #DDDDDD;
      margin: 0 10px;
      height: 36px;
      .icon {
        font-size: 18px;
        margin-right: 5px;
      }
      &.overrule {
        color: @refuseColor;
      }
      &.submit, &.revoke, &.pass {
        color: @activeColor;
      }
      &.disable {
        background-color: #f8f8f8;
      }
    }
  }
  .btnsWrapper {
    padding: 7px 10px;
    border-top: 1px solid #f5f5f5;
    background-color: #fff;
    a {
      text-decoration: none;
    }
    .edit {
      color: #2196F3;
    }
    .am-button {
      height: 36px;
      line-height: 36px;
    }
    .am-button-primary:hover {
      color: #fff;
    }
    .am-button, .am-button::before, .am-button-active::before{
      border-radius: 50px;
    }
  }
  .processRecordScroll {
    height: 0;
    overflow: hidden auto;
  }
  .processRecordViewTabs {
    z-index: 2;
    &.edit .am-tabs-tab-bar-wrap {
      display: none;
    }
    .am-tabs-tab-bar-wrap {
      border-bottom: 1px solid #F5F5F5;
    }
    &.edit .am-tabs-tab-bar-wrap {
      display: none;
    }
    .am-tabs-default-bar-tab {
      font-size: 13px;
      width: auto !important;
      border-bottom: none !important;
      padding: 0 12px !important;
      .tabName {
        max-width: 100px;
      }
      &:after {
        content: none !important;
      }
    }
    .am-tabs-pane-wrap-active {
      overflow-x: hidden;
    }
    .am-tabs-pane-wrap-inactive {
      height: auto;
    }
    .am-tabs-default-bar-tab-active {
      &:before {
        content: '';
        height: 4px;
        background-color: #108ee9;
        width: 16px;
        margin-left: -8px;
        position: absolute;
        left: 50%;
        bottom: 3px;
        border-radius: 4px;
      }
    }
    .am-tabs-default-bar-underline {
      display: none;
    }
  }
}

.workflowStepListWrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  
  .am-drawer-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
