.mui-forminput {
  // default height = 36px
  font-size: 14px;
  line-height: 20px;
  background-color: var(--color-background-primary);
  border: solid 1px var(--color-border-tertiary);
  border-radius: 3px;
  padding: 7px 8px;
  vertical-align: bottom;
  box-sizing: border-box;
  color: var(--color-text-title);
  min-height: 36px;
  display: inline-flex;
  width: 172px;
  cursor: pointer;
  text-align: left;
  outline: none;
  &:hover {
    border-color: var(--color-text-disabled);
  }
  // error state
  &.mui-forminput-error {
    border-color: var(--color-error) !important;
  }
  &:disabled {
    background-color: var(--color-background-secondary);
    border-color: var(--color-background-secondary);
    cursor: not-allowed;
    resize: none;
    user-select: text;
  }

  & > .mui-forminput-label {
    display: block;
    padding: 0 4px;
    flex: 1;
    text-align: left;
    word-break: break-all;
  }

  & > .Icon {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    color: var(--color-text-tertiary);
  }

  &.mui-forminput-singleline {
    height: 36px;
    & > .mui-forminput-label {
      height: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
