.printWorksheetRowQrCode {
  .printCon {
    height: 576px;
    .configPanel {
      padding: 0px 0px 24px 24px;
      padding-right: 24px;
      .title {
        font-size: 17px;
        color: #333;
        margin: 20px 0;
      }
      .configItem {
        margin-bottom: 20px;
        .itemLabel {
          color: #333;
          font-size: 12px;
          margin: 14px 0px;
        }
        .desc {
          color: #757575;
          font-size: 12px;
          margin-bottom: 10px;
        }
        input:disabled {
          border-color: #ddd;
          background-color: #F8F8F8;
        }
      }
      .layoutTypes {
        .ming.Radio {
          width: 96px;
          margin-bottom: 14px;
        }
        &.qr {
          .ming.Radio {
            width: 140px;
          }
        }
      }
      .selectColumn {
        margin-bottom: 10px;
        .Dropdown--input {
          padding: 5px 10px;
        }
      }
      .deleteColumnBtn {
        font-size: 20px;
        color: #9E9E9E;
        line-height: 36px;
        padding: 0 0 0 6px;
      }
      .addColumn {
        color: #9E9E9E;
      }
      .tip {
        color: #757575;
        font-size: 12px;
        margin-top: 10px;
      }
    }
    .layoutPreview {
      padding: 0px 34px 20px 24px;
      width: 360px;
      text-align: center;
      background-color: #f5f5f5;
      padding: 60px 0 0;
      .previewImage {
        margin: 0 auto;
        width: 300px;
        height: 420px;
        &.img1 {
          background-size: cover;
          background-image: url(./images/1x1.png)
        }
        &.img2 {
          background-size: cover;
          background-image: url(./images/1x2.png)
        }
        &.img3 {
          background-size: cover;
          background-image: url(./images/2x2.png)
        }
        &.img4 {
          background-size: cover;
          background-image: url(./images/2x5.png)
        }
        &.img5 {
          background-size: cover;
          background-image: url(./images/3x6.png)
        }
        &.qr {
          height: 225px;
          margin: 113.5px auto;
          background-size: cover;
          background-image: url(./images/qr.png)
        }
        &.qr2 {
          width: 187px;
          height: 243px;
          margin: 104.5px auto;
          background-size: cover;
          background-image: url(./images/qr2.png)
        }
      }
      .tip {
        text-align: center;
        color: #757575;
        font-size: 12px;
        margin-top: 10px;
      }
      .btns {
        text-align: right;
        margin: 32px 34px 0 0;
      }
    }
  }
}
.worksheetRowsQrPreview {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #525659;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  z-index: 999999;
  transform: translateY(100%);
  transition: .4s cubic-bezier(0, 0, 0.38, 1.07);
  &.visible {
    transform: translateY(0);
  }
  .previewHeader {
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    .worksheetName {
      font-size: 18px;
      color: #333;
    }
    .closeDialog {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 24px;
      line-height: 50px;
      padding: 0 10px;
      cursor: pointer;
    }
  }
}

.printQrDownlist {
  width: 350px;
  .ming.Menu.List {
    width: 100% !important;
  }
}
