.commonCustomWidget {
  .columnVisibleControl {
    position: relative;
    display: inline-block !important;
    width: 320px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    .controlHead {
      height: 30px;
      .selectedContent {
        padding-left: 8px;
        height: 100%;
        box-sizing: border-box;
        width: 100%;
        line-height: 30px;
        &.tip {
          color: #9e9e9e;
        }
      }
      .slideIcon {
        position: absolute;
        right: 12px;
        top: 8px;
        color: #666;
        font-size: 14px;
      }
    }
    .columnList {
      width: 320px;
      max-height: 220px;
      overflow: auto;
      margin-top: 2px;
      .ming.Item .Item-content .Icon {
        left: auto !important;
      }
      .tip {
        padding: 10px;
        text-align: center;
        color: #bdbdbd;
      }
    }
    &.disabled {
      .controlHead {
        border-color: #e0e0e0;
        .selectedContent {
          background-color: rgba(248, 248, 248, 1);
          color: rgba(204, 204, 204, 1);
          cursor: default;
        }
      }
    }
  }
}
