<div class="confirm {{=it.className}} boderRadAll_3">
    <div class="confirmOverlay">
        <div class="confirmContainer">
            <div class="confirmTitle">{{=it.title}}</div>
            <div class="confirmBody">{{=it.content}}</div>
            <div class="confirmFooter">
                <span class="ming Button Button--link Button--small btnCancel">{{=it.cancel}}</span>
                <span class="ming Button Button--primary Button--small btnConfirm">{{=it.confirm}}</span>
            </div>
        </div>
    </div>
</div>
