.workflowEdit {
  .workflowEndBox {
    padding: 0 50px 120px;
  }
  .workflowEnd {
    width: 56px;
    height: 32px;
    background: url('./end.png') no-repeat;
    background-size: 56px 32px;
    margin: 0 auto;
  }
}
