
.chartSetting {
  padding-top: 16px;
  .fieldWrapper {
    font-size: 13px;
    .fidldItem {
      height: 32px;
      padding: 0 12px;
      border-radius: 16px;
      margin-bottom: 12px;
      border: 1px solid #DDDDDDFF;
      background-color: #EAEAEAFF;
    }
    .withoutFidldItem {
      color: #BDBDBDFF;
      height: 32px;
      border-radius: 4px;
      border: 1px dashed #BDBDBDFF;
      padding: 0 12px;
      background-color: #fff;
    }
    .succeeFidldItem {
      color: #2196f3;
      border-color: #2196f3;
      background-color: #E3F2FD;
    }
    .errorFidldItem {
      color: red;
      border-color: red;
      background-color: #ff00001a;
    }
  }
  .SingleFilterWrapper {
    border: 1px dashed #BDBDBDFF;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    .exist {
      margin-bottom: 15px;
    }
    .worksheetFilterDateCondition .includeToday {
      margin-left: 4px;
    }
  }
  .addFilterCondition {
    display: none;
  }
}

.sortablePivotTableField {
  z-index: 9999;
  .sortableDrag {
    position: absolute;
    top: 7px;
    left: -18px;
    opacity: 1;
  }
  .fidldItem {
    height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    margin-bottom: 12px;
    border: 1px solid #DDDDDDFF;
    background-color: #EAEAEAFF;
  }
}

.chartControlMenu {
  width: 180px;
  .ant-dropdown-menu-submenu-title {
    padding-left: 30px;
  }
  .icon-done {
    color: #2196F3;
  }
}

.chartMenu {
  .ant-dropdown-menu-submenu-title {
    display: flex;
  }
  .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    position: relative;
    padding: 7px 20px 7px 15px;
    /*
    &:hover {
      color: #fff !important;
      background-color: #2196F3FF;
      .icon, .ant-dropdown-menu-submenu-arrow-icon, .emptyTypeName {
        color: #fff !important;
      }
    }
    */
  }
  &.ant-dropdown-menu-submenu-popup ul {
    margin: 0;
  }
}
