<div>
  <div class="addFriendHeader">
    <div class="inputWrapper">
        <span class="icon-search searchIcon"></span>
        <input type="text" class="mobilePhoneMailbox boderRadAll_3 box-sizing" placeholder="{{= _l('在这里通过 手机号/邮箱地址 搜索用户') }}">
        <span class="searchClear icon-delete"></span>
    </div>
    <div class="searchBtn ThemeBGColor3">{{= _l('搜索') }}</div>
  </div>
  <div class="safeWarning">
    {{= _l('近期有不法分子利用平台进行诈骗活动。为了保障平台安全，暂时只允许付费组织中的用户发起邀请。对您使用造成的不便，深表歉意！')}}
  </div>
  <ul class="addFriendSearchResult"></ul>
  <div class="inviteBox">
  {{= LoadDiv() }}
  </div>
</div>
