{{? it.allCount>0 }}
{{~ it.list:item }}
<li class="addUserItem boderRadAll_5">
    <a href="/user_{{=item.accountId}}" target="_blank">
        <img class="userHead circle Hand" src="{{=item.avatarBig}}">
    </a>
    <ul class="userInfo">
        <li class="box-sizing">{{!item.fullname}}</li>
        <li class="box-sizing company" title="{{!item.companyName}}">{{!item.companyName || ''}}</li>
        <li class="box-sizing job" title="{{!item.profession}}">{{!item.profession || ''}}</li>
    </ul>
    <div class="userOperation" data-accountid="{{=item.accountId}}" data-username="{{!item.fullname}}">
        {{? item.accountId===md.global.Account.accountId}}
            {{=_l('不能添加自己为好友')}}
        {{??}}
            {{? item.isFriend}}
                {{=_l('对方已是您的好友')}}
            {{??}}
                <button type="button" class="btnBootstrap btnBootstrap-primary btnBootstrap-middle addFriend">{{=_l('加为好友')}}</button>
            {{?}}
        {{?}}
    </div>
</li>
{{~}}
{{??}}
<li class="addUserItem boderRadAll_5">
    <img class="userHead circle Hand" src="/images/default_user_avatar.jpg">
    <ul class="userInfo">
        <li class="box-sizing">{{! it.accoutKeyWords }}</li>
        <li class="box-sizing">{{=_l('此手机/邮箱的用户还没有账号') }}</li>
        <li class="box-sizing">{{=_l('你可以邀请TA加入并成为协作好友') }}</li>
    </ul>
    <div class="userOperation">
        <button type="button" class="btnBootstrap btnBootstrap-primary btnBootstrap-middle inviteFriend">{{=_l('邀请好友') }}</button>
    </div>
</li>
{{?}}
