body {
  background-color: var(--color-background-secondary);
}
ul {
  margin-bottom: 0;
}
.structureViewWrap {
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-top: 10px;
  background-color: var(--color-background-secondary);
  ::-webkit-scrollbar {
    height: 14px;
  }
  .hierarchyViewLeftBoundary {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35px;
    bottom: 130px;
    left: 0;
    width: 40px;
    z-index: 9;
    &:hover {
      .iconWrap {
        visibility: visible;
      }
    }

    &.isOver {
      border-right: 3px solid var(--color-primary);
    }
  }
  .hierarchyViewWrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }
}
.recordItemWrap {
  position: relative;
  box-shadow: var(--shadow-sm);
  transition: box-shadow 0.2s ease-out;
  &.normalOver {
    box-shadow: 0 0 0 3px var(--color-primary);
  }
  &.directParentOver {
    box-shadow: 0 0 0 3px var(--color-border-secondary);
  }
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    .addHierarchyRecord {
      visibility: visible;
    }
  }
  .dragDropRecordWrap {
    max-width: 280px;
    min-width: 280px;
    background-color: var(--color-background-primary);
    margin-bottom: 8px;
    border-radius: 3px;
    &.highLight {
      border: 3px solid var(--color-warning);
    }
  }
  .skeletonBox {
    padding: 10px 14px;
  }
}
.sortableTreeNodeWrap {
  position: relative;
  .svgWrap {
    position: absolute;
    top: 0;
    width: 120px;
    left: -120px;
    height: 100%;
  }
  .svgStraightWrap {
    position: absolute;
    top: 0;
    width: 100px;
    left: -100px;
    height: 100%;
  }
}
.sortableVerticalTreeNodeWrap {
  .verticalSvgWrap {
    position: absolute;
    top: -40px;
    height: 40px;
    left: 0;
    width: 100%;
  }
}
.mobileSearchRecordDropdown {
  left: 0 !important;
}
.singleViewSearchRecordDropdown {
  left: 20px !important;
  margin-top: 20px;
}
