.ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.roleTooltipSetting {
  padding: 0px !important;
  width: 350px !important;
  max-width: 350px !important;

  .tipHeader {
    font-size: 15px;
    line-height: 48px;
    height: 48px;
  }
  .tipFooter {
    font-size: 13px;
    line-height: 46px;
    height: 46px;
  }
  .tipHeader {
    border-bottom: 1px solid #eaeaea;
  }
  .tipFooter {
    border-top: 1px solid #eaeaea;
  }

  :global(.RadioGroupCon) {
    display: flex;
    flex-flow: row wrap;
    .radioItem {
      .ellipsis;
      margin-top: 10px;
      margin-right: 0;
      box-sizing: border-box;
      flex: 0 1 44%;
      &:first-child {
        flex: 0 1 100%;
        margin-top: 0;
      }
      &:last-child {
        flex: 0 1 52%;
      }
      &:nth-child(2) {
        padding-right: 10px;
      }

      .Radio-text {
        .ellipsis;
      }
    }
  }
}
