.Message-refer-container {
  max-width: 370px;
  border-radius: 5px;
  background: var(--color-background-disabled);
  padding: 8px;
  margin-bottom: 5px;
  cursor: pointer;

  .content {
    color: var(--color-text-tertiary);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text {
    display: inline;
    i {
      vertical-align: 1px;
    }
  }
  .ThemeColor3:not(:hover) {
    color: var(--color-text-tertiary) !important;
  }
}
