.customSelect {
  position: relative;
  display: inline-block;
}

.customSelect .title {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.customSelect .borderRadius5 {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0px 10px 0px 10px;
}

.customSelect .titleLink {
  background-color: transparent;
}

.customSelect .titleBorder {
  border: 1px #fff solid;
  padding: 0px 5px 0px 6px;
}

.customSelect .normalBorder {
  border: 1px #ccc solid;
}

.customSelect .hoverBorder {
  border: 1px #666 solid;
}

.customSelect .clickBorder {
  border: 1px #fff solid;
}

.customSelect .bgImage {
  display: inline-block;
  width: 10px;
  height: 9px;
  margin-left: 10px;
  background: url(images/link.gif) no-repeat right center;
}

/*排序图标样式*/
.customSelect .bgImageOrderByLink {
  background: url(images/orderbyLink.gif) no-repeat right center;
  color: transparent !important;
}

.customSelect .bgImageOrderByClick {
  background: url(images/orderbyHover.gif) no-repeat right center;
  color: transparent !important;
}

.customSelect .txtBox {
  text-overflow: ellipsis;
  flex: 0 1 auto;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.customSelect .csList {
  padding: 5px 0px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0px;
  z-index: 1;
  color: #737373;
  background-color: White;
  display: none;
}

.customSelect .csList ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 16px;
  text-align: left;
  cursor: pointer;
}

.customSelect .csList ul li.listSpanHover {
  color: White;
  background-color: #2d8eed;
}

.customSelect .csList ul li.topLine {
  border-top: 1px dotted #ccc;
}

.customSelect .searchBox {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.customSelect .searchIcon {
  min-width: 36px;
  width: 36px;
  height: 36px;
  background-size: 24px 24px;
  background-image: url(./images/search.png);
  background-repeat: no-repeat;
  background-position: center;
}

.customSelect #searchList {
  height: 36px;
  line-height: 36px;
  flex: 1;
}
