
.mobileAnalysis {
  .name {
    height: 25px;
  }
  .countWrap {
    height: 30px;
  }
  .justifyContent {
    justify-content: center;
  }
  .spaceBetween {
    justify-content: space-between;
  }
  .showTotalHeight {
    flex: 1;
  }
  .count {
    font-weight: 500;
    font-size: 20px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  }
}

.horizontalChartDialog {
  height: 50%;
  .am-modal-body {
    overflow: hidden;
  }
}
