
.mobileAnalysis {
  .countWrap {
    height: 30px;
  }
  .justifyContent {
    justify-content: center;
  }
  .spaceBetween {
    justify-content: space-between;
  }
  .showTotalHeight {
    flex: 1;
  }
  .count {
    font-weight: 500;
    font-size: 20px;
    font-family: system-ui,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  }
  .chartHeader {
    height: 42px;
    padding: 0 5px;
    margin: 0 -5px;
    border-radius: 5px;
  }
  .headerBottomLine {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
  }
}

.horizontalChartDialog {
  height: 50%;
  .am-modal-body {
    overflow: hidden;
  }
}
