
@import url('../Discuss/index.less');

.mobileView {
  background-color: #F2F2F3;
}

.am-tabs-default-bar-underline {
  border-width: 2px;
  border-radius: 24px;
}

.filterStepListWrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  .am-drawer-sidebar {
    z-index: 100;
    border-radius: 14px 0 0 14px;
    background-color: #fff;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.viewTabs {
  .am-tabs-default-bar-tab {
    width: auto !important;
    border-bottom: none !important;
    padding: 0 12px !important;
    max-width: 130px;
    &:after {
      content: none !important;
    }
  }
  .am-tabs-default-bar-tab-active {
    &:before {
      content: '';
      height: 4px;
      background-color: #108ee9;
      width: 16px;
      margin-left: -8px;
      position: absolute;
      left: 50%;
      bottom: 3px;
      border-radius: 4px;
    }
  }
  .am-tabs-default-bar-underline {
    display: none;
  }
}

.addRecordItemWrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.addRecordBtn {
  height: 36px;
  display: flex !important;
  border-radius: 24px !important;
  padding: 0px 15px !important;
  background-color: #2196F3 !important;
  margin: 0 auto;
}


.moibleFilterPopup {
  left: 0 !important;
}

