.authorizedAppContainer {
  flex: 1;
  min-height: 0;
  padding: 24px 40px;
  box-sizing: border-box;
  background-color: var(--color-background-primary);
  overflow-x: hidden;
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  .description {
    background: var(--color-primary-transparent);
    border-radius: 3px;
    padding: 0 12px;
    line-height: 36px;
    margin-bottom: 21px;
  }
  .appIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
  }
}
