.workflowEdit {
  .workflowBranch {
    display: inline-flex;
    position: relative;
    padding-top: 16px;
    background-color: var(--color-background-secondary);
    &.workflowBoxPending {
      .workflowExecBeforeLine {
        &::before {
          background-color: var(--color-text-placeholder) !important;
        }
      }
    }
    ~ .workflowLineBtn {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 1px;
        height: 100%;
        background-color: var(--color-text-placeholder);
      }
    }
    > .flexColumn {
      border-top: 1px solid var(--color-border-tertiary);
      border-bottom: 1px solid var(--color-border-tertiary);
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 1px;
        height: 100%;
        background-color: var(--color-text-placeholder);
      }
      &.workflowExecBeforeLine {
        &::before {
          width: 3px;
          background-color: var(--color-primary);
        }
      }
      > .workflowBox {
        padding-top: 36px !important;
        box-sizing: border-box;
      }
      .clearLeftBorder {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -5px;
          width: calc(~'(100% - 1px) / 2');
          background: var(--color-background-secondary);
          height: 10px;
        }
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -5px;
          width: calc(~'(100% - 1px) / 2');
          background: var(--color-background-secondary);
          height: 10px;
        }
      }
      .clearRightBorder {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        &::before {
          content: '';
          position: absolute;
          right: 0;
          top: -5px;
          width: calc(~'(100% - 1px) / 2');
          background: var(--color-background-secondary);
          height: 10px;
        }
        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: -5px;
          width: calc(~'(100% - 1px) / 2');
          background: var(--color-background-secondary);
          height: 10px;
        }
      }
    }
    .workflowGatewayNode {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 3;
      padding: 0px 30px;
      transform: translateX(-50%);
      &:hover {
        .workflowGatewayAction {
          display: flex;
        }
      }
      .workflowGatewayCard {
        min-width: 160px;
        max-width: 261px;
        transform: translateY(-4px) !important;
      }
      .workflowGatewayIcon {
        width: 26px;
        min-width: 26px;
        height: 26px;
        margin-left: 2px;
        border-radius: 8px;
        background: var(--color-background-tertiary);
        transform: rotate(45deg);
        i {
          color: var(--color-primary);
          transform: rotate(-45deg) translateY(-2px);
        }
      }
      .workflowGatewayAction {
        position: absolute;
        top: 4px;
        z-index: 1;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: var(--color-background-primary);
        box-shadow: var(--shadow-lg);
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 16px;
        line-height: 1;
      }
      .workflowGatewayAdd {
        right: 0;
      }
      .workflowGatewayFold {
        left: 0;
      }
    }
    .workflowGatewayCollapsed {
      position: absolute;
      top: 16px;
      left: 50%;
      z-index: 3;
      width: 30px;
      height: 30px;
      border-radius: 8px;
      color: var(--color-white);
      background: var(--color-primary);
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate(-50%, -50%) rotate(45deg);
      box-shadow: var(--shadow-sm);
      &:hover {
        background: var(--color-link-hover);
      }
      > span {
        transform: rotate(-45deg);
      }
    }
    .workflowBranchSpecial {
      width: 160px;
      height: 60px;
      margin: auto;
      .workflowName {
        padding: 0;
        align-items: center;
        justify-content: center;
        .workflowYes {
          color: #01ca86;
        }
        .workflowNo {
          color: var(--color-error);
        }
      }
    }
  }
  .workflowBranchHide {
    .workflowLineBtn {
      padding-top: 32px !important;
    }
  }
}

.workflowBranchTips {
  white-space: nowrap;
  height: 34px;
  width: 98px;
  .hap-tooltip-container {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
  }
  .hap-tooltip-arrow {
    display: none !important;
  }
  .workflowBranchBtnSmall {
    width: 24px;
    height: 24px;
    background: var(--color-background-primary);
    box-shadow: var(--shadow-lg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    line-height: 1;
    i {
      font-size: 16px;
    }
  }
  .workflowBranchBtnBig {
    width: 34px;
    height: 34px;
    cursor: pointer;
  }
}
