.sortColumnWrap {
  width: 100%;
  background: #fff;
  .Dropdown--input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    line-height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    min-height: 36px;
  }
  &.layout2 {
    .workSheetChangeColumn {
      padding: 0 !important;
      .columnCheckList .nano-content {
        padding: 0 10px;
      }
      .quickOperate {
        margin-top: 10px;
        padding: 0;
        height: 28px;
        line-height: 28px;
        button {
          margin-right: 8px;
          padding: 0 10px;
          width: auto;
          height: 28px;
          line-height: 28px;
          float: none !important;
        }
      }
    }
  }
}
