.sortColumnWrap {
  width: 100%;
  .Dropdown--input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-border-tertiary);
    line-height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    min-height: 36px;
  }
  &.layout2 {
    .workSheetChangeColumn {
      padding: 0 !important;
      .columnCheckList .scroll-viewport {
        padding: 0 10px;
      }
    }
  }
}
