.taskDetail {
  .dailyContent {
    padding-top: 22px;
  }
  .singleDdaily {
    position: relative;
    padding: 0 140px 15px 30px;
    color: var(--color-text-tertiary);
    word-break: break-all;
  }
  .singleDdaily .singleDdailyType {
    font-size: 14px;
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    vertical-align: top;
    color: var(--color-text-placeholder);
  }
  .singleDdaily a {
    text-decoration: none;
    color: var(--color-primary);
  }
  .singleDdaily a:hover {
    color: var(--color-link-hover);
  }
  .singleDdaily .singleDdailyTime {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-text-tertiary);
  }
}
