.taskDetail {
  .dailyContent {
    padding-top: 22px;
  }
  .singleDdaily {
    position: relative;
    padding: 0 140px 15px 30px;
    color: #999;
    word-break: break-all;
  }
  .singleDdaily .singleDdailyType {
    font-size: 14px;
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    vertical-align: top;
    color: #ccc;
  }
  .singleDdaily a {
    text-decoration: none;
    color: #0091ea;
  }
  .singleDdaily a:hover {
    color: #007ae1;
  }
  .singleDdaily .singleDdailyTime {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
  }
}
