.taskDetail {
  .fromWhere {
    padding: 0 20px;
    height: 34px;
    align-items: center;
    background: #e8e8e8;
    font-size: 13px;
    i {
      color: #9d9d9d;
    }
    span:not(:hover) {
      color: #757575!important;
    }
  }
  .detailFolder {
    align-items: center;
    min-height: 24px;
    &:hover {
      .folderBtn {
        visibility: visible;
      }
    }
    .taskNullFolder {
      font-size: 15px;
      height: 19px;
      color: #757575;
      border-bottom-color: #757575;
      border-width: 0;
      border-bottom-width: 1px;
      border-style: dotted;
      &:not(:hover) {
        color: #757575!important;
        border-bottom-color: #757575!important;
      }
    }
    .detailFolderName {
      color: #9e9e9e;
    }
    .taskDeatilFolderName {
      font-size: 13px;
      &:not(:hover) {
        color: #9e9e9e!important;
      }
    }
    .taskDeatilFolderStage {
      min-width: 120px;
    }
    .Dropdown {
      border-radius: 12px;
      &.disabled,
      &:not(:hover) {
        background: rgba(0, 0, 0, .13)!important;
      }
      .Dropdown--input {
        color: #fff;
        padding: 3px 5px 2px 10px;
      }
      .icon-arrow-down-border {
        font-size: 12px!important;
      }
    }
    .folderBtn {
      font-size: 16px;
      visibility: hidden;
      margin-left: 15px;
      &:not(:hover) {
        color: #9e9e9e!important;
      }
    }
  }
  .parentTaskList {
    li {
      height: 21px;
      align-items: center;
      margin-top: 10px;
      &:hover {
        .parentBtn {
          visibility: visible;
        }
      }
      .overflow_ellipsis {
        border-width: 0;
        border-bottom-width: 1px;
        border-style: dotted;
        height: 20px;
        &:not(:hover) {
          color: #757575!important;
          border-bottom-color: #757575!important;
        }
      }
      .parentBtn {
        font-size: 16px;
        visibility: hidden;
        margin-left: 15px;
        &:not(:hover) {
          color: #9e9e9e!important;
        }
      }
    }
  }
  .chargeAvatar {
    width: 32px;
    height: 32px;
    margin-top: 2px;
  }
  .detailTaskName {
    font-size: 23px!important;
    width: 100%;
    padding: 0 7px!important;
    resize: none;
    border-width: 1px;
    border-style: solid;
    background: #f5f5f5;
    margin-left: 10px;
    margin-right: 10px;
    &:hover:not(:focus) {
      border-color: #e5e5e5 !important;
    }
    &:not(:focus),
    &:disabled {
      border-color: #f5f5f5 !important;
    }
  }
  .detailStar {
    font-size: 20px;
    cursor: pointer;
    color: #99a1ab;
    height: 30px;
    .icon-task-star {
      color: #fbc02d;
    }
  }
  .taskContentBoxBG {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 5px;
    .taskContentIcon {
      position: absolute;
      top: 17px;
      left: 12px;
      font-size: 16px;
      height: 16px;
      color: #8f9093;
      i {
        vertical-align: top;
        display: inline-block;
      }
    }
  }
  .detailSummary {
    padding: 0 15px 0 45px;
    box-sizing: border-box;
    width: 100%;
    min-height: 51px;
    position: relative;
    .taskDetailEdit {
      .editorNull {
        margin-top: 16px;
        vertical-align: top;
        display: inline-block;
      }
    }
  }
  .detailAtts {
    padding: 5px 15px 0 45px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    border-top: 1px solid #e0e0e0;
    min-height: 51px;
    .detailAttsBtn {
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      &:not(:hover) {
        color: #ccc !important;
      }
    }
    .detailAttsNull {
      height: 40px;
      line-height: 40px;
      color: #ccc;
    }
    .detailAttsPostBtn {
      margin: 10px 0 20px;
      text-align: right;
      .ThemeColor3 {
        &:not(:hover) {
          color: #9e9e9e !important;
        }
      }
    }
    .UploadFiles-filesWrapper {
      padding-bottom: 10px;
    }
    .talkSendBtn {
      font-size: 13px;
      line-height: 28px;
      display: inline-block;
      height: 28px;
      padding: 0 18px;
      cursor: pointer;
      text-align: center;
      color: #fff;
      border-radius: 3px;
    }
  }
  .detailTaskLable {
    padding: 10px 15px 10px 45px;
    box-sizing: border-box;
    width: 100%;
    min-height: 51px;
    position: relative;
    border-top: 1px solid #e0e0e0;
    .tagsIcon {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: inline-block;
    }
    .selectize-control.multi {
      .selectize-dropdown-content .option {
        cursor: pointer;
      }
      .selectize-input.has-items {
        padding: 0;
        vertical-align: top;
      }
    }
    .selectize-input {
      padding: 0;
      border: 0;
      min-height: 25px;
      overflow: inherit;
      box-shadow: none;
      margin-top: 4px;
      &.focus {
        box-shadow: none;
      }
      input {
        border: none;
        vertical-align: sub!important;
        vertical-align: top\0;
        margin-top: -1px !important;
      }
      .item {
        vertical-align: middle;
      }
      .item ~ input {
        vertical-align: middle!important;
      }
      .item:hover .remove {
        display: inline-block !important;
      }
      .remove {
        display: none !important;
        background: transparent !important;
        cursor: pointer;
      }
    }
    .selectizeiItem {
      border-radius: 18px;
      overflow: hidden;
      cursor: default;
      word-break: break-all;
      display: inline-flex;
      &.active {
        background: #f2f2f2;
      }
    }
    .tagsIcon {
      margin-right: 6px;
      display: inline-block;
      vertical-align: top;
      margin-top: 3px;
    }
    .remove {
      border: 0;
      padding-right: 6px;
      padding-left: 4px;
    }
  }
  .taskMembers {
    padding: 12px 15px 0 45px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    border-top: 1px solid #e0e0e0;
    min-height: 51px;
    .membersList {
      .detailAddMember {
        vertical-align: top;
      }
      .icon-task-add-member-circle {
        font-size: 26px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        &:not(:hover) {
          color: #aaa !important;
        }
      }
      .membersListItem {
        display: inline-block;
        margin: 0 8px 12px 0;
        width: 26px;
        height: 26px;
        position: relative;
        .maskApplyMemberBg {
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          width: 26px;
          height: 26px;
          background: url(../../taskCenter/images/applyMember.png);
          background-size: 100%;
          pointer-events: none;
        }
      }
    }
  }
}
