.iconSelect {
  display: inline;
}

.iconPicker {
  min-width: 280px;
  max-width: 280px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 0;
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
  .colorList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .color {
      flex: 0 0 20px;
      height: 20px;
      border-radius: 50%;
      padding: 2px;
      &:hover,
      &.selected {
        flex: 0 0 24px;
        height: 24px;
        border: 1px solid;
        padding: 2px;
        box-sizing: border-box;
      }
    }
  }
  .iconListWrapper {
    min-height: 90px;
    max-height: 150px;
  }
  .iconList {
    .iconsRow {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
    margin-left: 7px;
    margin-right: 7px;
    .phc {
      display: inline-block;
      width: 30px;
      height: 0;
    }
  }
}
