.collectAppDragItem {
  height: 50px;
  > div {
    background: #f8f8f8 !important;
    border-radius: 8px;
  }
  .markStarIcon {
    display: block;
  }
}

.chartSortItemHelper {
  .dragWrap {
    display: block !important;
    color: #1677ff !important;
  }
}

.suggestWrapper {
  padding: 16px 24px 40px;
  &.ant-popover {
    width: 640px;
    max-width: 640px !important;
    .ant-popover-inner {
      border-radius: 3px;
    }
    .ant-popover-arrow {
      width: 20px;
      height: 20px;
    }
    .ant-popover-arrow-content {
      width: 10px;
      height: 10px;
    }
  }
  .title {
    font-size: 17px;
    font-weight: bold;
  }
  .description {
    font-size: 14px;
    margin: 8px 0 16px;
  }
  img {
    width: 100%;
  }
}

.bulletinHelperClass {
  .bulletinItem {
    border-color: #eaeaea;
  }
}
