.collectAppDragItem {
  width: 200px;
  background: #f8f8f8;
  border-radius: 8px;
  .markStarIcon {
    display: block;
  }
}

.chartSortItemHelper {
  z-index: 10;
  position: relative;
  width: calc(50% - 10px);
  height: 300px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 10px 20px 20px 20px;
  background: #fff;
  .dragWrap {
    position: absolute;
    left: 8px;
    top: 16px;
    display: block;
    color: #2196f3;
  }
}
