.system-set-container {
  margin: 16px;
  box-sizing: border-box;
  flex: 1;
  min-height: 0;
}

.system-set-box {
  height: 100%;
  min-width: 750px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.system-set-content {
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.system-set-header {
  height: 57px;
  color: #333333;
  font-weight: 600;
  padding: 0 18px 0 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #EAEAEA;
  display: flex;
  align-items: center;
  background: #fff;
}