
.appInstallSetting {
	&Wrapper {
		height: 95%;
		overflow-y: scroll;
	}
	&Title {
		border-bottom: 1px solid #EAEAEA;
		padding-bottom: 16px;
	}
	&Header {
		padding: 64px 0;
		margin: 0 50px;
		border-bottom: 1px solid #EAEAEA;
		.copy, .scanCode {
			color: #2196F3;
			cursor: pointer;
			margin: 0 5px 0 10px;
		}
	}
	&Content {
		padding-top: 40px;
		.title {
			padding: 0 50px;
		}
		.pcWrapper, .mobileWrapper {
			img {
				height: 160px;
			}
		}
		.pcWrapper {
			margin-right: 240px;
		}
		.downloadWrapper {
			margin-right: 53px;
		}
		.appewmWrapper {
			margin-left: 180px;
			img {
				width: 160px;
			}
		}
		.name {
			margin-top: 30px;
		}
		.downloadBtn {
			height: 64px;
			width: 280px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid #ccc;
			border-radius: 5px;
			margin-bottom: 20px;
		}
		.justifyContentCenter {
			justify-content: center;
		}
	}
}
