.buyFailed {
  margin: 10px auto;
  width: 800px;
  margin-top: 80px;
}
.failIcon {
  border: 2px solid #d75b73;
  color: #d75b73;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 41px;
  display: inline-block;
}
.buyFailed h3 {
  margin: 0;
}
