
.gunterToolBarSelectWrapper {
  padding: 6px 0;
  width: 120px !important;
}
.gunterToolBarSelectOptionWrapper {
  height: 36px;
  transition: none;
  &.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-weight: unset;
    background-color: transparent;
  }
  &.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    color: #fff;
    background-color: #2196F3;
  }
}
