.validityDateConfig {
  .dateSelect {
    width: 220px;
    .hap-select-clear {
      width: 20px;
      height: 20px;
      margin-top: -10px;
    }
    .hap-select-arrow {
      width: auto;
      height: auto;
      top: 40%;
    }
    &.hap-select-single.hap-select-show-arrow .hap-select-selection-item,
    .hap-select-selection-placeholder {
      opacity: 1;
      font-size: 13px;
      display: flex;
      align-items: center;
    }
    &.hap-select-single.hap-select-open .hap-select-selection-item {
      color: inherit;
    }
  }
  .hap-picker {
    width: 220px;
  }
  .labelName {
    min-width: 80px;
  }
}

.validityDateOption {
  &.hap-select-item-option-selected:not(.hap-select-item-option-disabled) {
    font-weight: unset;
    color: var(--color-white);
    background-color: var(--color-primary);
    .icon {
      color: var(--color-white) !important;
    }
  }
}
