.selectWorksheetCommon {
  .dropdownWrapper {
    * {
      display: block;
    }
    .aroundList {
      width: 100%;
    }
  }
  .selectWorksheetCommonContent {
    width: 100%;
  }
  .worksheetList {
  }
  .worksheetItem {
    padding: 0 16px;
    line-height: 40px;
    &:hover {
      color: #fff;
      background-color: #2196f3;
    }
  }
  .selectOhterApp {
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    margin-top: 6px;
  }
  .loadingCon {
    padding-left: 12px;
  }
}
