.workConfigControl {
  .workConfigControlBox {
    overflow: auto;
    .controlSeparate {
      width: 50px;
      justify-content: center;
      display: flex;
      padding-top: 9px;
      transform: rotate(180deg);
    }
    .controlBox {
      .sheetControls {
        background: var(--color-background-secondary);
        border-radius: 3px;
        min-width: 0;
        .star {
          color: var(--color-error);
          font-size: 17px;
          height: 28px;
        }
        .controlItem {
          height: 36px;
          line-height: 36px;
          padding: 0 12px;
          box-sizing: border-box;
          align-items: center;
        }
        .relateBox {
          padding: 0 12px;
          box-sizing: border-box;
          height: 36px;
          align-items: center;
        }
      }
      .excelControls {
        .cantConfig {
          height: 36px;
          line-height: 36px;
          padding-left: 12px;
          border-radius: 3px;
          border: 1px solid var(--color-border-secondary);
          box-sizing: border-box;
        }
        .cantConfig {
          width: 100%;
          background: var(--color-background-secondary);
        }
      }
    }
  }
  .repeatConfigError {
    color: var(--color-error);
  }
}
