.workConfigControl {
  height: 560px !important;
  .workConfigControlBox {
    overflow: auto;
    .controlSeparate {
      width: 50px;
      justify-content: center;
      display: flex;
      padding-top: 9px;
      transform: rotate(180deg);
    }
    .controlBox {
      .sheetControls {
        background: var(--color-background-secondary);
        border-radius: 3px;
        min-width: 0;
        .star {
          color: var(--color-error);
          font-size: 17px;
          height: 28px;
        }
        .controlItem {
          height: 36px;
          line-height: 36px;
          padding: 0 12px;
          box-sizing: border-box;
          align-items: center;
        }
        .relateBox {
          padding: 0 12px;
          box-sizing: border-box;
          height: 36px;
          align-items: center;
          .Dropdown.disabled {
            background-color: var(--color-background-secondary);
          }
          .Dropdown--input {
            padding-left: 5px !important;
          }
        }
      }
      .excelControls {
        .excelControlDropDown,
        .cantConfig {
          height: 36px;
          line-height: 36px;
          padding-left: 12px;
          border-radius: 3px;
          border: 1px solid var(--color-border-secondary);
          box-sizing: border-box;
        }
        .cantConfig {
          width: 100%;
          background: var(--color-background-secondary);
        }
        .excelControlDropDown {
          &.fixedDropdownSelected {
            cursor: pointer;
            font-weight: normal;
          }
          .dropDownLabel {
            display: inline-block;
            width: 350px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .repeatConfigDropdown {
    .ming.List {
      top: inherit !important;
      bottom: 36px;
      width: auto;
      min-width: 180px;
    }
  }
  .Dropdown {
    &.disabled {
      .icon-arrow-down-border {
        visibility: hidden;
      }
    }
  }
  .repeatConfigError {
    color: var(--color-error);
  }
  .errorSkipDialog {
    position: absolute;
    top: inherit !important;
    bottom: 0 !important;
    width: 440px;
    padding: 16px;
  }
}

.excelControlDropDownList {
  max-height: 220px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    background: var(--color-background-primary) !important;
  }
  .ant-dropdown-menu-item {
    line-height: 26px;
    height: 36px;
    font-size: 13px;
    transition: none !important;
  }
  .ant-dropdown-menu-item-active {
    color: var(--color-white);
    background-color: var(--color-background-hover) !important;
  }
  .ant-dropdown-menu-item-selected {
    color: var(--color-primary) !important;
    background-color: var(--color-background-primary) !important;
  }
}
