.cardContentScore {
  border-radius: 0 0 4px 4px;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.cardContentScore a {
  display: block;
  padding: 0;
  width: 85px;
  height: 17px;
  background: url('../images/socre-logo-small.png') no-repeat;
  background-size: contain;
}

.cardContentDesc .contentTagItemCon {
  width: 100%;
  color: #757575;
  margin-top: 4px;
  display: flex;
}

.cardContentDesc .contentTagItemCon .contentItemLeft {
  max-width: 100%;
}

.cardContentDesc .contentTagItem {
  display: block;
  flex-shrink: 0;
  min-width: 36px;
  padding: 0 4px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  background: #f0f0f0;
  margin-left: 8px;
  border-radius: 4px;
  color: #757575;
}

.cardContentBox {
  position: relative;
}

.inviterName {
  margin-left: 59px;
  font-size: 12px;
  margin-top: -21px;
  color: #aaa;
}

.inviterName .overflow_ellipsis {
  vertical-align: top;
  text-decoration: none;
  max-width: 130px;
}

.inviterName .overflow_ellipsis:not(:hover) {
  color: #aaa !important;
}

.userCardSite {
  position: absolute;
  width: 340px;
  z-index: 10002;
  zoom: 1;
  color: #151515;
  left: -300px;
  top: 0;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  .userOperatorCon {
    height: 45px;
    border-radius: 0 0 4px 4px;
    line-height: 45px;
    background-color: #f5f5f5;
    display: flex;
  }

  .userOperatorCon .removeUser {
    width: 100%;
  }

  .oaButton {
    display: inline-block;
    text-align: center;
    width: 50%;
  }

  .removeFormAuth.oaButton {
    width: 100%;
  }

  .replaceManage,
  .replaceTask,
  .replaceRead {
    border-right: 1px solid #ccc;
    box-sizing: border-box;
  }

  .cancelAnAdministrator {
    width: 118px;
    display: inline-block;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
  }
}

.userCardSite.rc-trigger-popup-placement-topLeft,
.userCardSite.rc-trigger-popup-placement-topRight {
  .arrowBoxUserCard {
    bottom: -8px;
  }
  .arrowBoxUserCard .arrow {
    border-top-color: #fff;
  }
}

.userCardSite.rc-trigger-popup-placement-bottomLeft,
.userCardSite.rc-trigger-popup-placement-bottomRight {
  .arrowBoxUserCard {
    top: -15px;
  }
  .arrowBoxUserCard .arrow {
    border-bottom-color: #fff;
  }
}

.userCardSite.rc-trigger-popup-placement-bottomRight,
.userCardSite.rc-trigger-popup-placement-topRight {
  .arrowBoxUserCard {
    right: 2px !important;
  }
}
