.cardContentBox {
  position: relative;
}

.userCardSite {
  width: 340px;

  .userOperatorCon {
    height: 45px;
    line-height: 45px;
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .userOperatorCon .removeUser {
    width: 100%;
  }

  .oaButton {
    display: inline-block;
    text-align: center;
    width: 50%;
  }
}
