.tagInputWrap {
  position: relative;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  padding-left: 6px;
  min-width: 0;
  &.disable {
    background-color: #f8f8f8;
  }
  &:hover {
    border: 1px solid #2196f3;
  }
  &.active {
    border: 1px solid #2196f3;
  }
  .createTag {
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: -1px;
    right: -1px;
    padding-left: 12px;
    line-height: 36px;
    background-color: #fff;
    color: #2196f3;
    font-size: 13px;
    cursor: pointer;
    display: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    &.show {
      display: block;
    }
    &:hover {
      background-color: #2196f3;
      color: #fff;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    align-items: center;
    box-sizing: border-box;
    margin: 5px 4px;
    border-radius: 3px;
    height: 24px;
    padding: 6px 12px 6px 10px;
    background-color: #eaeaea;
    border: 1px solid #ddd;
    max-width: 85%;
    span.tag {
      margin-right: 12px;
      font-size: 13px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }
    .delTag {
      color: #bdbdbd;
      &:hover {
        color: #757575;
      }
    }
    &:last-child {
      margin: 0 0 0 10px;
      padding: 0;
      height: 34px;
      background-color: transparent;
      border: none;
      min-width: 1px;
    }
  }
  input {
    max-width: 98%;
    padding: 6px 0;
    line-height: 22px;
    border: none;
    &:disabled {
      background-color: #f8f8f8;
    }
  }
}
