.pullToRefreshContainer {
  height: 100%;

  .adm-pull-to-refresh {
    height: 100%;
  }
}

/* 加载中动画 */
.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* 转圈 */
.spinner {
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top: 3px solid #1890ff;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
