.flexCenterHeight {
  display: flex;
  height: 100%;
  align-items: center;
}

.nativeHeaderWrap {
  .flexCenterHeight();
  --dot-wrap-bg: rgba(0, 0, 0, 0.04);
  --dot-bg: rgba(0, 0, 0, 0.6);
  [data-theme='dark'] & {
    --dot-wrap-bg: rgba(255, 255, 255, 0.04);
    --dot-bg: rgba(255, 255, 255, 0.6);
  }
  height: 50px;
  box-shadow: var(--shadow-md);
  z-index: 15;
  background-color: var(--color-background-primary);
  .nativeModuleLogo {
    width: 238px;
    padding-left: 12px;
    box-sizing: initial;
    .flexCenterHeight();
    .homepageIcon {
      padding: 8px;
      background-color: var(--dot-wrap-bg);
      border-radius: 8px;
      box-sizing: content-box;
      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
        .icon {
          color: var(--color-primary) !important;
        }
        .item {
          background-color: var(--color-primary);
        }
      }
      .item {
        transition: background-color 0.25s;
        background-color: var(--dot-bg);
      }
    }
    .nativeCoordinationIcon {
      margin: 0 8px 0 16px;
    }
    .nativeTitle {
      font-size: 16px;
      color: var(--color-text-primary);
    }
  }
  .nativeTabsWrap {
    .flexCenterHeight();
    flex: 1;
    li {
      box-sizing: border-box;
      height: 100%;
      line-height: 50px;
      padding: 0 20px;
      transition: all 0.25s;
      cursor: pointer;
      color: var(--color-text-secondary);
      font-weight: bold;
      white-space: nowrap;
      &.tab-item:hover {
        background-color: var(--color-background-hover);
      }
      &.tab-item.active {
        color: var(--color-text-primary);
        font-weight: bold;
        background-color: var(--color-primary-transparent);
      }
    }
  }
}
