.commonPageHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 32px;
  height: 60px;
  background-color: #fff;
  z-index: 10;
}

.commonPageHeader.withShadow {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
}

.commonPageHeader:before {
  content: '';
  line-height: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: middle;
}

.commonPageHeader .netManageTitle {
  display: inline-block;
  width: 100px;
  height: 32px;
  line-height: 32px;
  color: #333;
  padding-left: 20px;
  margin-left: 20px;
  font-size: 17px;
  border-left: 1px solid #ddd;
}
