#menuList {
  max-width: 260px;
  height: 100%;
  transition: min-width 0.2s linear 0s;

  .menuContainer {
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #151515;
    font-size: 13px;
    display: flex;
    flex-direction: column;
  }

  .listContainer {
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 14px;
    padding: 0 8px 30px;
    &::-webkit-scrollbar {
      width: 6px;
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: #ffffff;
    }
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: #c9c9c9;
      }
    }
    .subTitle {
      height: 40px;
      padding-left: 12px;
      margin-bottom: 8px;
      border-radius: 5px;
      &:hover {
        background-color: #f0f0f0;
      }
    }
    .shrinkNav {
      height: 40px;
      padding-left: 12px;
      margin-bottom: 8px;
      border-radius: 5px;
      &:hover {
        background-color: #f0f0f0;
      }
      &.activeSubTitle {
        background-color: rgba(18, 148, 247, 0.08) !important;
        i {
          color: #1294f7 !important;
        }
      }
    }
    .expandIcon {
      transform: rotate(180deg);
    }
  }

  .title {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
    padding-left: 13px;
    box-sizing: border-box;
    .companyName {
      flex: 1;
      min-width: 0;
      box-sizing: border-box;
      display: block;
      white-space: nowrap;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .titleIconBox {
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      transform: translate(-10px);
      &:hover {
        background: #f0f0f0;
      }
    }
    .hidden {
      display: none;
    }
  }

  .manageItems {
    transition: height 0.2s;
  }
  .item {
    font-size: 14px;
    margin-bottom: 8px;
    a {
      height: 40px;
      min-width: 40px;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: margin 0.2s, border-radius 0.2s padding-left 0.2s;
      border-radius: 5px;
      &:hover {
        background-color: #f0f0f0;
      }
      .subName {
        flex: 1;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.87);
      }
    }
    .activeItem {
      background-color: rgba(18, 148, 247, 0.08) !important;
      position: relative;
      .subName,
      i.homeIcon {
        color: #1294f7 !important;
      }
      .newIcon {
        display: none;
      }
      &.activeExtend {
        &::after {
          position: absolute;
          content: '';
          width: 3px;
          height: 16px;
          background: #2196f3;
          border-radius: 10px;
          top: 12px;
          left: 0;
        }
      }
    }

    .isExtendBorder {
      margin-left: 0px;
      padding-left: 0;
    }

    .newIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 16px;
      margin-right: 12px;
      border-radius: 2px 2px 2px 2px;
      background: rgba(33, 150, 243, 0.12);
    }
  }
}

.closeList {
  width: 60px;
  min-width: 60px;
  .closeAct {
    margin: 0 10px;
    padding-left: 10px;
    border-radius: 20px 20px 20px 20px;
  }
  .companyName {
    margin-right: 0;
    display: none !important;
  }
  .title {
    padding-left: 0 !important;
    justify-content: center !important;
    .titleIconBox {
      transform: none !important;
    }
  }
}

.extendList {
  min-width: 260px;
  .extendAct {
    padding-left: 12px;
    border-radius: 5px;
  }
  .companyName {
    margin-right: 16px;
  }
}

.hoverMenuWrap {
  width: 220px;
  background: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  padding: 20px 0 8px;
  .manageItems {
    height: auto !important;
  }
  .item {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px !important;
    &:hover {
      background-color: #f0f0f0;
    }
    &.active {
      background-color: rgba(18, 148, 247, 0.08) !important;
      a {
        color: #1294f7 !important;
      }
    }

    a {
      color: #151515;
      padding-left: 0px !important;
    }
  }
}
.betaIcon {
  color: rgb(76, 175, 80);
  margin-left: 4px;
}
