/**
* component Tab
* prefix: .mui-tab
*/
.mui-tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  &.mui-tab-align-center {
    text-align: center;
  }
  &.mui-tab-align-right {
    text-align: right;
  }

  & > .mui-tab-item {
    display: inline-block;
    padding: 2px 4px 0;
    margin: 0 6px;
    font-size: 14px;
    line-height: 32px;
    color: #9e9e9e;
    border-bottom: solid 2px transparent;
    cursor: pointer;
    user-select: none;
  }
}
