@containerWidth: 800px;
@transitionTime: 0.5s;

.roleSetting {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 12;
  box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-flow: column nowrap;
  width: @containerWidth;
  background: #fff;
  .header {
    padding: 14px 32px;
    border-bottom: 1px solid #ddd;
  }
  .footer {
    padding: 15px 32px 14px;
    background-color: #f5f5f5;
  }
  .body {
    flex: 1 1 0;
    .settingForm {
      padding: 25px 32px 30px;
    }

    .nameInput {
      width: 300px;
    }

    .subCheckbox :global(.Checkbox-box) {
      margin-right: 10px !important;
    }

    .authTable {
      .tableHeader {
        background-color: #f5f5f5;
        display: flex;
        flex-flow: row nowrap;
        height: 40px;
        line-height: 40px;
        .tableHeaderItemMax {
          width: 28%;
          text-align: center;
          font-weight: bold;
        }
        .tableHeaderItem {
          width: 18%;
          font-weight: bold;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
        }
      }
      .emptyContent {
        border-bottom: 1px solid #eaeaea;
        color: #bdbdbd;
        line-height: 45px;
        padding-left: 24px;
      }
      .tableRow {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
        text-align: center;

        .viewsGroup {
          border-right: 1px solid #eaeaea;
          width: 82%;
        }

        .viewSetting {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          line-height: normal;
          .viewSettingItemMax {
            width: 34.15%;
          }
          .viewSettingItem {
            width: 21.95%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
          }
        }

        .settingGroup {
          width: 18%;
        }

        .arrowIcon {
          display: inline-block;
          transform: rotate(0deg);
          transition: transform 0.2s ease;
          &.rotated {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
  .list {
    margin-top: 15px;
    li {
      width: 25%;
      float: left;
      margin-bottom: 15px;
      padding-right: 20px;
      box-sizing: border-box;
    }
  }
}

:global(.roleSettingSlide) {
  &-enter {
    right: -@containerWidth;
  }

  &-enter&-enter-active {
    right: 0;
    transition: right @transitionTime ease-in-out;
  }

  &-leave {
    right: 0;
  }

  &-leave&-leave-active {
    right: -@containerWidth;
    transition: right @transitionTime ease-in-out;
  }
}
