.AppHr .materialAttachment {
  .uploadBox {
    width: 128px;
    height: 132px;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    &:hover {
      background: #f5f5f5;
    }
    cursor: pointer;
    .uploadBoxIconCircle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }
  }
  .uploadBox.uploadBox--noUpload {
    border-color: #ccc !important;
    background-color: #fff !important;
    &:hover {
      background-color: #f5f5f5 !important;
    }
    .uploadBoxIconCircle {
      background-color: #e0e0e0 !important;
    }
  }
}
