.feedLeftNav {
  display: flex;
  flex-direction: column;
}

.feedLeftNav .icon-official-group {
  position: absolute;
  right: 20px;
}

.feedLeftNav .notGroupHint {
  padding: 15px;
  color: rgba(255, 255, 255, 0.87) !important;
}

.feedLeftNav .groupListContainer {
  display: flex;
  flex-direction: column;
}
.feedLeftNav .feedFixedList .Item-content {
  padding-left: 50px !important;
}
.feedLeftNav .feedFixedList .Item-content .Icon {
  left: 20px !important;
}
.feedLeftNav .feedFixedList .Icon.icon-mingdao {
  color: var(--color-primary) !important;
}
.feedLeftNav .feedFixedList .Icon.icon-charger {
  color: var(--color-cyan) !important;
  font-size: 16px;
}
.feedLeftNav .feedFixedList .Icon.icon-task-star {
  color: var(--color-warning) !important;
  font-size: 16px;
}
.feedLeftNav .feedFixedList .Item.ThemeBGColor8 .Item-content:hover {
  background-color: initial !important;
}
.feedLeftNav .avatarList .icon-official-group {
  color: var(--color-warning-border) !important;
  font-size: 12px;
  right: 22px;
}
