.feedLeftNav {
  display: flex;
  flex-direction: column;
}

.feedLeftNav .notGroupHint {
  padding: 15px;
  color: rgba(255, 255, 255, 0.87) !important;
}

.feedLeftNav .groupListContainer {
  display: flex;
  flex-direction: column;
}
.feedLeftNav .feedFixedList .Icon.icon-mingdao {
  color: var(--color-primary) !important;
}
.feedLeftNav .feedFixedList .Icon.icon-charger {
  color: var(--color-cyan) !important;
  font-size: 16px;
}
.feedLeftNav .feedFixedList .Icon.icon-task-star {
  color: var(--color-warning) !important;
  font-size: 16px;
}
.feedLeftNav .avatarList .icon-official-group {
  color: var(--color-warning-border) !important;
  font-size: 12px;
}
