.baseInfoEditContent{
  .formControl {
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 6px 12px;
    display: inline-block;

    &.error {
      border-color: #f00 !important;
    }
  }
  .errorBox {
    height: 24px;
  }
  .wsRadioGroup {
    label + label {
      margin-left: 100px;
    }
  }
}

#uploadAvatorDialogId,
.baseInfoEditContent {
  .reviewBox {
    margin-left: 36px !important;
  }
  .flexEnd {
    display: flex;
    justify-content: flex-end;
    .saveBtn {
      width: 92px;
      height: 36px;
      border-radius: 18px;
    }
  }
}
