/**
* ui FormGroup
* prefix: .dossier-user-formgroup
*/
.dossier-user-formgroup {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
  & > .dossier-user-formgroup-name {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    font-weight: bold;
    margin: 16px 0;
    padding-left: 10px;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 4px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 3px;
    }

    & > .dossier-user-form-editbutton {
      vertical-align: middle;
      margin-left: 20px;
      display: none;
    }
  }

  &:hover > .dossier-user-formgroup-name {
    & > .dossier-user-form-editbutton {
      display: inline-block;
    }
  }

  & .dossier-user-formgroup-empty,
  & .dossier-user-formgroup-subgroup-empty {
    margin: 16px 0;
    padding-left: 10px;
    font-size: 13px;
    line-height: 20px;
  }

  & .dossier-user-formgroup-subgroup-empty {
    padding-left: 20px;
  }
}
