.manageBackupFilesDrawer {
  .hap-drawer-mask {
    background-color: rgba(255, 255, 255, 0);
  }
  .hap-drawer-content-wrapper {
    .hap-drawer-content {
      .hap-drawer-header {
        padding: 0px;
        .headerInfo {
          position: relative;
          padding: 24px 24px 8px;
          .title {
            font-size: 17px;
            font-weight: 600;
            color: var(--color-text-title);
            margin-bottom: 8px;
          }
          .subTitle {
            font-size: 13px;
            font-weight: 400;
            color: var(--color-text-tertiary);
            .help {
              color: var(--color-primary);
              margin-left: 5px;
            }
          }
          .closeIcon {
            position: absolute;
            right: 15px;
            top: 24px;
          }
        }
        .limitMax {
          background: rgba(255, 159, 51, 0.15);
          height: 32px;
          line-height: 32px;
          color: var(--color-warning);
          font-size: 12px;
          padding-left: 20px;
          .icon {
            color: var(--color-warning);
          }
        }
      }
      .hap-drawer-body {
        padding: 0;
      }
    }
  }
}

.manageBackupFilesWrap {
  width: 100%;
  height: 100%;
  .tabWrap {
    display: flex;
    border-bottom: 1px solid var(--color-border-primary);
    .tabItem {
      width: 96px;
      height: 42px;
      line-height: 42px;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      &:last-child {
        margin-left: 32px;
      }
      &.active {
        border-bottom: 2px solid var(--color-link-hover);
        color: var(--color-link-hover);
      }
    }
  }
}

.createIndexDialog {
  .hap-modal-body {
    position: relative;
    .warning {
      position: absolute;
      top: 0;
      left: 0;
      width: 580px;
      padding-left: 24px;
    }
  }
}
