// commoninfo
.common-info {
  padding: 40px 24px;
}

.common-info-row {
  display: flex;
  // align-items: center;
  // margin-top: 30px;
  color: #333333;
  font-size: 13px;
  &.pTop54 {
    padding-top: 54px;
  }
  .common-info-row-label {
    width: 140px;
    color: #757575;
    display: flex;
    justify-content: flex-start;
  }
  .common-info-row-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    .color_b {
      color: #333333;
    }
  }
  .common-images {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    .homeImage {
      vertical-align: bottom;
      padding: 4px;
      border: 2px solid transparent;
    }
  }
  .domain-review {
    width: 100px;
    height: 56px;
    margin-top: 6px;
  }
  .set-describe {
    color: #757575;
  }
  .delete {
    color: #ff6d6c;
  }
}

.split-line {
  width: 100%;
  margin: 40px 0;
  background: #EAEAEA;
  height: 1px;
}

.logoBoxBorder {
  height: 48px;
  display: inline-block;
  position: relative;
  .logoIconBox {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    line-height: 48px;
    z-index: 2;
  }
  img {
    height: 100%;
  }
  &:hover {
    .logoIconBox {
      display: block;
    }
  }
}

.avatar-uploader {
  width: 100px;
  height: 56px;
  text-align: center;
  line-height: 52px;
  border-radius: 2px;
  border: 1px dashed #EAEAEA;
  box-sizing: border-box;
  cursor: pointer;
  .icon-upload_pictures {
    color: #9E9E9E;
  }
  img {
    width: 100%;
    height: 100%;
  }

  &:hover {
    border-color: #2196F3;
  }
}

//subdomain
.sub-domain {
  padding: 40px;
  .ming.Button--small {
    width: 74px;
  }

  .ming.Button {
    border-radius: 14px;
  }
}
.domain-describe {
  color: #9E9E9E;
  font-size: 14px;
  line-height: 24px;
}

//workplace
.warpEditName {
  .existResult {
    color: #f00;
    font-size: 14px;
  }
}

.warpMerge {
  .content {
    overflow: auto;
    max-height: 300px;
    padding-left: 30px;
  }
}

.editMemberDialog {
  .btnSearch {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 18px;
  }
  .content {
    min-height: 210px;
    max-height: 350px;
    overflow: auto;
  }
  .contentUser {
    display: flex;
    align-items: center;
    height: 50px;
    line-height: 50px;
    .headIcon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .contentName {
      flex: 2 0 0%;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 10px;
    }
    .contentJob {
      flex: 3 0 0%;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 10px;
    }
    .contentOperate {
      width: 20px;
      .deleteMember {
        display: none;
      }
    }
    &:hover {
      .deleteMember {
        display: inline-block;
      }
    }
  }
  .nullContent {
    text-align: center;
    padding-top: 76px;
    padding-bottom: 40px;
    .icon {
      background: #f5f5f5;
      width: 106px;
      height: 106px;
      line-height: 106px;
      font-size: 50px;
      color: #999;
      display: inline-block;
      border-radius: 50%;
    }
  }
}

.userManageWorkSite {
  /* itemSearch end */
  .ming.Button--small {
    width: 88px;
  }

  .ming.Button {
    border-radius: 15px;
  }

  .workSiteToolbox {
    display: flex;
    align-items: center;
    .iconText {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
    }
    .delete {
      color: #ff6d6c;
    }
  }

  .searchContainer {
    box-sizing: border-box;
    background: #F5F5F5;
    // border: 1px solid #fff;
    border-radius: 15px;
    margin-left: 24px;

    .btnSearch {
      font-size: 20px;

      position: absolute;

      margin: 5px 14px;
    }

    .searchInput {
      line-height: 30px;

      width: 192px;
      height: 30px;
      padding-left: 38px;

      border: none;
      outline: none;
      background: transparent;
    }
  }

  .dataView {
    font-size: 13px;
    padding: 0 24px;
    margin-top: 30px;
    box-sizing: border-box;
    .ant-table {
      .ant-checkbox-input {
        display: none;
      }
      .ant-table-selection-column {
        text-align: left;
      }
      thead > tr > th {
        height: 48px;
        background: #fff;
        padding: 1px 24px 12px 1px;
        box-sizing: border-box;
        color: #757575;
        font-weight: 600;
      }
      tbody > tr > td {
        height: 48px;
        padding: 1px 24px 1px 1px;
        box-sizing: border-box;
        color: #333333;
        border-bottom: none;
      }
    }
  }
  .itemCheck {
    display: inline-block;
    .checked .icon {
      display: none;
    }
  }
  /* 排序小图标 */
  .sortItem {
    position: relative;
    width: 10px;
    height: 15px;
    display: inline-block;
    .arrowUp {
      position: absolute;
      left: 3px;
      top: 2px;
    }
    .arrowDown {
      position: absolute;
      left: 3px;
      bottom: 2px;
    }
  }
}

.closeNet{
  height: 100%;
  padding: 30px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .hisListContainer {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    .tableViewContent {
      flex: 1;
      min-height: 0;
      display: flex;
      flex-direction: column;
      &.hidden {
        display: none;
      }
      .tableUser {
        width: 40%;
      }
      .tableOption,
      .tableTime {
        width: 30%;
      }
      .closeNetTableContent {
        flex: 1;
        min-height: 0;
        overflow-x: hidden;
      }
    }
  }
  #stepOne {
    .title {
      color: #333333;
    }
    .subTitle {
      color: #757575;
    }
    .passwordInput {
      width: 324px;
      height: 36px;
    }
  }
  .confirmBtn {
    margin-top: 48px;
    width: 148px;
    height: 42px;
    border-radius: 32px;
  }
  .error {
    color: #F54336;
  }
  #stepTwo {
    .content {
      display: flex;
      flex-direction: column;
      label {
        input {
          display: none;
        }
      }
    }
    .inputText {
      width: 240px;
      min-height: 40px;
      padding-left: 25px;
    }
  }
  #stepThree {
    .rowDetail {
      display: flex;
      align-items: center;
      color: #333333;
      font-size: 13px;
    }
    .rowLabel {
      width: 80px;
      display: flex;
      justify-content: flex-start;
    }
  }
  table {
    font-size: 13px;
    th {
      color: #757575;
      font-weight: 600;
      border-bottom: 1px solid #EAEAEA;
    }
    tbody {
      color: #333333;
    }
  }
}