.chartStyle,
.chartAdvanced {
  .hap-checkbox-input,
  .hap-radio-input {
    position: absolute;
  }
  .chartCollapse {
    .hap-collapse-header {
      font-size: 13px;
      font-weight: bold;
      color: var(--color-text-primary) !important;
      padding: 16px 0px;
    }
    .hap-collapse-expand-icon {
      --hap-margin-sm: 0;
    }
    .hap-collapse-item {
      border-bottom: 1px solid var(--color-border-primary);
      .hap-collapse-body {
        padding: 0 0 0 24px !important;
      }
      .hap-checkbox-wrapper,
      .hap-select .hap-select-selection-item,
      .hap-input {
        font-size: 13px !important;
      }
    }
    .hap-collapse-arrow {
      transition: transform 0.24s;
      position: static !important;
      line-height: initial !important;
      padding: 0 !important;
      transform: none !important;
      &::before {
        display: initial !important;
      }
      &.icon-arrow-active {
        transform: rotate(-180deg) !important;
      }
    }
    .collapsible .hap-collapse-body {
      filter: opacity(0.5);
      pointer-events: none;
    }
    .hideArrowIcon .icon-arrow-down-border {
      visibility: hidden;
    }
    .yAxisCollapsible .hap-collapse-body {
      > * {
        filter: opacity(0.5);
        pointer-events: none;
      }
      .minWrapper,
      .maxWrapper {
        filter: none;
        pointer-events: auto;
      }
    }
    .pivotTableFieldColorPanel .hap-collapse-body {
      padding-right: 0;
    }
  }
}
