.searchRecordWrapper {
  background-color: var(--color-background-secondary);
}

.searchSheetRowsWrapper {
  overflow-y: auto;
  .am-list {
    width: 100%;
  }
  .am-list-header {
    padding: 5px;
  }
  .am-list-body {
    background-color: transparent;
    border: none !important;
    &:before,
    &:after {
      content: none !important;
    }
  }
  .sheetRow {
    .controlName {
      color: var(--color-text-tertiary);
    }
    .controlValue {
      color: var(--color-text-secondary);
    }
  }
}
