.createIndexContainer {
  width: 497px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--color-background-primary);
  box-shadow: -15px 5px 15px rgba(0, 0, 0, 0.15);
  z-index: 12;
  .title {
    height: 50px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 17px;
    border-bottom: 1px solid var(--color-border-primary);
    background: var(--color-background-primary);

    span {
      flex: 1;
    }

    .pointer {
      width: 20px;
    }
  }
  .createIndexBody {
    height: calc(~'100% - 116px');
    padding: 0 25px 26px;
    overflow-y: auto;
    font-size: 13px;
    .minBold {
      font-weight: 500;
    }
    .sunTitle {
      color: var(--color-text-title);
      margin: 30px 0 18px 0;
    }
    .lineHeight20 {
      line-height: 20px;
    }
    .selectedInfo {
      .selectedRow {
        margin-bottom: 15px;
        .col1 {
          width: 219px;
        }
        .col2 {
          width: 138px;
        }
        .remove {
          margin: 0 14px 0 18px;
        }
        .disabledAct {
          cursor: not-allowed !important;
        }
      }
    }
    .descriptionInfos {
      margin-top: 30px;
      .desTitle {
        color: var(--color-primary);
      }
      .desContent {
        color: var(--color-text-secondary);
      }
    }
  }
}
