@-webkit-keyframes mdAlertDialogFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

.mdAlertDialog {
  position: fixed;
  background-color: black;
  color: white;
  padding: 13px 20px 13px 15px;
  text-align: left;
  font-size: 15px;
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  z-index: 99999;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
  line-height: 36px;
  -webkit-animation-name: mdAlertDialogFadeIn;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-direction: alternate;
}
.mdAlertDialog .tipMark {
  background-image: url('images/alterRight.png');
  background-repeat: no-repeat;
  background-position: right center;
  width: 36px;
  height: 36px;
  display: inline-block;
  float: left;
  margin-right: 15px;
  background-size: 18px 18px;
}
.mdAlertDialog .message {
  max-width: 680px;
  word-break: break-all;
  float: left;
}
.mdAlertDialog .mdClose {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  text-decoration: none;
  margin-left: 20px;
  cursor: pointer;
  float: left;
  font-family: 'Microsoft YaHei';
}

.mdAlertDialog .mdClose:hover {
  color: rgba(255, 255, 255, 1);
}
.mdAlertDialog.errorDialog .tipMark {
  background-image: url('images/alterError.png') !important;
}
.mdAlertDialog.warningDialog .tipMark {
  background-image: url('images/alterWarnning.png') !important;
}
