.Message-toolbar-wrapper {
  position: absolute;
  right: 20px;
  top: -13px;
  display: none;

  .Message-toolbar {
    display: flex;
    &Item {
      width: 24px;
      height: 24px;
      position: relative;
      background: var(--color-background-primary);
      border-radius: 50%;
      margin: 0 4px;
      box-shadow: var(--shadow-sm);
      display: flex;
      align-items: center;
      justify-content: center;
      &Btn {
        display: flex;
        cursor: pointer;
        &:not(:hover) {
          color: var(--color-text-tertiary) !important;
        }
      }
      .deleteBtn:hover {
        .icon-trash {
          color: #f00 !important;
        }
      }
    }
    .icon-more_horiz {
      font-size: 20px;
    }
    .icon-quote-left,
    .icon-back,
    .icon-share {
      font-size: 18px;
    }
    .icon-dynamic-empty,
    .icon-chat-at {
      font-size: 16px;
    }
    .icon-download,
    .icon-copy,
    .icon-trash {
      font-size: 15px;
    }
  }
}

.Message-toolbar-moreHover {
  background-color: var(--color-background-secondary);
  .Message-toolbar-wrapper {
    display: block;
  }
}

.ChatPanel-MessageToolbar-Trigger {
  padding: 10px 0;
}
