.baseColumnHead.cell {
  position: relative;
  padding: 0 5px !important;
  .requiredStatus {
    color: #f44336;
    margin-right: 2px;
  }
  .controlName {
    font-weight: bold;
    font-size: 13px;
    color: #757575;
    line-height: 34px;
    .textCon {
      display: inline-block;
    }
  }
  .maskData,
  .dropIcon {
    font-size: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 8px 0 4px;
    line-height: 32px;
    visibility: hidden;
    background-color: #fafafa;
    color: #9e9e9e;
  }
  .maskData {
    visibility: visible;
    // color: #bdbdbd;
  }
  .descIcon {
    font-size: 16px;
    vertical-align: text-bottom;
    margin-left: 2px;
    color: #bdbdbd;
    background-color: #fafafa;
    &:hover {
      color: #9e9e9e;
    }
  }
  .resizeDrag {
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    width: 8px;
    cursor: ew-resize;
    &::after {
      content: ' ';
      position: absolute;
      top: ~'calc(50% - 8px)';
      height: 16px;
      right: 0;
      width: 1px;
      cursor: ew-resize;
    }
    &:hover {
      &::after {
        width: 2px;
        background-color: #2196f3 !important;
      }
    }
  }
  .inner:hover {
    .dropIcon {
      visibility: visible;
    }
  }
  &.wrapControlName {
    .textCon {
      margin-top: 8px;
      vertical-align: text-bottom;
    }
    .controlName .text {
      line-height: 1.3em;
      text-overflow: unset;
      overflow: visible;
      white-space: unset;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    &.headAlignCenter {
      .textCon {
        margin-top: 0;
      }
      .controlName {
        display: flex;
        align-items: center;
      }
    }
  }
  &.control-operates {
    padding-left: 12px !important;
  }
}
