.moibleFilterPopup {
  left: 0 !important;
}

.quickFilterCascaderList {
  .adm-list-body {
    border-top: initial;
    .adm-list-item {
      background-color: var(--color-background-card) !important;
      .cascaderRadio {
        .Radio-box {
          flex-shrink: 0;
        }
      }
    }
  }
  .highlight {
    color: var(--color-primary);
    vertical-align: initial !important;
  }
  .canWrap {
    word-break: break-all;
    white-space: wrap !important;
  }
  .adm-list-item-content-main {
    overflow: hidden;
  }
}
