/*编辑动态*/
.editUpdaterDialog .editUpdaterUploadMore {
  background-color: var(--color-background-secondary);
  border: 1px solid --color-background-disabled;
  padding: 7px;
  margin-top: 5px;
}

.editUpdaterDialog .SelectAllGroup {
  display: inline-block;
  text-align: left;
}

.fastCreateTaskScheduleTrigger {
  position: absolute;
  width: 0;
  height: 0;
}
