.guideContent {
  font-size: 13px;
  color: #757575;

  img {
    cursor: pointer;
    width: 100%;
  }
  p {
    margin: 10px 0px;
    color: #757575;
  }
  h5 {
    color: #151515;
    font-size: 13px;
    padding-top: 10px;
  }
  ul {
    margin-bottom: 10px;
    li {
      list-style-type: disc;
      list-style-position: inside;
      color: #757575;
      li {
        list-style-type: circle;
        list-style-position: inside;
        margin-left: 20px;
      }
    }
  }
  .subTitle {
    color: #151515;
  }
  .sqlText {
    background-color: rgba(244, 67, 54, 0.05);
    border-radius: 3px;
    padding: 8px 16px;
    margin: 10px auto;
    overflow-x: auto;

    div {
      color: #151515;
      white-space: nowrap;
    }
  }
  .indent {
    text-indent: 1em;
  }
  .whiteSpaceNormal {
    white-space: normal !important;
  }
  .textUnderline {
    text-decoration: underline;
  }
}

.guideWrapper {
  .markImg {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px 200px;
    box-sizing: border-box;

    img {
      width: 100%;
    }
  }
}
