.appList {
  width: 100%;
  height: 100%;
  background-color: #fff;
  .appCon {
    width: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    flex-wrap: wrap;
    .myAppItemWrap {
      width: 25%;
      height: 120px;

      .myAppItem {
        width: 56px;
        text-align: center;
        vertical-align: middle;
        align-items: center;
        margin: 0 auto;

        .myAppItemDetail {
          width: 56px;
          height: 56px;
          border-radius: 50%;
          color: #fff;
          font-size: 32px;
          text-align: center;

          .Icon {
            vertical-align: middle;
          }
          .icon-plus {
            color: #8e8e8e;
            font-size: 20px;
          }
          .svgWrap {
            height: inherit;
            & > div {
              display: flex;
              justify-content: center;
              align-items: center;
              height: inherit;
            }
          }
        }

        .contentText {
          display: -webkit-box;
          /* autoprefixer: off */
          -webkit-box-orient: vertical;
          /* autoprefixer: on */
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          word-break: break-all;
          width: 100%;
          overflow: hidden;
          text-align: center;
        }
      }
    }
  }
}
.justifyCenter {
  justify-content: center;
}
