.otherToolBox {
  .toolContentBox {
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
  }
  .hidden {
    display: none;
  }
}

//首页
.toolContentBox {
  .toolItem {
    padding: 24px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    .toolItemLabel {
      width: 182px;
      font-size: 13px;
      color: #333333;
    }
    .toolItemRight {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      .toolItemDescribe {
        color: #9e9e9e;
        font-size: 13px;
        margin-top: 8px;
      }
      .customNameWrap {
        .name {
          color: #454545;
        }
        .customNameInput {
          width: 180px;
          border: none;
          border-bottom: 1px solid #bdbdbd;
        }
      }
    }
  }
}

//formBox
.formBox {
  .formModuleTitle {
    color: #333333;
    font-size: 15px;
    font-weight: 600;
    margin: 25px 0 32px;
  }
  label {
    span {
      .ant-checkbox-input {
        display: none;
      }
    }
  }
  .passwordInput {
    width: 40%;
    height: 36px;
  }
  .searchRange {
    width: 40%;
    height: 32px;
    text-align: center;
    line-height: 32px;
    > div {
      border: 1px solid #d9d9d9;
      cursor: pointer;
    }
    > div:first-child {
      border-right: none;
    }
    > div:last-child {
      border-left: none;
    }
    .active {
      border: 1px solid #2196f3 !important;
      color: #2196f3;
    }
  }
  .DNGroup {
    .groupItem {
      width: 56%;
      line-height: 36px;
      display: flex;
      .minus {
        font-size: 18px;
        line-height: 36px;
        color: #bdbdbd;
        &:hover {
          cursor: pointer;
          color: #ed1661;
        }
      }
    }
  }
  .splitLine {
    width: 100%;
    height: 1px;
    background: #eaeaea;
    margin-top: 20px;
  }
  .formItem {
    display: flex;
    color: #333333;
    font-size: 13px;
    margin-bottom: 16px;
    .formLabel {
      width: 140px;
      text-align: left;
      margin-right: 8px;
      margin-top: 8px;
      &.width135 {
        width: 135px;
        margin-right: 20px;
      }
    }
    .formRight {
      flex: 1;
      min-width: 0;
      display: flex;
      flex-direction: column;
      .formInput {
        display: flex;
        align-items: center;
        & > input,
        & > .ant-select {
          width: 40%;
          height: 36px;
          .ant-select-selector {
            width: 100%;
            height: 100%;
          }
        }
        .formItemDesc {
          color: #9e9e9e;
          font-size: 12px;
          margin-left: 16px;
        }
      }
      &.directionRow {
        flex-direction: row;
      }
    }
    .errorMsg {
      padding-top: 4px;
      height: 25px;
      color: #fb0038;
    }
  }
  .errorInput {
    border-color: #f00 !important;
    & .ant-select-selector {
      border-color: #f00 !important;
    }
  }
}
