
.memberListMobile {
  background-color: #F5F5F5;

  .memberListCon {
    background-color: #F5F5F5;
    .moreAction {
      text-align: right;
      margin-right: -5px;
    }

    .cardBorder {
      box-sizing: border-box;

      .myRole {
        background: #1e88e5;
        color: #fff;
        line-height: 24px;
        display: inline-block;
        padding: 0 12px;
        border-radius: 12px;
        font-size: 11px;
      }
    }

    .iconBG {
      width: 26px !important;
      height: 26px !important;
      border-radius: 50%;
      background: #eaeaea;
      text-align: center;
      line-height: 26px;
      border: 1px solid #fff;
      display: inline-block;
      margin-left: -10px;
      vertical-align: top;
    }
  }
  
  .am-card, .am-card-body {
    min-height: auto;
  }
  .am-card-body {
    padding: 15px;
  }

  .am-card:not(.am-card-full) {
    border-radius: 0;
    padding-bottom: 0;
  }

  .am-card-body::before,
  .am-card:not(.am-card-full)::before {
    border: 0 !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

.mobileMembers {
  input {
    color: #333;
  }
  .am-modal-header {
    padding: 6px 15px 10px;
  }
  .am-modal-button {
    font-size: 16px;
    height: 44px;
    line-height: 44px;
    &:first-child {
      color: #108ee9;
    }
    &:last-child {
      color: red;
    }
  }
}

