.ant-select-dropdown {
  .optionItem {
    height: 36px;
    .dsTypeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      .svg-icon {
        width: 18px;
        height: 18px;
      }
    }
    .nameText {
      font-size: 14px;
      color: #151515;
      margin-left: 10px;
    }

    &:hover {
      .nameText {
        color: #1677ff;
      }
    }
  }
}

.connectorResultDialog {
  height: 450px !important;
  .mui-dialog-body {
    padding: 0 24px 36px !important;
  }
}

.connectorErrorDialog {
  .errorInfo {
    background-color: rgba(244, 67, 54, 0.05);
    border-radius: 3px;
    padding: 8px 16px;
  }
}
