.hap-select-dropdown {
  .optionItem {
    height: 36px;
    .dsTypeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      .svg-icon {
        width: 18px;
        height: 18px;
      }
    }
    .nameText {
      font-size: 14px;
      color: var(--color-text-title);
      margin-left: 10px;
    }

    &:hover {
      .nameText {
        color: var(--color-primary);
      }
    }
  }
}

.connectorErrorDialog {
  .errorInfo {
    background-color: var(--color-error-bg);
    border-radius: 3px;
    padding: 8px 16px;
  }
}
