.ant-select-dropdown{
  .optionItem {
    height: 36px;
    .dsTypeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      .svg-icon {
        width: 18px;
        height: 18px;
      }
    }
    .nameText {
      font-size: 14px; 
      color: #333;
      margin-left: 10px;
    }

    &:hover {
      .nameText {
        color: #2196f3;
      }
    }
  }
}

.connectorResultDialog{
  .mui-dialog-body{
    padding: 0 24px 40px !important;
  }
}