.todoEntrustDialog {
  .mui-dialog-header {
    display: none;
  }
  .mui-dialog-body {
    padding-bottom: 0px !important;
    overflow: hidden !important;
    padding: 0 !important;
  }
}

.todoEntrustWrapper {
  --app-primary-color: var(--color-primary) !important;
  height: 100%;
  .listWrapper,
  .contentWrapper {
    height: 100%;
  }
  .listWrapper {
    width: 360px;
    padding: 20px;
    border-right: 1px solid var(--color-border-secondary);
  }
  .contentWrapper .scroll-viewport {
    padding: 20px !important;
  }
  .liftIcon {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: var(--color-background-secondary);
  }
}
