
.welinkSyncCourse {
  width: 960px;
  margin: 70px auto;
  padding: 40px 80px;
  box-sizing: border-box;

  p,
  h3,
  h2,
  h1,
  img {
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 27px;
  }

  img {
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .1);
    border-radius: 3px;
  }

  .inputList {
    display: flex;
    height: 36px;
    .inputTitle {
      width: 108px;
      line-height: 36px;
      font-size: 14px;
      color: #333;
    }
    .inputBox {
      background: #F7F7F7;
      flex: 1;
      border: 0;
      color: #757575;
      height: 36px;
      line-height: 36px;
      border-radius: 3px;
      padding-left: 15px;
    }
    .copyBtn {
      cursor: pointer;
      line-height: 36px;
      color: #2196F3;
      margin-left: 16px;
      &:hover {
        color: #2366BF;
      }
    }
  }
}
