#taskGantt {
  width: 100%;
  height: 100%;
}

.taskGanttContainer {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.ganttMain {
  background: #fff;
  margin: 13px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  user-select: none;
  .loadingCenter {
    width: 100%;
  }
}
