.menuItem() {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  padding: 0px 15px;
  margin: 0 !important;
  &:hover {
    background-color: #1677ff;
    i,
    .ant-menu-title-content {
      color: #fff;
    }
  }
  .ant-menu-title-content {
    margin: 0;
    display: flex;
    align-items: center;
  }
  i {
    font-size: 17px;
    color: #9e9e9e;
  }
  &.delete {
    color: #f44336;
    i {
      color: #f44336;
    }
    &:hover {
      i {
        color: #fff;
      }
    }
  }
  &.otherApp {
    color: #151515;
    &:hover {
      color: #fff;
    }
  }
  &.ant-menu-item-active,
  &.ant-menu-item-selected {
    background-color: #1677ff;
    color: #fff;
    i {
      color: #fff;
    }
    &.delete {
      background-color: #f44336;
    }
  }
  span {
    margin-left: 12px;
  }
}

.customPageAutoLinkagePopoverWrap {
  &.ant-popover-placement-bottom {
    padding-top: 0 !important;
  }
  &.ant-popover-placement-top {
    padding-bottom: 0 !important;
  }
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner {
    border-radius: 6px;
  }
  .icon-trash:hover {
    color: #1677ff !important;
  }
  .closeText:hover {
    color: #0087f2 !important;
  }
}
.customPageAutoLinkagePopover {
  width: 320px;
  padding: 5px 0;
  .icon-close:hover {
    color: #1677ff !important;
  }
  .linkageFilterWrap {
    max-height: 500px;
    overflow-y: auto;
    margin-right: -10px;
    padding-right: 10px;
  }
  .linkageFilter {
    padding: 5px 8px;
    border-radius: 4px;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.customPageOperateMenu {
  box-sizing: border-box;
  width: 220px;
  padding: 5px 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: #151515;
  border-radius: 4px;
  box-shadow:
    0 4px 16px 1px rgba(0, 0, 0, 0.24),
    0 0px 1px 0px rgba(0, 0, 0, 0.12) !important;
  .ant-menu-item {
    .menuItem();
  }
  .ant-menu-item-divider {
    margin: 6px 0;
  }
  .ant-menu-submenu {
    .ant-menu-title-content {
      margin: 0 !important;
      display: flex;
      align-items: center;
    }
    .ant-menu-submenu-title {
      display: flex;
      align-items: center;
      height: 36px;
      box-sizing: border-box;
      padding: 10px 16px;
      i {
        font-size: 18px;
        color: #9e9e9e;
      }
      &:hover {
        i {
          color: #fff;
        }
      }
      span {
        margin-left: 12px;
      }
    }
    &.ant-menu-submenu-active,
    &.ant-menu-submenu-selected {
      .ant-menu-submenu-title {
        background-color: #1677ff;
        color: #fff;
        i {
          color: #fff;
        }
      }
    }
  }
}

.customPageSubMenu {
  z-index: 10001;
  box-shadow:
    0 4px 16px 1px rgba(0, 0, 0, 0.24),
    0 0px 1px 0px rgba(0, 0, 0, 0.12) !important;
  .ant-menu-sub {
    margin-left: -4px;
    padding: 6px 0;
    border: none;
  }
  .ant-menu-item {
    .menuItem();
  }
}

.customPageFullscreen {
  .appPkgHeaderWrap,
  .workSheetLeft,
  #chat,
  .CustomPageContentWrap > header {
    display: none;
  }
}

.tabsSettingPopover {
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 0;
  }
  .ant-popover-content {
    border-radius: 6px;
    background-color: #fff;
  }
  .ant-popover-inner {
    border-radius: 6px;
    max-height: 610px;
    overflow: auto;
  }
}
