@delColor: var(--color-error);

.colorHover {
  color: var(--color-text-tertiary);
  transition: all 0.25s;

  &:hover {
    color: var(--color-primary);
  }
}

.appIntroDialog {
  max-height: 100%;
  margin: 0;
  .hap-modal-close {
    top: -2px !important;
    right: -30px !important;
    opacity: 0.8;
    color: var(--color-text-disabled);
    text-overflow: initial;
    &:hover {
      opacity: 1;
      background-color: transparent !important;
    }
    .icon {
      font-size: 18px;
    }
    .hap-modal-close-x {
      color: var(--color-white);
      width: auto;
      width: auto;
      line-height: normal;
    }
  }
  .hap-modal-container {
    height: 100%;
    overflow: inherit;
  }

  .appIntroHeader {
    box-sizing: border-box;
    height: 55px;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-bottom: 1px solid var(--color-border-secondary);

    .caption {
      font-size: 17px;
      font-weight: bold;
      color: var(--color-text-primary);
    }

    .editAppIntro {
      .colorHover();
      cursor: pointer;
      color: var(--color-text-secondary);
      margin-right: 8px;

      span {
        margin-left: 5px;
      }
    }
  }

  .appDescriptionHeader {
    .hap-btn-sm {
      color: var(--color-text-secondary);
      border-radius: 4px;
      background-color: transparent;
      &:hover {
        color: var(--color-primary) !important;
        border-color: var(--color-primary) !important;
      }
    }
  }
}

.appIntroDialogWrapCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /*
  &.preview {
    overflow-y: auto;
    .appIntroDialog > div {
      &:nth-child(1),
      &:nth-child(3) {
        width: 100% !important;
        height: 40px !important;
      }
    }
  }
  */
}

.appConfigItem {
  &.backupRestore,
  &.appManageMenu {
    .activeIcon .icon {
      left: 0;
      line-height: inherit;
      color: var(--color-white);
    }
  }

  .worksheetapiIcon {
    position: unset !important;
  }

  &.copy,
  &.export,
  &.lockApp,
  &.unlockApp,
  &.importAppUpgrade,
  &.createBackup,
  &.restore {
    color: var(--color-text-title) !important;
    .icon {
      color: var(--color-text-tertiary) !important;
    }
  }
}

.mobileViewQrCodeItem.hap-dropdown-menu-item-disabled {
  padding: 0 !important;
  cursor: default;
  opacity: 1;
  color: var(--color-text-secondary) !important;
  background: var(--color-background-primary) !important;
}

.sheetDescPopoverOverlay {
  .popoverContent {
    width: 625px;
    min-height: 120px;
    max-height: 600px;
    overflow-y: auto;
    .ck-editor {
      img {
        max-width: 100%;
      }
    }
  }
}

// 左侧导航样式兼容
.leftNavigationStyleWrap {
  #containerWrapper {
    flex-direction: row !important;
  }
  .appPkgHeaderWrap {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    box-shadow: none;
    .topRadius {
      position: absolute;
      right: -16px;
      top: 0;
      width: 16px;
      height: 15px;
      background-image: radial-gradient(16px at 16px 16px, transparent 16px, currentColor 17px);
    }
    .bottomRadius {
      position: absolute;
      right: -16px;
      bottom: 0;
      width: 16px;
      height: 15px;
      background-image: radial-gradient(16px at 16px 0, transparent 16px, currentColor 17px);
    }
    .topBorderRadius {
      position: absolute;
      right: -13px;
      top: -1px;
      z-index: 1;
    }
    .bottomBorderRadius {
      position: absolute;
      right: -13px;
      bottom: -1px;
      z-index: 1;
    }
    .borderLine {
      width: 1px;
      position: absolute;
      right: 0;
      top: 21px;
      bottom: 21px;
      background-color: var(--color-border-tertiary);
      z-index: 1;
    }
    .appName {
      font-size: 18px;
      margin: 0 2px 0 6px;
    }
    .homepageIconWrap {
      margin-left: 2px !important;
    }
    .appInfoWrap,
    .commonUserHandleWrap {
      height: auto;
      width: 100%;
    }
    .appItemsOuterWrap,
    .appItemPointerWrap {
      display: none;
    }
    .commonUserHandleWrap {
      padding: 10px;
      justify-content: space-around;
      background-color: inherit;
    }
    .appNameHeaderBoxPortal {
      padding: 0 15px;
      display: flex;
      flex-direction: row-reverse;
      .Hand {
        margin-right: 5px !important;
      }
    }
  }
  .sheetViewTable {
    border-left: none;
  }
  .worksheet .workSheetLeft,
  .unusualContentWrap .unusualSkeletonWrap {
    display: none;
  }
}
