.taskGanttContainer {
  .taskTimeBars {
    width: 100%;
    position: relative;
    min-height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.15);
    box-sizing: initial;
    &:last-child {
      border-bottom-width: 0;
    }
    &.taskTimeBarsHover {
      background: rgba(51, 51, 51, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2) inset;
    }
    .taskTimeBarsHidden {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 40px;
      background: rgba(153, 153, 153, 0.15);
      cursor: pointer;
      &:hover {
        background: rgba(153, 153, 153, 0.1);
      }
    }
  }
}

.taskGanttContainer .taskTimeBarBox .taskTimeBars:last-child {
  padding-bottom: 44px !important;
}
