.keyWordsMain {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  /*搜索输入框和按钮*/

  .searchTextBox {
    border: 0px;
    width: 710px;
    height: 46px;
    line-height: 35px;
    font-size: 15px;
    margin: 0px;
    display: block;
    padding-left: 15px;
    padding-right: 25px;
    box-sizing: border-box;
    border-left: 1px solid #e0e0e0;
  }
  .searchButton {
    cursor: pointer;
    display: block;
    width: 70px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    line-height: 46px;
    text-align: center;
    border-radius: 0 3px 3px 0;
  }
  .searchButton span {
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 48px;
    display: inline-block;
  }
  .searchButton #btnSearch:hover {
    border-radius: 0 3px 3px 0;
    background-color: rgba(0, 0, 0, 0.08);
  }
  .searchButton span i {
    line-height: 18px;
    width: 100%;
  }
  .keywords_area span.closeIcon {
    display: none;
    position: absolute;
    float: left;
    width: 7px;
    height: 7px;
    line-height: 22px;
    cursor: pointer;
    top: 12px;
    right: 18px;
    font-size: 14px;
    color: #999;
  }
  .searchButtonLink:hover {
    opacity: 1;
  }
}
/*高级搜索*/

.keyWordsMain .textNowrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.keywords_area {
  position: relative;
  display: inline-block;
  float: left;
  height: 46px;
  line-height: 46px;
}
.keywords_area .matchKeywordsList {
  position: absolute;
  border: 1px solid #d0d0d0;
  border-top: 0px;
  background-color: White;
  height: auto;
  display: none;
  width: 186px;
  left: 0px;
  top: 30px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.keywords_area .matchKeywordsList ul li {
  line-height: 25px;
  border-bottom: 1px dashed #eee;
  cursor: pointer;
  padding-left: 5px;
}
.keywords_area .matchKeywordsList ul li.matchItemHover {
  background-color: #f6f6f6;
  font-weight: bold;
}
.mian_search_area {
  margin: 20px 0 20px 0;
}
.search_header .selTxt {
  cursor: pointer;
  color: #333;
  vertical-align: middle;
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  padding-left: 5px;
}
.mian_search_area .projects {
  width: 220px;
  height: 46px;
  margin: 0 auto;
  border-radius: 3px 0 0 3px;
}
.mian_search_area .projectNow {
  width: 100%;
  height: 46px;
  line-height: 46px;
  box-sizing: border-box;
  color: #999;
}
.mian_search_area .projectNow:hover {
  border-radius: 3px 0 0 3px;
  background-color: #f0f0f0;
}
.mian_search_area .projectNow i {
  right: 10px;
  top: 18px;
}
.mian_search_area .projects ul {
  height: auto;
  max-height: 500px;
  overflow: auto;
  width: 100%;
  left: 0;
  top: 46px;
  z-index: 3;
  color: #999;
}
.mian_search_area .projects ul li {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  cursor: pointer;
}
.mian_search_content {
  line-height: 25px;
  color: #333;
  overflow-x: hidden;
}
.mianSearchContentBox {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.mian_search_content .search_content {
  min-height: 400px;
}
.mian_search_content .search_content a {
  color: #8a8a8a;
  text-decoration: none;
}
.mian_search_content .search_content a:visited {
  color: #a70099;
}
.mian_search_content.allInfo {
  overflow: hidden;
}
.mian_search_content .allInfo span {
  cursor: pointer;
  background: none;
  color: #999;
}
.mian_search_content .allInfo span.curText {
  border-bottom: 3px #fff solid;
  color: #333;
}
.mian_search_content .allInfo .vLine {
  cursor: default;
  color: #1a8cff;
}
.mian_search_content .totalCount {
  margin: 0px 7px;
  font-weight: normal !important;
}
.mian_search_content .count {
  margin: 0px 7px;
  font-weight: normal !important;
  display: inline-block;
}
.mian_search_content .title {
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  padding: 0 20px 10px 20px;
}
.mian_search_content .title .left {
  float: left;
  min-width: 120px;
}
.mian_search_content .title .right {
  float: right;
  width: 20px;
  text-align: right;
}
.mian_search_content .title .right img {
  width: 15px;
  height: 15px;
  margin: 7px auto;
  cursor: pointer;
  border-radius: 50%;
}
.mian_search_content .title .left .line {
  border-top: 1px solid #f6f6f6;
  height: 4px;
  width: 570px;
  display: inline-block;
}
.mian_search_content .title .left .paddRight10 {
  margin-right: 10px;
}
.mian_search_content ul {
  color: #8a8a8a;
}
.mian_search_content ul li {
  height: 32px;
  line-height: 32px;
  padding: 0 20px 0 20px;
  overflow: hidden;
}
.mian_search_content ul li.noneBorder {
  border-bottom: 0px;
  border-top: 1px dashed #e5e5e5;
  cursor: pointer;
  height: 43px;
}
.mian_search_content ul li.liHover {
  background-color: #f6f6f6;
}
.mian_search_content ul li .showAll {
  text-align: left;
  line-height: 43px;
  margin-left: 30px;
}
.mian_search_content ul li .showAll span {
  cursor: pointer;
  border-radius: 3px;
}
.mian_search_content ul li .infoNoOp {
  float: left;
  width: 500px;
}
.mian_search_content ul li .info {
  float: left;
  width: 180px;
}
.mian_search_content .task ul li .info {
  width: 210px;
}
.mian_search_content ul li .date {
  float: right;
  width: 100px;
}
.mian_search_content ul li .companyName {
  float: right;
  max-width: 250px;
  padding-right: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
.mian_search_content ul li .userOp {
  float: left;
  width: 100px;
}
.mian_search_content ul li .taskSummart {
  width: 180px;
}
.mian_search_content ul li .path {
  width: 115px;
}
.mian_search_content .kcnode ul li .icon {
  background-size: 100%;
  width: 18px;
  height: 20px;
  margin: 5px 5px 0;
}
.mian_search_content ul li .node {
  width: 155px;
}
.mian_search_content ul li .docPF {
  background-color: #f5f5f5;
  padding-left: 5px;
  cursor: pointer;
}
.mian_search_content ul li .icon {
  float: left;
  width: 20px;
  height: 25px;
  line-height: 25px;
}
.mian_search_content ul li .icon img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  border-radius: 50%;
}
.postSelectBox span {
  width: 50px;
}
.postSelectBox ul {
  width: 60px;
  right: 0;
  text-align: center;
  z-index: 1;
}
.postSelectBox ul li {
  padding: 0;
  line-height: 24px;
  margin: 0;
}
.postSelectBox {
  line-height: 24px;
}
.content_area .user,
.content_area .task,
.content_area .group,
.content_area .post,
.content_area .task,
.content_area .kcnode {
  border-top: 1px solid #e5e5e5;
}
.mian_search_content ul.postUl li {
  clear: both;
}
.mian_search_content .advancedSearch {
  margin: 20px auto;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.mian_search_content .advancedSearch .btnSearch {
  cursor: pointer;
  border: 0px;
  height: 46px;
  width: 125px;
  background-color: #0066cc;
  font-size: 14px;
  color: White;
  text-align: center;
}
.mian_search_content #divPager span {
  color: black;
}
.LoadDiv {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  background-color: #fff;
}
.LoadDivText {
  padding: 230px 0 200px;
  background: url("img/notFind.png") center 100px no-repeat;
  background-size: 120px;
}

/*高级搜索 智能搜索 PFE*/

#docUpgrade .tipDoc {
  text-align: center;
}
#docUpgrade .tipDoc .custom {
  margin: 15px auto;
  font-size: 14px;
}
#docUpgrade .tipDoc .goApplyForTrial {
  display: block;
  padding-bottom: 20px;
  text-decoration: underline;
}
.searchBorderBottomGrayC {
  border-bottom: 1px #e5e5e5 solid !important;
}
.searchFont13Bc {
  font-size: 13px;
  color: #bcbcbc;
}
.GrayB8 {
  color: #b8b8b8;
}
.search_header {
  padding-top: 46px;
}
.search_header .allInfo {
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 6px;
  background: #fff;
  z-index: 2;
  box-sizing: border-box;
}
.leftBoxSea {
  width: 930px;
}
