
#app, html, body {
  height: 100%;
}

.wxworkBody {
  background-color: #fff !important;
  #app {
    height: 98% !important;
  }
}

input::placeholder {
  color: #bdbdbd;
}

.am-action-sheet, .actionSheetModal {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}

.mobileActionSheetList {
  .actionHandleList {
    max-height: 500px;
    overflow: auto;
  }
  .am-list-item {
    padding-left: 0;
  }
  .am-list-content {
    text-align: center !important;
  }
  .delete .am-list-content {
    color: red !important;
  }
  .am-whitespace {
    background-color: #EDEDED;
  }
  .disabled .am-list-content {
    color: #33333380 !important;
  }
}

.am-action-sheet-cancel-button {
  overflow: hidden;
}

.am-modal-wrap-popup {
  overflow: hidden;
  transform: none !important;
}

