.quotaManagement {
  .promptWrap {
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    background: var(--color-primary-transparent);
    border-radius: 3px;
  }
  .listWrap {
    .listHeader {
      border-bottom: 1px solid var(--color-border-secondary);
    }
    .globalQuota {
      width: 280px;
    }
    .extraSetting {
      width: 200px;
    }
    .setting {
      width: 60px;
    }
    .listContentItem {
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid var(--color-border-secondary);
    }
  }
}
