.quotaManagement {
  .Gray_15 {
    color: #151515;
  }
  .promptWrap {
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    background: #f6fafe;
    border-radius: 3px;
  }
  .listWrap {
    .listHeader {
      border-bottom: 1px solid #e0e0e0;
    }
    .globalQuota {
      width: 280px;
    }
    .extraSetting {
      width: 200px;
    }
    .setting {
      width: 60px;
    }
    .listContentItem {
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #e0e0e0;
    }
  }
}
