@import "../../../../common/mdcss/common.less";
@mainColor: #2196f3;
.userSupport {
  display: flex;
  box-sizing: border-box;
  width: 200px;
  height: 100%;
  padding-right: 20px;
  align-items: center;
  justify-content: space-around;
  .addAction {
    .addItem(36px, 2px);
    background-color: @mainColor;
    color: #fff;
  }
}
