<div class="group">
    <div class="title ThemeColor3 Font18 mTop10" type="group">
        <div class="left Font16 GrayB8 Hand" type="group">
            <span class="Left icon-group Font22 paddRight10"></span>
            {{= _l('群组') }}
            <span class="pRight15 count Font12">{{= it.group.count }}</span>
         </div>
         <div class="Clear"></div>
     </div>
    <div class="Clear"></div>
    <ul>
        {{~it.group.groupList:groupList:i}}
            <li>
                <div class="icon Left mLeft30">
                    <img class="SmallAvatar" src="{{= groupList.groupAvatar }}"/>
                </div>
                <div class="infoNoOp textNowrap mLeft15">
                    <a href="/group/groupValidate?gID={{= groupList.groupID }}" target="_blank">{{= it.htmlEncodeReg(groupList.groupName).replace(it.reg, '<font class="HighLightColor">$1</font>') }}</a>
                </div>
                <div class="date">{{= groupList.groupCreateTime }}</div>
                <div class="companyName">{{=it.companyName(groupList.companyName)}}</div>
                <div class="Clear"></div>
            </li>
        {{~}}
        <div class="mTop10"></div>
        {{?it.group.count > 5}}
            <li class="noneBorder"><div class="ThemeColor3 showAll" type="group">{{=(_l('查看所有“%0”的结果', it.searchKeyword()))}}></div></li>
        {{?}}
    </ul>
</div>
