<div class="top">
    <div>
        <div class="desc">
            {{=_l('共搜索到')}}<a class="ThemeColor3 Font18">{{=it.totalCount}}</a>{{=_l('个结果：')}}
            <a class="ThemeColor3">"{{=it.searchKeyword}}"</a>
        </div>
        <div class="erweiterteSuche ThemeColor3">{{=_l('前往查看详情 >')}}</div>
        <div class="Clear"></div>
    </div>
    <div class="Clear"></div>
</div>
<div class="searchContent">
    {{~it.data:userData:i}}
        {{?userData.type === "user"}}
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <td class="resultHead type1" type="1" name="user">
                <span class="Gray_c titleSpan">{{=_l('用户')}}</span>
                <span class="ThemeColor3 fontTitillium30 ThemeBGColor6">
                {{=it.countNum(userData.count)}}
                </span>
            </td>
            <td class="resultList">
                <table class="resultItem" border="0" cellpadding="0" cellspacing="0" width="100%">
                    {{~userData.userList:userItem:j}}
                    <tr class="typeItem userItem" sign="user{{=j}}">
                        <td class="resultListSpace"></td>
                        <td class="itemAvatar">
                            <img src="{{=userItem.userHead}}" data-accountid="{{=userItem.accountId}}" class="smallAvatar" />
                        </td>
                        <td class="itemDetails">
                        <span class="itemCon">
                            <a href="/user_{{=userItem.accountId}}" target="_blank">
                                {{=it.userContent(userItem.userName,userItem.userDepartment)}}
                            </a>
                        </span>
                            <span class="Right mRight10 companyName">{{=it.companyName(userItem.companyName)}}</span>
                        </td>
                    </tr>
                    {{~}}
                </table>
            </td>
        </table>
        {{??userData.type === "group"}}
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <td class="resultHead type2" type="2" name="group">
                <span class="Gray_c titleSpan">{{=_l('群组')}}</span>
                <span class="ThemeColor3 fontTitillium30 ThemeBGColor6">
                    {{=it.countNum(userData.count)}}
                </span>
            </td>
            <td class="resultList">
                <table class="resultItem" border="0" cellpadding="0" cellspacing="0" width="100%">
                    {{~userData.groupList:groupItem:j}}
                    <tr class="typeItem" sign="group{{=j}}">
                        <td class="resultListSpace"></td>
                        <td class="itemDetails">
                        <span class="itemCon">
                        <a href="/group/groupValidate?gID={{=groupItem.groupID}}" target="_blank">
                            {{=it.groupName(groupItem.groupName)}}
                            </a>
                        </span>
                            <span class="Right mRight10 companyName">{{=it.companyName(groupItem.companyName)}}</span>
                        </td>
                    </tr>
                    {{~}}
                </table>
            </td>
        </table>
        {{??userData.type === "post"}}
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <td class="resultHead type4" type="4"  name="post">
                <span class="Gray_c titleSpan">{{=_l('动态')}}</span>
                <span class="ThemeColor3 fontTitillium30 ThemeBGColor6">
                    {{=it.countNum(userData.count)}}
                </span>
            </td>
            <td class="resultList">
                <table class="resultItem" border="0" cellpadding="0" cellspacing="0" width="100%">
                    {{~userData.postList:postItem:j}}
                        {{?postItem.postContent}}
                            <tr class="typeItem" sign="post{{=j}}">
                                <td class="resultListSpace"></td>
                                <td class="itemDetails">
                                <span class="itemCon">
                                <a href="/feeddetail?itemID={{=postItem.postID}}" target="_blank">
                                {{!postItem.postUserName}}：
                                {{=it.postContent(postItem.postContent,postItem.rUserList,postItem.rGroupList,postItem.categories) }}
                                </a>
                            </span>
                                <span class="Right mRight10 companyName">{{=it.companyName(postItem.companyName)}}</span>
                            </tr>
                        {{?}}
                    {{~}}
                </table>
            </td>
        </table>
        {{??userData.type === "task"}}
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <td class="resultHead type5" type="5"   name="task">
                <span class="Gray_c titleSpan">{{=_l('任务')}}</span>
                <span class="ThemeColor3 fontTitillium30 ThemeBGColor6">
                {{=it.countNum(userData.count)}}
                </span>
            </td>
            <td class="resultList">
                <table class="resultItem" border="0" cellpadding="0" cellspacing="0" width="100%">
                    {{~userData.taskList:taskItem:j}}
                        {{?taskItem.taskContent}}
                            <tr class="typeItem" sign="task{{=j}}">
                                <td class="resultListSpace"></td>
                                <td class="itemDetails">
                                <span class="itemCon">
                                    <a href="/apps/task/task_{{=taskItem.taskID}}" target="_blank">
                                    {{=it.taskContent(taskItem.taskContent)}}
                                    </a></span>
                                <span class="Right mRight10 companyName">{{=it.companyName(taskItem.companyName)}}</span>
                                </td>
                            </tr>
                        {{?}}
                    {{~}}
                </table>
            </td>
        </table>
        {{??userData.type === "kcnode"}}
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <td class="resultHead type5" type="5" name="kcnode">
                <span class="Gray_c titleSpan">{{=_l('知识')}}</span>
                <span class="ThemeColor3 fontTitillium30 ThemeBGColor6">
                {{=it.countNum(userData.count)}}
                </span>
            </td>
            <td class="resultList">
                <table class="resultItem" border="0" cellpadding="0" cellspacing="0" width="100%">
                    {{~userData.kcnodeList:kcnodeItem:j}}
                        {{?kcnodeItem.fileName}}
                            <tr class="typeItem" sign="kcnode{{=j}}">
                                <td class="resultListSpace"></td>
                                <td class="itemDetails">
                                <span class="itemCon">
                                    <a href="{{=kcnodeItem.link}}" target="_blank">
                                    {{=it.kcnodeFileName(kcnodeItem.fileName)}}
                                    </a>
                                </span>
                                    <span class="Right mRight10 companyName">{{=it.companyName(kcnodeItem.companyName)}}</span>
                                </td>
                            </tr>
                        {{?}}
                    {{~}}
                </table>
            </td>
        </table>
        {{?}}
    {{~}}
</div>
