<div class="user">
    <div class="title ThemeColor3 Font18 mTop10" type="user">
        <div class="left Font16 GrayB8 Hand" type="user">
            <span class="Left icon-charger Font20 paddRight10 mTop2"></span>
            {{= _l('用户') }}
            <span class="pRight15 count Font12">{{= it.user.count }}</span>
         </div>
         <div class="Clear"></div>
     </div>
    <div class="Clear"></div>
    <ul>
        {{~it.user.userList:userList:i}}
            <li>
                <div class="icon mLeft30">
                    <img class="SmallAvatar" src="{{= userList.userHead }}" data-accountid="{{= userList.accountId }}"/>
                </div>
                <div class="info mLeft15 textNowrap">
                    <a href="/user_{{= userList.accountId }}" target="_blank" class="ThemeColor3">{{= it.htmlEncodeReg(userList.userName).replace(it.reg, '<font class="HighLightColor">$1</font>') }}</a>
                    <a href="/user_{{= userList.accountId }}" target="_blank"> {{! userList.userJob }}</a>
                </div>
                <div class="date">{{= userList.userCreateTime }}</div>
                <div class="companyName">{{=it.companyName(userList.companyName)}}</div>
                <div class="Clear"></div>
            </li>
        {{~}}
        <div class="mTop10"></div>
        {{?it.user.count>5}}
            <li class="noneBorder">
                <div class="ThemeColor3 showAll" type="user">{{=(_l('查看所有“%0”的结果', it.searchKeyword()))}}>
                </div>
            </li>
        {{?}}
    </ul>
</div>
