.taskGanttContainer {
  .timeBarContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 10px;
    }
    .timeBarBox {
      position: relative;
      min-height: 100%;
    }
  }
}
