@arrowColor: #757575;
.triggerWrap {
  display: flex;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
  .title {
    max-width: 140px;
  }
  .arrow {
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border: 1px solid @arrowColor;
    border-top: none;
    border-left: none;
    transition: all 0.2s;
    transform: translateY(-2px) rotate(45deg);
    &.bottom {
      transform: rotate(-135deg);
    }
  }
}
.popupWrap {
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  ul {
    padding: 10px 0;
  }
  li {
    display: flex;
    align-items: center;
    padding: 0 16px;
    line-height: 36px;
    cursor: pointer;
  }
}
