
.sheetRelationRow {
  background-color: #f8f8f8;
  &.editRowWrapper {
    .worksheetRecordCard {
      border-color: rgba(0, 0, 0, 0.2);
    }
    .selectedIcon {
      display: block !important;
    }
    .selectedIcon.hide {
      border-top-color: rgba(0, 0, 0, 0.2);
      border-right-color: rgba(0, 0, 0, 0.2);
    }
  }
  .worksheetRecordCard {
    .deleteRecord {
      display: none !important;
    }
    .titleText {
      width: 300px;
    }
  }
  .withoutRowsWrapper {
    justify-content: center;
    .withoutRows {
      height: auto;
    }
    .am-button {
      margin-top: 20px;
      padding: 0 20px;
    }
  }
}
