.uploadTemplateSheet {
  #container {
    background-color: #fff;
  }
  h5,
  p {
    margin: 0;
    padding: 0;
  }
  background: #fff;
  .header {
    position: fixed;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    text-align: left;
    font: DemiBold 17px/37px FZLanTingHeiS;
    letter-spacing: 0px;
    color: #212121;
    text-align: left;
    padding: 0 20px;
    box-sizing: border-box;
    line-height: 50px;
    height: 50px;
    width: 100%;
    z-index: 10;
  }
  .con {
    max-width: 880px;
    margin: 57px auto;
    padding-bottom: 24px;
    h5 {
    }
    p {
      line-height: 23px;
      a,
      .urlForTel {
        color: #2196f3;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .listCon {
      position: relative;
      margin-left: 0;
      width: 100%;
      margin-top: 32px;
      .line {
        border-top: 1px solid #eaeaea;
        margin-top: 18px;
      }
      > div {
        display: flex;
        text-align: left;
        span {
          display: inline-flex;
          flex: 200;
          max-width: 220px;
          // display: inline-block;
          padding-right: 20px;
          word-break: break-all;
          &:last-child {
            flex: 450 1;
            max-width: 440px;
          }
          .copy {
            display: none;
            color: #9d9d9d;
            cursor: pointer;
            line-height: 20px;
            margin-left: 8px;
            &:hover {
              color: #2196f3;
            }
          }
          &:hover {
            .copy {
              display: block;
            }
          }
        }
        &.topHeader {
          color: #9e9e9e;
          padding-bottom: 10px;
          border-bottom: 1px solid #e5e5e5;
        }
        &.title {
          margin-top: 18px;
          color: #333;
          font-size: 15px;
          font-weight: bold;
        }
        &.list {
          margin-top: 20px;
          display: flex;
          align-items: center;

          /** 查看所有字段 */
          .showDialog {
            color: #2196f3;
            margin-left: 1em;
          }
          .showDialog:hover {
            color: #0073ce;
            margin-left: 1em;
            cursor: pointer;
          }
          .textIndent {
            padding-left: 1em;
          }
        }
        &.bgCon {
          background: #f5f5f5 0% 0% no-repeat padding-box;
          border-radius: 3px;
          padding: 15px;
          ul {
            li {
              text-align: left;
              span {
                display: inline-block;
                color: #9e9e9e;
                &:first-child {
                  color: #333333;
                  margin-right: 32px;
                }
                &:last-child {
                  flex: 500;
                  max-width: 500px;
                }
              }
            }
          }
        }
      }
    }
  }
  .supportVerticalTop {
    vertical-align: top !important;
  }
}

/** 弹层 */
.modallistCon {
  position: relative;
  max-width: 880px;
  margin-top: 0;
  > div {
    display: flex;
    text-align: left;
    span {
      display: inline-flex;
      flex: 180;
      width: 180px;
      // display: inline-block;
      padding-right: 20px;
      word-break: break-all;
      &:last-child {
        flex: 450 1;
        max-width: 450px;
      }
      .copy {
        display: none;
        color: #9d9d9d;
        cursor: pointer;
        line-height: 20px;
        margin-left: 8px;
        &:hover {
          color: #2196f3;
        }
      }
      &:hover {
        .copy {
          display: block;
        }
      }
    }
    &.topHeader {
      color: #9e9e9e;
      padding-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
    }
    &.title {
      margin-top: 18px;
      color: #333;
      font-size: 15px;
      font-weight: bold;
    }
    &.list {
      margin-top: 16px !important ;
      margin-bottom: 12px !important;
    }
  }
  .line {
    border-top: 1px solid #eaeaea;
    margin-top: 12px !important ;
  }
}
