.systemSettingsContainer {
  flex: 1;
  min-height: 0;
  box-sizing: border-box;
  background-color: var(--color-background-primary);
  overflow-x: hidden;
  padding: 0 40px;
  .systemSettingItem {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid var(--color-border-secondary);
    .systemSettingsLabel {
      width: 140px;
      min-width: 140px;
      text-align: left;
    }
    .systemSettingsRight {
      display: flex;
      flex-direction: column;
      padding-left: 32px;
      width: 100%;
      max-width: 632px;
      label {
        .ant-checkbox-input {
          display: none;
        }
      }
      .ant-select-selector {
        width: 180px;
        height: 36px;
        .ant-select-selection-item {
          height: 36px;
          line-height: 36px;
        }
      }
      .ant-checkbox-wrapper {
        margin-top: 24px;
        margin-left: 0;
      }
      .RadioGroup--vertical .Radio {
        margin-bottom: 10px;
      }
      .dropdownSetting {
        width: 100%;
        .Dropdown--border {
          height: 32px;
        }
        .ming.Menu {
          width: auto;
          right: 0;
        }
      }
      .systemSettingsZoneDesc {
        max-width: 600px;
        padding: 6px 14px;
        background: var(--color-warning-bg);
        border-radius: 4px;
      }
    }
  }
  .borderNoe {
    border: none;
  }
}
