.navLiRole {
  color: #333;
  padding-left: 0;
  .icon {
    color: #9e9e9e;
  }
  .tag {
    padding: 3px 7px;
    color: #2196f3;
    background: rgba(33, 150, 243, 0.1);
    border-radius: 9px 9px 9px 9px;
    flex-shrink: 0;
  }
  .arrowIconShow {
    display: inline-block;
    i.icon {
      line-height: 1;
      color: #ff8a00 !important;
    }
  }
}
.roleBody {
  overflow: hidden;
}
.manageUserDialogBody {
  overflow: hidden !important;
  height: 100%;
}
