.mui-timemenu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  user-select: none;

  li {
    font-size: 13px;
    line-height: 20px;
    padding: 0 6px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: var(--color-border-secondary);
    }
    &.current {
      color: var(--color-white);
    }
    &.disabled {
      background-color: var(--color-background-secondary);
      color: var(--color-text-tertiary);
      cursor: not-allowed;
    }
  }
}
