<div class="searchListCon">
    <input type="text" class="searchInput ming Input" placeholder="{{!it.placeholderStr}}">
    <div class="selected ellipsis">
        请选择
    </div>
    <div class="listPanel">
        <div class="searchList">
            <p class="listTip">加载中...</p>
        </div>
        <div class="footerBtn">
            <i class="icon icon-addapplication ThemeColor3"></i>
            <spna class="footerStr ThemeColor3">
                {{! it.footerStr}}
            </spna>
        </div>
    </div>
</div>
