.homePostFilter {
  border-bottom: 1px solid var(--color-border-secondary);
  width: 100%;
  font-size: 14px;
}
.homePostFilter .groupName {
  max-width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
}
.homePostFilter .icon-arrow-down-border {
  display: inline-block;
  vertical-align: middle;
}

.homePostFilter .notGroupHint {
  white-space: normal;
  color: var(--color-text-title);
}

.searchFilter .InlineBlock .oldKnowledgeLink {
  background-color: var(--color-background-primary);
  color: var(--color-text-title);
  display: inline-block;
  font-size: 12px;
  padding-right: 10px;
}

.postDateRangePicker {
  margin-top: 15px !important;
  margin-right: -75px !important;
  box-shadow:
    0 4px 20px rgba(0, 0, 0, 0.13),
    0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  z-index: 999 !important;
  display: none;
}
