.currentDateInfoModal {
  overflow: hidden;
  .adm-popup-body {
    height: 100%;
    .header {
      height: 44px;
      padding: 0;
      line-height: 44px;
      position: relative;
      background: #fff;
      text-align: center;
      font-size: 18px;
      .closeIcon {
        position: absolute;
        height: 24px;
        right: 16px;
        top: 10px;
        border-radius: 12px;
      }
    }
    .modalContentBox {
      height: 100%;
      background-color: #f2f2f2;
      .searchWrapper {
        display: flex;
        height: 36px;
        background: #fff;
        border-radius: 18px;
        margin: 14px 7px 10px;
        position: relative;
        padding-left: 38px;
        .searchIcon {
          width: 14px;
          height: 14px;
          position: absolute;
          top: 8px;
          left: 16px;
        }
        .cursorText {
          width: 100%;
          font-size: 14px;
          border: none;
          border-radius: 0 18px 18px 0;
        }
        .am-list-item {
          flex: 1;
          height: 36px;
          min-height: 36px;
          padding: 0;
        }
      }
      .listBox {
        .listItem {
          margin: 0 8px 12px;
          text-align: left;
          padding: 12px 14px 14px;
          background: #ffffff;
          border: 1px solid #eaeaea;
          border-radius: 3px;
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
          overflow: hidden;
          .title {
            color: #151515;
          }
          .null {
            width: 22px;
            height: 6px;
            background: var(--gray-e0);
            margin: 15px 0;
            border-radius: 3px;
          }
        }
        .listItem:last-child {
          margin-bottom: 45px;
        }
        .colorTag {
          position: absolute;
          width: 4px;
          top: -1px;
          bottom: -1px;
          left: 0px;
          &.colorTagRight {
            left: unset;
            right: 0;
          }
        }
      }
    }
    .emptyContainer {
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #bdbdbd;
      border: 1px solid #f5f5f5;
    }
  }
}
