.otherActionModal {
  max-height: 95%;
  overflow-y: auto;
  width: 100%;
  background: var(--color-background-primary);
}
.otherActionWrapper {
  max-height: 100vh;
  .otherActionContent {
    overflow-y: auto;
  }
  .am-textarea-item,
  .itemWrap {
    padding: 10px 16px;
    overflow: initial;
  }
  .title {
    padding: 16px 16px 0;
  }
  .itemWrap {
    .selectedUser {
      width: 30px;
      height: 30px;
    }
    .icon-lift {
      color: var(--color-warning);
    }
    .flexEnd {
      justify-content: flex-end;
    }
  }
  .adm-text-area {
    border: 1px solid var(--color-border-secondary);
    padding: 6px;
    border-radius: 4px;
    > textarea {
      font-size: 14px;
    }
  }
  .verifyPasswordInputWrap .label {
    font-weight: bold;
  }
  .attachmentFiles {
    padding: 0;
  }
  .selectTemplate {
    min-height: 39px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid var(--color-border-secondary);
  }
  .actionBtnWrapper {
    height: 50px;
    align-items: center;
  }
  .actionBtn {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    border: 1px solid var(--color-border-primary);
    margin: 0 10px;
  }
  .ok {
    color: var(--color-white);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
  }
  .overrule {
    color: var(--color-white);
    border-color: var(--color-error);
    background-color: var(--color-error);
  }
  .signature {
    width: 100%;
  }
  .backFlowNodesHeader {
    .left,
    .right {
      display: flex;
      color: var(--color-primary);
      font-size: 16px;
      align-items: center;
    }
    .am-flexbox-item.left {
      justify-content: flex-start;
    }
    .title {
      color: var(--color-text-primary);
      font-size: 17px;
    }
    .am-flexbox-item.right {
      justify-content: flex-end;
    }
  }
  .backFlowNodesList {
    .icon-ok {
      color: var(--color-primary);
    }
  }
  .fileWrapper {
    border-radius: 4px;
  }
}
