<div id="animatePopup" class="ns-show animatePopup {{= it.statusClass}}">
    {{? it.settings.showClose}}
    <span class="animatePopupClose ThemeColor3" title="关闭">×</span>
    {{?}}
    <div class="animatePopupTitle"><i class="{{= it.iconClass}} iconAnimateStatus"></i>
        <div class="animatePopupTitleContent">
            {{= it.settings.title}}
        </div>
    </div>
    <div class="animatePopupContent">
        {{= it.settings.content}}
    </div>
    <div class="animatePopupFooter ThemeColor3">
        {{? it.settings.btnR}}
        <div class="animatePopupBtnR animatePopupBtn">{{= it.settings.btnR}}</div>
        {{?}}
        <div class="animatePopupBtnL animatePopupBtn">{{= it.settings.btnL}}</div>
    </div>
</div>
