.selectDepartmentContainer {
  .selectDepartmentContent {
    height: 352px;
    overflow: auto;
    margin-top: 12px;
    > .GSelect-departmentList {
      > .GSelect-department {
        padding-left: 0;
      }
    }
  }
  .GSelect-department--checkbox {
    margin-left: 1px;
  }
  .moreBtn {
    color: var(--color-primary);
    &:hover {
      color: var(--color-primary);
    }
    & > div {
      display: inline-block;
      margin-right: 6px;
    }
  }
}
