@shadow2:
  0 4px 20px rgba(0, 0, 0, 0.13),
  0 2px 6px rgba(0, 0, 0, 0.1);

@grayDarker: var(--color-text-primary);
@grayDark: var(--color-text-secondary);
@gray: var(--color-text-tertiary);
@grayLight: var(--color-text-disabled); // 主色调
@grayLighter: var(--color-border-secondary);
@grayLightest: var(--color-background-secondary);

@textColor: @grayDarker;
@bgColor: @grayLightest;
@dangerColor: var(--color-error);
@successColor: var(--color-success);

@themeColor1: var(--color-link-hover);
@themeColor2: var(--color-primary-dark);
@themeColor3: var(--color-primary);
@themeColor4: var(--color-info-border);
@themeColor5: var(--color-primary-transparent);
@themeColor6: var(--color-primary-transparent);
@themeColor7: var(--color-text-placeholder);
@themeColor8: var(--color-text-tertiary);
@themeColor9: var(--color-text-secondary);
@themeColor10: var(--color-text-primary);

@themeLinkColor: @themeColor3;

@themeBgColor1: @themeColor1;
@themeBgColor2: @themeColor2;
@themeBgColor3: @themeColor3;
@themeBgColor4: @themeColor4;
@themeBgColor5: @themeColor5;
@themeBgColor6: @themeColor6;
@themeBgColor7: rgba(000, 000, 000, 0.04);
@themeBgColor8: var(--color-primary-transparent);
@themeBgColor9: var(--color-background-primary);
@themeBgColor10: @themeColor10;

@themeHoverBgColor1: @themeColor1;
@themeHoverBgColor2: @themeColor2;
@themeHoverBgColor3: @themeColor3;
@themeHoverBgColor4: @themeColor4;
@themeHoverBgColor5: @themeColor5;
@themeHoverBgColor6: @themeColor6;
@themeHoverBgColor7: rgba(000, 000, 000, 0.04);
@themeHoverBgColor8: rgba(000, 000, 000, 0.24);
@themeHoverBgColor9: rgba(000, 000, 000, 0.4);
@themeHoverBgColor10: @themeColor10;

@themeHoverColor1: @themeColor1;
@themeHoverColor2: @themeColor2;
@themeHoverColor3: @themeColor3;
@themeHoverColor4: @themeColor4;
@themeHoverColor5: @themeColor5;
@themeHoverColor6: @themeColor6;
@themeHoverColor7: @themeColor7;
@themeHoverColor8: @themeColor8;
@themeHoverColor9: @themeColor9;
@themeHoverColor10: @themeColor10;

@themeBorderColor1: @themeColor1;
@themeBorderColor2: @themeColor2;
@themeBorderColor3: @themeColor3;
@themeBorderColor4: @themeColor4;
@themeBorderColor5: @themeColor5;
@themeBorderColor6: @themeColor6;
@themeBorderColor7: @themeColor7;
@themeBorderColor8: @themeColor8;
@themeBorderColor9: @themeColor9;
@themeBorderColor10: @themeColor10;
