/* override */
#inviteDialog .dialogContent {
    padding-right: 0;
}

#inviteDialog .projectList {
    overflow-y: auto;

    max-height: 300px;
    margin-bottom: 20px;
}

#inviteDialog .splitLine {
    width: 372px;
    border-top: 1px solid #ccc;
    margin: 24px 0;
}

#inviteDialog .projectList.scrollBar {
    padding-right: 20px;
}

#inviteDialog .projectItem {
    font-size: 15px;
    line-height: 50px;

    width: 350px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;

    border: 1px solid #ccc;
    border-radius: 4px;

    align-items: center;
}

#inviteDialog .projectItem .companyName {
    overflow: hidden;

    min-width: 0;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #333;
}

#inviteDialog .projectItem:hover {
    border-color: currentColor;
}

#inviteDialog .projectItem:last-child {
    margin: 0;
}

#inviteDialog .projectItem:not(:hover) .icon-arrow-right-border {
    color: #999!important;
}
