.radioBlockGroup {
  .item {
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin-right: 13px;
    font-size: 13px;
    padding: 0 10px;
    background-color: var(--color-background-secondary);
    border-radius: 24px;
    cursor: pointer;
    &.ThemeBGColor3 {
      color: var(--color-white);
    }
  }
}
