.Message-sysType {
  color: #bbb;
  margin: 15px 0;
  text-align: center;
  display: flex;
  justify-content: center;
  &-reduceIcon {
    color: rgba(233, 66, 24, 0.5);
  }
  &-icon {
    font-size: 16px;
    line-height: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &-text {
    padding-left: 5px;
    max-width: 400px;
  }
}
