
.customPageButtonWrap, .customPageViewWrap, .customPageFilterWrap {
  z-index: 999;
}

.selectOptionWrapper {
  padding: 7px 12px 7px 20px;
  &.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-weight: unset;
    color: #fff;
    background-color: #2196F3;
    .icon {
      color: #fff !important;
    }
  }
}

.editWidgetDialogWrap {
  &.rc-dialog {
    width: auto;
    box-sizing: border-box;
    height: 100%;
    padding: 32px 32px 0;
    margin: 0;
  }
  .rc-dialog-body {
    padding: 0;
    height: 100%;
    .mdEditor {
      padding: 6px 0 60px 0;
      box-sizing: border-box;
      height: 100%;
      .editorContent {
        max-height: 100%;
        height: 100%;
      }
    }
  }
  .rc-dialog-content {
    height: 100%;
    overflow: hidden;
  }
  .rc-dialog-close {
    display: none;
  }
  .icon-close:hover {
    color: #2196F3 !important;
  }
  button.save {
    font-weight: bold;
    width: 72px !important;
  }
}

.customPageWrap,
.customPageContent {
  .react-grid-item.react-grid-placeholder {
    background: #e3f2fd;
  }
  .empty {
    .addWidgetPic {
      width: 200px;
      height: 130px;
      margin: 0 auto;
      background-position: center center;
      background-image: url('~src/pages/worksheet/assets/addWorksheet.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
