<div class="selectGroup">
    <div class="selectGroupContent">
        <ul class="staticContents"></ul>
    </div>
    <div class="groupContainer">
        <div class="searchContent">
            <div class="tip">
                <span class="Font14 LineHeight30">{{=_l('分享到选中的群组')}}</span><span class="icon-search mLeft10 Hand Font16 searchIcon"></span>
            </div>
            <div class="searchInput Hidden Relative">
                <input type="text" placeholder="{{=_l('搜索群组')}}" class="groupKeywords boderRadAll_3">
                <span class="icon-search Hand Font16 searchIcon Absolute"></span>
            </div>
        </div>
        <div class="groupList nano">
            <ul class="nano-content groupListContent">{{= LoadDiv() }}</ul>
        </div>
    </div>
</div>
