.sheetSummaryInfo {
  box-sizing: border-box;
  padding: 0px !important;
  &:not(.disabled) {
    cursor: pointer;
  }
  .flexRow {
    padding: 0 5px;
    &.empty {
      .summaryValue,
      .summaryName {
        display: none;
      }
    }
  }
  .summaryName {
    color: var(--color-text-tertiary);
  }
  .summaryValue {
    color: var(--color-text-title);
  }
  .iconArrow {
    visibility: hidden;
    line-height: 28px;
    font-size: 16px;
    color: var(--color-text-tertiary);
  }
  &.withBackground {
    background-color: var(--color-background-secondary) !important;
  }
  &.groupTitleSummary {
    display: flex;
    align-items: center;
    background-color: var(--color-background-secondary) !important;
    > .flexRow {
      align-items: center;
      width: 100%;
    }
  }
  &:not(.disabled):hover {
    background-color: var(--color-background-secondary) !important;
    .iconArrow {
      visibility: visible;
    }
  }
  &.alignCenter {
    .flexRow {
      justify-content: center;
    }
    .flexRow .flex {
      display: none;
    }
    .iconArrow {
      position: absolute;
      right: 6px;
    }
  }
}

.childTableCon
  .sheetViewTable
  .cell.sheetSummaryInfo.childTableSummaryCell:not(.columnHead):not(.highlight):not(.highlightFromProps) {
  background: transparent !important;
  background-color: transparent !important;
  border-right-color: transparent !important;
}

.summaryCellMenu {
  .title {
    font-size: 12px;
    line-height: 26px;
    color: var(--color-text-tertiary) !important;
    margin: 0 16px;
  }
  hr {
    border: none;
    border-top: 1px solid var(--color-border-secondary);
    margin: 0;
  }
  .Menu {
    position: relative !important;
  }
}

.summaryCellHead {
  color: var(--color-text-disabled);
  text-align: center;
  line-height: 28px;
  height: 28px !important;
  background-color: var(--color-background-secondary) !important;
}
