.sheetSummaryInfo {
  box-sizing: border-box;
  line-height: 28px;
  height: 28px !important;
  padding: 0px !important;
  background-color: #f6f6f6 !important;
  &:not(.disabled) {
    cursor: pointer;
  }
  .flexRow {
    padding: 0 10px;
    &.empty {
      .summaryValue,
      .summaryName {
        display: none;
      }
    }
  }
  .summaryName {
    color: #9e9e9e;
  }
  .summaryValue {
    color: #4d4d4d;
  }
  .iconArrow {
    visibility: hidden;
    line-height: 28px;
    font-size: 16px;
    color: #aaa;
  }
  &:not(.disabled):hover {
    background-color: #eaeaea !important;
    .iconArrow {
      visibility: visible;
    }
  }
}

.summaryCellMenu {
  .title {
    font-size: 12px;
    line-height: 26px;
    color: #9e9e9e !important;
    margin: 0 16px;
  }
  hr {
    border: none;
    border-top: 1px solid #e9e9e9;
    margin: 0;
  }
  .Menu {
    position: relative !important;
  }
}

.summaryCellHead {
  color: #bdbdbd;
  text-align: center;
  line-height: 28px;
  height: 28px !important;
  background-color: #f6f6f6 !important;
}
