.functionEditor {
  .CodeMirror-cursor {
    border-color: var(--color-primary);
    border-right: 1px solid var(--color-primary);
    transform: scaleY(1.1);
  }
  .CodeMirror-matchingbracket {
    color: var(--color-text-title) !important;
    background-color: rgba(33, 150, 243, 0.2);
  }
  .cm-string {
    color: var(--color-text-title) !important;
  }
  .CodeMirror-placeholder {
    font-size: 14px !important;
    color: var(--color-text-disabled) !important;
  }
}
