.boardDataRecordItemWrap {
  background-color: #fff;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  overflow: hidden;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  }

  .skeletonBox {
    padding: 10px 14px;
  }
}
