.boardDataRecordItemWrap {
  background-color: var(--color-background-primary);
  margin-bottom: 8px;
  box-shadow: var(--shadow-sm);
  border-radius: 3px;
  overflow: hidden;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  }

  .skeletonBox {
    padding: 10px 14px;
  }
}
