.ChatPanel-Announcement {
  width: 100%;
  border-bottom: 1px solid #ddd;

  &-compile {
    background-color: #f9f9f9;
  }
  &-body {
    padding: 10px 16px 0;
  }
  &-text {
    max-height: 240px;
    overflow-y: scroll;
    word-break: break-all;
  }
  .Textarea&-textarea {
    border: none !important;
    padding: 0 !important;
    font-size: 13px !important;
    background-color: transparent;
  }
}
