.columnSelectDropdown {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  background-color: var(--color-background-primary);
  border: 1px solid var(--color-border-tertiary);
  border-radius: 3px;
  .mui-datetime-base {
    width: 240px;
    height: 34px;
    display: inline-block;
  }
  .selectedDate {
    padding: 0 12px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
  }
  .remove {
    line-height: 34px;
    margin-right: 8px;
    font-size: 20px;
    color: var(--color-text-disabled);
    &:hover {
      color: var(--color-text-tertiary);
    }
  }
  .rightIcon {
    background-color: var(--color-background-secondary);
    border-left: 1px solid var(--color-border-primary);
    font-size: 20px;
    color: var(--color-text-secondary);
    height: 34px;
    line-height: 33px;
    padding: 0 7px;
  }
  .controlItem {
    box-sizing: border-box;
    display: inline-block;
    margin: 5px 6px;
    font-size: 12px;
    height: 24px;
    line-height: 22px;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    overflow: hidden;
    .controlIcon {
      display: none;
    }
    .controlName {
      display: inline-block;
      max-width: 80px;
      padding: 0 10px;
      color: var(--color-primary);
      background-color: var(--color-primary-transparent);
    }
    .controlValue {
      display: inline-block;
      max-width: 115px;
      padding: 0 10px;
      color: var(--color-white);
      background-color: var(--color-primary);
    }
    &.error {
      border-color: var(--color-error);
      background-color: rgba(244, 67, 54, 0.06);
      color: var(--color-error);
      padding: 0 10px;
    }
  }
  .empty {
    font-size: 13px;
    color: var(--color-text-disabled);
    padding-left: 15px;
    margin: 7px 0;
  }
}

.dateCalcDropdown {
  li.Item .Item-content:hover {
    .controlItem {
      .controlIcon,
      .controlValue {
        color: var(--color-white);
      }
    }
  }
  .controlItem {
    font-size: 14px;
    .controlIcon {
      font-size: 16px;
      color: var(--color-text-tertiary);
      margin-right: 12px;
    }
    .controlName {
      margin-right: 12px;
    }
    .controlValue {
      color: var(--color-text-tertiary);
    }
  }
}
