.worksheetFilterBtn {
  cursor: pointer;
  vertical-align: middle;
  font-size: 13px;
  margin-right: 16px;
  border-radius: 4px;
  line-height: 29px;

  .icon-worksheet_filter {
    font-size: 18px;
    vertical-align: middle;
  }

  .selectedFilterName {
    display: inline-block;
    max-width: 8em;
    vertical-align: middle;
  }

  .resetFilterBtn {
    font-size: 16px;
    margin-left: 6px;
    line-height: 29px;
    vertical-align: middle;
  }

  &.active {
    padding: 0 10px;

    .icon-worksheet_filter {
      margin-right: 6px;
    }
  }

  &:not(.active) {
    background-color: var(--color-background-primary) !important;
    padding-left: 0px;
    color: var(--color-text-tertiary) !important;
  }
}

.filterTrigger {
  position: absolute;
}

.rc-trigger-popup-hidden {
  display: none;
}

.workSheetFilter {
  width: 400px;
  border-radius: 4px;
  background-color: var(--color-background-primary);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 16px;

  .filterHeader {
    border-bottom: 1px solid var(--color-border-secondary);
    padding: 0 0 0 20px;
    line-height: 44px;
    font-size: 16px;
    color: var(--color-text-title);

    .addFilterBtn {
      float: right;
      margin: 10px;
      font-size: 23px;
      color: var(--color-text-tertiary);
      line-height: 1em;
      right: 0;
    }
  }

  .filterBody {
    overflow: auto;
    max-height: 340px;

    hr {
      border: none;
      border-top: 1px solid var(--color-border-secondary);
      margin: 6px 0;
    }

    .title {
      padding: 6px 20px;
      font-size: 12px;
      color: var(--color-text-tertiary);
    }

    > div:last-child:not(.customFilter):not(.expanded) {
      margin-bottom: 6px;
    }
  }

  .filterItem {
    padding: 0px 20px;
    font-size: 14px;
    color: var(--color-white);
    line-height: 36px;
    cursor: pointer;

    .filterNameInput {
      font-size: 13px;
      border: none;
      height: 20px;
      padding: 0;
      background-color: transparent;
    }

    .moreOperateBtn {
      cursor: pointer;
      float: right;
      color: var(--color-text-tertiary);
      margin: 0px 10px;
      font-size: 18px;
      line-height: 36px;
    }

    .slideIcon {
      visibility: hidden;
      opacity: 0.7;
      float: right;
      font-size: 16px;
      line-height: 32px;

      .icon {
        padding: 6px 2px 6px 6px;
      }

      &:hover {
        opacity: 1;
      }
    }

    .moreOperateBtn {
      color: var(--color-white) !important;
    }

    input {
      color: var(--color-white);
    }

    &:not(.expanded):hover {
      .filterTitle {
        color: var(--color-white) !important;
      }

      .slideIcon {
        opacity: 1;
        visibility: visible;
        color: var(--color-white) !important;
      }
    }

    &:not(:hover) {
      color: var(--color-text-title) !important;
      background-color: var(--color-background-primary) !important;

      input {
        color: var(--color-text-title);
      }

      .moreOperateBtn,
      .slideIcon {
        color: var(--color-text-tertiary) !important;
      }
    }

    &.expanded {
      background-color: var(--color-background-secondary) !important;
      border-top: 1px solid var(--color-border-secondary);

      input {
        color: var(--color-text-title);
      }

      .slideIcon {
        visibility: visible;
      }

      .moreOperateBtn,
      .slideIcon {
        color: var(--color-text-tertiary) !important;
      }
    }
  }

  .newFilter {
    padding: 0px 20px;
    font-size: 13px;
    line-height: 36px;
  }

  .conditionsCon {
    padding: 0 15px 10px 20px;
    background-color: var(--color-background-secondary);
    overflow: hidden;
  }

  .conditionItem {
    margin: 12px 0 0;
    font-size: 13px;

    .errorName {
      color: var(--color-error);
    }

    .conditionItemHeader {
      position: relative;
      margin-bottom: 2px;
      padding-right: 58px;

      .deletedColumn {
        color: var(--color-error);
        margin-bottom: 6px;

        .icon {
          transform: rotate(90deg);
          font-size: 16px;
          margin-right: 3px;
        }
      }

      .columnName {
        display: inline-block;
        vertical-align: middle;
        max-width: 91px;
      }

      .relation {
        vertical-align: middle;
        margin-left: 14px;
        padding: 5px 4px;
        border-radius: 4px;
        color: var(--color-text-title);

        .Dropdown--input .icon {
          visibility: hidden;
        }

        &:hover {
          background-color: var(--color-border-secondary);
        }
      }

      .deleteBtn {
        cursor: pointer;
        position: absolute;
        right: 45px;
        color: var(--color-text-tertiary);
        margin-top: 5px;
        visibility: hidden;

        i {
          font-size: 16px;
        }
      }

      &.isbool {
        padding-top: 4px;
      }
    }

    .conditionItemContent {
      padding-right: 48px;
      position: relative;

      input {
        width: 100%;
        font-size: 13px;
      }

      .deletedColumn {
        background: var(--color-error-bg) !important;
        border-color: var(--color-error) !important;
      }

      .conditionRelation {
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -14px;
        color: var(--color-text-tertiary);

        .relationType {
          display: inline-block;
          padding: 5px 20px 5px 0px;
        }

        .Dropdown--input .icon {
          margin-left: 4px !important;
        }

        .ming .List {
          width: 50px;
          text-align: center;
        }
      }
    }

    &.readonly {
      .relation {
        &:hover {
          background-color: transparent;
        }
      }

      .conditionRelation {
        .Dropdown--input .icon {
          visibility: hidden;
        }
      }
    }

    &:not(.readonly):hover {
      .conditionItemHeader .deleteBtn {
        visibility: visible;
      }

      .relation .Dropdown--input .icon {
        visibility: visible;
      }
    }

    &:first-child {
      margin-top: 0px;
    }
  }

  .customFilter {
    padding: 10px 15px 10px 20px;
    background-color: var(--color-background-secondary);
    border-bottom: 1px solid var(--color-border-secondary);

    .customFilterTitle {
      font-size: 14px;
      padding: 4px 0;
    }
  }

  .addFilterCondition {
    position: relative;
    margin: 16px 0 6px;
    color: var(--color-text-secondary);

    &:hover {
      color: var(--color-primary);
    }

    .icon {
      font-size: 16px;
      font-weight: 600;
      margin-right: 4px;
    }
  }

  input {
    &:disabled {
      cursor: not-allowed;
      background-color: var(--color-background-secondary);

      &:hover {
        border-color: var(--color-border-tertiary);
      }
    }
  }

  &.singleFilter {
    box-shadow: none;
    margin: 0;
    width: 100%;

    .conditionItem .conditionValue {
      &:hover {
        .timeZoneTag {
          display: none;
        }
      }
    }
  }
}

.addFilterPopup {
  background-color: var(--color-background-card);
  border-radius: 3px;
  box-shadow:
    0 4px 20px rgba(0, 0, 0, 0.13),
    0 2px 6px rgba(0, 0, 0, 0.1);

  .columnsFilter {
    padding: 0 10px;
    border-bottom: 1px solid var(--color-border-secondary);
    display: flex;
    flex-direction: row;

    .icon-search {
      width: 20px;
      margin: 10px 0 0;
      text-align: center;
      font-size: 18px;
      color: var(--color-text-tertiary);
    }

    .Input {
      flex: 1;
      width: 124px;
      border: none;
      font-size: 13px;
      padding: 0 10px;

      &::placeholder {
        color: var(--color-text-disabled);
      }
    }
  }

  .Menu {
    width: 100%;
    box-shadow: none !important;
  }

  .tip {
    padding: 10px 20px;
    color: var(--color-text-tertiary);
  }

  &.inEmpty {
    box-shadow: none;
    margin-top: 6px;

    .columnsFilter {
      margin: 0 20px;
      padding: 0px;

      .Input {
        padding: 0 7px;
      }
    }

    .worksheetFilterColumnOptionList.Menu {
      width: 100% !important;
      padding: 5px 6px 6px;

      .ming.MenuItem .Item-content {
        font-size: 14px;
        border-radius: 3px;

        &:hover {
          .icon {
            color: var(--color-text-tertiary) !important;
          }

          span {
            color: var(--color-text-title) !important;
          }
        }
      }
    }
  }
}

.worksheetFilterColumnOptionList.Menu {
  width: 220px !important;
}

.worksheetFilterOperateList.Menu,
.worksheetFilterColumnOptionList.Menu {
  position: static !important;
  overflow: auto;
  max-height: 260px;

  .ming.Item {
    &.selected {
      .Item-content {
        background-color: var(--color-primary-transparent);
        color: var(--color-primary);

        .icon {
          color: var(--color-primary);
        }
      }
    }
  }

  .Item-content {
    text-align: left;

    .icon {
      color: var(--color-text-tertiary);
      margin-right: 10px;
      font-size: 14px;
      vertical-align: middle;
    }

    > span {
      vertical-align: middle;
    }
  }

  .ming.Item .Item-content.disabled {
    .icon {
      color: var(--color-text-disabled) !important;
    }
  }

  .ming.Item.disabled .Item-content {
    cursor: not-allowed;
    background-color: var(--color-background-primary) !important;
    color: var(--color-text-disabled) !important;

    .icon {
      color: var(--color-text-disabled) !important;
    }
  }

  .segmentationLine {
    border-top: 1px solid var(--color-border-primary);
    margin: 8px 0;
    padding-top: 8px;
  }

  .Item-content {
    padding: 0 14px;
  }
}

.worksheetFilterOperateList.Menu {
  .icon {
    color: var(--color-text-tertiary);
    margin-right: 10px;
    font-size: 16px;
  }

  hr {
    border: none;
    border-top: 1px solid var(--color-border-secondary);
    margin: 6px 0;
  }
}

.worksheetFilterTextCondition {
  outline: none;

  .ant-select-selector {
    min-height: 36px;
    border-color: var(--color-border-primary) !important;
    box-shadow: none !important;
    padding: 3px 4px !important;

    .ant-select-selection-overflow {
      gap: 6px;
    }
  }

  &.ant-select-focused {
    .ant-select-selector {
      border-color: var(--color-primary) !important;
    }
  }
}

.worksheetFilterYesNoCondition {
  padding: 8px 0;

  .RadioGroup label {
    margin: 0;
    width: 40%;
  }
}

.worksheetFilterNumberCondition {
  .numberRange {
    input::placeholder {
      color: var(--color-text-disabled);
    }

    .split {
      line-height: 36px;
      color: var(--color-text-secondary);
      margin: 0 4px;
    }
  }
}

.worksheetFilterDateCondition {
  .dateInputCon {
    border: 1px solid var(--color-border-tertiary);
    box-sizing: border-box;
    height: 36px;
    border-radius: 3px;
    font-size: 12px;
    background: var(--color-background-primary);
    position: relative;

    .ant-picker {
      input {
        font-size: 12px !important;
      }

      &.ant-picker-range {
        padding: 0 8px;
      }
    }

    .ming.Dropdown {
      width: 100%;

      .Dropdown--input {
        padding: 8px;
      }

      .ming.Icon {
        float: right;
        margin: 4px;
      }
    }

    .customFormControlBox:not(.ant-picker) {
      height: 34px;
    }
  }

  .dateValue input {
    width: 90px !important;
    border-radius: 3px 0 0 3px;
    vertical-align: middle;
  }

  .dateRangeType {
    border: 1px solid var(--color-border-tertiary);
    height: 36px;
    line-height: 24px;
    border-radius: 0 3px 3px 0;
    vertical-align: middle;
    width: 70px !important;
    border-left: none;

    .icon {
      float: right;
      margin-top: 5px;
      margin-right: 4px;
    }
  }

  .includeToday {
    display: inline-block !important;
    margin-left: 16px;
    vertical-align: middle;
  }

  .customDate {
    line-height: 34px;
    display: flex;

    > * {
      flex: 1;
    }

    .mui-datetime-picker {
      width: 100%;
      display: inline-block;
      padding: 0 8px;
    }

    .customAntPicker {
      border: none;
      box-shadow: none;
    }

    .customFormControlBox {
      font-size: 12px;
      padding: 0px 11px !important;

      &.dateTimeIcon {
        .dateClearIcon {
          display: none;
          cursor: pointer;
          color: var(--color-text-disabled);

          &:hover {
            color: var(--color-text-secondary) !important;
          }
        }

        &:focus,
        &:hover {
          .dateClearIcon {
            display: inline-block;
          }

          .bellScheduleIcon {
            display: none;
          }
        }
      }
    }
  }

  .dateRangeInputCon {
    border: 1px solid var(--color-border-tertiary);
    box-sizing: border-box;
    height: 36px;
    border-radius: 3px;
    font-size: 12px;
    background: var(--color-background-primary);

    .ant-picker {
      margin: 4px 0;
      border: none;
      box-shadow: none;

      input {
        font-size: 12px !important;
      }
    }

    .ant-picker-range {
      width: 100%;
    }
  }
}

.filterDateRangeInputPopup {
  .ant-picker-time-panel-column {
    width: 64px;
  }
}

.worksheetFilterRelateRecordCondition,
.worksheetFilterUsersCondition {
  .recordsCon,
  .usersCon {
    padding: 6px 8px 0 8px;
    box-sizing: border-box;
    min-height: 36px;
    border: 1px solid var(--color-border-tertiary);
    border-radius: 3px;
    font-size: 14px;
    color: var(--color-text-tertiary);
    background-color: var(--color-background-primary);

    &.disabled {
      cursor: not-allowed;
      background-color: var(--color-background-secondary);

      .userItem {
        .remove {
          .icon {
            display: none;
          }
        }
      }

      &:hover {
        border-color: var(--color-border-tertiary);
      }
    }
  }

  .recordItem,
  .userItem {
    display: inline-block;
    font-size: 12px;
    margin: 0 6px 6px 0;
    background-color: var(--color-border-secondary);
    border-radius: 12px;
    color: var(--color-text-title);

    .iconCon {
      border-radius: 50%;
      display: inline-block;
      background-color: var(--color-background-primary);
    }

    .userHead {
      display: inline-block !important;
      vertical-align: middle;
    }

    .filterCustomUserHead {
      font-size: 25px;
      margin-right: -1px;
    }

    .fullname {
      margin-left: 6px;
      display: inline;
      vertical-align: middle;
    }

    .remove {
      cursor: pointer;
      color: var(--color-text-tertiary);
      margin: 0 8px 0 4px;
      font-size: 12px;

      &:hover {
        color: var(--color-text-secondary);
      }
    }
  }

  .recordItem {
    padding: 2px 0px 2px 8px;

    .icon {
      font-size: 14px;
      margin-right: 4px;
    }
  }
}

.worksheetFilterRelateRecordCondition {
  .recordItem {
    max-width: 360px;

    .recordname {
      display: inline-block;
      max-width: calc(~'100% - 28px');
    }
  }
}

.worksheetFilterCascaderCondition {
  .cascaderDropdown {
    margin-top: 0px !important;
    .ant-select-selector {
      background-color: transparent !important;
      border-color: var(--color-border-primary) !important;
    }
    .customAntSelect:not(.ant-select-open):not(.ant-select-disabled) .ant-select-selector:hover {
      background-color: transparent !important;
      border-color: var(--color-text-placeholder) !important;
    }
  }
}

.filterCustomUserHead {
  color: var(--color-success);
  box-shadow: inset 0 0 0px 4px var(--color-success);
  border-radius: 25px;
  font-size: 27px;
  vertical-align: middle;
  margin: 0 8px 0 1px;
}

.filterTagCon {
  padding: 6px 8px;
  box-sizing: border-box;
  min-height: 36px;
  border: 1px solid var(--color-border-tertiary);
  border-radius: 3px;
  font-size: 14px;
  background-color: var(--color-background-primary);
  display: flex;
  gap: 6px;
  flex-wrap: wrap;

  .placeholder {
    color: var(--color-text-disabled);
  }

  .fiterTagItem {
    display: inline-block;
    background-color: var(--color-border-secondary);
    border-radius: 12px;

    .text {
      font-size: 12px;
      margin: 2px 0 2px 10px;
      display: inline-block;
    }

    .remove {
      cursor: pointer;
      color: var(--color-text-tertiary);
      margin: 0 8px 0 4px;
      font-size: 12px;

      &:hover {
        color: var(--color-text-secondary);
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: var(--color-background-secondary);

    .fiterTagItem {
      .remove {
        .icon {
          display: none;
        }
      }
    }

    &:hover {
      border-color: var(--color-border-tertiary);
    }
  }
}

.worksheetFilterOptionsCondition {
  .CityPicker-wrapper,
  .CityPicker-input-container {
    display: block;

    .CityPicker-input-tagSearchBox {
      height: auto;
    }
  }

  .optionCheckboxs {
    .optionCheckbox {
      cursor: pointer;
      background: var(--color-background-primary);
      box-sizing: border-box;
      display: inline-flex;
      align-items: center;
      margin: 6px 6px 0 0;
      padding: 0 10px;
      height: 26px;
      color: var(--color-text-tertiary);
      font-size: 13px;
      border-radius: 26px;
      border: 1px solid var(--color-border-tertiary);
      max-width: 100%;

      &.checked {
        color: var(--color-white);

        &.multiple {
          .selectedIcon {
            font-size: 16px;
            margin: 0 5px 0 -4px;
          }

          color: var(--color-link-hover);
          background-color: var(--color-primary-transparent) !important;
          border: 1px solid rgba(21, 101, 192, 0.17) !important;
        }
      }
    }

    .showMore {
      line-height: 26px;
      display: inline-block;
      margin: 7px 0 0 6px;
    }
  }
}

.filterControlOptionsList {
  width: 220px !important;
  max-height: 320px;
  overflow-y: auto;

  .tip {
    margin: 4px 10px;
    color: var(--color-text-tertiary);
  }

  .deleteSplit {
    hr {
      border: none;
      border-top: 1px solid var(--color-border-primary);
      margin: 4px 0;
    }

    .title {
      font-size: 12px;
      color: var(--color-text-tertiary);
      padding: 0 16px;
      margin: 12px 0 6px;
    }
  }
}

.ming.Input.disabled {
  background-color: var(--color-background-secondary);
}

.worksheetFilterRelateCondition {
  position: relative;
  // height: 36px;

  .inputText {
    border: 1px solid var(--color-border-primary);
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
    padding: 5px 20px 5px 10px;
    cursor: pointer;
    min-height: 36px;
    line-height: 24px;
    vertical-align: top;
    color: var(--color-text-disabled);
    position: relative;

    &.focusInput {
      border: 1px solid var(--color-primary);
    }

    .moreIntro {
      position: absolute;
      right: 6px;
      top: 9px;
    }

    span {
      // height: 24px;
      min-height: 24px;
      display: inline-block;
      padding: 0 6px 0 12px;
      border: 1px solid var(--color-primary-focus);
      background: var(--color-primary-transparent);
      color: var(--color-link-hover);
      border-radius: 15px;
      line-height: 22px;
      margin-right: 6px;
      font-size: 12px;
      font-weight: 500;
      box-sizing: border-box;

      &.isWrong {
        color: var(--color-error);
        border: 1px solid var(--color-error);
        background: rgba(244, 67, 54, 0.06);
      }

      i {
        font-style: normal;
        // opacity: .6;
        margin-left: 6px;
        // font-weight: 200;
        color: var(--color-link-hover);
        opacity: 0.6;

        &.icon {
          color: var(--color-text-title);
          opacity: 0.2;
          cursor: pointer;
          font-size: 12px;

          &:hover {
            opacity: 0.4;
          }
        }
      }
    }
  }

  .selectBox {
    box-shadow:
      0 4px 20px rgba(0, 0, 0, 0.2),
      0 2px 6px rgba(0, 0, 0, 0.15);
    display: inline-block;
    width: 100%;
    position: absolute;
    z-index: 10;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: var(--color-background-primary);
    left: 0;
    top: 100%;
    margin-bottom: 20px;

    .searchInput {
      width: 100%;
      border-bottom: 1px solid var(--color-border-secondary);
      display: flex;

      .searchIcon {
        line-height: 40px;
        padding-left: 16px;
      }

      input {
        font-size: 12px;
        box-sizing: border-box;
        padding: 8px 16px 8px 8px;
        border: 0;
        flex: 1;

        &::placeholder {
          color: var(--color-text-disabled);
        }
      }
    }

    .selectBoxCom {
      max-height: 300px;
      overflow: auto;
      margin-top: -1px;
    }

    .customSelectUl {
      padding-top: 0px;
      margin-top: -6px;
      border-top: none;
    }

    ul {
      padding: 6px 0;
      border-top: 1px solid var(--color-border-secondary);

      p {
        height: 36px;
        line-height: 36px;
        box-sizing: border-box;
        color: var(--color-text-title);
        font-weight: 500;
        padding: 0 16px;
        margin: 0;
      }

      li {
        height: 36px;
        line-height: 36px;
        padding-left: 16px;
        box-sizing: border-box;
        cursor: pointer;

        i {
          color: var(--color-text-tertiary);
          vertical-align: middle;
        }

        &:hover {
          color: var(--color-white);
          background: var(--color-primary);

          i {
            color: var(--color-white);
          }
        }
      }
    }
  }
}
