.enterpriceContainer {
  flex: 1;
  min-height: 0;
  margin: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  .hover_blue {
    &:hover {
      color: #2196f3 !important;
    }
  }
  .enterpriseHeader {
    padding: 0 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .itemJoin {
      width: 124px;
      height: 32px;
      border-radius: 16px;
    }
    .itemCreat {
      width: 124px;
      height: 32px;
      border-radius: 16px;
      background: #ffffff;
      border: 1px solid #2196f3;
      color: #2196f3;
      text-align: center;
      line-height: 30px;
      &:hover {
        color: #49adfc;
        border-color: #49adfc;
      }
    }
  }

  .enterpriseContent {
    flex: 1;
    min-height: 0;
    overflow-x: hidden;
    padding: 0 40px;
    box-sizing: border-box;
  }
}

.invitationNew {
  font-weight: 500;
  display: inline-block;
  min-width: 19px;
  height: 19px;
  background: #ffd2d2;
  line-height: 19px;
  text-align: center;
  color: #ff0000;
  border-radius: 19px;
  margin-left: 8px;
  padding: 0 6px;
}

.noEnterpriceContainer {
  flex: 1;
  min-height: 0;
  margin: 16px;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow-x: hidden;
  border-radius: 4px;
  padding: 22px 40px;
  display: flex;
  flex-direction: column;
  .withoutEnterpriseHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .itemCreat {
      width: 124px;
      height: 32px;
      border-radius: 16px;
      background: #ffffff;
      border: 1px solid #2196f3;
      color: #2196f3;
      text-align: center;
      line-height: 30px;
      &:hover {
        color: #49adfc;
        border-color: #49adfc;
      }
    }
    .addBtn {
      display: inline-block;
      width: 124px;
      height: 32px;
      background: #219dff;
      border-radius: 16px;
      text-align: center;
      line-height: 32px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        background-color: #1e88e5;
      }
    }
  }

  .withoutEnterpriseTopBox {
    flex: 1;
    min-height: 0;
    color: #9e9e9e;
    border: 1px solid #eaeaea;
    font-size: 15px;
    font-weight: 600;
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    .highLight {
      color: #2196f3;
      &:hover {
        color: #1e88e5;
      }
    }
  }

  .withoutEnterpriseHeader .MyInvitation {
    font-size: 14px;
    color: #757575;
  }

  .withoutEnterpriseHeader .MyInvitation:hover {
    color: rgba(117, 117, 117, 0.8);
  }

  .withoutEnterprise .creatEnterpriseBtn,
  .withoutEnterprise .addEnterpriseBtn {
    height: 32px;
    line-height: 32px;
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
    border-radius: 3px;
    margin: 0px 10px;
    padding: 0px 18px;
  }

  .withoutEnterprise .creatEnterpriseBtn:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  .withoutEnterprise .addEnterpriseBtn {
    background-color: transparent !important;
    color: white !important;
    border: 1px solid #f1f1f1;
  }

  .noEnterpriseIcon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: inline-block;
    margin-top: -40px;
    line-height: 76px;
  }

  .noEnterpriseIcon span {
    display: inline-block;
    width: 76px;
    height: 76px;
    background-size: contain;
  }

  .enterpriseNoteTitle {
    font-weight: normal;
  }

  .enterpriseNote .btnExperience {
    width: 310px;
    height: 55px;
    line-height: 55px;
    margin-bottom: 70px;
  }

  .enterpriseNote .btnExperience:hover {
    background: #1e88e5;
  }

  .withoutEnterprise ul {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }

  .withoutEnterprise ul li {
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 45px;
    color: #333;
    font-size: 16px;
  }

  .withoutEnterprise ul li img {
    width: 80px;
    height: 80px;
  }
}
