.md-tooltip-overlay {
  .ant-tooltip-inner {
    background-color: #000;
    border-radius: 3px;
    padding: 9px 12px;
    min-height: 36px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    overflow: 'auto';
  }
}
