.mdAutocomplete {
  position: absolute;
  cursor: default;
  overflow-y: auto;
  max-height: 400px;
  width: 300px;
  background-color: #fff;
  padding: 6px 0;
  -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
}
.mdAutocomplete li {
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mdAutocomplete li.autocomActive {
  background-color: #0091ea;
  color: #fff;
}
.mdAutocomplete li.autocomActive .ThemeColor3 {
  color: #fff !important;
}
.mdAutocomplete li.searching {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.clearAutoSearch {
  position: absolute;
  font-size: 14px;
  cursor: pointer;
}
