.fieldEditTxtFilter {
  flex: 1;

  .flexBox {
    display: flex;
    flex-wrap: wrap;

    .flexItem {
      flex: 1;
    }
  }

  & > div {
    line-height: 25px;
    width: 100%;
  }

  span.dynamicsourceSpan {
    min-height: 22px;
    display: inline-block;
    padding: 0 8px;
    border: 1px solid var(--color-primary-transparent);
    background: #d8eeff;
    color: var(--color-link-hover);
    border-radius: 11px;
    line-height: 20px;
    margin-right: 6px;
    font-size: 12px;
    font-weight: 500;
    box-sizing: border-box;

    &.isWrong {
      color: var(--color-error);
      border: 1px solid var(--color-error);
      background: rgba(244, 67, 54, 0.06);
    }

    i {
      font-style: normal;
      opacity: 0.6;
      margin-left: 5px;
      color: #789dba;
      opacity: 0.6;

      &.icon {
        cursor: pointer;
        color: var(--color-text-title);
        font-size: 12px;
        opacity: 0.2;

        &:hover {
          opacity: 0.4;
        }
      }
    }
  }
}
