.groupFilterContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--color-background-disabled);
  .searchBar {
    margin: 10px 16px;
    border-radius: 18px;
    background-color: var(--color-background-secondary);
    height: 36px;
    overflow: hidden;
    line-height: 36px;
    padding-left: 12px;
    .icon-search {
      line-height: 36px;
      color: var(--color-text-tertiary);
    }
    .ming.Input {
      background-color: transparent;
      border: none;
    }
  }
  .mobileSearchNoData {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-text-tertiary);
    font-size: 18px;
    .iconBox {
      width: 90px;
      height: 90px;
      border-radius: 45px;
      background: rgba(0, 0, 0, 0.04);
      text-align: center;
      margin-bottom: 22px;
      .searchIcon {
        line-height: 90px;
      }
    }
  }
  .breadNavbar {
    padding: 0px 0 12px 16px;
    .ant-breadcrumb {
      font-size: 14px;
      color: var(--color-primary);
      > span:last-child {
        color: var(--color-text-title);
      }
      .breadIcon {
        color: var(--color-text-placeholder);
        margin: 0 8px;
      }
    }
  }
  .scrollViewContainer {
    .listBox {
      .optionColor {
        width: 8px;
        height: 8px;
        margin-top: 6px;
        border-radius: 50%;
      }
      background-color: var(--color-background-primary);
      .groupItem {
        padding: 10px 0;
        font-weight: 500;
        .count {
          color: var(--color-text-tertiary);
          padding-right: 16px;
        }
        .line {
          width: 0;
          border: 1px solid var(--color-border-secondary);
        }
        .rightArrow {
          width: 40px;
          color: var(--color-text-placeholder);
          text-align: center;
        }
      }
      .listItem {
        background-color: var(--color-background-card);
        padding: 10px 16px 10px 0;
        box-sizing: border-box;
        font-size: 14px;
        .radioGroupFilterTxt {
          border-radius: 12px;
          font-size: 13px;
          box-sizing: border-box;
          word-break: break-all;
        }
        .count {
          color: var(--color-text-tertiary);
        }
      }
      .borderBottom {
        border-bottom: 1px solid var(--color-background-disabled);
      }
    }
    .searchRecordResult {
      background-color: var(--color-background-primary);
      padding-left: 16px;
      .recordItem {
        border-bottom: 1px solid var(--color-background-disabled);
        padding: 10px 0;
      }
    }
  }

  &.slideGroupFilterList {
    background-color: var(--color-background-primary);
    .searchBar {
      margin: 0 10px 10px 10px;
    }
    .scrollViewContainer .listBox .active .radioGroupFilterTxt {
      color: var(--color-primary);
    }
  }

  &.columnGroupFilter {
    background-color: var(--color-background-secondary);
    .listBox {
      background-color: transparent;
      .borderBottom {
        background-color: transparent;
        border: none;
      }
      .optionColor {
        width: 3px;
        height: 22px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: unset;
        margin-top: 0;
      }
      .listItem {
        position: relative;
        padding-left: 11px;
        &.active {
          .optionColor {
            background-color: var(--color-primary);
          }
          color: var(--color-primary);
        }
        .radioGroupFilterTxt {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
          hyphens: auto;
          word-wrap: break-word;
        }
      }
    }
  }
}

.groupFilterDrawer {
  -webkit-overflow-scrolling: touch;
  .adm-popup-body-position-right {
    left: 0;
  }
  .groupDetailBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .groupTitle {
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      font-weight: 600;
      padding-left: 12px;
    }
    .groupDetailCon {
      flex: 1;
      background-color: var(--color-background-disabled);
    }
  }
}

.recordActionWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  padding-bottom: calc(~'constant(safe-area-inset-bottom) - 20px');
  padding-bottom: calc(~'env(safe-area-inset-bottom) - 20px');
}

.slideGroupFilterDrawer {
  .adm-popup-body {
    width: calc(~'100vw - 40px');
    display: flex;
    flex-direction: column;
  }
  .slideGroupFilterList {
    flex: 1;
    min-height: 0;
  }
}
