.closeBtn {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #ccc;
  text-align: center;
  cursor: pointer;
  font-size: 0;
  user-select: none;
  &:hover {
    background-color: #9e9e9e;
  }

  i.icon {
    color: #fff;
    font-size: 10px;
    line-height: 13px;
  }
}
