.dataSourceList {
  list-style-type: none;
  padding: 0;
  margin: 8px 0;
  margin-left: 66px;
  width: 320px;
  li {
    font-size: 13px;
    padding: 0 6px;
    line-height: 31px;
    border-bottom: solid 1px #ccc;
    &:last-child {
      border-bottom: none;
    }
  }
}
