.dragDetailOptions {
  display: inline-block;
  flex: 1;
  vertical-align: top;
  width: 320px;
}
.dragDetailItem {
  position: relative;
  padding: 4px 0;
  padding-left: 45px;
  width: 275px;
  .dragDetailNum {
    position: absolute;
    left: 0;
    top: 10px;
  }
  .dragPreview {
    left: 21px !important;
  }
  .activeShow {
    display: none;
  }
  &:hover {
    .activeShow {
      display: block;
    }
  }
  .dragDetailItemName {
    width: 80px;
    margin-left: 10px;
    line-height: 32px;
    vertical-align: top;
  }
  .optionHandle {
    position: absolute;
    top: 8px;
    right: 0;
    & > label {
      display: inline-block;
      width: auto;
      vertical-align: top;
    }
    .rCheckbox {
      margin-right: 8px;
    }
    .iconDelete {
      margin-top: -3px;
      font-size: 14px;
      margin-left: 5px;
    }
  }
  .dragDetailItemCheckBox {
    display: block;
    height: 30px;
    line-height: 30px;
    margin-top: 5px;
    .checkboxLabel {
      width: auto;
      vertical-align: middle;
      display: inline-block;
      & + span {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .dropdown {
      width: 80px !important;
      margin-left: 12px;
      border: none;
      .dropdownValue {
        width: 100%;
      }
    }
  }
}

.dialogBox .wsItem .checkboxLabel {
  width: auto;
  vertical-align: top;
}
