.customWidgetNumber {
  display: inline-block;
  input[type='text'].numberInput {
    width: 30px;
  }
  .numberControlBox {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    span {
      display: block;
      &:not(:hover) {
        color: #333 !important;
      }
    }
  }
}
