.textPill {
  display: inline-block;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 4px 10px;
  cursor: default;
  position: relative;
  margin: 2px;

  .closeBtn {
    position: absolute;
    right: -7px;
    top: -7px;
    display: none;
    z-index: 1000;
  }
  &:hover {
    .closeBtn {
      display: inline-block;
    }
  }
}
