.transparentBtn {
  border: none;
  background-color: transparent;
  height: 32px;
  font-size: 13px;
  line-height: 32px;
  padding: 0 10px;
  cursor: pointer;
  user-select: none;
  color: #333;

  &:hover {
    color: #2196f3;
  }

  &:focus {
    outline: none;
  }

  i.icon {
    font-size: 15px;
    line-height: 32px;
  }

  span {
    display: inline-block;
    margin-left: 4px;
    vertical-align: middle;
    font-size: 13px;
    line-height: 32px;
  }
}
