.voteOptionControl {
  display: flex;
  align-items: flex-start;
  color: var(--color-text-primary);
  line-height: 22px;
}

.voteOptionControl > :first-child {
  margin-top: 3px;
}

.voteOptionControl > span:last-child,
.voteResultTitle {
  word-break: break-word;
}

.voteOptionImage,
.voteResultImage {
  margin-top: 8px;
}

.voteOptionImage {
  margin-left: 24px;
}

.voteResultTitle {
  color: var(--color-text-primary);
  font-size: 14px;
  line-height: 22px;
}
