
.sheetRowsWrapper {
  background-color: #F2F2F3;
  .am-list {
    width: 100%;
  }
  .am-list-header {
    padding: 5px;
  }
  .am-list-body {
    background-color: transparent;
    border: none !important;
    &:before, &:after {
      content: none !important;
    }
  }
  .am-list-footer {
    padding: 0;
  }
  .sheetRow {
    .controlName {
      color: #9e9e9e;
    }
    .controlValue {
      color: #616161;
    }
  }
}

.withoutRows {
  height: 100%;
  color: #BDBDBD;
  .img {
    width: 70px;
  }
  .text {
    font-size: 18px;
  }
  .icon {
    font-size: 110px;
    color: #bdbdbd54;
  }
}
