// Dropdown styles api 无法修改 子菜单 ul 样式，故使用 css 覆盖来定制尺寸
.recordPrintSubMenu {
  overflow: visible;

  .hap-dropdown-menu-sub {
    width: 320px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    background-clip: border-box;
  }
}
