.Message-retry {
  &-wrapper {
    margin-left: 12px;
  }
  &-btn {
    width: 17px;
    height: 17px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 16px;
    cursor: pointer;
  }
}
