.ui-checkboxgroup-group-name {
  height: 36px;
  margin-top: 18px;
  font-weight: normal;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
  }

  span {
    display: inline-block;
    font-size: 14px;
    color: #333;
    line-height: 36px;
    vertical-align: middle;
    white-space: nowrap;
  }
  .mui-checkbox {
    vertical-align: middle;
    margin-left: 24px;
    .mui-checkbox-label {
      // ie无宽度，看不见
      overflow: visible;
    }
  }
}
