// pc
.payOrderDialog {
  text-align: center !important;
  .mui-dialog-close-btn {
    top: 10px !important;
  }
  .mui-dialog-header {
    display: none;
  }
  .mui-dialog-body {
    padding: 0px 24px 56px !important;
  }
  .cancelPay {
    min-width: 120px;
    height: 44px;
    line-height: 44px;
    border-radius: 3px;
    border: 1px solid var(--color-border-secondary);
    padding: 0 24px;
    font-weight: 600;
    margin-right: 16px;
    &:hover {
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }

  .okPay {
    height: 44px;
    line-height: 44px;
    background-color: var(--color-primary);
    &:hover {
      background-color: var(--color-primary);
    }
    &.mTop106 {
      margin-top: 106px;
    }
    &.invoiceBtn {
      background-color: var(--color-background-primary);
      border: 1px solid var(--color-border-secondary);
      color: var(--color-text-primary);
      &:hover {
        border-color: var(--color-primary);
        color: var(--color-primary);
      }
    }
  }
  .loadingWrap {
    padding-top: 56px;
    display: flex;
    align-items: center;
    &.notDialog {
      height: 100%;
      padding-top: 0 !important;
    }
  }
  .preOrderWrap {
    min-height: 206px;
    padding-top: 58px;
  }
  .orderPayWrap {
    width: unset;
    text-align: left;
    padding-top: 32px;
  }
  .orderPayCon {
    height: 230px;
    background: var(--color-background-secondary);
    border-radius: 3px;
    .amountWrap {
      padding-top: 70px;
    }
  }
  .qrCode {
    width: 160px;
    height: 160px;
    padding: 12px 10px 0;
    border-radius: 8px;
    margin: 0 32px auto;
    border: 1px solid var(--color-border-secondary);
  }
  .weChatColor {
    color: var(--color-success);
  }
  .aliColor {
    color: var(--color-primary);
  }
  .payStatusWrap {
    padding: 88px 0 50px;
    .okIcon {
      color: var(--color-white);
      font-size: 30px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      text-align: center;
      line-height: 41px;
      margin-bottom: 12px;
    }
    .overTimeIcon {
      color: var(--color-warning);
      font-size: 70px;
      margin-bottom: 12px;
      transform: rotate(180deg);
    }
  }
  .amount {
    font-family:
      DIN Alternate,
      DIN Alternate;
    margin-bottom: 6px;
    font-weight: 500;
    word-break: break-all;
  }
  .payChannel {
    margin-bottom: 40px;
    .payChannelItem {
      height: 32px;
      padding: 0 16px;
      border-radius: 3px;
      border: 1px solid var(--color-border-secondary);
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
      &.activePayChannel,
      &:hover {
        border: 1px solid var(--color-primary);
      }
    }
    .channelIcon {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      color: var(--color-white);
      margin-right: 8px;
      &.wechatBgColor {
        color: var(--color-success);
      }
      &.aliBgColor {
        color: var(--color-primary);
      }
    }
  }
}

// h5
.mobilePayOrderDialog {
  width: 100% !important;
  height: calc(~'100% - 32px') !important;
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: unset !important;
  padding-top: 140px;
  border-radius: 0 !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  text-align: center !important;
  .mui-dialog-header {
    display: none;
  }

  .preOrderWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .mobileOkPay {
    height: 44px;
    line-height: 44px;
    background-color: var(--color-primary);
    border-radius: 22px;
    font-size: 15px;
  }
  .cancelPay {
    border: 1px solid var(--color-border-secondary);
    border-radius: 22px;
    line-height: 44px;
    font-weight: 600;
  }
  .mobilePay {
    padding: 0;
    min-width: 0;
    border-radius: 22px;
  }
  .amount {
    font-family:
      DIN Alternate,
      DIN Alternate;
    margin-bottom: 6px;
    font-weight: 500;
    word-break: break-all;
  }
  .line {
    height: 1px;
    border: 1px solid var(--color-background-disabled);
    margin: 32px 0;
  }
  .mobilePayChannel {
    .mobilePayChannelItem {
      height: 50px;
    }
    .channelIcon {
      width: 26px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      color: var(--color-white);
      margin-right: 8px;
      &.wechatBgColor {
        background-color: var(--color-success);
      }
      &.aliBgColor {
        background-color: var(--color-primary);
      }
    }
  }
}

.payNowContainer {
  .mui-dialog-scroll-container {
    text-align: left;
    padding: 0;
  }
  .mui-dialog-mask {
    background: var(--color-background-primary) !important;
  }
  .payOrderDialog {
    box-shadow: none !important;
    vertical-align: top !important;
    max-height: unset !important;
    height: 100% !important;
    .mui-dialog-body {
      padding: 0 24px !important;
      .orderPayWrap {
        padding-top: 0 !important;
      }
    }
  }
}

.cancelPayBtn {
  border: 1px solid var(--color-border-secondary) !important;
  background-color: var(--color-background-primary) !important;
}
