.ChatPanel-Textarea {
  flex: 1;
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  width: auto !important;
  .Textarea {
    border: none !important;
    padding: 15px 12px 0 !important;
    &.refer {
      padding: 10px 12px 0;
    }
  }
  .rc-trigger-popup {
    left: inherit !important;
    right: 0;
  }
}

.ChatPanel-MessageRefer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 8px;
  background: #f1f1f1;
  color: #9e9e9e;
  border-radius: 5px;
  margin: 10px 0 0 10px;

  .text {
    width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    i {
      vertical-align: 1px;
    }
  }
  .icon-delete {
    cursor: pointer;
  }

  &.highlight {
    animation-name: msgShining;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    animation-fill-mode: forwards;
  }

  @keyframes msgShining {
    from {
      color: #1e88e5;
      background-color: #fff;
    }
    to {
      color: #fff;
      background-color: #1e88e5;
    }
  }
}
