.ChatPanel-Textarea {
  flex: 1;
  border-top: 1px solid var(--color-border-primary);
  border-bottom: 1px solid var(--color-border-primary);
  width: auto !important;
  .Textarea {
    border: none !important;
    padding: 15px 12px 0 !important;
    background: transparent;
    &.refer {
      padding: 10px 12px 0;
    }
  }
  .rc-trigger-popup {
    left: inherit !important;
    right: 0;
  }
}

.ChatPanel-MessageRefer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 8px;
  background: var(--color-background-disabled);
  color: var(--color-text-tertiary);
  border-radius: 5px;
  margin: 10px 0 0 10px;

  .text {
    width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    i {
      vertical-align: 1px;
    }
  }
  .icon-delete {
    cursor: pointer;
  }

  &.highlight {
    animation-name: msgShining;
    animation-timing-function: linear;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: 4;
    animation-fill-mode: forwards;
  }

  @keyframes msgShining {
    from {
      color: var(--color-primary);
      background-color: var(--color-background-primary);
    }
    to {
      color: var(--color-white);
      background-color: var(--color-primary);
    }
  }
}
