:root {
  --worksheet-table-border-color: rgba(0, 0, 0, 0.09);
}

[data-theme='dark'] {
  --worksheet-table-border-color: rgba(255, 255, 255, 0.09);
}
.worksheetTableComp {
  &.scrollBarHoverShow {
    ::-webkit-scrollbar {
      display: none;
    }
    &:hover {
      ::-webkit-scrollbar {
        display: inherit;
      }
    }
  }
}
