.workflowMsgTemplateDialog {
  width: 800px !important;
  height: 80% !important;
  .mui-dialog-body {
    overflow: hidden !important;
    ul {
      height: 100%;
    }
  }
  .templateTitle {
    justify-content: space-between;
    .actBox {
      .del {
        margin-right: 24px;
        padding: 6px 18px;
        border: 1px solid var(--color-border-secondary);
        &:hover {
          color: var(--color-white);
          background: var(--color-primary);
          border: 1px solid var(--color-primary);
        }
      }
    }
  }
  .workflowMsgTemplateScrollView {
    height: calc(~'100% - 40px');
  }
  li {
    display: flex;
    &.header {
      line-height: 36px;
      color: var(--color-text-secondary);
      background-color: var(--color-background-disabled);
    }
    &.templates {
      border-bottom: 1px solid var(--color-border-primary);
      padding: 16px 0;
    }
    .type {
      width: 80px;
      text-align: center;
    }
    .content {
      flex-wrap: wrap;
      color: var(--color-text-primary);
      padding-left: 12px;
      overflow: hidden;
    }
    .status {
      width: 120px;
      padding: 0 20px;
    }
    .msgTemplateCreateTime {
      width: 180px;
      &.theneColor {
        color: var(--color-primary);
      }
    }
  }
  .workflowMsgTemplateEmpty {
    margin-top: 150px;
    border: none !important;
  }
}
