.AppHr .dossierChange {
  .dossierChangeDate {
    position: absolute;
    text-align: right;
    padding-right: 28px;
    bottom: -13px;
    right: 0;
  }
  .changeBox {
    display: flex;
  }
  .changeTimeline {
    width: 125px;
    font-size: 18px;
  }
  .changeCircle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    bottom: -8px;
    right: -8px;
  }
  .changeTimelineWall {
    width: 31px;
  }
  .changeLineBorder {
    border-right: 1px solid #e0e0e0;
  }
  .changeCard {
    background: #f5f5f5;
    padding: 12px 16px;
    margin-bottom: 16px;
    flex: 1;
  }
  .changeCardIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
  }
}
