.upload {
  position: relative;

  .tempTitle {
    text-align: left;
    font-size: 17px;
    letter-spacing: 0px;
    color: var(--color-text-title);
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid var(--color-background-secondary);
    padding: 0 24px;
  }

  .uploadBoxCon {
    height: 100%;
    overflow: auto;
  }

  .uploadCon {
    padding: 18px 24px;
    min-height: 630px;

    .tiTop {
      height: 20px;
      line-height: 20px;
      text-align: left;
      letter-spacing: 0px;
      color: var(--color-text-title);
      font-size: 14px;
      font-weight: bold;
    }

    .btnTable {
      height: 40px;
      line-height: 40px;
      background: var(--color-primary-transparent);
      border-radius: 3px;
      text-align: center;
      color: var(--color-primary);
      font-weight: bold;

      &:hover {
        color: var(--color-link-hover);
        background: var(--color-primary-transparent);
      }
    }

    .uploadBtn {
      background: var(--color-background-primary);
      border-radius: 3px;
      border: 1px dashed var(--color-text-tertiary);
      text-align: center;
      padding: 35px 0;

      .icon-file {
        font-size: 65px;
      }

      .wordIcon {
        // color: var(--color-primary);
        width: 50px;
        height: 57px;
        display: block;
        margin: 0 auto;
        background: url(./img/word.png);
        background-size: 100%;
      }

      .excelIcon {
        color: var(--color-success);
      }

      #editorFiles,
      .editBtn {
        display: inline-block;
        background: var(--color-background-primary) 0% 0% no-repeat padding-box;
        border-radius: 16px;
        padding: 0 18px;
        line-height: 32px;
        height: 32px;
        cursor: pointer;
        font-size: 12px;
        display: flex;
        align-items: center;
        width: fit-content;
        font-weight: bold;
        &:hover {
          color: var(--color-text-inverse);
        }
        &.disable {
          cursor: not-allowed;
        }
      }

      #editorFiles,
      .editorBtn {
        border: 1px solid var(--color-primary);
        color: var(--color-primary);

        &:hover {
          background: var(--color-primary) 0% 0% no-repeat padding-box;
          border: 1px solid var(--color-primary);
          color: var(--color-text-inverse);
        }
      }

      .editBtn {
        border: 1px solid var(--color-success);
        color: var(--color-success);

        .MdLoader-path {
          stroke: var(--color-success);
        }

        &:hover {
          background: var(--color-success) 0% 0% no-repeat padding-box;
          border: 1px solid var(--color-success);
          color: var(--color-text-inverse);
          .MdLoader-path {
            stroke: #fff;
          }
        }
      }

      .form {
        color: var(--color-text-primary);
        margin-top: 20px;
      }

      .downLoad {
        cursor: pointer;
        color: var(--color-primary);
        margin-left: 10px;

        &:hover {
          opacity: 0.8;
        }
      }

      &.loading {
        color: var(--color-text-title);

        // background-color: var(--color-background-primary);
        // padding: 0 32px;
        // border: 1px dashed var(--color-text-tertiary);
        // .per {
        //   vertical-align: top;
        //   margin-left: 16px;
        // }
        .lineBox {
          margin-top: 34px;
          display: inline-block;
          width: 200px;
          height: 6px;
          background: var(--color-border-secondary) 0% 0% no-repeat padding-box;
          border-radius: 3px;
          position: relative;
          line-height: 1;

          .line {
            display: inline-block;
            width: 0px;
            background: var(--color-primary) 0% 0% no-repeat padding-box;
            border-radius: 3px;
            height: 6px;
            transition: all 0.6s ease-out;
            position: absolute;
            left: 0;
            top: 0;
          }

          // .text {
          //   position: absolute;
          //   left: 0;
          //   top: 10px;
          // }
        }

        .closeIcon {
          margin-left: 24px;
          color: var(--color-text-disabled);
          font-size: 13px;
        }
      }
    }

    .desc {
      font: Regular 13px/29px FZLanTingHeiS;
      letter-spacing: 0px;
      color: var(--color-error);
    }

    .fieldList li {
      max-width: 100%;
    }
  }

  .activeBox {
    position: absolute;
    padding: 15px 24px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 66px;
    background: var(--color-background-secondary) 0% 0% no-repeat padding-box;

    span {
      height: 36px;
      text-align: center;
      background: var(--color-background-primary) 0% 0% no-repeat padding-box;
      border-radius: 2px;
      padding: 0 40px;
      line-height: 36px;
      display: inline-block;
      cursor: pointer;

      &.sure {
        background: var(--color-primary) 0% 0% no-repeat padding-box;
        color: var(--color-text-inverse);
        border: 1px solid var(--color-primary);

        &:hover {
          border: 1px solid var(--color-link-hover);
          background: var(--color-link-hover) 0% 0% no-repeat padding-box;
        }

        &.disa {
          background-color: var(--color-border-primary);
          border: 1px solid var(--color-border-primary);
          cursor: no-drop;

          &:hover {
            color: var(--color-text-inverse);
            border: 1px solid var(--color-border-primary);
            background: var(--color-border-primary);
          }
        }
      }

      &.cancle {
        margin-left: 16px;
        background: var(--color-background-primary) 0% 0% no-repeat padding-box;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);

        &:hover {
          color: var(--color-link-hover);
          border: 1px solid var(--color-link-hover);
        }
      }
    }
  }

  #fileForm {
    display: none;
  }
}
