.moreOptionTrigger {
  position: relative;
  padding: 6px 0;
  background: var(--color-background-primary);
  box-shadow: 0px 4px 16px #0000003d;
  border-radius: 2px;
  z-index: 1;
  text-align: left;
  min-width: 140px;
  li {
    width: 100% !important;
    width: max-content;
    height: 36px;
    line-height: 36px;
    padding: 0 17px;
    box-sizing: border-box;
    color: var(--color-text-title);
    cursor: pointer;

    &:hover {
      background: var(--color-background-secondary);
      // color: var(--color-white);
    }

    &.red {
      color: var(--color-error);

      &:hover {
        background: var(--color-error);
        color: var(--color-white);
      }
    }
  }
}
