.customFormAttachmentBox {
  .spaceBetween {
    justify-content: space-between;
  }
  .handleBtn {
    width: 36px;
    height: 36px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      color: var(--color-primary) !important;
      background-color: var(--color-background-secondary);
    }
  }
}
