.printTem {
  .headerBox {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    padding: 0 20px;
    z-index: 10;
    line-height: 50px;
    height: 50px;
    background: var(--color-background-primary) 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    .refreshPdf {
      cursor: pointer;
      color: var(--color-primary);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      &:hover {
        color: var(--color-link-hover);
      }
    }
    .btn {
      line-height: 1;
      background: var(--color-background-primary) 0% 0% no-repeat padding-box;
      border: 1px solid var(--color-border-primary);
      border-radius: 3px;
      padding: 9px 24px;
      &:hover {
        color: var(--color-primary) !important;
        border: 1px solid var(--color-primary);
      }
    }
    .icon-backspace {
      cursor: pointer;
      color: var(--color-text-tertiary);
      vertical-align: top;
      padding-top: 16px;
      display: inline-block;
      &:hover {
        color: var(--color-text-title);
      }
    }
    &.flexCenter {
      .icon-backspace {
        padding-top: 0;
      }
    }
    .icon-close {
      cursor: pointer;
      color: var(--color-text-tertiary);
      &:hover {
        color: var(--color-text-title);
      }
    }
    .ming.Dropdown .Dropdown--input,
    .dropdownTrigger .Dropdown--input {
      padding: 0;
    }
    .saveButton,
    .printButton {
      padding: 0 29px;
      height: 32px;
      line-height: 32px;
      background: var(--color-primary) 0% 0% no-repeat padding-box;
      border-radius: 3px;
      color: var(--color-white);
      &:hover {
        background: var(--color-primary);
      }
    }
    .printButton {
      padding: 0 16px;
    }
    .exportForWord:hover {
      color: var(--color-primary) !important;
      i {
        color: var(--color-primary) !important;
      }
    }
    input {
      border: 0px;
    }
    .tepName {
      height: 30px;
      line-height: 30px;
      border-bottom: 1px dashed var(--color-text-secondary);
      margin-left: 12px;
      font-size: 17px;
      // padding: 0 10px;
      &.noName,
      &::placeholder {
        color: var(--color-text-tertiary);
      }
      &:focus {
        border-bottom: 1px solid var(--color-primary);
      }
    }
    .saveForDocx {
      &:hover {
        color: var(--color-primary) !important;
      }
    }
    .isBtnNull {
      height: 50px;
      vertical-align: top;
      line-height: 50px;
      .ming.Switch {
        .dot {
          width: 11px !important;
          height: 11px !important;
          top: 1px !important;
        }
        &--on {
          background: var(--color-primary) !important;
          .dot {
            left: 13px !important;
          }
        }
        &--off {
          background: var(--color-text-disabled) !important;
        }
      }
      label {
        margin-right: 10px;
        vertical-align: middle;
        height: 13px;
        width: 26px;
      }
      .help {
        display: inline-block;
        margin-left: 5px;
        color: var(--color-text-disabled) !important;
        height: 35px;
      }
    }
    .pageIndicator {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-text-primary);
      font-size: 16px;
    }
  }
  @media print {
    .headerBox {
      display: none;
    }
  }
}
