.taskContainer {
  .joinInner {
    background: url('./img/join/inner_gray.png') no-repeat center center;
    background-size: contain;
  }
  .joinLeft {
    background: url('./img/join/left_gray.png') no-repeat center center;
    background-size: contain;
  }
  .joinRight {
    background: url('./img/join/right_gray.png') no-repeat center center;
    background-size: contain;
  }
  .joinFull {
    background: url('./img/join/full_outer_gray.png') no-repeat center center;
    background-size: contain;
  }
  .unionImg {
    background: url('./img/union/union_gray.png') no-repeat center center;
    background-size: contain;
  }
  .unionAllImg {
    background: url('./img/union/union_all_gray.png') no-repeat center center;
    background-size: contain;
  }
  .intersectImg {
    background: url('./img/union/intersect_gray.png') no-repeat center center;
    background-size: contain;
  }
  .intersectAllImg {
    background: url('./img/union/intersect_all_gray.png') no-repeat center center;
    background-size: contain;
  }
  .exceptImg {
    background: url('./img/union/except_gray.png') no-repeat center center;
    background-size: contain;
  }
  .exceptAllImg {
    background: url('./img/union/except_all_gray.png') no-repeat center center;
    background-size: contain;
  }

}
.joinDropTriggerWrap,
.editTaskNodes {
  .joinInner {
    background: url('./img/join/inner.png') no-repeat center center;
    background-size: contain;
  }
  .joinLeft {
    background: url('./img/join/left.png') no-repeat center center;
    background-size: contain;
  }
  .joinRight {
    background: url('./img/join/right.png') no-repeat center center;
    background-size: contain;
  }
  .joinFull {
    background: url('./img/join/full_outer.png') no-repeat center center;
    background-size: contain;
  }
  .unionImg {
    background: url('./img/union/union.png') no-repeat center center;
    background-size: contain;
  }
  .unionAllImg {
    background: url('./img/union/union_all.png') no-repeat center center;
    background-size: contain;
  }
  .intersectImg {
    background: url('./img/union/intersect.png') no-repeat center center;
    background-size: contain;
  }
  .intersectAllImg {
    background: url('./img/union/intersect_all.png') no-repeat center center;
    background-size: contain;
  }
  .exceptImg {
    background: url('./img/union/except.png') no-repeat center center;
    background-size: contain;
  }
  .exceptAllImg {
    background: url('./img/union/except_all.png') no-repeat center center;
    background-size: contain;
  }
  .bgImgjoinInner {
    background: url('./img/join/inner_bg.png') no-repeat center top;
    background-size: contain;
  }
  .bgImgjoinLeft {
    background: url('./img/join/left_bg.png') no-repeat center top;
    background-size: contain;
  }
  .bgImgjoinRight {
    background: url('./img/join/right_bg.png') no-repeat center top;
    background-size: contain;
  }
}
.dropWorksheetIntegration {
  ul li[value='add'] {
    // border-bottom: 1px solid #dddddd;
    height: 40px;
    line-height: 40px;
    .Icon {
      color: #2196f3 !important;
      margin-left: 5px;
      &.icon-add1 {
        line-height: 40px;
        bottom: 1;
      }
    }
    .itemText {
      padding-left: 20px;
      line-height: 40px;
      vertical-align: bottom;
      color: #2196f3;
    }
    &:hover {
      .Icon,
      .itemText {
        color: #fff !important;
      }
    }
  }
  ul li:last-child {
    border-bottom: 1px solid #fff;
  }
  .disabledIcon {
    position: initial !important;
    vertical-align: middle !important;
  }
}
.dropConditionTri {
  .aggFuncType {
    color: #9e9e9e;
  }
  .ming.Item .Item-content:not(.disabled):hover {
    .aggFuncType {
      color: #fff;
    }
  }
}
.flexShrink0 {
  flex-shrink: 0;
}
.bgImgEXCEPT {
  background: url('./img/union/tips/EXCEPT.png') no-repeat center center;
  background-size: contain;
}
.bgImgEXCEPTALL {
  background: url('./img/union/tips/EXCEPTALL.png') no-repeat center center;
  background-size: contain;
}
.bgImgINTERSECT {
  background: url('./img/union/tips/INTERSECT.png') no-repeat center center;
  background-size: contain;
}
.bgImgINTERSECTALL {
  background: url('./img/union/tips/INTERSECTALL.png') no-repeat center center;
  background-size: contain;
}
.bgImgUNION {
  background: url('./img/union/tips/UNION.png') no-repeat center center;
  background-size: contain;
}
.bgImgUNIONALL {
  background: url('./img/union/tips/UNIONALL.png') no-repeat center center;
  background-size: contain;
}
