.newRecordLand {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0 0;
  box-sizing: border-box;
  .backBtn {
    text-decoration: none;
    padding: 5px;
  }
  .mingoCreate {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #757575;
    img {
      width: 18px;
      margin-right: 5px;
    }
  }
  .newRecordCon {
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    .workSheetNewRecord > .scrollViewContainer {
      padding: 20px 0;
    }
    .newRecordTitle {
      margin: 0 24px;
    }
    .customFieldsCon {
      padding: 0 24px;
    }
  }
  .workSheetNewRecord {
    height: 100%;

    .footerBox {
      padding: 0 24px 20px;
      .Button--link {
        display: none;
      }
    }
  }
  .customFieldsCon {
    flex: 1;
  }
  .errorCon {
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    color: #757575;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerBox {
    text-align: right;
  }
  &:not(.isMingoCreate) {
    .customFieldsContainer {
      padding-bottom: 52px;
    }
  }
}
