.newRecordLand {
  width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  .backBtn {
    text-decoration: none;
    padding: 5px;
  }
  .newRecordCon {
    background-color: #fff;
    border-radius: 4px;
    padding: 20px 40px;
    margin-bottom: 40px;
    box-sizing: border-box;
  }
  .workSheetNewRecord {
    height: 100%;
    .footerBox {
      .Button--link {
        display: none;
      }
    }
  }
  .customFieldsCon {
    flex: 1;
  }
  .errorCon {
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    color: #757575;
    box-sizing: border-box;
  }
  .customFieldsContainer {
    padding-bottom: 52px;
  }
  .footerBox {
    text-align: right;
  }
}
