.DropDownSelectControls {
  .aroundList {
    display: flex;
    width: initial;
  }
}
.groupConPolymerization {
  z-index: 10000;
  position: fixed !important;
  // max-width: 880px;
  overflow-x: hidden;
}
.groupConPolymerizationDialog {
  .hap-modal-body {
    overflow-y: hidden !important;
    position: relative;
    padding: 0 !important;
  }
}
