.DropDownSelectControls {
  .aroundList {
    display: flex;
    width: initial;
  }
}
.groupConPolymerization {
  z-index: 10000;
  position: fixed !important;
  // max-width: 880px;
  overflow-x: hidden;
}
.groupConPolymerizationDialog {
  .mui-dialog-desc {
    padding-top: 12px !important;
  }
  .mui-dialog-body {
    overflow-y: hidden !important;
    position: relative;
    padding: 0 24px 0 !important;
  }
}

.aggregationChooseControlTriggerWrap {
  &.rc-trigger-popup {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 1000;
  }
  &.rc-trigger-popup-hidden {
    display: none;
  }
}
