.groupFilterDeatailDraer {
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  .am-drawer-sidebar {
    z-index: 100;
    border-radius: 14px 0 0 14px;
    background-color: #fff;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.groupFitlerDetail {
  .title {
    text-align: center;
    line-height: 40px;
    background-color: #fff;
  }
  .addRecordItemWrapper {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
    .addRecordBtn {
      height: 36px;
      display: flex !important;
      border-radius: 24px !important;
      padding: 0px 15px !important;
      margin: 0 auto;
    }
  }
  .batchOperation {
    width: 48px;
    height: 48px;
    text-align: center;
    padding: 12px 0;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    bottom: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    z-index: 2;
    color: #9e9e9e;
  }
  .batchOptBar {
    justify-content: space-between;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  }
}
