.groupFilterDeatailDraer {
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  .am-drawer-sidebar {
    z-index: 100;
    border-radius: 14px 0 0 14px;
    background-color: #fff;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }
}

.groupFitlerDetail {
  .title {
    text-align: center;
    line-height: 40px;
    background-color: #fff;
  }
  .addRecordItemWrapper {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 1;
    .addRecordBtn {
      height: 36px;
      display: flex !important;
      border-radius: 24px !important;
      padding: 0px 15px !important;
      background-color: #2196f3 !important;
      margin: 0 auto;
    }
  }
}
