.ChartFilterPanel {
  .filterWrapper {
    height: 32px;
    border: 1px dashed var(--color-text-disabled) ff;
    padding: 0 12px;
    background-color: var(--color-background-primary);
    border-radius: 4px;
    line-height: normal;
    cursor: pointer;
  }
}
