.ChartFilterPanel {
  .filterWrapper {
    height: 32px;
    border: 1px dashed #bdbdbdff;
    padding: 0 12px;
    background-color: #fff;
    border-radius: 4px;
    line-height: normal;
    cursor: pointer;
  }
}
