/**
* component TextView
* prefix: .mui-textview
*/

.mui-textview {
  display: inline-block;
  width: 172px;
  min-height: 36px;
  padding: 8px 9px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  box-sizing: border-box;

  & > .text-error {
    color: #fe423f;
  }
  .userHead{
    img{
      vertical-align: bottom;
    }
  }
}
