
.attachmentLargeImageCard {
  margin-bottom: 10px;
  position: relative;
  width: 100%;

  &:hover {
    .mask {
      display: block;
    }
  }

  .preview {
    color: #9e9e9e;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: #fff;
    &:hover .icon {
      color: #2196F3;
    }
  }
  .mask {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
  }
}
