.taskDateRangePicker {
  position: relative;
  display: inline-flex;
  align-items: center;
  .taskDateRangePickerControl {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
  }
}
