.formSetWorksheet {
  overflow: hidden;
  .flexBox {
    display: flex;
  }

  .columnRulesWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .columnRulesBox {
    flex: 1;
    display: flex;
    padding-top: 50px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    background-color: var(--color-background-primary);

    .programErrorMinBox {
      width: 100%;
    }

    .sidenavBox {
      width: 300px;
      min-width: 300px;
      max-width: 300px;
      background: var(--color-background-secondary);
      height: 100%;
      padding: 10px 0 0;
      .title {
        margin: 24px 14px 0;
        display: block;
      }
    }

    .displayRulesCon {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;
      overflow: hidden;
      background-color: var(--color-background-primary);
      position: relative;

      .columnRuleTitle {
        padding: 35px 40px 10px 40px;
        .columnRuleTabs {
          margin-top: 16px;
          border-bottom: 1px solid var(--color-border-primary);
          display: flex;
          .tabItem {
            padding: 0 40px 12px;
            padding-bottom: 7px;
            border-bottom: 3px solid transparent;
            color: var(--color-text-secondary);
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            &.active {
              color: var(--color-primary);
              border-bottom-color: var(--color-primary) !important;
            }
            &:hover {
              color: var(--color-primary);
            }
          }
        }
        .columnRuleDesc {
          margin-top: 12px;
          display: flex;
          align-items: center;
        }
      }

      .emptyColumnRules {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .emptyIcon {
          width: 130px;
          height: 130px;
          line-height: 130px;
          border-radius: 50%;
          display: inline-block;
          background: var(--color-background-secondary);
          text-align: center;
          i {
            font-size: 80px;
            vertical-align: middle;
          }
        }
      }

      .rulesCon {
        flex: 1;
        min-height: 0;
        padding: 0 40px 16px 20px;
      }
    }
  }
}

.widgetColumnRulesDrawer,
.columnRulesDrawerContainer {
  .editRuleBox {
    .ruleNameInput {
      width: 100%;
      height: 36px;
      padding: 0 12px;
    }
    .errorBorder {
      border: 1px solid var(--color-error);
    }
    .conditionContainer {
      margin-top: 32px;
      .ant-radio-wrapper:first-child {
        width: 30%;
      }
      .addCondition {
        margin-top: 14px;
      }
      .setFieldContainer {
        flex: 1;
        display: flex;
        align-items: center;

        .setValueError > div > div {
          & > :first-child,
          .defaultOptionsWrap,
          .CityPicker-input-container > input,
          .tagInputareaIuput {
            border-color: var(--color-error) !important;
            box-shadow: unset;
          }
        }

        .addField {
          width: fit-content;
          margin: 6px 0 6px auto;
        }
        &.pRight42 {
          padding-right: 42px;
        }
        .fieldItem {
          background: var(--color-border-secondary);
          border-radius: 4px;
          padding: 0 12px;
          flex: 1;
          line-height: 36px;
        }
      }
      .addConditionIcon {
        width: 42px;
        line-height: 36px;
        display: block;
        .Icon:hover {
          color: var(--color-link-hover) !important;
        }
      }

      .conditionItemContent {
        padding-right: 0 !important;
        display: flex;
        .dynamicSource {
          width: 130px;
          border-color: var(--color-border-secondary);
          height: 36px;
          border-radius: 4px;
          box-shadow: none !important;
          font-size: 13px;
          &.flexItem {
            flex: 1;
            min-width: 0;
            margin-right: 0px;
          }
          .hap-select-arrow {
            margin-top: -8px !important;
          }
        }
        .conditionValue {
          flex: 1;
          min-width: 0;
          margin-left: 12px;
          &.inputTextErrorBorder {
            .inputText {
              border: 1px solid var(--color-error);
            }
          }

          &.selectizeInputErrorBorder {
            .selectize-input {
              border: 1px solid var(--color-error);
            }
          }
          &.numberRangeErrorBorder {
            .numberRange > input {
              border: 1px solid var(--color-error);
            }
          }
          &.numberConditionErrorBorder {
            .worksheetFilterNumberCondition input {
              border: 1px solid var(--color-error);
            }
          }
          &.numberMinErrorBorder {
            .numberRange > div:first-child {
              input {
                border: 1px solid var(--color-error);
              }
            }
          }
          &.numberMaxErrorBorder {
            .numberRange > div:last-child {
              input {
                border: 1px solid var(--color-error);
              }
            }
          }
          &.optionConditionErrorBorder {
            .filterTagCon {
              border: 1px solid var(--color-error);
            }
          }
          &.userConditionErrorBorder {
            .usersCon {
              border: 1px solid var(--color-error);
            }
          }
          &.dateConditionErrorBorder {
            .dateInputCon {
              border: 1px solid var(--color-error);
            }
          }
          &.timeConditionErrorBorder {
            .dateInputCon {
              border: 1px solid var(--color-error);
            }
          }
          &.timeRangeConditionErrorBorder {
            .dateRangeInputCon {
              border-color: var(--color-error);
            }
          }
          &.recordConditionErrorBorder {
            .worksheetFilterRelateRecordCondition .recordsCon {
              border: 1px solid var(--color-error);
            }
          }
          &.cascaderConditionErrorBorder {
            .worksheetFilterCascaderCondition .recordsCon {
              border: 1px solid var(--color-error);
            }
          }
        }
      }

      .conditionDropdownMenu {
        width: 120px !important;
      }

      .ruleListSelect {
        width: 110px;
        margin-right: 12px;
        font-size: 13px;
        &.flexItem {
          flex: 1;
          min-width: 0;
          margin-right: 0px;
        }
        .hap-select-arrow {
          margin-top: -8px !important;
        }
      }
      .actionItemCon {
        display: flex;
        align-items: flex-start;
        margin-top: 12px;
        .deleteBtn {
          line-height: 36px;
          font-size: 16px;
          margin: 0 13px;
          &:hover {
            color: var(--color-error) !important;
          }
        }
        .errorInputBox {
          flex: 1;
          min-width: 0;
          height: 36px;
          background: rgba(245, 245, 245, 0.8);
          border-radius: 3px;
          padding: 0 12px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 13px;
          &:hover {
            background: rgba(245, 245, 245, 1);
            .hoverColor {
              color: var(--color-primary) !important;
            }
          }
        }
      }
    }

    h3 {
      font-size: 16px;
      letter-spacing: 0;
      color: var(--color-text-title);
      padding: 0 20px;
    }

    .showFieldBox {
      padding: 0 20px 10px;

      h5 {
        font-size: 13px;
        letter-spacing: 0;
        color: var(--color-text-title);
        margin-top: 24px;
      }

      li {
        margin-top: 8px;
        width: 100%;
        display: flex;
        height: 36px;

        span {
          background: var(--color-background-secondary) 0% 0% no-repeat padding-box;
          border-radius: 4px;
          flex: 1;
          color: var(--color-text-title);
          display: inline-block;
          width: 100%;
          line-height: 36px;
          padding: 0 9px 0 12px;
          box-sizing: border-box;
        }

        .deleteIcon {
          line-height: 36px;
          color: var(--color-text-tertiary);
          cursor: pointer;
          font-size: 18px;
          width: 30px;
          text-align: right;

          &:hover {
            color: var(--color-error);
          }
        }
      }

      .addField {
        margin-top: 12px;
        font-size: 13px;
        letter-spacing: 0;
        color: var(--color-primary);
        height: 36px;
        line-height: 36px;
        display: inline-block;
        cursor: pointer;
        box-sizing: border-box;

        i {
          vertical-align: top;
          line-height: 36px;
        }

        &.noFied {
          width: 100%;
          background: var(--color-background-secondary);
          padding-left: 12px;
          border-radius: 4px;
        }

        &:hover {
          color: var(--color-link-hover);
        }
      }
    }

    .filterBox {
      padding: 20px 0 0 0;
      border-top: 1px solid var(--color-border-primary);

      h5 {
        padding: 0 20px;
      }

      .addFilterText {
        color: var(--color-text-disabled);
        height: 36px;
        background: var(--color-background-secondary) 0% 0% no-repeat padding-box;
        border-radius: 3px;
        font-size: 13px;
        padding: 0 12px;
        display: block;
        margin: 12px 20px;
        flex: 1;
        line-height: 36px;
      }
    }
  }

  .hap-drawer-mask {
    background-color: transparent !important;
  }
  .hap-drawer-content-wrapper {
    top: 2px;
  }
  .hap-drawer-footer {
    border-top: none;
    padding: 0px !important;
  }
  .hap-drawer-body {
    padding: 0 !important;
    flex: 1;
  }
}

.widgetColumnRulesDrawer {
  .hap-drawer-content {
    padding-top: 50px !important;
  }
}

.columnRuleSortableList {
  position: relative;
  z-index: 1000;
  width: 100%;
}

.ruleDrabItemContainer {
  display: flex;
  align-items: center;
  visibility: visible !important;
  opacity: 1 !important;
  cursor: grab;
  &:hover {
    .grabIcon {
      visibility: visible;
    }
  }
  .grabIcon {
    width: 18px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    visibility: hidden;
    margin-right: 3px;
    margin-top: 18px;
    .icon {
      color: var(--color-text-tertiary);
    }
  }
}

.ruleItemCon {
  flex: 1;
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  box-shadow: inset 0 0 0 1px var(--color-border-secondary);
  border-radius: 5px;
  min-height: 78px;
  padding: 14px 24px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    box-shadow: inset 0 0 0 2px var(--color-border-secondary);
    .ruleItemOptions {
      visibility: visible;
    }
  }
  &.active {
    box-shadow: inset 0 0 0 2px var(--color-primary);
    .ruleItemOptions {
      visibility: visible;
    }
  }
  // &.disabled {
  //   box-shadow: inset 0 0 0 1px var(--color-border-secondary);
  // }
  .textTertiary {
    color: var(--color-text-tertiary);
  }
  .ruleItemOptions {
    position: absolute;
    top: -16px;
    padding: 0 16px;
    height: 32px;
    z-index: 2;
    background: var(--color-background-primary);
    border: 1px solid var(--color-border-secondary);
    border-radius: 17px;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: 12px;
    .RedHover {
      &:hover {
        color: var(--color-error-hover);
      }
    }
    i {
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .ruleNameInputBox {
    position: absolute;
    left: 12px;
    height: 20px;
    top: -10px;
    padding: 0 10px;
    background: var(--color-background-primary);
    box-sizing: border-box;
    display: flex;
    .ruleTypeIcon {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--color-error);
      display: inline-block;
      margin: 5px 6px 0 0;
      &.isWarning {
        background: var(--color-warning);
      }
    }
  }
  .ruleNameInput {
    height: 100%;
    padding: 0;
    border-radius: 0;
    color: var(--color-primary);
    font-weight: bold;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px dashed var(--color-text-disabled);
    }
    &:focus {
      border-bottom: 1px solid var(--color-primary) !important;
    }
  }
  .ruleItemTextRow {
    display: flex;
    .leftLabel {
      width: 65px;
      margin-right: 20px;
      color: var(--color-text-tertiary);
      text-align: right;
    }
    .rightLabel {
      flex: 1;
      min-width: 0;
      color: var(--color-text-title);
    }
    .detailValue {
      flex: 1;
      min-width: 0;
      .detailValueCon {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .title {
        color: var(--color-text-secondary);
      }
    }
  }
}

.DropdownDeleteRuleTrigger {
  width: 320px;
  font-size: 14px;
  padding: 20px;
  .title {
    color: var(--color-error);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 32px;
  }
  .deleteGroupBtns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
  }
}

.ruleListSelectDropdown {
  .hap-select-item-option-selected:not(.hap-select-item-option-disabled) {
    font-weight: normal !important;
    color: var(--color-white) !important;
    background-color: var(--color-primary) !important;
  }
}
.addConditionMenu {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  width: 160px;
  color: var(--color-text-title);
  font-weight: normal;
  margin-bottom: 10px;
  div {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    line-height: 36px;
    padding: 0 15px;
    &:hover {
      background: var(--color-background-hover);
    }
  }
}
