.formSetWorksheet {
  overflow: hidden;
  .flexBox {
    display: flex;
  }

  .columnRulesWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .columnRulesBox {
    flex: 1;
    display: flex;
    padding-top: 50px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    background-color: var(--color-background-primary);

    .programErrorMinBox {
      width: 100%;
    }

    .sidenavBox {
      width: 300px;
      min-width: 300px;
      max-width: 300px;
      background: var(--color-background-secondary);
      height: 100%;
      padding: 10px 0 0;
      .title {
        margin: 24px 14px 0;
        display: block;
      }
    }

    .displayRulesCon {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 0;
      overflow: hidden;
      background-color: var(--color-background-primary);
      position: relative;

      .editRuleBox {
        .ruleNameInput {
          width: 100%;
          height: 36px;
          background: var(--color-background-primary);
          border: 1px solid var(--color-border-secondary);
          border-radius: 4px;
          padding: 0 12px;
          &:focus {
            border: 1px solid var(--color-primary);
          }
          &::placeholder {
            color: var(--color-text-tertiary);
          }
        }
        .errorBorder {
          border: 1px solid var(--color-error);
        }
        .conditionContainer {
          margin-top: 32px;
          .ming.Radio:first-child {
            width: 30%;
          }
          .addCondition {
            display: inline-block;
            margin-top: 14px;
            color: var(--color-primary);
            cursor: pointer;
            font-weight: bold;
            &:hover {
              color: var(--color-link-hover) !important;
            }
          }
          .setFieldContainer {
            flex: 1;
            display: flex;
            align-items: center;

            .setValueError > div > div {
              & > :first-child,
              .defaultOptionsWrap,
              .CityPicker-input-container > input,
              .tagInputareaIuput {
                border-color: var(--color-error) !important;
                box-shadow: unset;
              }
            }

            .addField {
              cursor: pointer;
              color: var(--color-text-secondary);
              width: fit-content;
              margin: 6px 0 6px auto;
              position: relative;
              &:hover {
                color: var(--color-primary);
              }
            }
            &.pRight42 {
              padding-right: 42px;
            }
            .fieldItem {
              background: var(--color-border-secondary);
              border-radius: 4px;
              padding: 0 12px;
              flex: 1;
              line-height: 36px;
            }
          }
          .addConditionIcon {
            width: 42px;
            line-height: 36px;
            display: block;
            .Icon:hover {
              color: var(--color-link-hover) !important;
            }
          }

          .conditionItemContent {
            padding-right: 0 !important;
            display: flex;
            .dynamicSource {
              width: 130px;
              border-color: var(--color-border-secondary);
              height: 36px;
              border-radius: 4px;
              box-shadow: none !important;
              font-size: 13px;
              &.flexItem {
                flex: 1;
                min-width: 0;
                margin-right: 0px;
              }
              .ant-select-arrow {
                margin-top: -8px !important;
              }
              .ant-select-selector {
                border-color: var(--color-border-secondary);
                height: 36px;
                border-radius: 4px;
                box-shadow: none !important;
                .ant-select-selection-search-input {
                  height: 34px;
                }
                .ant-select-selection-item {
                  line-height: 34px;
                }
              }
            }
            .conditionValue {
              flex: 1;
              min-width: 0;
              margin-left: 12px;
              &.inputTextErrorBorder {
                .inputText {
                  border: 1px solid var(--color-error);
                }
              }

              &.selectizeInputErrorBorder {
                .selectize-input {
                  border: 1px solid var(--color-error);
                }
              }
              &.numberRangeErrorBorder {
                .numberRange > input {
                  border: 1px solid var(--color-error);
                }
              }
              &.numberConditionErrorBorder {
                .worksheetFilterNumberCondition input {
                  border: 1px solid var(--color-error);
                }
              }
              &.numberMinErrorBorder {
                .numberRange > div:first-child {
                  input {
                    border: 1px solid var(--color-error);
                  }
                }
              }
              &.numberMaxErrorBorder {
                .numberRange > div:last-child {
                  input {
                    border: 1px solid var(--color-error);
                  }
                }
              }
              &.optionConditionErrorBorder {
                .filterTagCon {
                  border: 1px solid var(--color-error);
                }
              }
              &.userConditionErrorBorder {
                .usersCon {
                  border: 1px solid var(--color-error);
                }
              }
              &.dateConditionErrorBorder {
                .dateInputCon {
                  border: 1px solid var(--color-error);
                }
              }
              &.timeConditionErrorBorder {
                .dateInputCon {
                  border: 1px solid var(--color-error);
                }
              }
              &.timeRangeConditionErrorBorder {
                .dateRangeInputCon {
                  border-color: var(--color-error);
                }
              }
              &.recordConditionErrorBorder {
                .worksheetFilterRelateRecordCondition .recordsCon {
                  border: 1px solid var(--color-error);
                }
              }
              &.cascaderConditionErrorBorder {
                .worksheetFilterCascaderCondition .recordsCon {
                  border: 1px solid var(--color-error);
                }
              }
            }
          }

          .conditionDropdownMenu {
            width: 120px !important;
          }

          .ruleListSelect {
            width: 110px;
            margin-right: 12px;
            font-size: 13px;
            &.flexItem {
              flex: 1;
              min-width: 0;
              margin-right: 0px;
            }
            .ant-select-arrow {
              margin-top: -8px !important;
            }
            .ant-select-selector {
              border-color: var(--color-border-secondary);
              height: 36px;
              border-radius: 4px;
              box-shadow: none !important;
              .ant-select-selection-search-input {
                height: 34px;
              }
              .ant-select-selection-item {
                line-height: 34px;
              }
            }
          }
          .actionItemCon {
            display: flex;
            align-items: flex-start;
            margin-top: 12px;
            .deleteBtn {
              line-height: 36px;
              font-size: 16px;
              margin: 0 13px;
              &:hover {
                color: var(--color-error) !important;
              }
            }
            .errorInputBox {
              flex: 1;
              min-width: 0;
              height: 36px;
              background: rgba(245, 245, 245, 0.8);
              border-radius: 3px;
              padding: 0 12px;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 13px;
              &:hover {
                background: rgba(245, 245, 245, 1);
                .hoverColor {
                  color: var(--color-primary) !important;
                }
              }
            }
          }
        }

        h3 {
          font-size: 16px;
          letter-spacing: 0;
          color: var(--color-text-title);
          padding: 0 20px;
        }

        .showFieldBox {
          padding: 0 20px 10px;

          h5 {
            font-size: 13px;
            letter-spacing: 0;
            color: var(--color-text-title);
            margin-top: 24px;
          }

          li {
            margin-top: 8px;
            width: 100%;
            display: flex;
            height: 36px;

            span {
              background: var(--color-background-secondary) 0% 0% no-repeat padding-box;
              border-radius: 4px;
              flex: 1;
              color: var(--color-text-title);
              display: inline-block;
              width: 100%;
              line-height: 36px;
              padding: 0 9px 0 12px;
              box-sizing: border-box;
            }

            .deleteIcon {
              line-height: 36px;
              color: var(--color-text-tertiary);
              cursor: pointer;
              font-size: 18px;
              width: 30px;
              text-align: right;

              &:hover {
                color: var(--color-error);
              }
            }
          }

          .addField {
            margin-top: 12px;
            font-size: 13px;
            letter-spacing: 0;
            color: var(--color-primary);
            height: 36px;
            line-height: 36px;
            display: inline-block;
            cursor: pointer;
            box-sizing: border-box;

            i {
              vertical-align: top;
              line-height: 36px;
            }

            &.noFied {
              width: 100%;
              background: var(--color-background-secondary);
              padding-left: 12px;
              border-radius: 4px;
            }

            &:hover {
              color: var(--color-link-hover);
            }
          }
        }

        .filterBox {
          padding: 20px 0 0 0;
          border-top: 1px solid var(--color-border-primary);

          h5 {
            padding: 0 20px;
          }

          .addFilterText {
            color: var(--color-text-disabled);
            height: 36px;
            background: var(--color-background-secondary) 0% 0% no-repeat padding-box;
            border-radius: 3px;
            font-size: 13px;
            padding: 0 12px;
            display: block;
            margin: 12px 20px;
            flex: 1;
            line-height: 36px;
          }
        }
      }

      .columnRuleTitle {
        padding: 35px 40px 10px 40px;
        .addRules {
          padding: 0 16px;
          height: 36px;
          line-height: 36px;
          display: inline-block;
          background: var(--color-primary);
          border-radius: 32px;
          letter-spacing: 0;
          color: var(--color-white);
          text-align: center;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            background: var(--color-primary);
          }
        }
        .columnRuleTabs {
          margin-top: 16px;
          border-bottom: 1px solid var(--color-border-primary);
          display: flex;
          .tabItem {
            padding: 0 40px 12px;
            padding-bottom: 7px;
            border-bottom: 3px solid transparent;
            color: var(--color-text-secondary);
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
            &.active {
              color: var(--color-primary);
              border-bottom-color: var(--color-primary) !important;
            }
            &:hover {
              color: var(--color-primary);
            }
          }
        }
        .columnRuleDesc {
          margin-top: 12px;
          display: flex;
          align-items: center;
        }
      }

      .emptyColumnRules {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .addEmptyRules {
          padding: 0 16px;
          height: 36px;
          line-height: 34px;
          display: inline-block;
          border-radius: 32px;
          letter-spacing: 0;
          color: var(--color-text-secondary);
          text-align: center;
          font-weight: bold;
          cursor: pointer;
          border: 1px solid var(--color-border-primary);
          margin-top: 20px;
          &:hover {
            color: var(--color-primary);
            border-color: var(--color-primary);
          }
        }
        .emptyIcon {
          width: 130px;
          height: 130px;
          line-height: 130px;
          border-radius: 50%;
          display: inline-block;
          background: var(--color-background-secondary);
          text-align: center;
          i {
            font-size: 80px;
            vertical-align: middle;
          }
        }
      }

      .columnRulesDrawerContainer {
        z-index: 9;
        position: absolute;
        box-shadow: 0px 18px 30px 0px rgba(0, 0, 0, 0.16);

        .ruleFooter {
          .closeBtn {
            color: var(--color-text-tertiary) !important;
            background: var(--color-background-secondary) !important;
            &:hover {
              background: var(--color-border-secondary) !important;
            }
          }
          .saveBtn {
            background: var(--color-primary);
            &:hover {
              background: var(--color-primary);
            }
          }
        }

        .ant-drawer-mask {
          background-color: transparent !important;
        }
        .ant-drawer-content-wrapper {
          top: 2px;
        }
        .ant-drawer-footer {
          border-top: none;
          padding: 0px !important;
        }
        .ant-drawer-header {
          .ant-drawer-header-title {
            flex-direction: row-reverse;
          }
          .ant-drawer-close {
            margin-right: 0 !important;
          }
          .ant-drawer-title {
            font-size: 17px;
            font-weight: bold;
          }
        }
        .ant-drawer-body {
          padding: 0 !important;
          flex: 1;
        }
      }

      .rulesCon {
        flex: 1;
        min-height: 0;
        padding: 0 40px 16px 20px;
      }
    }
  }
}

.columnRuleSortableList {
  position: relative;
  z-index: 1000;
  width: 100%;
}

.ruleDrabItemContainer {
  display: flex;
  align-items: center;
  visibility: visible !important;
  opacity: 1 !important;
  cursor: grab;
  &:hover {
    .grabIcon {
      visibility: visible;
    }
  }
  .grabIcon {
    width: 18px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    visibility: hidden;
    margin-right: 3px;
    margin-top: 18px;
    .icon {
      color: var(--color-text-tertiary);
    }
  }
}

.ruleItemCon {
  flex: 1;
  min-width: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  box-shadow: inset 0 0 0 1px var(--color-border-secondary);
  border-radius: 5px;
  min-height: 78px;
  padding: 14px 24px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    box-shadow: inset 0 0 0 2px var(--color-border-secondary);
    .ruleItemOptions {
      visibility: visible;
    }
  }
  &.active {
    box-shadow: inset 0 0 0 2px var(--color-primary);
    .ruleItemOptions {
      visibility: visible;
    }
  }
  // &.disabled {
  //   box-shadow: inset 0 0 0 1px var(--color-border-secondary);
  // }
  .textTertiary {
    color: var(--color-text-tertiary);
  }
  .ruleItemOptions {
    position: absolute;
    top: -16px;
    padding: 0 16px;
    height: 32px;
    z-index: 2;
    background: var(--color-background-primary);
    border: 1px solid var(--color-border-secondary);
    border-radius: 17px;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: 12px;
    .RedHover {
      &:hover {
        color: var(--color-error-hover);
      }
    }
    i {
      margin-left: 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .ruleNameInputBox {
    position: absolute;
    left: 12px;
    height: 20px;
    top: -10px;
    padding: 0 10px;
    background: var(--color-background-primary);
    box-sizing: border-box;
    display: flex;
    .ruleTypeIcon {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--color-error);
      display: inline-block;
      margin: 5px 6px 0 0;
      &.isWarning {
        background: var(--color-warning);
      }
    }
  }
  .ruleNameInput {
    height: 100%;
    border: none;
    color: var(--color-primary);
    font-weight: bold;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px dashed var(--color-text-disabled);
    }
    &:focus {
      border-bottom: 1px solid var(--color-primary) !important;
    }
  }
  .ruleItemTextRow {
    display: flex;
    .leftLabel {
      width: 65px;
      margin-right: 20px;
      color: var(--color-text-tertiary);
      text-align: right;
    }
    .rightLabel {
      flex: 1;
      min-width: 0;
      color: var(--color-text-title);
    }
    .detailValue {
      flex: 1;
      min-width: 0;
      .detailValueCon {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      .title {
        color: var(--color-text-secondary);
      }
    }
  }
}

.DropdownDeleteRuleTrigger {
  width: 320px;
  background: var(--color-background-primary);
  border-radius: 4px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.24);
  font-size: 14px;
  padding: 20px;
  .title {
    color: var(--color-error);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 32px;
  }
  .deleteGroupBtns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .deleteBtn {
      width: 70px;
      height: 28px;
      background: var(--color-error);
      border-radius: 2px;
      cursor: pointer;
      text-align: center;
      color: var(--color-white);
      margin-left: 37px;
      line-height: 28px;
      &:hover {
        background-color: var(--color-error);
      }
    }
  }
}

.ruleFilterColumnOptionList {
  position: static;
  width: 314px;
  overflow-x: hidden;
  max-height: 270px;
  min-height: 100px;
  border-radius: 2px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.24);
  .Menu {
    width: 314px;
    position: relative;
    border-radius: 0;
    box-shadow: none;
    .Item-content {
      padding: 0 15px;
      .icon {
        color: var(--color-text-tertiary);
        margin-right: 10px;
        font-size: 14px;
        vertical-align: middle;
      }
      > span {
        vertical-align: middle;
      }
    }
  }

  .ruleSearchWrap {
    position: relative;
    background: var(--color-background-primary) !important;
    input {
      width: 100%;
      box-sizing: border-box;
      height: 41px;
      padding: 0px 16px 0 35px;
      border: none;
      border-bottom: 1px solid var(--color-background-secondary);
      &:focus {
        border-color: var(--color-background-secondary) !important;
      }
      &::-webkit-input-placeholder {
        color: var(--color-text-disabled);
      }
      &::-moz-placeholder {
        color: var(--color-text-disabled);
      }
      &::-moz-placeholder {
        color: var(--color-text-disabled);
      }
      &::-ms-input-placeholder {
        color: var(--color-text-disabled);
      }
    }
    .icon {
      position: absolute;
      top: 13px;
    }
    .search {
      left: 15px;
    }
    .close {
      right: 15px;
      color: var(--color-text-disabled);
      &:hover {
        color: var(--color-text-secondary);
      }
    }
  }
}

.ruleListSelectDropdown {
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    font-weight: normal !important;
    color: var(--color-white) !important;
    background-color: var(--color-primary) !important;
  }
  &.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
  &.ant-select-focused:not(.ant-select-disabled).ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: var(--color-primary) !important;
  }
}
.addConditionTrigger {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  width: 160px;
  border-radius: 2px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.24);
  background: var(--color-background-primary);
  color: var(--color-text-title);
  font-weight: normal;
  margin-bottom: 10px;
  div {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    line-height: 36px;
    padding: 0 15px;
    &:hover {
      background: var(--color-background-hover);
    }
  }
  &.rc-trigger-popup-hidden {
    display: none !important;
  }
}
.reserveControlsDropdownMenuSet {
  .ming.MenuItem .Item-content:not(.disabled):hover {
    background-color: var(--color-background-primary) !important;
  }
  .ming.Item .Item-content {
    padding: 0;
    .itemText {
      padding: 0 16px;
      .Icon {
        left: 0;
      }
    }
  }
  .ming.MenuItem .Item-content.disabled {
    padding: 0 16px;
  }
}
