.noAuthContentBox {
  align-items: center;
  justify-content: center;
  height: 100%;
  .icon-error1 {
    color: var(--color-warning);
    font-size: 66px;
  }
  .noAuthJoin {
    height: 36px;
    line-height: 36px;
    color: var(--color-white);
    padding: 0 32px;
    border-radius: 3px;
    display: inline-block;
  }
}
