.gNextBox {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #0000001F;
  border-radius: 4px;
  padding: 45px 24px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 2px 7px #00000029;
  }

  h5 {
    font-weight: 500;
    padding: 0;
    margin: 0;
  }
}
