.inviteLinkExpirate {
  img {
    margin: 0 auto;
    display: block;
  }

  .btnForLogin {
    margin: 64px auto 0;
    width: 236px;
    height: 40px;
    background: #2296f3;
    opacity: 1;
    border-radius: 4px;
    display: block;
    color: #fff;
    line-height: 40px;
    text-decoration: none;

    &:hover {
      background: #1e88e5;
    }
  }
}
