.personalEntrypointWrapper {
  padding: 24px 40px;
}
.personalEntrypointWrapper.card {
  box-shadow: none;
}

.personalEntrypointWrapper .personalEntrypointInfo {
  flex-wrap: wrap;
}
.personalEntrypoint {
  &Header {
    justify-content: space-between;
    .applyPrivateKey {
      color: var(--color-primary);
    }
  }
  &Info {
    color: var(--color-text-title);
    height: 72px;
    background-color: var(--color-background-secondary);
    padding: 0 31px;
    margin-top: 10px;

    a {
      text-decoration: none;
      margin: 0 3px 0 4px;
    }
    .addWeiXin {
      font-size: 13px;
      color: var(--color-white);
      margin-left: 10px;
      padding: 2px 10px;
      border-radius: 24px;
      background-color: var(--color-success);
    }
  }
  &Content {
    margin-top: 24px;
    .justifyCenter {
      justify-content: center;
    }
    .titleWrapper {
      border-bottom: 1px solid var(--color-border-tertiary);
      padding: 0 10px 10px;
      margin-bottom: 10px;
      > div {
        flex: 1;
      }
    }
    .companyItem {
      padding: 10px;
      &:hover {
        background: var(--color-background-hover);
      }
      > div {
        flex: 1;
      }
    }
    .serverId {
      width: 250px;
      word-break: break-all;
    }
    .companyPrivateKeyItem {
      background-color: var(--color-background-secondary);
      margin-top: 10px;
      padding: 20px;
    }
    .copyWrapper {
      position: absolute;
      right: 10px;
      bottom: 15px;
    }
    .withoutList {
      padding: 60px 0;
      .iconWrapper {
        color: var(--color-text-disabled);
        width: 79px;
        height: 79px;
        border-radius: 50%;
        justify-content: center;
        background-color: var(--color-background-secondary);
        margin-bottom: 20px;
      }
    }
  }
  &Wrapper {
    .applyForm {
      padding: 40px;
    }
    .formItem {
      margin-bottom: 20px;
      input {
        border: 1px solid var(--color-border-primary);
      }
    }
    .Input {
      width: 290px;
    }
    .verificationWrapper {
      position: relative;
      .icon {
        font-size: 16px;
        color: var(--color-border-primary);
        position: absolute;
        top: 9px;
        left: 9px;
      }
    }
    .verificationCode {
      width: 170px;
      padding-left: 30px;
    }
    .getVerificationCode {
      width: 110px;
      font-size: 14px;
      background-color: var(--color-link-hover);
      &.disabled {
        background-color: var(--color-text-placeholder) !important;
      }
    }
    .generateKey {
      font-size: 16px;
      border-radius: 25px;
      margin-top: 40px;
      background-color: var(--color-link-hover);
    }
  }
}
