@import './dropdownMenu';

.customContentBox .multipleDropdownContainer {
  position: relative;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  padding: 4px;
  border-width: 1px;
  line-height: 22px;
  font-size: 13px;
  &:hover {
    color: #2196f3;
  }
  &.view {
    cursor: default;
    &:hover {
      color: #333;
    }
    & .text {
      word-break: break-all;
    }
  }
  .dropdownMenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
  }
  &.open {
    .dropdownMenu {
      display: block;
    }
  }

  .dropdownBtn {
    border: none;
    border-radius: 3px;
    background-color: #fff;
    padding: 2px 5px;
    font-size: 13px;
    line-height: 18px;
    cursor: pointer;
    &.empty {
      color: #9e9e9e;
    }
    &:focus {
      outline: none;
    }
    span {
      display: inline-block;
      font-size: 13px;
      line-height: 18px;
      vertical-align: middle;
      word-break: break-all;
      text-align: left;
      max-width: 150px;
    }
    i {
      vertical-align: middle;
      line-height: 18px;
      width: 18px;
      text-align: center;
    }
  }
}
