.workflowStepHeader {
  position: relative;
  width: 100%;
  height: 51px;
  align-items: center;
  line-height: normal;

  .stepTitle,
  .operation,
  .operationTime,
  .more {
    align-items: center;
  }

  .stepTitle {
    border-radius: 16px;
    padding: 0 14px 0 10px;
    height: 32px;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &.errorHeader {
      background: rgba(51, 51, 51, 0.16);
      cursor: default;
    }

    &.stepTitleActive {
      color: var(--color-white) !important;
    }

    &.stepTitle_edit {
      color: var(--color-primary);
      background: rgba(33, 150, 243, 0.16);
      &:hover {
        background: rgba(33, 150, 243, 0.24);
      }

      &.stepTitleActive {
        background: var(--color-primary) !important;
      }
    }

    &.stepTitle_approve {
      color: #a00416;
      background: rgba(160, 4, 22, 0.16);
      &:hover {
        background: rgba(160, 4, 22, 0.24);
      }

      &.stepTitleActive {
        background: #a00416 !important;
      }
    }

    &.stepTitle_default,
    &.stepTitle_notice {
      color: var(--color-warning);
      background: rgba(255, 163, 64, 0.16);
      &:hover {
        background: rgba(255, 163, 64, 0.24);
      }

      &.stepTitleActive {
        background: var(--color-warning) !important;
      }
    }

    span {
      display: inline-block;
      max-width: 320px;
    }
  }

  .headerBtn {
    border-radius: 4px;
    padding: 5px 18px 5px 16px !important;
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 13px;

    &.overrule,
    &.revoke {
      background-color: var(--color-error);
      color: var(--color-white);
      &:hover {
        background-color: var(--color-error);
      }
    }

    &.pass {
      background-color: var(--color-success);
      color: var(--color-white);
      &:hover {
        background-color: var(--color-success);
      }
    }

    &.submit,
    &.urge {
      background-color: var(--color-primary);
      color: var(--color-white);
      &:hover {
        background-color: var(--color-primary);
      }
    }

    &.urge {
      &.Button--disabled {
        background-color: var(--color-background-secondary);
        color: var(--color-text-disabled);
        &:hover {
          background-color: var(--color-background-hover);
        }
      }
    }

    &.return,
    &.taskRevoke {
      background-color: var(--color-warning);
      color: var(--color-white);
      &:hover {
        background-color: var(--color-warning);
      }
    }

    &.transferApprove,
    &.sign,
    &.transfer,
    &.stash {
      background-color: var(--color-background-primary);
      color: var(--color-text-title);
      border: 1px solid var(--color-border-primary);
      padding-top: 4px;
      padding-bottom: 4px;
      transition: none;
      i {
        color: var(--color-text-secondary);
      }
      &:hover {
        background-color: var(--color-primary);
        color: var(--color-white);
        border-color: var(--color-primary);
        i {
          color: var(--color-white);
        }
      }
    }

    span {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }
  }

  .iconWrap {
    border-radius: 5px;
    width: 30px;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: var(--color-background-hover);
    }
  }

  .more {
    position: relative;
    cursor: pointer;

    .moreOperation {
      position: absolute;
      top: 30px;
      right: 0 !important;
      left: initial !important;

      .actionText {
        margin-left: 20px;
      }
    }
  }

  .workflowStepIcon {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .refreshBtn.isLoading {
    .icon-task-later {
      display: inline-block;
      animation: rotate 0.6s infinite linear;
    }
  }
}

.addApproveWayDialog {
  .action {
    border: 1px solid var(--color-border-primary);
    border-radius: 4px;
    padding: 15px;
    align-items: center;
    cursor: pointer;

    &.active {
      border: 1px solid var(--color-primary);
    }

    &:hover {
      border: 1px solid var(--color-primary);
    }

    &:first-child {
      margin-bottom: 15px;
    }
  }
}

.approveDialog {
  .mui-dialog-footer {
    .ming.Button {
      font-weight: bold;
    }
  }
  &.approveDialogBtn {
    .Button--primary.Button {
      background: var(--color-error);

      &:hover {
        background: var(--color-error-hover);
      }
    }
  }
  &.overruleBackBtn {
    .Button--link.Button {
      background: var(--color-error);
      color: var(--color-white);

      &:hover {
        background: var(--color-error-hover);
      }
    }
  }

  header {
    align-items: center;

    .userAvatar {
      margin: 0 10px;
    }
  }

  .mui-dialog-body {
    overflow: inherit !important;
  }

  .customFormControlBox {
    &:not(.customFormAttachmentBox) {
      cursor: default;
    }
    .addSignature {
      width: 180px;
      height: 40px;
      background: var(--color-background-secondary);
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .ming.Textarea:disabled {
    background-color: var(--color-background-secondary);
  }

  .customFieldsContainer {
    .triggerTraget,
    .uploadFromMobile {
      height: 1px !important;
      visibility: hidden;
      border: none;
    }
  }
  .signatureFromMobile {
    font-size: 12px;
    color: var(--color-text-secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 10px;
    .icon {
      font-size: 16px;
      margin-right: 6px;
    }
  }
}

.approveDialogCallBack {
  width: 256px;

  .ming.Menu {
    width: 256px;
  }
}
