.Hidden {
  display: none;
}

.langTop .langChangeContainer {
  line-height: normal;
  margin-top: 7px;
  float: left;
}

.showLangChangeBottom {
  margin-bottom: 115px;
  text-align: center;
}

/* .langChangeContainer {
  width: 65px;
  margin: 0px auto;
} */

.langChangeContainer .langIcon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(./langIcon.png);
  margin-right: 6px;
  vertical-align: middle;
}

.langChangeContainer .langWrap {
  display: inline-block;
}

.langChangeContainer .customSelect ul {
  float: none !important;
}

.langChangeContainer .customSelect li {
  float: none !important;
  margin-right: 0px !important;
  font-size: 12px !important;
}

.langChangeContainer .customSelect .csList {
  left: -15px;
}
