.dingMainContent {
  p,
  h2,
  h3,
  a {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  .logoBox {
    height: 68px;
    vertical-align: top;
    margin-top: 200px;

    .mdIcon {
      display: inline-block;
      width: 68px;
      height: 68px;
      background: var(--color-primary);
      border-radius: 16px;
      text-align: center;
      vertical-align: top;
    }

    .Icon {
      line-height: 68px;
      vertical-align: top;
    }

    .icon-invite-ding {
      color: var(--color-primary);
      font-size: 82px;
      clear: both;
      display: inline-block;
    }

    .icon-swap_horiz {
      vertical-align: middle;
      display: inline-block;
    }

    .iconReject {
      font-size: 86px;
    }
  }

  .stepTitle {
    margin: 0;
    padding: 0;
  }

  .howApply {
    display: inline-block;
    color: var(--color-primary);
    cursor: pointer;

    &:hover {
      text-decoration: underline !important;
    }
  }

  .showDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    justify-content: flex-end;
    &:hover {
      .icon-arrow-right-border {
        color: var(--color-primary) !important;
      }
    }
  }

  .closeDing {
    position: absolute;
    top: 16px;
    right: 24px;
  }

  .icon.icon-help {
    &:hover {
      color: var(--color-primary) !important;
    }
  }

  .infoList {
    padding-top: 10px;

    li {
      width: 100%;
      display: flex;

      .inputTitleBox {
        width: 80px;
        line-height: 36px;
      }

      .inputDiv {
        flex: 1;

        .inputBox {
          width: 100%;
        }
      }
    }
  }

  .syncBox {
    display: flex;

    .syncTxt {
      flex: 1;
      line-height: 36px;
    }

    .isNO {
      cursor: default;
      opacity: 0.5;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .supportLink {
    color: var(--color-primary) !important;
    &:hover {
      color: var(--color-primary-light) !important;
    }
  }
}
