.worksheetRecordDialog {
  .worksheetRecordDialogBody {
    height: 100%;
    background: var(--color-background-secondary);
    position: relative;
    overflow: auto;
  }
  .logBox .selectTriggerChildAvatar .accountName:hover {
    color: var(--color-text-title);
    background: var(--color-background-primary);
  }
}
