.worksheetRecordDialog {
  min-height: 500px;
  max-height: 100% !important;
  background: pink;
  .mui-dialog-body {
    padding: 0 !important;
    background: #fafafa;
    position: relative;
    overflow: hidden;
  }
  .logBox .selectTriggerChildAvatar .accountName:hover {
    color: #151515;
    background: #fff;
  }
}
