.worksheetRecordDialog {
  min-height: 500px;
  max-height: 100% !important;
  background: pink;
  .mui-dialog-body {
    padding: 0 !important;
    background: var(--color-background-secondary);
    position: relative;
    overflow: hidden;
  }
  .logBox .selectTriggerChildAvatar .accountName:hover {
    color: var(--color-text-title);
    background: var(--color-background-primary);
  }
}
