.logBox {
  padding: 12px 16px 0 16px;
  padding-left: 20px !important;
  box-sizing: border-box;
  .paddingLeft27 {
    padding-left: 27px;
  }
  .moreLogData {
    margin-left: 28px;
    cursor: pointer;
  }
  .selectTriggerChildAvatar {
    .accountName {
      cursor: pointer;
      padding: 3px 5px;
      border-radius: 5px;
      &:hover {
        background: #f7f7f7;
        color: #1677ff;
      }
      &.mobileAccountName:hover {
        background: #fff;
        color: #9e9e9e;
      }
    }
  }
  .selectTriggerChild {
    cursor: pointer;
    padding: 3px 5px;
    border-radius: 5px;
    display: flex;
    // align-items: center;
    .Icon {
      line-height: 20px;
    }
  }
  .selectTriggerChild.hasHover:hover {
    background: #f7f7f7;
    color: #1677ff;
    .icon {
      color: #1677ff !important;
    }
  }
  .selectCon {
    font-size: 13px;
    color: #9e9e9e;
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    justify-content: space-between;
    gap: 24px;
    .icon {
      font-size: 18px;
      color: #757575;
    }
    .icon.icon-arrow-down {
      color: #9e9e9e;
      font-size: 8px;
      width: 18px;
      display: inline-block;
      text-align: center;
    }
    .icon-cancel {
      display: none;
    }
    .selectUser,
    .selectField,
    .selectDate,
    .selectOperate {
      padding: 8px 12px !important;
      background: #fff;
      display: flex;
      align-items: center;
      width: fit-content;
      cursor: pointer;
      border-radius: 3px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      &:hover {
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
        .icon-cancel {
          display: inline-block;
        }
        .icon-arrow-down {
          display: none;
        }
      }
    }
    .selectConText {
      margin: 0 4px;
    }
    .selectLight {
      color: #1677ff;
      .icon {
        color: #1677ff;
      }
    }

    .leftCon {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;
    }

    .rightCon {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 8px;
      .icon-cancel {
        display: inline-block;
      }
    }
  }
  .worksheetRocordLogCard {
    padding: 16px;
    background-color: #fff;
    margin-bottom: 16px;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    .worksheetRocordLogCardTopBox {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      span {
        line-height: 20px;
      }
      .worksheetRocordLogCardTitleAvatar {
        margin-right: 2px;
        height: auto !important;
        display: inline-block !important;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #f5f5f5;
        text-align: center;
        img {
          margin-top: -4px;
        }
      }
      .titleAvatarText {
        a {
          color: #151515;
          word-break: break-word;
          &:hover {
            color: #40a9ff;
          }
        }
      }
    }
    .worksheetRocordLogCardHrTime {
      border-top: 1px solid #eaeaea;
      color: #9e9e9e;
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      padding-top: 16px;
      margin-left: 7px;
    }
  }

  .worksheetRocordLogCard:last-child {
    .worksheetRocordLogCardTopBox {
      margin-bottom: 0;
    }
  }

  .loadOldLog {
    font-size: 12px;
    color: #9e9e9e;
    text-align: center;
    margin: 16px 0;
    span:hover {
      font-size: #1890ff;
      cursor: pointer;
    }
  }
  .logDivider {
    font-size: 12px;
    color: #9e9e9e;
  }
  .worksheet-rocord-log-item {
    margin-top: 4px;
    .widgetTitle {
      font-size: 13px;
      display: flex;
      align-items: center;
      margin-right: 8px;
      margin-left: 2px;
      > span:first-child {
        font-weight: 700;
      }
      .icon {
        vertical-align: middle;
        width: 20px;
        display: inline-block;
      }
    }
  }
  .worksheet-rocord-log-item-Row {
    display: flex;
    justify-content: start;
    align-items: flex-start;
  }
  .hideEle {
    display: none;
  }
  &.mobileLogBox {
    padding: 10px 10px 0 10px !important;
    font-size: 13px;
    .worksheetRocordLogCardTopBox {
      font-size: 12px;
    }
    .worksheet-rocord-log-item {
      padding: 0;
      text-align: justify;
    }
  }
  .timeDataTip[data-tip]::after {
    left: 100% !important;
    transform: translateX(-100%) translateY(8px) !important;
  }
}
.worksheetRocordLog {
  background: #fafafa;
}
