.publishErrorDialog {
  .reasonList {
    margin-top: -2px;
  }
  li {
    padding: 4px 0;
  }
  .errorItem {
    display: flex;
    align-items: center;
    .iconBox {
      display: inline-flex;
      align-items: center;
    }
    .detail {
      color: var(--color-text-secondary);
      margin-left: 8px;
      font-size: 14px;
    }
    .warn {
      .icon {
        color: var(--color-warning);
      }
    }
    .icon {
      color: var(--color-error);
    }
  }
}
