.Chat-Notification-header {
  display: flex;

  .icon-plus-interest {
    color: #43bd36;
    font-size: 25px;
  }
  .icon-task-setting_promet {
    color: red;
    font-size: 25px;
  }
  .title {
    padding-left: 10px;
  }
}
