.systemServicesContainer {
  .systemServicesContent {
    flex: 1;
    min-height: 0;
    padding: 24px;
    box-sizing: border-box;
    overflow-y: auto;

    .serviceCardsGrid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;

      @media (min-width: 1600px) {
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }

    .serviceCard {
      background: var(--color-background-card);
      border: 1px solid var(--color-border-secondary);
      border-radius: 3px;
      padding: 18px;
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      min-height: 200px;

      &:hover {
        box-shadow: var(--shadow-sm);
      }

      .serviceCardHelp {
        transform: translate(10px, -10px);
      }

      .serviceCardIcon {
        width: 56px;
        height: 56px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-white);
        overflow: hidden;
      }

      .serviceCardButton {
        color: var(--color-text-primary);
        border: 1px solid #e8e8e8;
        transition: all 0.3s ease;

        &:hover {
          border-color: var(--color-border-hover);
        }
      }

      .serviceCardConnected,
      .serviceCardButton {
        border: 1px solid var(--color-border-primary);
        height: 32px;
        padding: 0 17px;
        line-height: 30px;
        border-radius: 16px;
        &:hover {
          border-color: var(--color-border-hover);
        }
      }

      .serviceCardEdit {
        transition: color 0.3s ease;
        color: var(--color-text-secondary) !important;
      }
      .icon-arrow-right-border {
        color: var(--color-text-tertiary) !important;
      }
    }
  }
}
