.appSearchWrapper {
  height: 36px;
  line-height: 36px;
  border-radius: 36px;
  background-color: #f5f5f5;
  padding: 11px 13px;
  height: 36px;
  line-height: 36px;
  border-radius: 36px;
  background-color: #f5f5f5;
  padding: 0px 13px;
  display: flex;
  font-size: 14px;
  margin: 0 10px 7px 16px;
  .icon {
    line-height: 36px;
    &.searchIcon {
      color: #616161;
    }
  }
  input {
    background-color: #f5f5f5;
  }
}
.textScanQRCodeWrap {
  width: 36px;
  height: 36px;
  background: #f5f5f5;
  border-radius: 50%;
  margin-right: 16px;
  position: relative;
  > div {
    border: none;
  }
}

.spaceBottom {
  height: 5px;
  background-color: #f5f5f5;
}
.appGroupEntry {
  height: 50px;
  line-height: 50px;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 16px 0 0;
  .icon {
    line-height: 50px;
    &.icon-list {
      margin-right: 14px;
    }
  }
}
.groupDetail {
  background-color: #fff;
  .appCon {
    width: 100%;
    padding: 0 6px 16px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  .pTop26 {
    padding-top: 26px;
  }
  .allOrg {
    background: #f5f5f5;
    border-radius: 14px;
    padding: 4px 14px;
  }
}
.myAppItemWrap {
  width: 25%;
  height: 120px;

  .myAppItem {
    width: 56px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin: 0 auto;

    .myAppItemDetail {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      color: #fff;
      font-size: 32px;
      text-align: center;

      .Icon {
        vertical-align: middle;
      }
      .icon-plus {
        color: #8e8e8e;
        font-size: 20px;
      }
      .svgWrap {
        height: inherit;
        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: inherit;
        }
      }
    }

    .contentText {
      display: -webkit-box;
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
      word-break: break-all;
      width: 100%;
      overflow: hidden;
      text-align: center;
    }
  }
}
.overflowY {
  overflow-y: auto;
}
