  .dialogRefuse {
    .test-textarea {
      padding: 8px;
      color: #333;
      box-sizing: border-box;
      width: 100%;
      border-radius: 3px;
      outline: none;
      border: 1px solid #e0e0e0;
      line-height: 18px;
      height: auto;
      min-height: 90px;
      vertical-align: text-top;
      overflow-y: scroll;
      resize: none;
    }
  }
