.useAnalyticsContainer {
  .fontWeight600 {
    font-weight: 600 !important;
  }
  .extraInfo {
    font-size: 13px;
    font-weight: 400;
  }
  .useAnalyticsContent {
    overflow: auto;
  }
  .width150 {
    width: 150px;
  }
  .width200 {
    width: 200px;
  }
  .width300 {
    width: 300px;
  }
  .minWidth120 {
    min-width: 120px;
  }
  .hover_f3:hover {
    color: #1677ff !important;
  }
  .appSearch {
    width: 200px;
    border-radius: 3px;
  }
}

.analyticsTooltip {
  .tooltipCon {
    display: inline-block;
    width: 180px;
  }
}

.departmentFullNametip {
  max-width: 400px;
}

.space::before {
  content: '';
  display: block;
}
