/**
* component UserPicker
* prefix: .mui-userpicker
*/
@import '../lib/styles/form-input.less';

.mui-userpicker {
  display: inline-block;
  width: 172px;
  cursor: default;

  & > .mui-forminput {
    width: 100%;
  }
  .mui-forminput.multi {
    padding: 0!important;
    .icon-charger{
      line-height: 28px;
    }
  }
  .userHead{
    img{
      vertical-align: bottom;
    }
  }
}
