.itemSortLi {
  .icon-drag {
    opacity: 0;
  }
  &:hover {
    .icon-drag {
      opacity: 1;
    }
  }
  .typeTxt {
    background: var(--color-background-secondary);
    border-radius: 4px 4px 4px 4px;
    width: 102px;
    line-height: 36px;
    height: 36px;
    padding: 0 12px;
    cursor: no-drop;
    border: 1px solid var(--color-border-primary);
  }
  .hap-input {
    width: 130px;
  }
  .actionCon {
    .icon {
      color: var(--color-text-tertiary);
      &:hover {
        color: var(--color-primary);
      }
      &.del:hover {
        color: var(--color-error);
      }
    }
  }
}
.itemSortLiHand {
  z-index: 1000000;
  position: fixed !important;
  .icon-drag {
    opacity: 1;
  }
}
