.itemSortLi {
  .icon-drag {
    opacity: 0;
  }
  &:hover {
    .icon-drag {
      opacity: 1;
    }
  }
  .typeTxt {
    background: var(--color-background-secondary);
    border-radius: 4px 4px 4px 4px;
    width: 102px;
    line-height: 36px;
    height: 36px;
    padding: 0 12px;
    cursor: no-drop;
    border: 1px solid var(--color-border-primary);
  }
  .ming.Input {
    width: 130px;
    font-size: 13px;
    border: 1px solid var(--color-border-primary);
    &:hover {
      border-color: var(--color-text-disabled);
    }
    &:focus {
      border-color: var(--color-primary);
    }
  }
  .actionCon {
    .icon {
      color: var(--color-text-tertiary);
      &:hover {
        color: var(--color-primary);
      }
      &.del:hover {
        color: var(--color-error);
      }
    }
  }
}
.itemSortLiHand {
  z-index: 1000000;
  position: fixed !important;
  .icon-drag {
    opacity: 1;
  }
}
.paramControlDropdownMenuSet {
  .ming.MenuItem .Item-content:not(.disabled):hover {
    background-color: var(--color-background-primary) !important;
  }
  .ming.Item .Item-content {
    padding: 0;
    .itemText {
      padding: 0 16px;
      &.forAll {
        color: var(--color-primary);
      }
      .Icon {
        left: 0;
        color: var(--color-text-tertiary);
      }
      &.isCur {
        background-color: var(--color-primary-transparent) !important;
      }
      &:hover {
        background-color: var(--color-background-secondary) !important;
        &.forAll {
          color: var(--color-primary);
        }
        &.isCur {
          background-color: var(--color-primary-transparent) !important;
          .Icon {
            color: var(--color-text-tertiary);
          }
        }
      }
    }
  }
  .ming.MenuItem .Item-content.disabled {
    padding: 0 16px;
  }
}
