.selectSort {
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
  line-height: 1em;
  display: flex;
  align-items: center;
  &:hover {
    background: var(--color-background-hover);
  }
}
.selectSort .lighthigh {
  background: var(--color-primary-transparent);
}
