.SelectSortDrowCon {
  width: 180px;
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  background: var(--color-background-primary);
  .title,
  .item {
    padding: 0 16px;
    color: var(--color-text-title);
    font-weight: 400;
  }
  .title {
    font-weight: 600;
    color: var(--color-text-tertiary);
    line-height: 36px;
  }
  .item {
    line-height: 40px;
    font-size: 14px;
    .icon {
      color: var(--color-text-tertiary);
    }
    &:hover {
      background: var(--color-background-hover);
    }
  }
  .item.lighthigh {
    background: var(--color-primary-transparent);
    font-weight: 600;
    color: var(--color-primary);
    .icon {
      color: var(--color-primary);
    }
  }
}
.selectSort {
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
  line-height: 1em;
  display: flex;
  align-items: center;
  &:hover {
    background: var(--color-background-hover);
  }
}
.selectSort .lighthigh {
  background: var(--color-primary-transparent);
}
