<div class="addLinkFileContainer">
    {{? it.showTitleTip }}
    <span class="titleTip ThemeColor3" data-tip="{{=_l('创建链接格式文件，保存一个链接。您可以分享此文件或建立文件夹来管理。')}}" style="left: 75px">
        <i class=" icon icon-help"></i>
    </span>
    {{?}}
    <div class="linkPreview">
        <span class="linkIcon">

        </span>
        <div class="thumbnailCon">
            <div class="thumbnail">
            </div>
        </div>
    </div>
    <div class="linkDetail">
        <div class="linkItem">
            <div class="itemLabel">
                {{=_l('文件名')}}
            </div>
            <div class="itemContent">
                <input type="text" id="linkFileName" placeholder="{{=_l('在下方贴入链接，自动读取标题')}}" />
            </div>
        </div>
        <div class="linkItem">
            <div class="itemLabel">
                {{=_l('链接')}}
            </div>
            <div class="itemContent">
                <input type="text" id="linkFileContent" placeholder="http://" />
            </div>
        </div>
    </div>
</div>
