.Message-refer-container {
  max-width: 370px;
  border-radius: 5px;
  background: hsla(0, 0%, 88%, 0.5);
  padding: 8px;
  cursor: pointer;

  .content {
    color: #9e9e9e;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text {
    display: inline;
    i {
      vertical-align: 1px;
    }
  }
  .ThemeColor3:not(:hover) {
    color: #9e9e9e !important;
  }
}
