.workflowSearchWrap {
  position: relative;
  input {
    box-sizing: border-box;
    height: 36px;
    padding: 0px 28px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    &:hover:not(:focus) {
      border-color: var(--color-text-disabled) !important;
    }
    &:not(:hover):not(:focus) {
      border-color: var(--color-border-primary) !important;
    }
    &::-webkit-input-placeholder {
      font-size: 12px;
      color: var(--color-text-placeholder);
    }
    &::-moz-placeholder {
      font-size: 12px;
      color: var(--color-text-placeholder);
    }
    &::-moz-placeholder {
      font-size: 12px;
      color: var(--color-text-placeholder);
    }
    &::-ms-input-placeholder {
      font-size: 12px;
      color: var(--color-text-placeholder);
    }
  }
  .icon {
    position: absolute;
    top: 11px;
  }
  .search {
    left: 8px;
  }
  .close {
    right: 8px;
    color: var(--color-text-disabled);
    &:hover {
      color: var(--color-text-secondary);
    }
  }
  .hide {
    display: none;
  }
}
