.MyHome {
  .header {
    display: flex;
    padding: 35px 15px 10px;
    .name {
      font-size: 30px;
    }
    .profession {
      color: var(--color-text-tertiary);
      font-size: 15px;
    }
    .avatarMiddle {
      width: 78px;
      height: 78px;
      border-radius: 50%;
    }
  }
  .body {
    .languageWrapper,
    .businessWrapper,
    .themeWrapper,
    .businessWrapper {
      color: var(--color-white);
      width: 28px;
      height: 28px;
      border-radius: 50%;
      justify-content: center;
    }
    .businessWrapper {
      background-color: var(--color-task);
    }
    .themeWrapper {
      background-color: #3cbaba;
    }
    .languageWrapper {
      background-color: var(--color-primary);
    }
    .icon-help_center {
      color: var(--color-cyan-dark);
    }
    .icon-problem_feedback {
      color: var(--color-cyan-dark);
    }
    .adm-list-body {
      border-bottom: unset;
    }
  }
  .logOutBtn {
    color: var(--color-error);
    width: 93%;
    margin: 0 auto;
    display: flex;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 24px;
    background-color: var(--color-background-secondary);
  }

  .adm-list-item-content-main {
    font-weight: 500;
    color: var(--color-text-primary);
  }

  .adm-list-item-content-arrow {
    margin-left: initial;
  }

  .mingoLogo {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgb(234, 234, 234);
  }
}

.themeActionSheetItem,
.languageActionSheetItem {
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: space-between;

  .actionItemTextBox {
    display: flex;
    align-items: center;
    .icon {
      margin-right: 24px;
      font-size: 22px;
      color: var(--color-text-tertiary);
    }
  }

  .icon-done {
    font-size: 30px;
    color: var(--color-primary);
  }
}
