.selectWorksheetCommon {
  .dropdownWrapper {
    // * {
    //   display: block;
    // }
    .aroundList {
      width: 100%;
    }
  }
  .selectWorksheetCommonContent {
    width: 100%;
  }
  .worksheetList {
  }
  .worksheetItem {
    padding: 0 16px;
    line-height: 40px;
    &:hover {
      color: var(--color-white);
      background-color: var(--color-primary);
    }
    &.disable {
      color: var(--color-text-disabled);
      &:hover {
        color: var(--color-text-disabled);
        background-color: var(--color-background-primary);
      }
    }
  }
  .selectOhterApp {
    padding-top: 5px;
    border-top: 1px solid var(--color-border-secondary);
    margin-top: 6px;
  }
  .loadingCon {
    padding-left: 12px;
  }
}
