/**
* ui EditButton
* prefix: .dossier-user-form-editbutton
*/
.dossier-user-form-editbutton {
  border: none;
  padding: 0 6px;
  background-color: transparent;
  outline: none;
  font-size: 0;
  cursor: pointer;

  & > .Icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
  }

  & > span {
    display: inline-block;
    padding-left: 4px;
    font-size: 13px;
    line-height: 20px;
    vertical-align: middle;
  }
}
