.adminStructureBox {
  .chargeIcon {
    color: var(--color-yellow-dark);
    margin-top: 8px;
  }
  .chargeIcon:hover {
    color: #f29d14;
  }
}

.space::before {
  content: '';
  display: block;
}

.userItem.topUp {
  &.lastTopUp {
    border-bottom: 1px solid var(--color-border-primary);
    td {
      border-bottom: 1px solid var(--color-border-primary);
    }
  }
}
