.adminStructureBox {
  .chargeIcon {
    color: #f9ce1d;
    margin-top: 8px;
  }
  .chargeIcon:hover {
    color: #f29d14;
  }
}

.space::before {
  content: '';
  display: block;
}

.userOptList {
  position: relative !important;
  width: auto !important;
  min-width: 120px !important;
  max-width: 200px !important;
  .leaveText {
    color: #f44439;
  }
}

.userItem.topUp {
  background: #f7fbff;
  td {
    background: #f7fbff !important;
  }
}
