.adminStructureBox {
  .chargeIcon {
    color: var(--color-yellow-dark);
    margin-top: 8px;
  }
  .chargeIcon:hover {
    color: #f29d14;
  }
}

.space::before {
  content: '';
  display: block;
}

.userOptList {
  position: relative !important;
  width: auto !important;
  min-width: 120px !important;
  max-width: 200px !important;
  .leaveText {
    color: var(--color-error);
  }
}

.userItem.topUp {
  &.lastTopUp {
    border-bottom: 1px solid var(--color-border-primary);
    td {
      border-bottom: 1px solid var(--color-border-primary);
    }
  }
}
