.MDUpdater {
  padding: 15px 20px;
  width: auto;
  z-index: 1;
  position: relative;
}

.MDUpdater .Updater_TextArea {
  width: 100%;
  border: 0px;
  resize: none;
}

.MDUpdater .faceArea {
  border-bottom: 1px solid #f2f2f2;
  height: 22px;
}

.MDUpdater .myUpdateType {
  float: left;
  padding-left: 4px;
}

.MDUpdater .myUpdateType .falseHide {
  width: 1px;
  width: 1px;
  overflow: hidden;
  margin-right: 0px;
}

.MDUpdater .myUpdateType a {
  color: #666;
  display: inline-block;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
  position: relative;
}

.MDUpdater .myUpdateType a:hover {
  text-decoration: none;
}

.MDUpdater .myUpdateType .ctrlUploadAttachment {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.MDUpdater .update_close {
  background: url("images/close.gif") left top no-repeat;
  display: block;
  width: 13px;
  height: 13px;
  font-size: 1px;
  position: relative;
  float: right;
  right: 0px;
  top: 0px;
  *position: absolute;
  *top: 10px;
  *right: 10px;
  cursor: pointer;
}

.MDUpdater .update_close:hover {
  background-position: left bottom !important;
}

.MDUpdater .middleContent {
  clear: both
}

.MDUpdater .updaterDialog_Main {
  border-right: 0px;
  zoom: 1;
  background-color: #fafafa;
  border: 1px solid #f0f0f0;
}

.MDUpdater .arrowUpOuter {
  border-top-width: 0px;
  border-color: transparent transparent #f0f0f0 transparent;
}

.MDUpdater .arrowUpInner {
  border-top-width: 0px;
  top: 2px;
  border-color: transparent transparent #fafafa transparent;
}

.MDUpdater .groupSelect {
  margin-top: -2px;
}

.MDUpdater .linkViewTextBoxContainer {
  margin: 10px;
  height: 35px;
  line-height: 35px;
  background-color: White;
  border: 1px solid #D5D5D5;
  cursor: pointer;
  overflow: hidden;
}

.MDUpdater .linkTextBox {
  height: 33px;
  line-height: 33px;
  border: 0px;
  width: 420px;
}

.MDUpdater .linkBtnArea {
  padding: 0px 5px;
  border-left: 1px solid #ccc;
}

.MDUpdater .linkBtn {
  padding: 3px 6px;
  margin: 0px;
  margin-top: -2px;
}

.MDUpdater .updaterLinkView {
  margin: 0px 10px 10px 10px;
}

.MDUpdater .msgExpandDiv .faceBtn {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: left top !important;
  cursor: pointer;
  background-size: 100%;
  font-size: 18px;
  text-decoration: none;
}

.MDUpdater .msgExpandDiv .faceBtn:hover {
  background-position: left bottom !important;
}

.MDUpdater .msgExpandDiv .faceBtn:not(:hover) {
  color: #ccc !important;
}

.easyDialogBoxMDUpdater .dialogContent {
  padding: 0;
}

.easyDialogBoxMDUpdater>.noHeader {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

.easyDialogBoxMDUpdater>.noHeader .title {
  display: none;
}

.easyDialogBoxMDUpdater>.noHeader .dialogCloseBtn {
  z-index: 2;
  position: relative;
}

.easyDialogBoxMDUpdater>.mui-dialog-scroll-container>.mui-dialog-dialog>.mui-dialog-body {
  overflow: visible !important;
}

.easyDialogBoxMDUpdater>.mui-dialog-scroll-container>.mui-dialog-dialog>.mui-dialog-header,
.easyDialogBoxMDUpdater>.mui-dialog-scroll-container>.mui-dialog-dialog>.mui-dialog-body {
  padding: 0 !important;
}
