.ChatList-SearchMember-Content {
  position: absolute;
  left: 0;
  top: 40px;
  width: calc(~'100% + 10px') !important;
  height: calc(~'100% - 40px') !important;
  background-color: #fff;
  z-index: 2;

  &.embed {
    top: 70px !important;
    height: calc(~'100% - 70px') !important;
  }
  .content {
    height: 100%;
    margin-right: 10px;
  }
  .loading {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .project-container-head {
    padding: 0 15px;
    margin: 16px 0 8px;
    font-size: 13px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .project-container-item {
    padding: 5px 10px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    &:hover,
    &.active {
      background-color: #f5f5f5 !important;
    }
    img {
      width: 32px;
      height: 32px;
      flex: 0 0 auto;
      border-radius: 100%;
    }
  }
  .nodata-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    .nodata-img {
      width: 140px;
      height: 160px;
      background: url('./resource/notFind.png');
    }
    p {
      font-size: 17px;
    }
  }
}
