.upgradeProcessWrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 999;
  overflow: auto;
}
.upgradeProcessHeader {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.16);
  z-index: 1000;
  .applicationIcon {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }
  .w110 {
    width: 110px;
  }
  .helpIcon {
    .icon-workflow_help {
      font-size: 20px !important;
      color: #9d9d9d !important;
    }
  }
}
.upgradeProcessContent {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px auto 0;
  padding-top: 90px;
  .pBottom68 {
    padding-bottom: 68px;
  }
  .ant-steps-item-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    .ant-steps-icon {
      top: -1.5px;
    }
  }
  .ant-steps-item-wait .ant-steps-item-icon {
    background: #eaeaea;
    border-color: #eaeaea;
  }
  .ant-steps-item-finish .ant-steps-item-icon {
    border-color: #e5f4fe;
    background: #e5f4fe;
  }
  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: #2196f3;
  }
  .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: #757575;
  }
  .ant-steps-item-title {
    line-height: 30px;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title,
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #151515;
    font-weight: 600;
  }
  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #9e9e9e;
    font-weight: 600;
  }
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after,
  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: #e3e3e3;
  }
}

.upgradeProcessFooter {
  width: 100%;
  height: 68px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px -2px 6px 1px rgba(0, 0, 0, 0.08);
  z-index: 1000;
  .actionContent {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.pBottom68 {
  padding-bottom: 68px;
}

.uploadWrap {
  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow-y: auto;
  border: 1px dashed #eaeaea;
  box-sizing: border-box;
  margin-bottom: 20px;
  .uploadImg {
    width: 52px;
    height: 59px;
    margin-bottom: 15px;
  }
  .passwordInputBox {
    width: 250px;
    line-height: 34px;
    border: 1px solid #2196f3;
    border-radius: 3px;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .errTip {
    color: #f51744;
  }
}

.upgradeScopeAppBox {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  li {
    padding: 6px 14px 6px 9px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    width: fit-content;
    position: relative;
    &.current {
      border: 1px solid #2196f3;
    }
    .iconWrap {
      width: 30px;
      height: 30px;
      border-radius: 4px;
      color: #fff;
      margin-right: 12px;
      text-align: center;
      line-height: 30px;
      svg {
        vertical-align: middle !important;
      }
    }
    .tag {
      padding: 2px 5px;
      background: #4caf50;
      border-radius: 6px;
      position: absolute;
      right: -14px;
      top: -14px;
      color: #fff;
    }
  }
}

.upgradeScopeAdvancedConfig {
  background: #fff;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.16);
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #eaeaea;
  padding: 20px 0;
  li {
    height: 36px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: #2196f3 !important;
      color: #ffffff !important;
    }
  }
}

.scopeLoadingWrap {
  height: calc(~'100% - 68px');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settingsWrap {
  padding: 0 0 40px 12px;
  border-radius: 3px;
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  color: #212121;
  .itemTitle {
    height: 52px;
    align-items: center;
  }
}
