#bindAccountDialog .accountUpdateContainer {
  padding: 0 0 24px 0 !important;
}

#bindAccountDialog .accountUpdateContainer .inputContainer {
  background-color: #f5f5f5;
  border-radius: 3px;
}

#bindAccountDialog .accountUpdateContainer .passwordPlaceholder {
  position: absolute;
  left: 0px;
  top: 0px;
  line-height: 38px;
  height: 38px;
  width: 330px;
  padding-left: 10px;
  color: #a1a1a1;
  cursor: text;
}

#bindAccountDialog .accountUpdateContainer .passwordValidateContainer {
  color: #666;
  padding-left: 10px;
}

#bindAccountDialog .accountUpdateContainer .inputBox {
  width: 100%;
  line-height: 38px;
  height: 38px;
  background-color: #f5f5f5;
  border-radius: 3px;
  padding-left: 10px;
  border: 0px;
  padding-right: 10px;
  box-sizing: border-box;
}

#bindAccountDialog .accountUpdateContainer .Gray_c {
  color: #a1a1a1 !important;
}

#bindAccountDialog .stepLine {
  width: 98%;
  margin-bottom: 20px;
}

#bindAccountDialog .stepLine .stepLineTable {
  width: 100%;
  text-align: center;
}

#bindAccountDialog .stepLine .stepName {
  font-size: 12px;
}

#bindAccountDialog .stepLine .stepPlan {
  position: relative;
}

#bindAccountDialog .stepLine .stepPlanLine {
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

#bindAccountDialog .stepLine .lineFinsh {
  background-color: #0066cc;
}

#bindAccountDialog .stepLine .lineUnfinsh {
  background-color: #ececec;
}

#bindAccountDialog .stepLine .step-leftRadius-line {
  width: 100%;
  height: 4px;
  border-radius: 2px 0 0 2px;
}

#bindAccountDialog .stepLine .step-rightRadius-line {
  width: 100%;
  height: 4px;
  border-radius: 0 2px 2px 0;
}

#bindAccountDialog .stepLine .step-unRadius-line {
  width: 100%;
  height: 4px;
}

#bindAccountDialog .stepLine .stepCircle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: -4px;
}

#bindAccountDialog .stepLine .stepCircleS {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: auto;
  margin-top: 2px;
}

#bindAccountDialog .stepLine .circleLeft {
  left: 15px;
}

#bindAccountDialog .stepLine .circleCenter {
  left: 50%;
}

#bindAccountDialog .stepLine .circleRight {
  right: 15px;
}

#bindAccountDialog .accountUpdateContainer .verifyCodeContainer {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

#bindAccountDialog .accountUpdateContainer .verifyCodeContainer .inputBox {
  flex: 1 1 0px;
  margin-right: 15px;
}

#bindAccountDialog .accountUpdateContainer .verifyCodeContainer .btnVerifyCode {
  flex: 0 1 auto;
  padding: 0;
  min-width: 120px;
}

#bindAccountDialog .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input,
#bindAccountDialog .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type="text"],
#bindAccountDialog .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 input[type="tel"] {
  padding-left: 84px;
}

#bindAccountDialog .iti {
  width: 100%;
}

#bindAccountDialog .iti .iti__flag-container .iti__selected-flag {
  outline: none;
}

#bindAccountDialog .iti--separate-dial-code .iti__selected-flag {
  background-color: rgba(0, 0, 0, 0) !important;
}

#bindAccountDialog .iti--allow-dropdown .iti__flag-container,
#bindAccountDialog .iti--separate-dial-code .iti__flag-container {
  left: 1px !important;
}

#bindAccountDialog .iti__country-list {
  max-width: 350px !important;
  overflow-x: hidden !important;
}
