.fieldRecycleBinText {
  display: flex;
  align-items: center;
  color: var(--color-text-secondary);
  cursor: pointer;
  margin-left: 4px;
  padding: 8px 10px;
  font-weight: bold;
  border-radius: 18px;
  background-color: transparent;

  i {
    font-size: 16px;
    color: var(--color-text-tertiary);
  }
  &:hover {
    background-color: var(--color-background-primary);
    color: var(--color-text-title);
  }
  &.active {
    background-color: var(--color-background-primary);
    color: var(--color-primary);
    i {
      color: var(--color-primary);
    }
  }
  .recycle {
    margin: 0 6px;
  }
}
.FieldRecycleBinDialog {
  width: 80% !important;
  .mui-dialog-header {
    padding-bottom: 14px !important;
    border-bottom: 1px solid var(--color-border-primary);
  }
  .mui-dialog-close-btn {
    right: 10px !important;
    top: 20px !important;
  }
  .mui-dialog-body {
    padding: 0 0 0 13px !important;
  }
  .FieldRecycleBinHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .searchContainer {
      box-sizing: border-box;
      border-radius: 16px;
      position: relative;
      margin-right: 30px;
      height: 25px;

      .inputCon {
        padding: 0px 6px;
      }

      .icon-search {
        margin-top: 2px;
        color: var(--color-text-disabled) !important;
      }

      .icon-cancel {
        font-size: 14px;
        position: absolute;
        cursor: pointer;
        color: var(--color-text-placeholder) !important;
        top: 6px;
        right: 8px;
        &:hover {
          color: rgba(204, 204, 204, 0.8);
        }
      }

      .input {
        line-height: 25px;
        width: 184px;
        height: 25px;
        font-size: 13px;
        padding: 0 24px 0 30px;
        border: none;
        outline: none;
        background: transparent;
      }
    }
  }
  .FieldRecycleBinContent {
    width: 100%;
    height: 100%;
    display: flex;
    .FieldRecycleBinDetail {
      display: flex;
      #widgetConfigSettingWrap {
        position: relative;
        &::after {
          content: '';
          display: block;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
    }
    .FieldRecycleBinTableNull {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .iconWrap {
        width: 130px;
        height: 130px;
        line-height: 130px;
        text-align: center;
        border-radius: 50%;
        background-color: var(--color-background-secondary);
      }
      .icon {
        vertical-align: middle;
        font-size: 66px;
        color: var(--color-text-disabled);
      }
      .emptyExplain {
        margin-top: 20px;
        color: var(--color-text-tertiary);
        font-size: 17px;
        text-align: center;
      }
    }
    .FieldRecycleBinTable {
      flex: 1;
      display: flex;
      flex-direction: column;
      color: var(--color-text-secondary);
      overflow-x: hidden;
      .tableContent {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
      .fieldRecycleList {
        padding: 13px 0;
        align-items: center;
        border: 1px solid transparent;
        border-bottom-color: var(--color-border-secondary);
        cursor: pointer;
        .editOption {
          width: 80px;
          padding-right: 18px;
          text-align: right;
          font-size: 18px;
          visibility: hidden;
          i {
            margin-top: 2px;
            &:hover {
              color: var(--color-primary) !important;
            }
          }
        }
        .name {
          display: flex;
          align-items: center;
          min-width: 0;
          padding-left: 5px;
        }
        .columnWidth {
          width: 130px;
          @media (max-width: 1280px) {
            width: 100px;
          }
        }
        &.active {
          background: var(--color-primary-transparent) !important;
          border: 1px solid var(--color-primary) !important;
          .editOption {
            visibility: visible !important;
          }
        }
        &:not(.fieldRecycleHeader):hover {
          background: var(--color-background-secondary);
          .editOption {
            visibility: visible;
          }
        }
        &.fieldRecycleHeader {
          font-size: 14px;
          padding: 15px 0 9px 0;
        }
      }
    }
  }
}
