.workSheetChangeColumn {
  &.advance {
    padding: 0 6px 6px;
    .columnCheckList {
      max-height: 362px;
    }
  }
  .selectedStatus {
    padding: 0 12px;
    font-size: 13px;
    color: var(--color-text-tertiary);
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid var(--color-border-secondary);
  }
  .columnCheckList {
    .tabColumn {
      height: auto;
      position: relative;
      .expendIcon {
        position: absolute;
        right: 0;
        top: 0;
        padding: 5px;
        &:hover {
          background: var(--color-border-secondary);
        }
      }
      .subColumns {
        position: relative;
        left: 26px;
        width: calc(~'100% - 26px');
        .showControlsColumnCheckItem span::selection {
          color: var(--color-text-title);
          background: var(--color-background-primary);
        }
      }
      .subColumns::before {
        content: '';
        width: 9px;
        height: calc(~'100% - 15px');
        border-left: 1px solid var(--color-border-secondary);
        border-bottom: 1px solid var(--color-border-secondary);
        left: -5px;
        top: 0;
        position: absolute;
      }
    }

    .dragCon {
      cursor: grab;
    }
    .columnCheckListTitle {
      cursor: text;
    }
    .dragListEmptyTip {
      color: var(--color-text-tertiary);
      margin-bottom: 33px;
    }
    margin-top: 6px;
    max-height: 238px;
  }
  .segmentationLine {
    border-top: 1px solid var(--color-border-primary);
    margin-top: 5px;
    padding-top: 5px !important;
  }
  .buttons {
    padding: 0 12px;
    .showAll {
      margin-right: 35px;
    }
  }
  .emptyTip {
    margin: 20px 0 30px;
    color: var(--color-text-disabled);
  }
  .searchBar {
    height: 38px;
    border-bottom: 1px solid var(--color-border-secondary);
    .icon {
      line-height: 37px;
      font-size: 20px;
    }
    .Input {
      border: none;
      padding-left: 6px;
      &:placeholder {
        color: var(--color-text-disabled);
      }
    }
  }

  .quickOperate {
    box-sizing: border-box;
    display: flex;
    gap: 6px;
    margin-top: 5px;
    button {
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 3px;
      padding: 0 14px;
      text-align: center;
      line-height: 32px;
      height: 28px;
      color: var(--color-text-secondary);
      background-color: var(--color-background-secondary);
      &:hover {
        color: var(--color-text-title);
        background-color: var(--color-background-hover);
      }
      &.iconButton {
        padding: 0 8px;
        margin-right: 0;
        .icon {
          line-height: 29px !important;
        }
      }
    }
  }
  &.hideDrag {
    .dragHandle {
      display: none;
    }
  }
}

.showControlsColumnDrageble {
  &.active {
    background-color: var(--color-background-secondary);
    z-index: 1000;
    .dragHandle {
      visibility: visible;
    }
    .searchIcon {
      display: block !important;
      visibility: visible !important;
    }
    .showControlsColumnCheckItem {
      background-color: var(--color-background-secondary);
    }
  }
}

.showControlsColumnCheckItem {
  border-radius: 3px;
  padding-right: 10px;
  height: 32px;
  line-height: 32px;
  z-index: 13;
  > span {
    flex: 1;
  }
  .dragCon {
    display: flex;
    align-items: center;
  }
  .dragHandle {
    visibility: hidden;
    line-height: 32px;
  }
  .icon {
    &-ic_toggle_on {
      color: #00c345;
    }
    &-ic_toggle_off {
      color: var(--color-text-disabled);
    }
    &-backspace {
      transform: rotate(180deg);
      color: var(--color-primary) !important;
    }
  }
  &:hover,
  &.active {
    background-color: var(--color-background-hover);
    .dragHandle {
      visibility: visible;
    }
    .searchIcon {
      display: block !important;
      visibility: visible !important;
    }
    .showControlsColumnCheckItem {
      background-color: var(--color-background-secondary);
    }
  }
  .switchIcon {
    text-align: center;
    width: 45px;
    min-width: 45px;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
  &.focusColumnItem {
    background-color: var(--color-primary-transparent);
    .focusColor {
      color: var(--color-primary) !important;
    }
    .dragHandle {
      visibility: visible;
    }
    .searchIcon {
      display: block !important;
      visibility: visible !important;
    }
    .showControlsColumnCheckItem {
      background-color: var(--color-primary-transparent);
    }
  }
}

.viewContentGrabbing {
  cursor: grabbing !important;
  .dragCon {
    cursor: grabbing !important;
  }
  .columnCheckListTitle {
    cursor: grabbing !important;
  }
}

.HandImportant {
  cursor: pointer !important;
}
