.importPositionWrap {
  height: 100%;
  background-color: var(--color-background-primary);
  display: flex;
  overflow: hidden;
}
.PositionL {
  width: 240px;
  border-right: 1px solid var(--color-border-secondary);
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
  .searchContainer {
    width: 197px;
    box-sizing: border-box;
    background: var(--color-background-secondary);
    border-radius: 15px;
    margin: 0 0 24px 19px;
    .btnSearch {
      font-size: 20px;
      position: absolute;
      margin: 7px 14px;
    }
    .searchInput {
      line-height: 30px;
      height: 30px;
      padding-left: 38px;
      border: none;
      outline: none;
      background: transparent;
    }
    &:hover {
      background-color: var(--color-border-secondary);
    }
  }
  .actBox {
    padding: 0 24px;
    justify-content: space-between;
    .iconHover:hover {
      color: var(--color-primary) !important;
    }
  }
  .positionList {
    margin-right: 0px;
    width: 100%;
    padding: 12px 0 0 8px;
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;
    .positionItem {
      cursor: pointer;
      padding-left: 28px;
      padding-right: 10px;
      width: 220px;
      height: 32px;
      line-height: 32px;
      border-radius: 3px;
      .jobName {
        display: inline-block;
        width: calc(~'100% - 30px');
        vertical-align: middle;
      }
      .editIcon {
        display: none;
        line-height: 32px;
        &:hover {
          color: var(--color-primary) !important;
        }
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
      &.current {
        background-color: var(--color-primary-transparent);

        color: var(--color-primary) !important;
        &:hover {
          background-color: var(--color-primary-transparent);
        }
        .jobName {
          color: var(--color-primary) !important;
        }
      }
      &.current,
      &:hover {
        .editIcon {
          display: inline-block;
        }
        .jobName {
          width: calc(~'100% - 52px');
          min-width: 0;
        }
      }
    }
  }
}
.PositionR {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  padding: 0 24px 14px;
  .positionContentHeader {
    margin-bottom: 26px;
  }
  .actUserBox {
    display: flex;
    margin-bottom: 10px;
    .actBtn {
      height: 32px;
      border-radius: 3px;
      line-height: 30px;
      text-align: center;
      border: 1px solid var(--color-border-secondary);
      background-color: var(--color-background-primary);
      margin-right: 8px;
      padding: 0 16px;
      font-size: 14px;
      &.addUser {
        color: var(--color-white);
        background: var(--color-primary);
        border: 1px solid var(--color-primary);
      }
      &:hover {
        color: var(--color-link-hover);
        border: 1px solid var(--color-link-hover);
        cursor: pointer;
      }
      &.addUser:hover {
        color: var(--color-white);
        background: var(--color-link-hover);
        border: 1px solid var(--color-link-hover);
      }
      &.disabledBtn {
        cursor: not-allowed;
        color: var(--color-text-tertiary);
      }
      &.disabledBtn:hover {
        cursor: not-allowed;
        color: var(--color-text-tertiary);
        background-color: var(--color-background-primary);
        border: 1px solid var(--color-border-secondary);
      }
    }
  }
  .userList {
    flex: 1;
    display: flex;
    min-height: 0;
    flex-direction: column;
    .userTableBody {
      overflow: auto;
      flex: 1;
    }
    .usersTable {
      table-layout: fixed;
      width: 100%;
      tr {
        th,
        td {
          border-bottom: 1px solid var(--color-border-secondary);
          color: var(--color-text-secondary);
          font-size: 13px;
          font-weight: 400;
          padding: 10px 0 12px;
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        td {
          border: none;
          padding: 0;
          height: 50px;
          color: var(--color-text-title);
          padding-right: 10px;
        }
        .checkBoxCol {
          width: 40px;
          padding-left: 8px;
        }
        .nameCol {
          width: 200px;
        }
        .departmentCol {
          // width: 150px;
        }
        &:hover {
          td {
            background-color: var(--color-background-hover);
          }
          .name {
            color: var(--color-primary) !important;
          }
        }
      }
    }
  }
}
.themeColor {
  color: var(--color-primary) !important;
}
.createMoreDropDown {
  width: 100px;
  height: 86px;
  .ant-dropdown-menu-item {
    font-size: 13px;
  }
}
