.ChartDialog {
  .hap-modal-header {
    &:hover .hideDesc {
      display: block;
    }
    .hideDesc {
      display: none;
    }
  }

  .ring-guide-value {
    font-size: 22px !important;
    font-weight: 500 !important;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nameWrapper {
      margin-right: 5px;
      min-width: 0;
    }
    .icon:hover,
    .active {
      color: var(--color-primary) !important;
    }
  }

  .icon-arrow-right-border,
  .icon-arrow-left-border,
  .icon-search {
    &:hover {
      color: var(--color-primary) !important;
    }
  }
  .icon-call_to_action_on.vertical {
    transform: rotateZ(-90deg);
  }

  .chart {
    flex: 1;
    padding: 20px;
    &.vertical {
      width: 100%;
      min-height: 0;
    }
    &.horizontal {
      min-width: 0;
    }
    .justifyContent {
      justify-content: center;
    }
  }
  .chartBody {
    min-width: 0;
  }
  .chartWrapper {
    min-height: 0;
  }
  .chartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon:hover {
      color: var(--color-primary) !important;
    }
  }
  .count {
    font-weight: 500;
    font-size: 20px;
    font-family:
      system-ui,
      BlinkMacSystemFont,
      segoe ui,
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      apple color emoji,
      segoe ui emoji,
      segoe ui symbol;
  }
  .g2-tooltip {
    background-color: var(--color-background-card) !important;
    .g2-tooltip-list {
      padding-bottom: 5px !important;
    }
    .g2-tooltip-list-item {
      display: flex;
      align-items: center;
      white-space: nowrap;
      margin: 6px 0 !important;
    }
    .g2-tooltip-name {
      max-width: 320px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      white-space: nowrap;
    }
    .g2-tooltip-value {
      flex: 1;
      text-align: right;
    }
  }
  .showTotalHeight {
    height: calc(~'100% - 31px');
  }
  .spaceBetween {
    justify-content: space-between;
  }
  .setting {
    width: 320px;
    height: 100%;
    background-color: var(--color-background-secondary);
    box-sizing: border-box;
    transition: width 0.2s;
    &.small {
      width: 50px;
    }
    .charts {
      flex-wrap: wrap;
      .chartItem {
        color: var(--color-text-secondary);
        font-size: 28px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px 5px 0;
        padding: 3px;
        border: 1px solid transparent;
        border-radius: 4px;
        &:hover {
          background-color: var(--color-background-hover);
        }
        &.active {
          color: var(--color-primary);
          border: 1px solid var(--color-primary);
          border-radius: 3px;
          background-color: var(--color-background-card);
        }
      }
    }
  }
  .displaySetup {
    border: 1px solid var(--color-border-primary);
    border-radius: 4px;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
    .item {
      color: var(--color-text-tertiary);
      font-size: 14px;
      padding: 5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid var(--color-border-tertiary);
      cursor: pointer;
      &:last-child {
        border-right: none;
      }
    }
    .bgPrimary {
      background-color: var(--color-background-primary);
    }
    .active {
      color: var(--color-primary) !important;
    }
    &:hover .icon {
      color: var(--color-primary) !important;
    }
  }
  .workSheetFilter {
    background-color: transparent;
  }
  .hoverHighlight {
    &:hover {
      color: var(--color-primary) !important;
    }
  }
}

.ChartDialogSetting {
  .chartTabs {
    overflow: inherit;
    .hap-tabs-nav-list {
      width: 100%;
    }
    .hap-tabs-nav {
      margin: 0;
      &::before {
        border-color: var(--color-border-primary);
      }
    }
    .hap-tabs-tab {
      flex: 1;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
    .hap-tabs-nav-operations {
      display: none;
    }
    .hap-tabs-nav .hap-tabs-ink-bar-animated {
      height: 3px;
    }
  }
  .chartTypeImageSelect {
    .styleItem {
      font-size: 13px;
      margin-right: 10px;
      .iconWrap {
        border-radius: 6px;
      }
      &:hover {
        .iconWrap {
          background: var(--color-border-secondary);
          border-color: var(--color-border-secondary);
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .active {
      font-weight: bold;
      color: var(--color-primary) !important;
      .iconWrap {
        border-color: var(--color-primary) !important;
        background: var(--color-background-primary) !important;
      }
    }
    .iconWrap {
      padding: 5px 0;
      margin-bottom: 5px;
      border: 1px solid transparent;
      img {
        width: 30px;
      }
    }
  }
  .dataSourceCollapse .icon-arrow-down-border {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    &:hover {
      background-color: var(--color-background-hover);
    }
  }
  .entranceWrap {
    border: 1px solid var(--color-border-primary);
    border-radius: 4px;
    height: 30px;
    background-color: var(--color-background-primary);
    &.hover:hover {
      background-color: var(--color-background-hover);
      .highlightIcon {
        color: var(--color-primary) !important;
      }
    }
    &.ruleIcon {
      width: 30px;
      margin-left: 10px;
      justify-content: center;
      &:hover {
        background-color: var(--color-background-hover);
      }
    }
  }
  .colorWrap();
}

.sortableDimensionalityCard {
  z-index: 9999;
  .sortableDrag {
    position: relative;
    top: 0;
    left: -16px;
    opacity: 1;
    width: 0;
  }
}

.chartModal {
  padding: 0;
  .hap-modal-content {
    border-radius: 3px;
    overflow: hidden;
  }
  .hap-modal-title {
    font-size: 17px;
  }
  .hap-modal-close-x {
    line-height: 66px;
    .icon-close:hover {
      color: var(--color-primary) !important;
    }
  }
  .hap-modal-header {
    border-bottom: none;
  }
  .hap-modal-footer {
    border-top: none;
  }
  .hap-modal-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .colorWrap();
  .hap-modal-close {
    cursor: inherit;
  }
  .hap-modal-header .icon-close,
  .hoverHighlight {
    &:hover {
      color: var(--color-primary) !important;
    }
  }
  .hap-btn-link {
    color: var(--color-text-tertiary);
    &:hover {
      color: var(--color-primary-light);
    }
  }
  .hap-btn-primary {
    height: 36px;
    padding: 0 32px;
    background: var(--color-primary);
    border-color: var(--color-primary);
    &:hover {
      background: var(--color-primary-dark);
      border-color: var(--color-primary-dark);
    }
  }
  .hap-checkbox-input {
    position: absolute;
  }
  .hoverThemeColor {
    &:hover {
      color: var(--color-link-hover) !important;
    }
  }
}

.ghostSelectOptionWrapper {
  &.hap-select-item-option-selected:not(.hap-select-item-option-disabled) {
    font-weight: normal;
    background-color: var(--color-background-secondary);
  }
}

.colorWrap () {
  .colorWrap {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    padding: 4px;
    border: 1px solid var(--color-border-primary);
    background-color: var(--color-background-primary);
    .colorBlock {
      width: 100%;
      height: 100%;
    }
    .colorInput {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }
}

.hap-tooltip-inner {
  min-height: auto;
  line-height: initial;
}
