.importErrorDialog {
  height: 560px !important;
  .successText:after{
    width: 200px;
    white-space: normal;
    word-break: break-all;
  }
  .importErrorBox {
    border-radius: 3px;
    border: 1px solid #ddd;
    .scroll-viewport {
      padding-top: 10px;
    }
  }
}
