.refresh {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  color: var(--color-text-tertiary);
  padding-top: 3px;
  box-sizing: border-box;
  &:hover {
    background-color: var(--color-background-hover);
    color: var(--color-primary);
  }
}

.exportAppListWrap {
  display: flex;
  flex-direction: column;
  .row {
    height: 60px;
    align-items: center;
    border-bottom: 1px solid --color-background-disabled;
    .showVisibilityIcon {
      visibility: hidden;
      color: var(--color-text-tertiary);
    }
    &:hover {
      background-color: var(--color-background-hover);
      .showVisibilityIcon {
        visibility: visible;
        color: var(--color-text-tertiary);
      }
    }
    &.headerRow {
      height: 40px;
      &:hover {
        background-color: var(--color-background-primary);
      }
    }
    .operator,
    .date,
    .password {
      width: 150px;
    }
    .operator {
      margin-left: 10px;
    }
    .download {
      width: 50px;
      margin-right: 32px;
    }
    .hoverPassword {
      cursor: pointer;
      &:hover {
        color: var(--color-primary);
        .showVisibilityIcon {
          color: var(--color-primary);
        }
      }
    }
  }
}
