@activeColor: #2196f3;
@refuseColor: #f44336;
@passColor: #4CAF50;
@submitColor: #1e88e5;

.workflowStepListWrapper {

  .workflowStepHeader {
    height: 55px;
    background: #fff;
    align-items: center;
    padding: 0 17px;
    box-sizing: border-box;
    border-bottom: 2px solid #ddd;

    .workflowStepIcon {
      width: 24px;
      height: 24px;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .stepList {
    padding: 0 17px;
  }

  .step {
    &:last-child {
      .pointerLine {
        width: 0;
      }
    }

    .stepItem {
      margin-left: 14px;
      padding: 12px 0;
    }

    .signTypeWrap {
      padding: 16px 0 0 12px;

      span {
        color: #757575;
      }

      .signType {
        margin-left: 4px;
      }
    }

    .userName {
      height: 17px;
      line-height: 17px;
      font-size: 14px;
      color: #333;
    }

    .stepName {
      &.edit {
        color: #2196f3;
      }

      &.approve {
        color: #2196f3;
      }

      &.notice {
        color: #2196f3;
      }
    }

    .stepContentWrap {
      border-radius: 5px;
      background-color: #F8F8F8;
    }

    .stepContent {
      align-items: center;

      &:last-child {
        .stepDetail {
          border-bottom: 0;
        }
      }

      .avatarBox {
        padding: 16px;
        padding-right: 0;
        align-self: flex-start;
      }

      .stepDetail {
        margin-left: 10px;
        line-height: 16px;
        padding: 16px 0;
        border-bottom: 1px solid #ddd;

        .timeAction {
          margin-top: 8px;
          align-items: center;
          flex-wrap: wrap;
          font-size: 12px;

          .action-5 {
            color: @refuseColor;
          }

          .action-4 {
            color: @passColor;
          }
        }

        .action {
          color: #757575;
          margin-left: 5px;
        }

        .info {
          margin-top: 8px;
          color: #757575;
          word-break: break-all;
          padding-right: 10px;
          font-size: 12px;

          .modifiedFieldInfo {
            margin-left: 8px;
          }

          .triggerField {
            margin-left: 4px;
          }
          
          .infoSignature {
            box-shadow: 0 1px 4px rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.12);
            border-radius: 4px;
            height: 100px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
        }

        .waitInfo {
          margin-bottom: 6px;
        }

        .current {
          color: @activeColor;
          margin-bottom: 0;
        }

        .pass {
          color: @passColor;
        }

        .refuse {
          color: @refuseColor;
        }
      }
    }
  }

  .flowPointer {
    align-items: center;
    width: 20px;
    transform: translateY(14px);

    .pointerItem {
      width: 11px;
      height: 11px;
      flex-shrink: 0;
      background-color: @activeColor;
      border-radius: 50%;

      &.edit,
      &.approve,
      &.notice {
        position: relative;
        width: 20px;
        height: 20px;
        margin-top: 0px;
        flex: 0 0 20px;
        background-color: #fff;

        &:after {
          content: "";
          position: absolute;
          top: 2px;
          left: 2px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
        }
      }

      &.edit {
        box-shadow: 0 0 10px 1px #2196f3;

        &:after {
          background: #2196f3;
        }
      }

      &.approve {
        box-shadow: 0 0 10px 1px #2196f3;

        &:after {
          background: #2196f3;
        }
      }

      &.notice {
        box-shadow: 0 0 10px 1px #2196f3;

        &:after {
          background: #2196f3;
        }
      }
    }

    .pointerLine {
      width: 1px;
      height: 100%;
      background-color: #ddd;
    }
  }
}
