.selectApp {
  border-radius: 3px;
  padding: 4px;
  cursor: pointer;
  line-height: 1em;
  display: flex;
  align-items: center;
  &:hover {
    background: #f5f5f5;
  }
  .selectedIconCon {
    width: 13px;
    height: 13px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    svg {
      vertical-align: unset !important;
    }
  }
  .color_light {
    color: #0088e1 !important;
  }
  .lineHeight13 {
    line-height: 13px !important;
  }
}
.selectApp.light {
  background: #e2f2fc;
}
.appDrowSelectCon {
  width: 280px;
  box-shadow: 0px 4px 16px 1px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  background: #fff;
  .appSearchCon {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    input {
      border: none;
      font-size: 13px;
    }
    input::-webkit-input-placeholder,
    input::-moz-placeholder,
    input:-ms-input-placeholder {
      color: #9d9d9d;
    }
  }
  .appList {
    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 14px;
    .appListItem {
      height: 48px;
      padding: 0 12px;
      line-height: 36px;
      display: flex;
      align-items: center;
      .imgCon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: inline-block;
        line-height: 24px;
        text-align: center;
        svg {
          margin-top: 4px;
        }
      }
      .name {
        flex: 1;
      }
    }
    .appListItem:hover {
      background: #f7f7f7;
    }
    .appListItem.active {
      background: #e4f3fd;
      color: #1677ff;
      font-weight: 600;
    }
  }
}
