<div class="groupSelectBox">
    <div class="searchGroup Relative">
        <input type="text" class="box-sizing searchInput boderRadAll_5" placeholder="{{=_l('搜索群组')}}">
        <span class="icon-search Absolute searchIcon Hand"></span>
    </div>
    <div class="selectTab">
        <ul class="tabList clearfix">
            <li class="tabItem ThemeBorderColor3 active">{{=_l('所有群组')}}</li>
        </ul>
    </div>
    <div class="groupListBox nano">
        <ul class="groupList nano-content">
        {{= LoadDiv() }}
        </ul>
    </div>
    <div class="selectGroupBox pTop10">
        <ul class="selectGroupList clearfix"></ul>
    </div>
</div>
