/**
* component AreaPicker
* prefix: .mui-areapicker
*/
@import '../lib/styles/form-input.less';

.mui-areapicker {
  display: inline-block;
  width: 172px;

  .CityPicker-wrapper,
  .CityPicker-input-container {
    display: block;
    width: 100%;
  }
  .mui-forminput {
    width: 100%;
  }
}
