.platformIntegrationWrap {
  width: 600px;
  margin: 50px auto 0;
  .integrationItem {
    height: 86px;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    padding: 0 30px 0 20px;
    margin-bottom: 20px;
    .integrationTxt {
      color: #bdbdbd;
    }
    &:hover {
      background: #f7fbff;
      border-radius: 5px 5px 5px 5px;
      border: 1px solid #2196f3;
      .integrationTxt {
        color: #2196f3;
      }
    }
    img {
      width: 24px;
    }
  }
}

.platformIntegrationContent {
  .stepItem {
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
  }
  .stepItem:last-child {
    border: none;
  }
}

.platform.orgManagementWrap {
  overflow-y: scroll !important;
}
