.addEditUserInfoWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  box-shadow:
    0 10px 24px rgba(0, 0, 0, 0.2),
    0 3px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-flow: column nowrap;
  width: 580px;
  background: var(--color-background-primary);
  .cover {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 580px;
    z-index: -1;
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
  }
  .remindSaveWrap {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    .remindSaveContent {
      width: 480px;
      position: relative;
      background-color: var(--color-background-primary);
      border-radius: 3px;
      box-shadow:
        0 4px 20px rgb(0, 0, 0, 0.2),
        0 2px 6px rgb(0, 0, 0, 0 15);
      .title {
        padding: 20px 24px 16px;
      }
      .closeBtn {
        position: absolute;
        border: 0;
        right: 5px;
        top: 2px;
      }
      .footer {
        text-align: right;
        padding: 30px 24px 20px;
      }
    }
  }
  .prompt {
    font-size: 14px;
    background-color: var(--color-yellow-black);
    padding: 10px 16px;
    border-radius: 3px;
    font-weight: bold;
    .icon {
      color: var(--color-warning);
    }
  }
}

.headerInfo {
  display: flex;
  padding: 9px 14px 0px 24px;
  line-height: 36px;
  padding-top: 5px;
  .close {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    margin-top: 10px;
    &:hover {
      background: var(--color-background-hover);
    }
  }
}

.formInfoWrap {
  padding: 10px 24px 0;
  overflow: auto;
  .formGroup {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    input:focus::-webkit-contacts-auto-fill-button {
      opacity: 0;
    }
    &.isAllJobs {
      padding: 12px;
      border-radius: 4px;
      background: var(--color-background-secondary);
    }
  }
  .formLabel {
    margin-bottom: 6px;
  }
  .formControl {
    width: 100%;
    height: 34px;
    border: 1px solid var(--color-border-tertiary);
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-block;
    padding: 6px 12px;
    &:hover {
      border-color: var(--color-text-disabled);
    }
    &:focus {
      border-color: var(--color-primary);
    }
    &.error {
      border-color: #f00 !important;
    }
    &.disabled {
      background-color: var(--color-background-secondary);
      border: 1px solid var(--color-background-secondary);
    }
  }
  .status {
    width: 66px;
    height: 28px;
    line-height: 28px;
    border-radius: 14px;
    padding: 0 12px;
    color: var(--color-white);
    text-align: center;
    &.check {
      background-color: var(--color-primary);
    }
    &.refuse {
      background-color: #f00;
    }
  }
  .selectUser {
    color: var(--color-text-tertiary);
    position: absolute;
    right: 10px;
    top: 35px;
    cursor: pointer;
  }
  .userLabel {
    background-color: var(--color-border-secondary);
    border-radius: 20px;
    display: inline-block;
    line-height: 32px;
    padding: 0 7px;
    img {
      border-radius: 50%;
      height: 28px;
      margin-right: 5px;
      vertical-align: middle;
      width: 28px;
    }
  }
  .iti--allow-dropdown {
    width: 100%;
  }
  .ming.Radio {
    margin-right: 66px;
  }
  .itemSpan {
    display: inline-flex;
    align-items: center;
    padding: 0 13px 0 0;
    line-height: 26px;
    border-radius: 18px;
    background: var(--color-background-secondary) 0% 0% no-repeat padding-box;
    // border: 1px solid var(--color-border-primary);
    &:hover {
      background: var(--color-background-hover);
    }
    .departmentIcon {
      width: 26px;
      height: 26px;
      min-width: 26px;
      display: inline-block;
      text-align: center;
      line-height: 26px;
      background: var(--color-primary);
      border-radius: 50%;
      color: var(--color-white);
    }
    &.disabled {
      background: var(--color-background-secondary);
    }
  }
  .ant-select-focused {
    border-color: none;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid var(--color-border-tertiary);
  }
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: var(--color-text-disabled);
  }
  .formInfoWrap .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid var(--color-background-secondary);
  }
  .ThemeHoverColor {
    &:hover {
      color: var(--color-primary) !important;
    }
  }
}

.btnGroups {
  margin: 25px 24px 20px;
  font-size: 14px;
  span,
  a {
    display: inline-block;
    height: 36px;
    line-height: 34px;
    padding: 0 24px;
    border-radius: 3px;
    vertical-align: middle;
  }
  .cancelBtn {
    border: 1px solid var(--color-border-secondary);
    width: unset;
  }
  .cancelBtn:hover {
    cursor: pointer;
    background-color: var(--color-border-secondary);
  }
  .addContinueBtn {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
  .addContinueBtn:hover {
    border: 1px solid var(--color-link-hover);
    color: var(--color-link-hover);
  }
  .addBtn {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  .addBtn:hover {
    border: 1px solid var(--color-link-hover);
    background-color: var(--color-link-hover);
    color: var(--color-white);
  }
  .addContinueBtn,
  .addBtn {
    &[disabled] {
      cursor: not-allowed;
    }
  }
  .disabledBtn {
    background-color: var(--color-text-tertiary);
    border-color: var(--color-text-tertiary);
    cursor: not-allowed;
    &:hover {
      background-color: var(--color-text-tertiary);
      border-color: var(--color-text-tertiary);
    }
  }
  .resign {
    border: 1px solid var(--color-border-secondary);
    height: 36px;
    line-height: 34px;
    padding: 0 24px;
    border-radius: 3px;
    vertical-align: middle;
    &:hover {
      border: 1px solid var(--color-error);
      color: var(--color-error);
    }
  }
  .normalBtn {
    border: 1px solid var(--color-border-secondary);
    &:hover {
      border: 1px solid var(--color-primary);
      color: var(--color-primary);
    }
  }
}

.moreActionTrigger {
  ul {
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--color-background-primary) 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 16px #0000003d;
    border-radius: 3px;
    width: 180px;
    display: block;
    padding: 5px 0;
    z-index: 1;
    li {
      width: 100%;
      line-height: 30px;
      padding: 0 10px;
      box-sizing: border-box;
      &:hover {
        background: var(--color-background-secondary);
        cursor: pointer;
      }
    }
  }
}
