.ChatPanel-sendToolbar {
  color: #9e9e9e;
  // width: 110px;
  border: 1px solid #bdbdbd;
  border-left: none;
  border-radius: 0 4px 4px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-right: 10px;
  .icon-btn {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 12px;
    &:hover {
      transform: translateY(-4px);
    }
  }
  .btnCapture {
    display: none;
  }
}

.ChatPanel-addToolbar-KnowledgeMenu {
  width: 150px;
}
