.Amap {
  &.Amap-align-right {
    .Amap-input {
      left: auto;
      right: 16px;
    }
  }
  position: relative;
  &-input {
    left: 10px;
    right: 10px;
    top: 10px;
    padding-right: 100px;
    position: absolute;
    z-index: 99;
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-border-tertiary);
    border-radius: 3px;
    box-shadow: 0 0 10px #c5b7b7;
    .Amap-autocomplete-list {
      width: 190px;
    }
  }
  &-input-search-icon {
    color: var(--color-text-tertiary);
    font-size: 20px;
    cursor: pointer;
  }
  &-autocomplete-list {
    max-height: 200px;
    overflow: scroll;
  }
  &-autocomplete-list-item {
    display: block;
    min-width: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }
  .Amap-topRightElement {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    z-index: 99;
  }
}
