.CityPicker {
  border: 1px solid #ccc;
  min-height: 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 302px;
  font-weight: 400;
  border-radius: 3px;
}
.cityTabs {
  display: flex;
  height: 45px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;

  &-item {
    font-size: 14px;
    height: 100%;
    width: 80px;
    cursor: pointer;
    display: flex;
    line-height: 44px;
    justify-content: center;
    box-sizing: border-box;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    &:not(.activeTab) {
      border-bottom-width: 0;
    }
    &.activeTab {
      cursor: initial;
    }
    &.disbaleTab {
      color: #ccc;
      cursor: initial;
    }
    &.hidden {
      visibility: hidden;
    }
  }
}

.cityContent {
  padding: 5px;
  overflow: hidden;
  &-item {
    padding: 5px 12px;
    float: left;
    cursor: pointer;
    color: #888;
    &:hover,
    &.active {
      color: #000;
      background-color: #f1f1f1;
    }
  }
}

// .CityPickerPanelTrigger {
//   z-index: 2;
// }
