.ming.Dropdown,
.dropdownTrigger {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;

  .Dropdown--input {
    padding: 5px 5px 5px 12px;
    .value {
      display: inline-block;
      max-width: 90%;
      overflow: hidden;
      vertical-align: middle;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0;
    }
  }

  .Dropdown--border {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    &:hover,
    &.active {
      border-color: #2196f3;
    }
    height: 36px;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Dropdown--placeholder {
    color: #bdbdbd;
  }
  .Dropdown--hr {
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
    background: #ddd;
    &:last-child {
      display: none;
    }
  }
  &.disabled {
    background-color: #f5f5f5;
    .Dropdown--border:hover {
      border-color: #ccc;
    }
    .Dropdown--input {
      cursor: not-allowed;
      color: #999;
    }
  }
  .actionIcon {
    position: relative;
    width: 15px;
    .Icon {
      position: absolute;
      left: 0;
      z-index: 0;
    }
    .dropArrow {
      opacity: 1;
      z-index: 1;
    }
    .clearIcon {
      opacity: 0;
    }
    &:hover {
      .dropArrow {
        opacity: 0;
        z-index: 0;
      }
      .clearIcon {
        opacity: 1;
        z-index: 1;
      }
    }
  }
}
.dropdownTrigger {
  position: absolute;
  z-index: 9999 !important;
  .ming.Menu {
    position: relative;
  }
}
