.MDMap {
  overflow: hidden;
  .MDMapSidebar {
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 16px 0;
  }
  .MDMapInput {
    border-radius: 18px;
    background: #f8f8f8;
    padding: 8px 8px 8px 38px;
    height: 36px;
    line-height: 36px;
    border: none;
    width: 100%;
  }
  .MDMapList {
    padding: 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 57px;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background: #f8f8f8;
    }
  }
}
