.MDMap {
  overflow: hidden;
  .MDMapSidebar {
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    .distanceInfo {
      height: 57px;
      padding: 20px 16px 0;
    }
  }
  .MDMapList {
    display: flex;
    padding: 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 57px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      background: var(--color-background-hover);
    }
    span {
      display: flex;
      flex-shrink: 0;
    }
  }
  .MDMapCustom {
    flex: 1;
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    button {
      margin: auto 0 0 0;
    }
  }
  &.mobileMap {
    .MDMapSidebar {
      padding: 0 0 7px !important;
      min-height: 0;
    }
    .MDMapCustom {
      padding: 15px 15px 0;
      min-height: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
.markMapImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}
