.MDMap {
  overflow: hidden;
  .MDMapSidebar {
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    .distanceInfo {
      height: 57px;
      padding: 20px 16px 0;
    }
  }
  .MDMapInput {
    border-radius: 18px;
    background: #f8f8f8;
    padding: 8px 8px 8px 38px;
    height: 36px;
    line-height: 36px;
    border: none;
    width: 100%;
  }
  .MDMapList {
    display: flex;
    padding: 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 57px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      background: #f8f8f8;
    }
    span {
      display: flex;
      flex-shrink: 0;
    }
  }
  .MDMapCustom {
    flex: 1;
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    .ant-input {
      min-height: 36px;
      box-shadow: none;
      border-color: #ddd;
      border-radius: 3px;
      &:hover {
        border-color: #ccc;
      }
      &:focus {
        border-color: #1677ff !important;
      }
      &.ant-input-disabled {
        border-color: #e0e0e0 !important;
        background-color: #f5f5f5 !important;
        color: #bdbdbd !important;
      }
    }
    button {
      margin: auto 0 0 0;
    }
  }
  &.mobileMap {
    .MDMapSidebar {
      padding: 0 0 7px !important;
      min-height: 0;
    }
    .MDMapCustom {
      padding: 15px 15px 0;
      min-height: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
.markMapImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}
