.mobileCityPicker {
  .am-modal-content {
    border-radius: 10px 10px 0 0;
  }
  .am-modal-header {
    height: 42px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
    .am-modal-title {
      font-size: 17px;
      flex: 1;
    }
  }
  .am-list-content {
    font-size: 15px !important;
  }
  .am-tabs-default-bar-tab {
    padding: 0;
    height: 36px;
  }
}
