.mobileCheckboxDialog {
  .ming.Radio {
    margin-right: 2px !important;
  }
  .adm-list-item-content {
    min-height: 46px;
  }
  .adm-list-default .adm-list-body {
    border: none;
  }
  .adm-list-item-content-main {
    padding: 7px 0;
  }
  .ming.Checkbox {
    span:nth-child(2) {
      flex: 1 !important;
    }
    .Checkbox-box {
      margin-right: 14px;
    }
  }
}

.mobileCheckboxListItem:hover {
  color: initial;
}
