.rc-notification {
  position: fixed;
  z-index: 1001;

  &-notice {
    padding: 0 20px 20px 20px;
  }

  .fade-effect() {
    animation-duration: 0.4s;
  }

  &-fade-enter {
    opacity: 0;
    .fade-effect();
  }

  &-fade-leave {
    .fade-effect();
  }

  &-fade-enter&-fade-enter-active {
    animation-name: slideIn;
  }

  &-fade-leave&-fade-leave-active {
    animation-name: slideIn;
    animation-direction: reverse;
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translate(calc(-100% - 30px));
      animation-timing-function: ease-in;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
      transform: translate(calc(30px));
    }
  }
  // @keyframes animGenie {
  //   0% {
  //     opacity: 0;
  //     -webkit-transform: translate3d(0, calc(200% + 30px), 0) scale3d(0, 1, 1);
  //     -webkit-animation-timing-function: ease-in;
  //     transform: translate3d(0, calc(200% + 30px), 0) scale3d(0, 1, 1);
  //     animation-timing-function: ease-in;
  //   }
  //   40% {
  //     opacity: 0.5;
  //     -webkit-transform: translate3d(0, 0, 0) scale3d(0.02, 1.1, 1);
  //     -webkit-animation-timing-function: ease-out;
  //     transform: translate3d(0, 0, 0) scale3d(0.02, 1.1, 1);
  //     animation-timing-function: ease-out;
  //   }
  //   70% {
  //     opacity: 0.6;
  //     -webkit-transform: translate3d(0, -40px, 0) scale3d(0.8, 1.1, 1);
  //     transform: translate3d(0, -40px, 0) scale3d(0.8, 1.1, 1);
  //   }
  //   100% {
  //     opacity: 1;
  //     -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  //     transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  //   }
  // }
}

.Notification {
  &-wrapper {
    position: relative;
    border-radius: 5px;
    padding: 12px 16px 14px;
    width: 366px;
    background-color: #fff;
    border-top-width: 8px;
    border-top-style: solid;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2), 0 2px 12px rgba(0, 0, 0, 0.2);
    border-color: #43bd36;
    .closeIcon {
      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 20px;
      cursor: pointer;
      color: #9e9e9e;
    }
  }

  &-header {
    font-size: 16px;
    margin-bottom: 7px;
    display: flex;
  }
  &-footer {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 16px;
    margin-right: 4px;
  }
}
