.locationLayerContainer {
  display: inline-block;
  position: relative;
  z-index: 21;
}

.locationLayer {
  border: 1px solid #ccc;
  min-height: 50px;
  position: absolute;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.13), 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 2;
  width: 302px;
  font-weight: normal;
  border-radius: 3px;
}

.locationTabs ul {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  height: 46px;
}
.locationTabs ul li {
  width: 80px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  float: left;
  font-size: 14px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  box-sizing: border-box;
  margin: 0 10px;
}
.locationTabs ul li:not(.activeTab) {
  border-bottom-width: 0;
}
.locationTabs ul li.disbaleTab {
  color: #ccc;
}

.locationContent {
  width: 290px;
  padding: 5px;
}
.locationContent ul li {
  padding: 5px 12px;
  float: left;
  cursor: pointer;
  color: #888;
}

.locationContent ul li:hover {
  background-color: #f1f1f1;
  color: black;
}

.locationContent .loadDiv {
  text-align: center;
  padding: 10px 0px;
  font-size: 12px;
}

/*兼容静态页面*/
.locationLayer .Left {
  float: left !important;
}
.locationLayer .Right {
  float: right !important;
}
.locationLayer .Clear {
  clear: both;
  visibility: hidden;
  border-top: 0px;
  margin-top: -1px !important;
}
